.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}

.value-text {
  margin: 0;
}

.title-text {
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: grey;
}

.card-icon {
  margin-right: 0 !important;
  transform: scale(2.2);
}

.avatar-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.duration {
  color: grey;
}

.difference-text {
  text-align: center;
  margin-top: 10px;
}

.card-header {
  justify-content: center;
}

.trending {
  margin-bottom: 5px !important;
  vertical-align: middle;
}

.projection {
  text-align: center;
  margin-bottom: 5px;
}

.period {
  margin-top: 5px;
}
