<mat-card class="dashboard-card">
  <div *ngIf="value || error; else box">
    <div *ngIf="value; else errorBox">
      <mat-card-header class="card-header">
        <mat-card-title>
          <h1 *ngIf="isCurrency; else noCurrency" class="value-text">{{value | currency:'$':'symbol':'0.0' }}</h1>
          <ng-template #noCurrency>
            <h1 *ngIf="!isCurrency" class="value-text">{{value}}</h1>
          </ng-template>
        </mat-card-title>
        <div class="card-icon" mat-card-avatar>
          <mat-icon [color]="color" class="avatar-icon">{{icon}}</mat-icon>
        </div>
      </mat-card-header>
      <h3 class="title-text">{{title}}</h3>
      <div class="difference-text">
        <span [ngClass]="{ 'green-text': isIncrease, 'red-text': !isIncrease }">
          {{ isIncrease ? '+' : '-' }}{{ percentValue | percent:'1.0-2':locale }}
          <mat-icon *ngIf="isIncrease" class="trending" matSuffix>trending_up</mat-icon>
          <mat-icon *ngIf="!isIncrease" class="trending" matSuffix>trending_down</mat-icon>
        </span>
        <p class="duration">{{duration}}</p>
      </div>
    </div>
    <ng-template #errorBox>
      <app-error [error]="error" [isCard]="true"></app-error>
    </ng-template>
  </div>
  <ng-template #box>
    <div class="ssc-square mb"></div>
  </ng-template>
</mat-card>
