<mat-card appearance="outlined" class="dashboard-card">
  @if (!isLoading && (value || value === 0 || error)) {
    @if (value || value === 0) {
      <div>
        <div class="title-text period">{{ period }}</div>
        <mat-card-header class="card-header">
          <mat-card-title>
            <h1 class="value-text">{{ value }}</h1>
          </mat-card-title>
          <div class="card-icon" mat-card-avatar>
            <mat-icon [color]="color" class="avatar-icon">{{ icon }}</mat-icon>
          </div>
        </mat-card-header>
        @if (isProjection) {
          <div class="projection red-text">({{ projection }})</div>
        }
        <h3 class="title-text">{{ title }}</h3>
        <div class="difference-text">
          @if (isInfinity) {
            <span [ngClass]="{ 'green-text': isIncrease, 'red-text': !isIncrease }">
              {{ isIncrease ? '+' : '-' }}∞
              @if(isIncrease) {
                <mat-icon class="trending" matSuffix>trending_up</mat-icon>
              } @else {
                <mat-icon class="trending" matSuffix>trending_down</mat-icon>
              }
            </span>
          } @else {
            <span [ngClass]="{ 'green-text': isIncrease, 'red-text': !isIncrease }">
              {{ previousPeriodValue }}
              @if(isIncrease) {
                <mat-icon class="trending" matSuffix>trending_up</mat-icon>
              } @else {
                <mat-icon class="trending" matSuffix>trending_down</mat-icon>
              }
              {{ isIncrease ? '+' : '-' }}{{ percentValue | percent:'1.0-2':locale }}
            </span>
          }
          <p class="duration">{{ duration }}</p>
        </div>
      </div>
    } @else {
      <app-error [error]="error" [isCard]="true"></app-error>
    }
  } @else {
    <div class="ssc-square mb"></div>
  }
</mat-card>
