<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <mat-card appearance="outlined">
        @let currentNotifications = notifications();
        <mat-card-header>
          <mat-card-title [matBadgeHidden]="badge <= 0" [matBadge]="badge" matBadgeColor="warn"
                          [matBadgeOverlap]="false">
            {{ 'NOTIFICATION.TITLE' | translate }}
          </mat-card-title>
          @if (!currentNotifications.length) {
            <mat-card-subtitle>{{ 'COMMON.NOTIFICATION.NO' | translate }}</mat-card-subtitle>
          }
        </mat-card-header>
        <mat-card-content>
          @if (currentNotifications.length) {
            <div class="inner-container" @list>
              @for (not of currentNotifications; let last = $last; let first = $first; let i = $index; track not) {
                <mat-list @items matRipple style="padding: 0">
                  @if (first) {
                    <mat-divider></mat-divider>
                  }
                  <mat-list-item class="notification-list">
                    <div (click)="notification(not)" [matTooltip]="not.message" [ngClass]="{ 'gray-text': not.read}"
                         matListItemTitle class="pointer">
                      @if (!not.read) {
                        <span class="pointer dot"></span>
                      }
                      {{ not.message }}
                    </div>
                    <div matListItemLine>{{ not.date | date:'short':undefined:dateFormat }}</div>
                    <button matListItemMeta mat-icon-button (click)="remove(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-list-item>
                  @if (!last || showMore) {
                    <mat-divider></mat-divider>
                  }
                </mat-list>
              }
              <mat-list>
                @for (n of loadingNotifications; track n) {
                  <mat-list-item>
                    <div class="ssc-line" matListItemTitle></div>
                    <div class="ssc-line top" matListItemLine></div>
                  </mat-list-item>
                  <mat-divider class="divider"></mat-divider>
                }
                @if (showMore) {
                  <mat-list-item>
                    <button (click)="getMoreNotifications()" color="primary" mat-button>
                      {{ 'COMMON.NOTIFICATION.LOAD_MORE' | translate }}
                    </button>
                  </mat-list-item>
                }
              </mat-list>
            </div>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
