<div>
  <fieldset>
    <div class="row-space-around-container">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'SUMMARY.YEAR.SELECT.DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="getForm.date">
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="setYear($event, dp)">
        </mat-datepicker>
      </mat-form-field>
      <button color="accent" mat-fab matTooltip="{{ 'SUMMARY.QUARTER.RESULT' | translate }}"
              [routerLink]="['/', language, 'dashboard', 'quarter', 'summary']"
              [state]="{year: getForm.date.value.getFullYear()}">
        <mat-icon>calendar_view_week</mat-icon>
      </button>
    </div>
    <div class="space-around-container">
      @if (yearSummaryMap?.size) {
        <mat-form-field appearance="outline" class="full-select">
          <mat-label>{{ 'COMMON.ROOM.FIELD' | translate }}</mat-label>
          <mat-select [formControl]="getForm.selectedRoom">
            @if (primaryRoom) {
              <mat-option [value]="'All'">All</mat-option>
            }
            @for (yearSummary of yearSummaryMap | keyvalue; track yearSummary) {
              <mat-option [value]="yearSummary.key">{{ yearSummary.key.roomName }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </div>
  </fieldset>
</div>

@if (getForm.date.value) {
  <button class="export" [class.spinner]="isExportLoading()" (click)="exportAction()"
          [disabled]="isExportLoading() || (export && (!yearExport || sheetData.length === 0))" color="accent"
          mat-fab extended style="width: 100%; margin: 10px">
    <mat-icon>{{ export ? 'file_download' : 'cloud_download' }}</mat-icon>
    @if (export) {
      <span>{{ 'COMMON.BUTTON.EXPORT' | translate }}</span>
    } @else {
      <span [innerHTML]="'COMMON.BUTTON.GET_DATA' | translate: {year: getForm.date.value.getFullYear() }"></span>
    }
  </button>
  @if (yearSummaryMap?.size) {
    <app-year [quarterSummaries]="quarterSummaries" [year]="getForm.date.value.getFullYear()"
              [measure]="(isHandset$ | async) ? 'short' : 'long'" [currency]="currencySignal()"
              [start]="(isHandset$ | async) ?1 : 2" [showCash]="showCash()"></app-year>
    <div class="top">
      <mat-toolbar color="primary">
        {{ 'SUMMARY.YEAR.RESULT' | translate }}
      </mat-toolbar>
      <app-total-summary [summaryTotals]="yearSummaryTotalsSignal()" [currency]="currencySignal()"
                         [showCash]="showCash()"></app-total-summary>
    </div>
  } @else {
    <mat-toolbar color="warn" style="text-align: center"
                 [innerHTML]="'SUMMARY.YEAR.ERROR.NO_CONTENT' | translate:{year: getForm.date.value.getFullYear()}"></mat-toolbar>
  }
}
