<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      @if (user && !user.isCompleted) {
        <span class="incomplete">{{ 'COMMON.PROFILE.INCOMPLETE' | translate }}</span>
        <span class="fi fi-gr"></span> <span class="fi fi-gr fis"></span>
      }
      <mat-card appearance="outlined">
        <mat-card-header class="center">
          <mat-card-title>{{ 'COMMON.PROFILE.FIELD' | translate }}</mat-card-title>
          @if (user) {
            <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
          } @else {
            <div class="ssc-line"></div>
          }
        </mat-card-header>
        <div class="center">
          @if (user) {
            <div [ngClass]="{'profile-background': !image}" class="hoverable" mat-card-avatar>
              <label class="pointer-only" for="fileInput">
                @if (image) {
                  <img alt="profile" class="image" src="{{image}}" #resizedImage>
                } @else {
                  <div class="initials">{{ initials | uppercase }}</div>
                }
                <div class="hover-text">Choose file</div>
                <div class="profile-background"></div>
                <input (change)="onSelectFile($event.target)" accept="image/*" autocomplete="photo" id="fileInput"
                       type='file'>
                <canvas #canvas></canvas>
              </label>
            </div>
          } @else {
            <div class="divider">
              <div class="center ssc-circle mb w-60"></div>
            </div>
          }
        </div>
        <form (ngSubmit)="update" [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
          @if (user) {
            <mat-card-content>
              <div class="inner-container">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'COMMON.USER.DISPLAY_NAME.FIELD' | translate }}</mat-label>
                  <input [formControl]="displayName" autocomplete="given-name" matInput>
                  @if (errors['displayName']) {
                    <mat-error>{{ errors['displayName'] }}</mat-error>
                  }
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'COMMON.USER.LANG.FIELD' | translate }}</mat-label>
                  @if (select.value) {
                    <ng-icon [svg]="select.value.flag" class="icon-margin" matPrefix/>
                  }
                  <mat-select #select [formControl]="langValue" required>
                    @for (lang of flagList; track lang) {
                      <mat-option [value]="lang">
                        <ng-icon [svg]="lang.flag" class="icon-margin"/>
                        {{ 'COMMON.LANG.' + lang.text | translate }}
                      </mat-option>
                    }
                  </mat-select>
                  <mat-error [innerHTML]="'COMMON.USER.LANG.REQUIRED' | translate"></mat-error>
                </mat-form-field>
                <ngx-material-intl-tel-input style="margin-bottom: 22px !important;" [includeDialCode]="true"
                                             [emojiFlags]="true" [enablePlaceholder]="true" [enableSearch]="true"
                                             [fieldControl]="phone" [required]="true" [preferredCountries]="['nl']"
                                             fieldControlName="phone" [appearance]="'outline'" [textLabels]="labels"
                                             [autoSelectCountry]="false">
                </ngx-material-intl-tel-input>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'COMMON.USER.DOB.FIELD' | translate }}</mat-label>
                  <button (click)="picker.open()" mat-icon-button matPrefix type="button">
                    <mat-icon>today</mat-icon>
                  </button>
                  <label>
                    <input (focus)="picker.open()" [formControl]="dob" [matDatepicker]="picker" autocomplete="bday"
                           matInput>
                  </label>
                  <mat-datepicker #picker startView="multi-year" touchUi></mat-datepicker>
                  @if (errors['dob']) {
                    <mat-error>{{ errors['dob'] }}</mat-error>
                  }
                </mat-form-field>
                <app-google-map [addressFormGroup]="form" [latitudeMarker]="user.address?.location?.y"
                                [longitudeMarker]="user.address?.location?.x" (addressEmitter)="getAddress($event)"
                                [markInfo]="'<b>' + user.address?.name + '</b>'">
                </app-google-map>
                @if (errors['location']) {
                  <mat-error class="divider">{{ errors['location'] }}</mat-error>
                }
                @if (showColors) {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'COMMON.PROFESSIONAL.COLOR.DARK.FIELD' | translate }}</mat-label>
                    <input matInput [cpOutputFormat]="'hex'" [colorPicker]="darkColor.value"
                           (colorPickerChange)="darkColor.setValue($event)"
                           [style.background]="darkColor.value" [style.color]="'#000'"
                           formControlName="darkColor" #darkColorInput [cpPosition]="'top'"
                           style="margin-right: 5px"/>

                    <mat-icon matSuffix style="cursor: pointer" (click)="darkColorPicker.openDialog(darkColorInput)"
                              id="darkColorIcon">
                      palette
                    </mat-icon>
                    <color-picker #darkColorPicker></color-picker>
                    @if (darkColor.hasError('invalidColor')) {
                      <mat-error>{{ 'COMMON.PROFESSIONAL.COLOR.INVALID' | translate }}</mat-error>
                    }
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'COMMON.PROFESSIONAL.COLOR.LIGHT.FIELD' | translate }}</mat-label>
                    <input matInput [cpOutputFormat]="'hex'" [colorPicker]="lightColor.value"
                           (colorPickerChange)="lightColor.setValue($event)"
                           [style.background]="lightColor.value" [style.color]="'#fff'"
                           formControlName="lightColor" #lightColorInput [cpPosition]="'top'"
                           style="margin-right: 5px"/>

                    <mat-icon matSuffix style="cursor: pointer" (click)="lightColorPicker.openDialog(lightColorInput)"
                              id="lightColorIcon">
                      palette
                    </mat-icon>
                    <color-picker #lightColorPicker></color-picker>
                    @if (lightColor.hasError('invalidColor')) {
                      <mat-error>{{ 'COMMON.PROFESSIONAL.COLOR.INVALID' | translate }}</mat-error>
                    }
                  </mat-form-field>
                }

                <div class="table">
                  <div class="row">
                    <div class="cell">
                      @if (darkColor.value) {
                        <mat-card appearance="outlined" [style.background-color]="'#363636'">
                          <mat-card-header>
                            <mat-card-subtitle [style.color]="'#fafafa'">
                              {{ 'COMMON.PROFESSIONAL.COLOR.DARK.RESERVATION' | translate }}
                            </mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <div
                              [style.background-color]="darkColor.value"
                              [style.border-color]="lightenDarkenColor(darkColor.value, true)"
                              [style.color]="'#000'"
                              class="reservation-example">
                              {{ 'COMMON.PROFESSIONAL.COLOR.RESERVATION' | translate }}
                            </div>
                          </mat-card-content>
                        </mat-card>
                      }
                    </div>
                    <div class="cell">
                      @if (lightColor.value) {
                        <mat-card appearance="outlined" [style.background-color]="'#fafafa'">
                          <mat-card-header>
                            <mat-card-subtitle [style.color]="'#363636'">
                              {{ 'COMMON.PROFESSIONAL.COLOR.LIGHT.RESERVATION' | translate }}
                            </mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <div
                              [style.background-color]="lightColor.value"
                              [style.border-color]="lightenDarkenColor(lightColor.value, false)"
                              [style.color]="'#fff'" class="reservation-example">
                              {{ 'COMMON.PROFESSIONAL.COLOR.RESERVATION' | translate }}
                            </div>
                          </mat-card-content>
                        </mat-card>
                      }
                    </div>
                  </div>
                </div>
                @if (isAdmin) {
                  <mat-checkbox (change)="showCash = !showCash" color="primary" [checked]="showCash">
                    {{ 'COMMON.PROFILE.SHOW_CASH' | translate }}
                  </mat-checkbox>
                }
              </div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <div class="spacer"></div>
              <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button"
                      type="button">{{ 'COMMON.BUTTON.BACK' | translate }}
              </button>
              <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button"
                      type="submit">{{ 'COMMON.BUTTON.UPDATE' | translate }}
              </button>
            </mat-card-actions>
          } @else {
            <mat-card-content>
              <div class="ssc-hr"></div>
              <div class="ssc-square mb"></div>
              <div class="ssc-hr"></div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <div class="ssc-head-line"></div>
            </mat-card-actions>
          }
        </form>
      </mat-card>
    </div>
  </div>
</div>

