<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <form (ngSubmit)="submit()" [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
        @let isAddMode = isAddModeSignal();
        @let unavailable = unavailableSignal();
        <mat-card appearance="outlined">
          @if (isAddMode) {
            <mat-card-header>
              <mat-card-title>{{ 'UNAVAILABLE.TITLE' | translate }}</mat-card-title>
            </mat-card-header>
          } @else {
            <mat-card-header>
              <mat-card-title>{{ 'UNAVAILABLE.DETAIL' | translate }}</mat-card-title>
              @if (unavailable) {
                <mat-card-subtitle>{{ unavailable.id }}</mat-card-subtitle>
              } @else {
                <div class="ssc-line"></div>
              }
            </mat-card-header>
          }
          @if (isAddMode || unavailable) {
            <mat-card-content>
              <div class="inner-container">
                @if (allProfessionalsSignal()) {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'UNAVAILABLE.PROFESSIONAL.FIELD' | translate }}</mat-label>
                    <input (keydown)="keyDownHandler($event)" [formControl]="getForm.professional" [matAutocomplete]="auto"
                           matInput required type="text">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      @for (professional of filteredProfessionalSignal(); track professional) {
                        <mat-option [value]="professional">{{ professional.displayName }}</mat-option>
                      }
                    </mat-autocomplete>
                    @if (getForm.professional.hasError('required')) {
                      <mat-error [innerHTML]="'UNAVAILABLE.PROFESSIONAL.REQUIRED' | translate"></mat-error>
                    } @else if (getForm.professional.hasError('requireMatch')) {
                      <mat-error [innerHTML]="'UNAVAILABLE.PROFESSIONAL.INVALID' | translate"></mat-error>
                    } @else if (errors()['professional']) {
                      <mat-error>{{ errors()['professional'] }}</mat-error>
                    }
                  </mat-form-field>
                }
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'UNAVAILABLE.DESCRIPTION.FIELD' | translate }}</mat-label>
                  <textarea #message [formControl]="getForm.description" matInput maxlength="256"></textarea>
                  <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
                </mat-form-field>
                @if (getForm.professional.valid) {
                  <div class="row-column-space-evenly-center">
                    <mat-form-field appearance="outline" color="primary" class="full-margin">
                      <mat-label>{{ 'UNAVAILABLE.DATE.FIELD' | translate }}</mat-label>
                      <button (click)="picker.open()" mat-icon-button matPrefix type="button">
                        <mat-icon>today</mat-icon>
                      </button>
                      <input (focus)="picker.open()" [formControl]="getForm.startDate" [matDatepickerFilter]="myFilter"
                             [matDatepicker]="picker" matInput required>
                      <mat-datepicker #picker touchUi></mat-datepicker>
                      @if (getForm.startDate.hasError('required')) {
                        <mat-error [innerHTML]="'UNAVAILABLE.DATE.REQUIRED' | translate"></mat-error>
                      } @else if (errors()['startDate']) {
                        <mat-error>{{ errors()['startDate'] }}</mat-error>
                      }
                    </mat-form-field>
                    <mat-checkbox [formControl]="getForm.allDay" color="primary">
                      {{ 'COMMON.ALL_DAY.CHECK' | translate }}
                    </mat-checkbox>
                    @if (!getForm.allDay.value) {
                      <mat-form-field appearance="outline" class="full-margin">
                        <mat-label>{{ 'UNAVAILABLE.TIME.FIELD' | translate }}</mat-label>
                        <input (focusin)="focusin()" [formControl]="getForm.startTime" [format]="24" [max]="maxTime"
                               [min]="minTime" [ngxTimepicker]="time" matInput name="start_time" readonly/>
                        <span matPrefix><mat-icon (click)="time.open()" matPrefix>schedule</mat-icon> &nbsp;</span>
                        <ngx-material-timepicker #time [minutesGap]="15"></ngx-material-timepicker>
                        @if (getForm.startTime.hasError('required')) {
                          <mat-error [innerHTML]="'UNAVAILABLE.TIME.REQUIRED' | translate"></mat-error>
                        }
                      </mat-form-field>
                    }
                  </div>
                }
                @if (showDuration() && !getForm.allDay.value) {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'UNAVAILABLE.DURATION.FIELD' | translate }}</mat-label>
                    <input [formControl]="getForm.duration" [format]="24" [max]="durationMax" [ngxTimepicker]="t" matInput
                           name="duration" readonly/>
                    <span matPrefix><mat-icon (click)="t.open()" matPrefix>timer</mat-icon> &nbsp;</span>
                    <ngx-material-timepicker #t [minutesGap]="15"></ngx-material-timepicker>
                    @if (getForm.duration.hasError('required')) {
                      <mat-error [innerHTML]="'UNAVAILABLE.DURATION.REQUIRED' | translate"></mat-error>
                    } @else if (errors()['duration']) {
                      <mat-error>{{ errors()['duration'] }}</mat-error>
                    }
                  </mat-form-field>
                }
                @if (getForm.professional.valid) {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'UNAVAILABLE.REPEAT.FIELD' | translate }}</mat-label>
                    <mat-select [formControl]="getForm.repeat" required>
                      @for (t of repeats | keyvalue; track t) {
                        <mat-option [value]="t.value">{{ 'COMMON.REPEAT.' + t.value | translate }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                }
                @if (showEnd) {
                  <mat-form-field appearance="outline" color="primary" class="full-margin">
                    <mat-label>{{ 'UNAVAILABLE.END.FIELD' | translate }}</mat-label>
                    <button (click)="picker.open()" mat-icon-button matPrefix type="button">
                      <mat-icon>today</mat-icon>
                    </button>
                    <input (focus)="picker.open()" [formControl]="getForm.endDate" [matDatepickerFilter]="myFilter"
                           [matDatepicker]="picker" [min]="getForm.startDate.value!" matInput required>
                    <mat-datepicker #picker touchUi></mat-datepicker>
                    @if (getForm.endDate.hasError('required')) {
                      <mat-error [innerHTML]="'UNAVAILABLE.END.REQUIRED' | translate"></mat-error>
                    } @else if (getForm.endDate.hasError('matDatepickerMin')) {
                      <mat-error [innerHTML]="'UNAVAILABLE.END.GREATER' | translate"></mat-error>
                    } @else if (errors()['endDate']) {
                      <mat-error>{{ errors()['endDate'] }}</mat-error>
                    }
                  </mat-form-field>
                }
              </div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <div class="spacer"></div>
              <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button" type="button">
                {{ 'COMMON.BUTTON.BACK' | translate }}
              </button>
              @if (isAddMode) {
                <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button" type="submit">
                  {{ 'COMMON.BUTTON.CREATE' | translate }}
                </button>
              } @else {
                <button [disabled]="form.invalid || form.pristine" color="primary" mat-fab extended class="icon-button"
                        type="submit">
                  {{ 'COMMON.BUTTON.UPDATE' | translate }}
                </button>
              }
              <button (click)="delete()" color="warn" mat-fab extended class="icon-button" type="button">
                {{ 'COMMON.BUTTON.DELETE' | translate }}
              </button>
            </mat-card-actions>
          } @else {
            <mat-card-content>
              <div class="ssc-hr"></div>
              <div class="ssc-square mb"></div>
              <div class="ssc-hr"></div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <div class="ssc-head-line"></div>
            </mat-card-actions>
          }
        </mat-card>
      </form>
    </div>
  </div>
</div>
