<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="card-container">
    <div fxFlex.lt-sm="80%" fxFlex="50%" fxFlex.gt-lg="40%">
      <form [formGroup]="form" novalidate (ngSubmit)="create()">
        <mat-card class="style-card">
          <mat-card-header>
            <mat-card-title>{{ 'UNAVAILABLE.ADD.TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field *ngIf="professionals; else skeleton" appearance="fill">
                <mat-label>{{ 'UNAVAILABLE.ADD.PROFESSIONAL.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="professional" [matAutocomplete]="auto" matInput required type="text">
                </label>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                  (optionSelected)="getRoom($event.option.value)">
                  <mat-option *ngFor="let professional of filteredOptions | async" [value]="professional">
                    {{professional.firstName}} {{professional.lastName}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="professional.hasError('required')"
                           [innerHTML]="'UNAVAILABLE.ADD.PROFESSIONAL.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="professional.hasError('requireMatch')"
                           [innerHTML]="'UNAVAILABLE.ADD.PROFESSIONAL.INVALID' | translate">
                </mat-error>
                <mat-error *ngIf="errors['professional']">
                  {{errors['professional']}}
                </mat-error>
              </mat-form-field>
              <ng-template #skeleton>
                <div class="ssc-line"></div>
              </ng-template>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'UNAVAILABLE.ADD.DESCRIPTION.FIELD' | translate }}</mat-label>
                <label>
                  <textarea matInput formControlName="description" #message maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>

              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" *ngIf="room">
                <button mat-icon-button (click)="picker.open()">
                  <mat-icon>today</mat-icon>
                </button>
                <mat-form-field color="primary" appearance="fill" style="margin-right: 12px;">
                  <mat-label>{{ 'UNAVAILABLE.ADD.DATE.FIELD' | translate }}</mat-label>
                  <label>
                    <input [formControl]="startDate" (focus)="picker.open()" matInput [matDatepicker]="picker"
                           (dateChange)="setDate($event)" [matDatepickerFilter]="myFilter"
                           required>
                  </label>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                  <mat-error *ngIf="startDate.hasError('required')"
                             [innerHTML]="'UNAVAILABLE.ADD.DATE.REQUIRED' | translate">
                  </mat-error>
                  <mat-error *ngIf="errors['startDate']">
                    {{errors['startDate']}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" style="margin-right: 12px;">
                  <mat-label>{{ 'UNAVAILABLE.ADD.TIME.FIELD' | translate }}</mat-label>
                  <label>
                    <input matInput name="start_time" [format]="24" [formControl]="startTime" [ngxTimepicker]="time"
                           [min]="minTime" [max]="maxTime" readonly (focusin)="focusin()"/>
                  </label>
                  <span matPrefix><mat-icon (click)="time.open()" matPrefix>schedule</mat-icon> &nbsp;</span>
                  <ngx-material-timepicker [minutesGap]="15" #time (timeChanged)="setTime($event)"
                                           [theme]="theme"></ngx-material-timepicker>
                  <mat-error *ngIf="startTime.hasError('required')"
                             [innerHTML]="'UNAVAILABLE.ADD.TIME.REQUIRED' | translate">
                  </mat-error>
                </mat-form-field>
              </div>

              <mat-form-field appearance="fill" *ngIf="showDuration">
                <mat-label>{{ 'UNAVAILABLE.ADD.DURATION.FIELD' | translate }}</mat-label>
                <label>
                  <input matInput name="duration" [format]="24" [formControl]="duration" [ngxTimepicker]="t"
                         [max]="durationMax" readonly/>
                </label>
                <span matPrefix><mat-icon (click)="t.open()" matPrefix>timer</mat-icon> &nbsp;</span>
                <ngx-material-timepicker [minutesGap]="15" #t [theme]="theme"></ngx-material-timepicker>
                <mat-error *ngIf="duration.hasError('required')"
                           [innerHTML]="'UNAVAILABLE.ADD.DURATION.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['duration']">
                  {{errors['duration']}}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" *ngIf="room">
                <mat-label>{{ 'UNAVAILABLE.ADD.REPEAT.FIELD' | translate }}</mat-label>
                <mat-select [(value)]="repeat">
                  <mat-option value="NONE">{{ 'COMMON.REPEAT.NONE' | translate }}</mat-option>
                  <mat-option value="EVERY_DAY">{{ 'COMMON.REPEAT.EVERY_DAY' | translate }}</mat-option>
                  <mat-option value="ONCE_A_WEEK">{{ 'COMMON.REPEAT.ONCE_A_WEEK' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button mat-raised-button color="primary" [disabled]="form.invalid"
                    type="submit">{{ 'COMMON.BUTTON.CREATE' | translate }}</button>
            <button mat-raised-button color="accent" appBackButton>{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
