<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <form (ngSubmit)="create()" [formGroup]="form" novalidate>
        <mat-card class="style-card">
          <mat-card-header>
            <mat-card-title>{{ 'UNAVAILABLE.ADD.TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field *ngIf="professionals; else skeleton" appearance="fill">
                <mat-label>{{ 'UNAVAILABLE.ADD.PROFESSIONAL.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="professional" [matAutocomplete]="auto" matInput required type="text">
                </label>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getRoom($event.option.value)"
                                  [displayWith]="displayFn">
                  <mat-option *ngFor="let professional of filteredOptions | async" [value]="professional">
                    {{professional.firstName}} {{professional.lastName}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="professional.hasError('required')"
                           [innerHTML]="'UNAVAILABLE.ADD.PROFESSIONAL.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="professional.hasError('requireMatch')"
                           [innerHTML]="'UNAVAILABLE.ADD.PROFESSIONAL.INVALID' | translate">
                </mat-error>
                <mat-error *ngIf="errors['professional']">
                  {{errors['professional']}}
                </mat-error>
              </mat-form-field>
              <ng-template #skeleton>
                <div class="ssc-line"></div>
              </ng-template>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'UNAVAILABLE.ADD.DESCRIPTION.FIELD' | translate }}</mat-label>
                <label>
                  <textarea #message formControlName="description" matInput maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>

              <div *ngIf="room" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                <button (click)="picker.open()" mat-icon-button>
                  <mat-icon>today</mat-icon>
                </button>
                <mat-form-field appearance="fill" color="primary" style="margin-right: 12px;">
                  <mat-label>{{ 'UNAVAILABLE.ADD.DATE.FIELD' | translate }}</mat-label>
                  <label>
                    <input (dateChange)="setDate($event)" (focus)="picker.open()" [formControl]="startDate"
                           [matDatepickerFilter]="myFilter"
                           [matDatepicker]="picker" matInput
                           required>
                  </label>
                  <mat-datepicker #picker touchUi></mat-datepicker>
                  <mat-error *ngIf="startDate.hasError('required')"
                             [innerHTML]="'UNAVAILABLE.ADD.DATE.REQUIRED' | translate">
                  </mat-error>
                  <mat-error *ngIf="errors['startDate']">
                    {{errors['startDate']}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" style="margin-right: 12px;">
                  <mat-label>{{ 'UNAVAILABLE.ADD.TIME.FIELD' | translate }}</mat-label>
                  <label>
                    <input (focusin)="focusin()" [formControl]="startTime" [format]="24" [max]="maxTime" [min]="minTime"
                           [ngxTimepicker]="time" matInput name="start_time" readonly/>
                  </label>
                  <span matPrefix><mat-icon (click)="time.open()" matPrefix>schedule</mat-icon> &nbsp;</span>
                  <ngx-material-timepicker #time (timeChanged)="setTime($event)" [minutesGap]="15"
                                           [theme]="theme"></ngx-material-timepicker>
                  <mat-error *ngIf="startTime.hasError('required')"
                             [innerHTML]="'UNAVAILABLE.ADD.TIME.REQUIRED' | translate">
                  </mat-error>
                </mat-form-field>
              </div>

              <mat-form-field *ngIf="showDuration" appearance="fill">
                <mat-label>{{ 'UNAVAILABLE.ADD.DURATION.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="duration" [format]="24" [max]="durationMax" [ngxTimepicker]="t" matInput
                         name="duration" readonly/>
                </label>
                <span matPrefix><mat-icon (click)="t.open()" matPrefix>timer</mat-icon> &nbsp;</span>
                <ngx-material-timepicker #t [minutesGap]="15" [theme]="theme"></ngx-material-timepicker>
                <mat-error *ngIf="duration.hasError('required')"
                           [innerHTML]="'UNAVAILABLE.ADD.DURATION.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['duration']">
                  {{errors['duration']}}
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="room" appearance="fill">
                <mat-label>{{ 'UNAVAILABLE.ADD.REPEAT.FIELD' | translate }}</mat-label>
                <mat-select [(value)]="repeat">
                  <mat-option value="NONE">{{ 'COMMON.REPEAT.NONE' | translate }}</mat-option>
                  <mat-option value="EVERY_DAY">{{ 'COMMON.REPEAT.EVERY_DAY' | translate }}</mat-option>
                  <mat-option value="ONCE_A_WEEK">{{ 'COMMON.REPEAT.ONCE_A_WEEK' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button [disabled]="form.invalid || isLoading" color="primary" mat-raised-button
                    type="submit">{{ 'COMMON.BUTTON.CREATE' | translate }}</button>
            <button [disabled]="isLoading" appBackButton color="accent"
                    mat-raised-button>{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
