.calendar-title {
  text-align: center;

  button {
    margin: 10px;
  }
}

.cell-totals {
  margin: 5px;
  text-align: center;
}

.badge {
  margin-right: 5px;
  --bs-badge-padding-x: .65em;
  --bs-badge-padding-y: .35em;
  --bs-badge-font-size: .75em;
  --bs-badge-font-weight: 700;
  --bs-badge-border-radius: .375rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #000;
  animation: spinner .8s linear infinite;
}

@media screen and (min-width: 768px) { // Larger screens, two columns
  .totals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% 1% 0;

    div {
      width: 48%; // Each column takes roughly half the width
    }
  }
}

@media screen and (max-width: 767px) { // Smaller screens, one column
  .totals {
    display: block;
    margin: 1% 1% 0;

    div {
      width: 100%; // Each item takes full width
      margin-bottom: 1%; // Optional: Add some spacing between the items
    }
  }
}
