<!-- Home Slider -->
<section id="slider">
  <div *ngIf="imageObject?.length; else noSlides">
    <ng-image-slider [images]="imageObject" [infinite]="true" [showArrow]="false" [imagePopup]="false"
                     [imageSize]="{width: '100%', height: '100%', space: 0}" [autoSlide]="5">
    </ng-image-slider>
  </div>
  <ng-template #noSlides>
    <ng-image-slider [images]="noImages" [infinite]="true" [showArrow]="false" [imagePopup]="false"
                     [imageSize]="{width: '100%', height: '100%', space: 0}" [autoSlide]="5">
    </ng-image-slider>
  </ng-template>
  <div class="carousel-caption">
    <h1 [@slideInY]="{value: ':enter', params: {translate: '-2000px'}}">
      Meet Nails Cleos!</h1>
    <h2 [@slideInX]="{value: ':enter', params: {translate: '-2000px'}}"><span
      class="color">/creative</span> one page template.</h2>
    <p [@slideInX]="{value: ':enter', params: {translate: '2000px'}}">We are a team of professionals
    </p>

    <ul class="social-links text-center">
      <li *ngFor="let social of socialLinks"
          [@slideInY]="{value: ':enter', params: {translate: '100px', duration: '500ms', delay: social.delay}}">
        <a mat-icon-button rel="noreferrer" target="_blank" (mouseenter)="onHover(social, true)"
           (mouseleave)="onHover(social, false)" [href]="social.href">
          <mat-icon [svgIcon]="social.svgIcon"></mat-icon>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- End Home Slider -->

<!-- Story -->
<!--TODO: Remove main.css -->
<section id="story" class="story">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div class="section-title text-center">
      <h1>Works</h1>
      <div class="home-divider">
        <mat-icon>favorite</mat-icon>
      </div>
    </div>

    <div class="section-sub-title text-center" appAnimate [animateInAnimation]="storyText" [stopAnimation]="isSmall">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore</p>
    </div>

    <div class="work-filter fadeInRight animated" data-wow-duration="500ms">
      <ul class="text-center">
        <li><a href="javascript:" data-filter="all" class="active filter">All</a></li>
        <li><a href="javascript:" data-filter=".branding" class="filter">Branding</a></li>
        <li><a href="javascript:" data-filter=".web" class="filter">web</a></li>
        <li><a href="javascript:" data-filter=".logo-design" class="filter">logo design</a></li>
        <li><a href="javascript:" data-filter=".photography" class="filter">photography</a></li>
      </ul>
    </div>

    <div class="project-wrapper">

      <figure class="mix work-item branding">
        <img src="../../../assets/home_page/img/works/item-1.jpg" alt="">
        <figcaption class="overlay">
          <a class="fancybox" rel="works" title="Write Your Image Caption Here"
             href="../../../assets/home_page/img/works/item-1.jpg"><i
            class="fa fa-eye fa-lg"></i></a>
          <h3>Labore et dolore magnam</h3>
          <p>Photography</p>
        </figcaption>
      </figure>

      <figure class="mix work-item web">
        <img src="../../../assets/home_page/img/works/item-2.jpg" alt="">
        <figcaption class="overlay">
          <a class="fancybox" rel="works" title="Write Your Image Caption Here"
             href="../../../assets/home_page/img/works/item-2.jpg"><i
            class="fa fa-eye fa-lg"></i></a>
          <h3>Labore et dolore magnam</h3>
          <p>Photography</p>
        </figcaption>
      </figure>

      <figure class="mix work-item logo-design">
        <img src="../../../assets/home_page/img/works/item-3.jpg" alt="">
        <figcaption class="overlay">
          <a class="fancybox" rel="works" title="Write Your Image Caption Here"
             href="../../../assets/home_page/img/works/item-3.jpg"><i
            class="fa fa-eye fa-lg"></i></a>
          <h3>Labore et dolore magnam</h3>
          <p>Photography</p>
        </figcaption>
      </figure>

      <figure class="mix work-item photography">
        <img src="../../../assets/home_page/img/works/item-4.jpg" alt="">
        <figcaption class="overlay">
          <a class="fancybox" rel="works" title="Write Your Image Caption Here"
             href="../../../assets/home_page/img/works/item-4.jpg"><i
            class="fa fa-eye fa-lg"></i></a>
          <h3>Labore et dolore magnam</h3>
          <p>Photography</p>
        </figcaption>
      </figure>

      <figure class="mix work-item branding">
        <img src="../../../assets/home_page/img/works/item-5.jpg" alt="">
        <figcaption class="overlay">
          <a class="fancybox" rel="works" title="Write Your Image Caption Here"
             href="../../../assets/home_page/img/works/item-5.jpg"><i
            class="fa fa-eye fa-lg"></i></a>
          <h3>Labore et dolore magnam</h3>
          <p>Photography</p>
        </figcaption>
      </figure>

      <figure class="mix work-item web">
        <img src="../../../assets/home_page/img/works/item-6.jpg" alt="">
        <figcaption class="overlay">
          <a class="fancybox" rel="works" title="Write Your Image Caption Here"
             href="../../../assets/home_page/img/works/item-6.jpg"><i
            class="fa fa-eye fa-lg"></i></a>
          <h3>Labore et dolore magnam</h3>
          <p>Photography</p>
        </figcaption>
      </figure>

      <figure class="mix work-item logo-design">
        <img src="../../../assets/home_page/img/works/item-7.jpg" alt="">
        <figcaption class="overlay">
          <a class="fancybox" rel="works" title="Write Your Image Caption Here"
             href="../../../assets/home_page/img/works/item-7.jpg"><i
            class="fa fa-eye fa-lg"></i></a>
          <h3>Labore et dolore magnam</h3>
          <p>Photography</p>
        </figcaption>
      </figure>

      <figure class="mix work-item photography">
        <img src="../../../assets/home_page/img/works/item-8.jpg" alt="">
        <figcaption class="overlay">
          <a class="fancybox" rel="works" title="Write Your Image Caption Here"
             href="../../../assets/home_page/img/works/item-8.jpg"><i
            class="fa fa-eye fa-lg"></i></a>
          <h3>Labore et dolore magnam</h3>
          <p>Photography</p>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
<!-- End Story -->

<!-- Features -->
<section id="treatments" class="treatments">
  <div fxLayout="column" fxLayoutAlign="space-around center">

    <div class="section-title text-center mb-50" appAnimate [animateInAnimation]="treatmentTitle">
      <h1>{{'MAIN.SECTION.TREATMENT' | translate }}</h1>
      <div class="home-divider">
        <mat-icon>favorite</mat-icon>
      </div>
    </div>
    <div #treatmentItem></div>

    <div fxLayout="row grap" fxLayout.xs="column" fxLayoutAlign="space-around center">
      <div fxFlex="1 1 calc(33.33% - 32px)" fxFlex.sm="1 1 calc(50% - 32px)" fxFlex.xs="100"
           *ngFor="let group of groups; let i = index">
        <div class="treatment-item" appAnimate [animateInAnimation]="setTreatmentAnimation(i)"
             [stopAnimation]="isSmall">
          <div class="treatment-icon">
            <mat-icon [svgIcon]="'MANICURE'"></mat-icon>
          </div>

          <div class="treatment-desc">
            <h2>{{group.name}}</h2>
            <p>{{group.description}}</p>
          </div>
        </div>
      </div>

      <!-- service item -->
      <!--      <div [@leftRight]="{value: treatmentItemState.value, params: {translate: '-20px'}}">-->
      <!--        <div class="treatment-item">-->
      <!--          <div class="treatment-icon">-->
      <!--            <mat-icon>add_circle</mat-icon>-->
      <!--          </div>-->

      <!--          <div class="treatment-desc">-->
      <!--            <h2>Branding</h2>-->
      <!--            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque-->
      <!--              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      &lt;!&ndash; end service item &ndash;&gt;-->

      <!--      &lt;!&ndash; service item &ndash;&gt;-->
      <!--      <div [@bottomTop]="{value:treatmentItemState.value, params: {delayIn: '500ms', delayOut: '0ms'}}">-->
      <!--        <div class="treatment-item">-->
      <!--          <div class="treatment-icon">-->
      <!--            <mat-icon>edit</mat-icon>-->
      <!--          </div>-->

      <!--          <div class="treatment-desc">-->
      <!--            <h2>Development</h2>-->
      <!--            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque-->
      <!--              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      &lt;!&ndash; end service item &ndash;&gt;-->

      <!--      &lt;!&ndash; service item &ndash;&gt;-->
      <!--      <div-->
      <!--        [@leftRight]="{value: treatmentItemState.value, params: {translate: '20px', delay: '0.9s'}}">-->
      <!--        <div class="treatment-item">-->
      <!--          <div class="treatment-icon">-->
      <!--            <mat-icon>campaign</mat-icon>-->
      <!--          </div>-->

      <!--          <div class="treatment-desc">-->
      <!--            <h2>Consulting</h2>-->
      <!--            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque-->
      <!--              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!-- end service item -->

    </div>
  </div>
</section>
<!-- End Features -->

<!-- Meet Our Team -->
<section id="team" class="team">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div class="section-title text-center" appAnimate [animateInAnimation]="teamTitle">
      <h1>Meet Our Team</h1>
      <div class="home-divider">
        <mat-icon>favorite</mat-icon>
      </div>
    </div>

    <div class="section-sub-title text-center" #teamItem
         [@leftRight]="{value: teamItemState.value, params: {translate: '20px'}}">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore</p>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">

      <figure class="team-member text-center">
        <div class="member-thumb"
             [@bottomTop]="{value: teamItemState.value, params: {translate: '20px', delayIn: '0ms', delayOut: '600ms'}}">
          <img src="../../../assets/home_page/img/team/member-1.png" alt="Team Member" class="img-responsive">
        </div>
        <h3
          [@bottomTop]="{value: teamItemState.value, params: {translate: '20px', delayIn: '300ms', delayOut: '300ms'}}">
          John Filmr Doe</h3>
        <span
          [@bottomTop]="{value: teamItemState.value, params: {translate: '20px', delayIn: '600ms', delayOut: '0ms'}}">Managing Director</span>
      </figure>
    </div>
  </div>
</section>
<!-- End Meet Our Team -->

<!-- Some fun facts -->
<section id="facts" class="facts">
  <div class="parallax-overlay">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div class="section-title text-center mb-50" appAnimate [animateInAnimation]="factTitle">
        <h1>Some Fun Facts</h1>
        <div class="home-divider">
          <mat-icon>favorite</mat-icon>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between center" style="width: 100%">
        <div class="text-center" fxFlex="1 1 calc(25% - 32px)" fxFlex.sm="1 1 calc(50% - 32px)" fxFlex.xs="100%"
             #factItem1
             [@bottomTop]="{value: factItem1State.value, params: {translate: '20px', delayOut: '900ms'}}">
          <div class="counters-item">
            <mat-icon>schedule</mat-icon>
            <strong>0</strong>
            <p>Hours of Work</p>
          </div>
        </div>
        <div class="text-center" fxFlex="1 1 calc(25% - 32px)" fxFlex.sm="1 1 calc(50% - 32px)" fxFlex.xs="100%"
             #factItem2
             [@bottomTop]="{value: factItem2State.value, params: {translate: '20px', delayIn: isSmall ? '0ms' : '300ms', delayOut: '600ms'}}">
          <div class="counters-item">
            <mat-icon>groups</mat-icon>
            <strong>0</strong>
            <p>Satisfied Clients</p>
          </div>
        </div>
        <div class="text-center" fxFlex="1 1 calc(25% - 32px)" fxFlex.sm="1 1 calc(50% - 32px)" fxFlex.xs="100%"
             #factItem3
             [@bottomTop]="{value: factItem3State.value, params: {translate: '20px', delayIn:  isSmall ? '0ms' : '600ms', delayOut: '300ms'}}">
          <div class="counters-item">
            <mat-icon>rocket_launch</mat-icon>
            <strong>0</strong>
            <p> Projects Delivered </p>
          </div>
        </div>
        <div class="text-center" fxFlex="1 1 calc(25% - 32px)" fxFlex.sm="1 1 calc(50% - 32px)" fxFlex.xs="100%"
             #factItem4
             [@bottomTop]="{value: factItem4State.value, params: {translate: '20px', delayIn:  isSmall ? '0ms' : '900ms'}}">
          <div class="counters-item">
            <mat-icon>rewarded_ads</mat-icon>
            <strong>0</strong>
            <p>Awards Won</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Some fun facts -->

<!-- Contact Us -->
<section id="contact" class="contact">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="mb-50">

    <div class="section-title text-center mb-50" appAnimate [animateInAnimation]="contactTitle">
      <h1>Let’s Discuss</h1>
      <div class="home-divider">
        <mat-icon>favorite</mat-icon>
      </div>
    </div>

    <div class="section-sub-title text-center" appAnimate [animateInAnimation]="contactText"
         [stopAnimation]="isSmall">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore</p>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayout.xs="column" fxLayoutAlign="space-between center"
         style="width: 80%">
      <!-- contact address -->

      <div fxFlex.lg="1 1 calc(20% - 32px)" fxFlex.md="1 1 calc(20% - 32px)" fxFlex.sm="1 1 calc(20% - 32px)"
           fxFlex.xs="100" #contactItem1>
        <div class="contact-address" [@leftRight]="contactItem1State.value">
          <h2>Cras at ultrices erat, sed vulputate!</h2>
          <p>{{'MAIN.CONTACT.ADDRESS' | translate}}</p>
          <p>{{'MAIN.CONTACT.PHONE' | translate}}</p>
        </div>
      </div>
      <!-- end contact address -->

      <!-- contact form -->
      <div fxFlex.lg="1 1 calc(60% - 32px)" fxFlex.md="1 1 calc(60% - 32px)" fxFlex.sm="1 1 calc(60% - 32px)"
           fxFlex.xs="100" #contactItem2>
        <div class="contact-form"
             [@bottomTop]="{value:contactItem2State.value, params: {delayIn: isSmall ? '0ms' : '500ms', delayOut: '0ms'}}">
          <h2 class="bold no-content">{{'MAIN.CONTACT.SEND.TITLE' | translate}}</h2>

          <form (ngSubmit)="sendEmail" [formGroup]="form" novalidate>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="home-page-form">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
                <mat-form-field class="full full-margin">
                  <mat-label>{{ 'MAIN.CONTACT.NAME.FIELD' | translate }}</mat-label>
                  <label>
                    <input [formControl]="name" [tabIndex]="1" autocomplete="name" matInput required>
                  </label>
                  <mat-error *ngIf="name.hasError('required')"
                             [innerHTML]="'MAIN.CONTACT.NAME.REQUIRED' | translate">
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="full">
                  <mat-label>{{ 'MAIN.CONTACT.EMAIL.FIELD' | translate }}</mat-label>
                  <label>
                    <input [formControl]="email" [tabIndex]="2" autocomplete="email" matInput required>
                  </label>
                  <mat-error *ngIf="email.hasError('email')">
                    {{ 'MAIN.CONTACT.EMAIL.INVALID' | translate }}
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required')"
                             [innerHTML]="'MAIN.CONTACT.EMAIL.REQUIRED' | translate">
                  </mat-error>
                </mat-form-field>
              </div>

              <mat-form-field>
                <mat-label>{{ 'MAIN.CONTACT.SUBJECT.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="subject" [tabIndex]="3" autocomplete="subject" matInput required>
                </label>
                <mat-error *ngIf="subject.hasError('required')"
                           [innerHTML]="'MAIN.CONTACT.SUBJECT.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'MAIN.CONTACT.BODY.FIELD' | translate }}</mat-label>
                <label>
                      <textarea #message [formControl]="body" [tabIndex]="4" matInput maxlength="256"
                                required></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                <mat-error *ngIf="body.hasError('required')"
                           [innerHTML]="'MAIN.CONTACT.BODY.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <div>
                <div fxFlex></div>
                <button [disabled]="form.invalid" [tabIndex]="5" color="primary" mat-fab extended type="submit">
                  <mat-icon>mail</mat-icon>
                  {{'COMMON.BUTTON.SEND' | translate}}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end contact form -->

      <!-- footer social links -->
      <div fxFlex.lg="1 1 calc(20% - 32px)" fxFlex.md="1 1 calc(20% - 32px)" fxFlex.sm="1 1 calc(20% - 32px)"
           fxFlex.xs="100" #contactItem3>
        <ul fxLayout.lt-sm="row" fxLayout="column" fxLayoutAlign="space-around center">
          <li *ngFor="let social of socialLinks"
              [@leftRight]="{value: contactItem3State.value, params: {translate: '100%', delay: isSmall ? '0ms' : social.delay}}">
            <a mat-icon-button rel="noreferrer" target="_blank" (mouseenter)="onHover(social, true)"
               (mouseleave)="onHover(social, false)" [href]="social.href">
              <mat-icon [svgIcon]="social.svgIcon"></mat-icon>
            </a>
          </li>
        </ul>
      </div>
      <!-- end footer social links -->
    </div>
  </div>

  <!-- Google map -->
  <div appAnimate [animateInAnimation]="contactMap" [stopAnimation]="true">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2459.8286698251877!2d4.476945576894232!3d51.937078579223154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5cbae073735b3%3A0xc150afbfa3aeaf88!2sNails%20Cleos!5e0!3m2!1sen!2snl!4v1701072269943!5m2!1sen!2snl"
      width="100%" height="300" class="map" allowfullscreen="" loading="lazy" [ngClass]="{'dark-map': isDark}"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <!-- End Google map -->

</section>
<!-- End Contact Us-->
