<div class="carousel">
  <mat-carousel *ngIf="slides && slides.length; else loading" [autoplay]="true" [hideArrows]="true"
                [hideIndicators]="false" [interval]="3000" [loop]="true"
                [maintainAspectRatio]="false" [slides]="slides.length" [useKeyboard]="true" [useMouseWheel]="false"
                color="primary" orientation="ltr" timings="250ms ease-in">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index"
                        [image]="slide.image"></mat-carousel-slide>
  </mat-carousel>
  <ng-template #loading>
    <div class="spinner-parent-vertical">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-template>
</div>
<div class="content">
  <section class="section-style" id="story">
    <h1 class="title">{{ 'MAIN.SECTION.STORY' | translate }}</h1>
    <div [innerHTML]="'MAIN.STORY_DETAIL' | translate" class="large-text">
    </div>
  </section>
  <section class="section-style" id="product">
    <h1 class="title">{{ 'MAIN.SECTION.PRODUCT' | translate }}</h1>
    <div class="product-container">
      <div *ngFor="let group of groups" class="card-wrap">
        <app-mini-card-product-group (groupEvent)="setGroup($event)" (productEvent)="setProduct($event)"
                                     [card]="group"></app-mini-card-product-group>
      </div>
    </div>
  </section>
  <section class="section-style" id="book">
    <h1 class="title">{{ 'MAIN.SECTION.BOOK' | translate }}</h1>
    <fieldset>
      <legend>{{'MAIN.SECTION.BOOK' | translate }}</legend>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'MAIN.BOOK.DATE.FIELD' | translate }}</mat-label>
          <label>
            <input (focus)="picker.open()" [formControl]="date" [matDatepickerFilter]="myFilter"
                   [matDatepicker]="picker" [max]="maxDate" [min]="minDate"
                   matInput>
          </label>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="groups; else skeleton" appearance="fill">
          <mat-label>{{ 'PRODUCT.GROUP.FIELD' | translate }}</mat-label>
          <label>
            <input (keydown)="keyDownGroup($event)" [formControl]="group" [matAutocomplete]="autoGroup"
                   matInput type="text">
          </label>
          <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFnGroup">
            <mat-option *ngFor="let group of filteredGroup | async" [value]="group">
              {{group.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>format_list_bulleted</mat-icon>
          <mat-error *ngIf="group.hasError('requireMatch')"
                     [innerHTML]="'PRODUCT.GROUP.INVALID' | translate">
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="products" appearance="fill">
          <mat-label>{{ 'MAIN.BOOK.PRODUCT.FIELD' | translate }}</mat-label>
          <label>
            <input (keydown)="keyDownHandler($event, product)" [formControl]="product"
                   [matAutocomplete]="autoProduct" matInput type="text">
          </label>
          <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayFnProduct">
            <mat-option *ngFor="let product of filteredProduct | async" [value]="product">
              {{product.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>home_repair_service</mat-icon>
          <mat-error *ngIf="product.hasError('requireMatch')"
                     [innerHTML]="'MAIN.BOOK.PRODUCT.INVALID' | translate">
          </mat-error>
        </mat-form-field>
        <div [ngClass]="{'last': isHandset}">
          <button (click)="book()" [disabled]="!product.value && !date.value" color="primary" mat-raised-button
                  type="button">
            <mat-icon>book_online</mat-icon>
            {{'COMMON.BUTTON.BOOK' | translate}}
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </div>
    </fieldset>
  </section>
  <section class="section-style last" id="contact">
    <h1 class="title">{{ 'MAIN.SECTION.CONTACT' | translate }}</h1>
    <mat-card>
      <mat-card-content fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly stretch">
        <div class="div-left">
          <h2 class="bold no-content">{{'MAIN.CONTACT.TITLE' | translate}}</h2>
          <p>
            <mat-icon matPrefix>room</mat-icon>&nbsp;
            <a
              [href]="'https://www.google.com/maps/dir/?api=1&z=15&destination=' + ('MAIN.CONTACT.ADDRESS' | translate)"
              rel="noreferrer"
              target="_blank">
              {{'MAIN.CONTACT.ADDRESS' | translate}}
            </a>
          </p>
          <p>
            <mat-icon matPrefix>phone</mat-icon>&nbsp;
            <a [href]="'tel:' + ('MAIN.CONTACT.PHONE' | translate)">{{'MAIN.CONTACT.PHONE' | translate}}</a>
          </p>
          <p>
            <mat-icon matPrefix>mail</mat-icon>&nbsp;
            <a [href]="'mailto:' + ('MAIN.CONTACT.MAIL' | translate)">{{'MAIN.CONTACT.MAIL' | translate}}</a>
          </p>
          <div fxLayout="row" fxLayoutAlign="center center">
            <a
              [href]="'https://api.whatsapp.com/send?phone=' + ('MAIN.CONTACT.PHONE' | translate) + '&text=' + ('WHATSAPP.SEND.HELLO' | translate)"
              mat-icon-button rel="noreferrer" target="_blank">
              <i aria-hidden="true" class="fa fa-whatsapp i-size-24"></i>
            </a>
            <a [href]="'https://www.instagram.com/espacio.cleos/'" mat-icon-button rel="noreferrer" target="_blank">
              <i aria-hidden="true" class="fa fa-instagram i-size-24"></i>
            </a>
            <a [href]="'https://www.facebook.com/espacio.cleos/'" mat-icon-button rel="noreferrer" target="_blank">
              <mat-icon>facebook</mat-icon>
            </a>
          </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="div-right">
          <h2 class="bold no-content">{{'MAIN.CONTACT.SEND.TITLE' | translate}}</h2>
          <form (ngSubmit)="sendEmail()" [formGroup]="form" novalidate>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'MAIN.CONTACT.NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="name" [tabIndex]="1" autocomplete="name" matInput required>
                </label>
                <mat-error *ngIf="name.hasError('required')"
                           [innerHTML]="'MAIN.CONTACT.NAME.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'MAIN.CONTACT.EMAIL.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="email" [tabIndex]="2" autocomplete="email" matInput required>
                </label>
                <mat-error *ngIf="email.hasError('email')">
                  {{ 'MAIN.CONTACT.EMAIL.INVALID' | translate }}
                </mat-error>
                <mat-error *ngIf="email.hasError('required')"
                           [innerHTML]="'MAIN.CONTACT.EMAIL.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'MAIN.CONTACT.SUBJECT.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="subject" [tabIndex]="3" autocomplete="subject" matInput required>
                </label>
                <mat-error *ngIf="subject.hasError('required')"
                           [innerHTML]="'MAIN.CONTACT.SUBJECT.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'MAIN.CONTACT.BODY.FIELD' | translate }}</mat-label>
                <label>
                  <textarea #message [formControl]="body" [tabIndex]="4" matInput maxlength="256" required></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                <mat-error *ngIf="body.hasError('required')"
                           [innerHTML]="'MAIN.CONTACT.BODY.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <div fxFlex></div>
              <button [disabled]="form.invalid" [tabIndex]="5" color="primary" mat-raised-button type="submit">
                <mat-icon>send</mat-icon>
                {{'COMMON.BUTTON.SEND' | translate}}
              </button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
