<!-- Home Slider -->
<section id="slider">
  <div class="container slider">
    <div [@slideAnimation]="currentIndex">
      @for (slide of slides; track slide; let i = $index) {
        @if (isCurrentSlideIndex(i)) {
          <div class="slider-img" [ngStyle]="{'background-image': 'url(' + slide.image + ')'}"></div>
        }
      }
    </div>
  </div>

  <div class="carousel-caption fade-in-background">
    <h2 [@slideInY]="{value: ':enter', params: {translate: '-2000px'}}">
      {{ 'MAIN.SLIDER.SUB_TITLE' | translate }}</h2>
    <h1 [@slideInY]="{value: ':enter', params: {translate: '-2000px'}}"
        [innerHTML]="'MAIN.SLIDER.TITLE' | translate"></h1>
    <h3 [@slideInX]="{value: ':enter', params: {translate: '-2000px'}}">{{ 'MAIN.SLIDER.SUB_1' | translate }}</h3>
    <p [@slideInX]="{value: ':enter', params: {translate: '2000px'}}">{{ 'MAIN.SLIDER.SUB_2' | translate }}
    </p>

    <ul class="social-links text-center">
      @for (social of socialLinks; track social) {
        <li [@slideInY]="{value: ':enter', params: {translate: '100px', duration: '500ms', delay: social.delay}}">
          @if (social.phone && social.phoneKey && social.phoneText) {
            <a mat-icon-button rel="noreferrer" target="_blank" (mouseenter)="onHover(social, true)"
               (mouseleave)="onHover(social, false)" aria-label="social icon"
               [href]="social.href + (social.phone | translate) + social.phoneKey + (social.phoneText | translate)">
              <mat-icon [svgIcon]="social.svgIcon"></mat-icon>
            </a>
          } @else {
            <a mat-icon-button rel="noreferrer" target="_blank" (mouseenter)="onHover(social, true)"
               (mouseleave)="onHover(social, false)" [href]="social.href" aria-label="social icon">
              <mat-icon [svgIcon]="social.svgIcon"></mat-icon>
            </a>
          }
        </li>
      }
    </ul>
  </div>
</section>
<!-- End Home Slider -->

<!-- Story -->
<section id="story" class="story">
  <div class="section-container">
    <div class="section-title text-center" appAnimate [animateInAnimation]="storyTitle">
      <h2>{{ 'MAIN.SECTION.STORY' | translate }}</h2>
      <div class="home-divider">
        <mat-icon color="warn" class="material-icons">favorite</mat-icon>
      </div>
    </div>

    <div class="story-container">
      <div class="section-sub-title story-item">
        <h3 class="text-center" #storyDescription
            [@leftRight]="{value: storyDescriptionState.value, params: {translate: '-20px'}}">
          {{ 'MAIN.STORY.DESCRIPTION' | translate }}
        </h3>

        @for (story of stories; track story) {
          <h4 class="text-justify" [id]="story.id" [innerHTML]="story.text | translate"
              [@leftRight]="{value: story.state.value, params: {translate: '-20px', delay: story.delay}}">
          </h4>
        }
      </div>

      <div class="story-member-item" #storyMember>
        <figure class="team-member text-center">
          <div class="member-thumb"
               [@bottomTop]="{value: storyMemberState.value, params: {translate: '40vh', delayIn: '0ms', delayOut: '600ms'}}">
            <img src="assets/home_page/img/team/member-1.webp" alt="Team Member" class="img-responsive">
          </div>
          <h4
            [@bottomTop]="{value: storyMemberState.value, params: {translate: '20px', delayIn: '300ms', delayOut: '300ms'}}">
            Carla Luján Bonadero</h4>
          <span
            [@bottomTop]="{value: storyMemberState.value, params: {translate: '20px', delayIn: '600ms', delayOut: '0ms'}}">{{ 'MAIN.STORY.MEMBER' | translate }}</span>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- End Story -->

<!-- Works -->
@if (allWorks.length) {
  <section id="work" class="works">
    <div class="work-container">
      <div class="section-title text-center">
        <h2>{{ 'MAIN.SECTION.WORK' | translate }}</h2>
        <div class="home-divider">
          <mat-icon color="warn" class="material-icons">favorite</mat-icon>
        </div>
      </div>

      <div class="work-sub-title text-center" appAnimate [animateInAnimation]="workText" [stopAnimation]="isSmall">
        <h4>{{ 'MAIN.WORK.TEXT_1' | translate }}</h4>
      </div>

      <div class="work-filter fadeInRight animated" data-wow-duration="500ms">
        <ul class="text-center">
          <li>
            <button mat-raised-button (click)="filterBy()" class="work-filter" type="button" aria-label="Filter All"
                    [ngClass]="{'active': filter.value === undefined}">{{ 'MAIN.WORK.FILTER.ALL' | translate }}
            </button>
          </li>
          @for (group of groups; track group) {
            <li>
              <button (click)="filterBy(group)" class="work-filter" mat-raised-button aria-label="Filter by"
                      [ngClass]="{'active': filter.value === group}">{{ group.name }}
              </button>
            </li>
          }
        </ul>
      </div>

      <div class="work-inner-container">
        @for (work of works; track work; let i = $index) {
          <div class="text-center work-flex-item" [@fadeInOut]="i">
            <figure class="work-item">
              <div class="work-img" [ngStyle]="{'background-image': 'url(' + work.image + ')'}"></div>
              <figcaption class="overlay">
                <a [title]="work.title" [href]="work.image" target="_blank" aria-label="Open work image">
                  <mat-icon class="text-top">visibility</mat-icon>
                </a>
                <h4>{{ work.title }}</h4>
                <p>{{ work.detail }}</p>
              </figcaption>
            </figure>
          </div>
        }
      </div>
    </div>
  </section>
}
<!-- End Works -->


<!-- Features -->
@if (groups.length) {
  <section id="treatments" class="treatments">
    <div class="section-container">

      <div class="section-title text-center mb-50" appAnimate [animateInAnimation]="treatmentTitle">
        <h2 style="margin-top: 6%;">{{ 'MAIN.SECTION.TREATMENT' | translate }}</h2>
        <div class="home-divider">
          <mat-icon color="warn" class="material-icons">favorite</mat-icon>
        </div>
      </div>
      <div #treatmentItem></div>

      <div class="treatment-container">
        @for (group of groups; track group; let i = $index) {
          <div class="work-flex-item">
            <div class="treatment-item pointer-only" appAnimate [animateInAnimation]="setTreatmentAnimation(i)"
                 [stopAnimation]="isSmall" (click)="goToTreatment(group.id)">
              <div class="treatment-icon">
                <mat-icon [svgIcon]="'CLEOS-COLOR'"></mat-icon>
              </div>
              <div class="treatment-desc">
                <h3>{{ group.name }}</h3>
                <h5>{{ group.description }}</h5>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
}
<!-- End Features -->

<!-- Experiences -->
<section id="experiences" class="experiences">
  <div class="parallax-overlay">
    <div class="section-container">
      <div class="section-title text-center mb-50" appAnimate [animateInAnimation]="experienceTitle">
        <h2 class="experience-title">{{ 'MAIN.SECTION.EXPERIENCE' | translate }}</h2>
        <div class="home-divider">
          <mat-icon color="warn" class="material-icons">favorite</mat-icon>
        </div>
      </div>

      <div class="treatment-container">
        @for (experience of experiences; track experience) {
          <!--          <div class="text-center treatment-item" [id]="experience.id"-->
            <!--               [@bottomTop]="{value: experience.state.value, params: {translate: '20px', delayIn: experience.delay, delayOut: experience.delayOut}}">-->
          <div class="text-center" [id]="experience.id">
            <div class="counters-item">
              <mat-icon>{{ experience.icon }}</mat-icon>
              <strong>{{ experience.position }}</strong>
              <p>{{ experience.text | translate }}</p>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
<!-- End Some fun facts -->

<!-- Contact Us -->
<section id="contact" class="contact">
  <div class="section-container mb-50">

    <div class="section-title text-center mb-50" appAnimate [animateInAnimation]="contactTitle">
      <h2>{{ 'MAIN.SECTION.CONTACTS' | translate }}</h2>
      <div class="home-divider">
        <mat-icon color="warn" class="material-icons">favorite</mat-icon>
      </div>
    </div>

    <div class="section-sub-title text-center" appAnimate [animateInAnimation]="contactText"
         [stopAnimation]="isSmall">
      <p [innerHTML]="'MAIN.CONTACT.DETAIL' | translate"></p>
    </div>

    <div class="contact-container" style="width: 80%">

      <!-- contact address -->
      <div class="flex-item" #contactItem1>
        <div class="contact-address" [@leftRight]="contactItem1State.value">
          <h3>{{ 'MAIN.CONTACT.TITLE' | translate }}</h3>
          <p>
            <mat-icon matPrefix>room</mat-icon>&nbsp;
            <a class="link" rel="noreferrer" target="_blank" aria-label="Address"
               [href]="'https://www.google.com/maps/dir/?api=1&z=15&destination=' + ('MAIN.CONTACT.ADDRESS' | translate)">
              {{ 'MAIN.CONTACT.ADDRESS' | translate }}
            </a>
          </p>
          <p>
            <mat-icon matPrefix>phone</mat-icon>&nbsp;
            <a class="link" aria-label="Phone"
               [href]="'tel:' + ('MAIN.CONTACT.PHONE' | translate)">{{ 'MAIN.CONTACT.PHONE' | translate }}</a>
          </p>
          <p>
            <mat-icon matPrefix>mail</mat-icon>&nbsp;
            <a class="link" aria-label="Mail"
               [href]="'mailto:' + ('MAIN.CONTACT.MAIL' | translate)">{{ 'MAIN.CONTACT.MAIL' | translate }}</a>
          </p>
        </div>
      </div>
      <!-- end contact address -->

      <!-- contact form -->
      <div class="contact--item" #contactItem2>
        <div class="contact-form"
             [@bottomTop]="{value:contactItem2State.value, params: {delayIn: isSmall ? '0ms' : '500ms', delayOut: '0ms'}}">
          <h3 class="bold no-content">{{ 'MAIN.CONTACT.SEND.TITLE' | translate }}</h3>

          <form (ngSubmit)="sendEmail" [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
            <div class="home-page-form inner-container">
              <div class="contact-inner-container">
                <mat-form-field class="full full-margin">
                  <mat-label>{{ 'MAIN.CONTACT.NAME.FIELD' | translate }}</mat-label>
                  <input [formControl]="name" autocomplete="name" matInput required>
                  @if (name.hasError('required')) {
                    <mat-error [innerHTML]="'MAIN.CONTACT.NAME.REQUIRED' | translate"></mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="full">
                  <mat-label>{{ 'MAIN.CONTACT.EMAIL.FIELD' | translate }}</mat-label>
                  <input [formControl]="email" autocomplete="email" matInput required>
                  @if (email.hasError('email')) {
                    <mat-error>{{ 'MAIN.CONTACT.EMAIL.INVALID' | translate }}</mat-error>
                  }
                  @if (email.hasError('required')) {
                    <mat-error [innerHTML]="'MAIN.CONTACT.EMAIL.REQUIRED' | translate"></mat-error>
                  }
                </mat-form-field>
              </div>

              <mat-form-field>
                <mat-label>{{ 'MAIN.CONTACT.SUBJECT.FIELD' | translate }}</mat-label>
                <input [formControl]="subject" autocomplete="subject" matInput required>
                <mat-error *ngIf="subject.hasError('required')"
                           [innerHTML]="'MAIN.CONTACT.SUBJECT.REQUIRED' | translate"></mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'MAIN.CONTACT.BODY.FIELD' | translate }}</mat-label>
                <textarea #message [formControl]="body" matInput maxlength="256" required></textarea>
                <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
                @if (body.hasError('required')) {
                  <mat-error [innerHTML]="'MAIN.CONTACT.BODY.REQUIRED' | translate"></mat-error>
                }
              </mat-form-field>
              <div class="card-actions">
                <div class="spacer"></div>
                <button [disabled]="form.invalid" color="primary" mat-fab extended type="submit"
                        aria-label="Submit contact form">
                  <mat-icon>mail</mat-icon>
                  {{ 'COMMON.BUTTON.SEND' | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end contact form -->

      <!-- footer social links -->
      <div class="flex-item" #contactItem3>
        <ul class="social-inner-container">
          @for (social of socialLinks; track social) {
            <li
              [@leftRight]="{value: contactItem3State.value, params: {translate: '100%', delay: isSmall ? '0ms' : social.delay}}">
              @if (social.phone && social.phoneKey && social.phoneText) {
                <a mat-icon-button rel="noreferrer" target="_blank" (mouseenter)="onHover(social, true)"
                   (mouseleave)="onHover(social, false)" aria-label="Social icon"
                   [href]="social.href + (social.phone | translate) + social.phoneKey + (social.phoneText | translate)">
                  <mat-icon [svgIcon]="social.svgIcon"></mat-icon>
                </a>
              } @else {
                <a mat-icon-button rel="noreferrer" target="_blank" (mouseenter)="onHover(social, true)"
                   (mouseleave)="onHover(social, false)" [href]="social.href" aria-label="Social icon">
                  <mat-icon [svgIcon]="social.svgIcon"></mat-icon>
                </a>
              }
            </li>
          }
        </ul>
      </div>
      <!-- end footer social links -->
    </div>
  </div>

  <!-- Google map -->
  <div appAnimate [animateInAnimation]="contactMap" [stopAnimation]="true">
    <iframe title="Nails Cleos map" width="100%" height="300" class="map" allowfullscreen="" loading="lazy"
            [ngClass]="{'dark-map': isDark}" referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2459.8286698251877!2d4.476945576894232!3d51.937078579223154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5cbae073735b3%3A0xc150afbfa3aeaf88!2sNails%20Cleos!5e0!3m2!1sen!2snl!4v1701072269943!5m2!1sen!2snl">
    </iframe>
  </div>
  <!-- End Google map -->

</section>
<!-- End Contact Us-->

<button color="primary" class="hide-xs book-button fab-book-button" (click)="openBottomSheet" mat-fab
        extended type="button" aria-label="Book your appointment">
  <mat-icon matPrefix>book_online</mat-icon>
  <span>{{ 'MAIN.BOOK.APPOINTMENT' | translate }}</span>
</button>

<button color="primary" class="hide-gt-xs book-button raised-book-button" style="height: 64px" (click)="openBottomSheet"
        mat-raised-button type="button" aria-label="Book your appointment">
  <mat-icon matPrefix>book_online</mat-icon>
  <span>{{ 'MAIN.BOOK.APPOINTMENT' | translate }}</span>
</button>
