<div *ngIf="!error; else errorBox">
  <div class="flex-container">
    <div class="card-container">
      <div class="card-content">
        <div *ngIf="!noContent; else noUpcoming">
          <div *ngIf="upcoming && upcoming.length > 1; else onlyOne">
            <mat-card-title>{{ 'ME.RESERVATION.UPCOMING.TITLE' | translate }}</mat-card-title>
            <mat-tab-group class="mat-elevation-z4">
              <mat-tab *ngFor="let up of upcoming"
                       label="{{up.timestamp | timeDetail | date:'short':up.room.timeZone:dateFormat}}">
                <app-upcoming [showHeader]="false" [upcoming]="up" [small]="small"></app-upcoming>
              </mat-tab>
            </mat-tab-group>
          </div>
          <ng-template #onlyOne>
            <app-upcoming *ngIf="upcoming" [showHeader]="true" [upcoming]="upcoming[0]" [small]="small"></app-upcoming>
          </ng-template>
        </div>
        <ng-template #noUpcoming>
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ 'ME.RESERVATION.UPCOMING.NO_UPCOMING.TITLE' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-actions class="card-actions">
              <div class="spacer"></div>
              <button [routerLink]="['/', language, 'me', 'reservation']" color="primary" mat-fab extended>
                <mat-icon>book_online</mat-icon>
                {{ 'COMMON.BUTTON.CREATE' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <table [dataSource]="dataSource" mat-table matSort matSortActive="timestamp"
         matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef class="hide-xs" mat-header-cell>#</th>
      <td *matCellDef="let reservation; let i = index;" class="hide-xs" mat-cell>
        <div *ngIf="reservation.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="professional">
      <th *matHeaderCellDef class="hide-xs"
          mat-header-cell>{{ 'COMMON.RESERVATION.LIST.COLUMN.PROFESSIONAL' | translate }}</th>
      <td *matCellDef="let reservation" class="hide-xs" mat-cell>
        <div
          *ngIf="reservation.id; else skeleton">{{reservation?.professional?.displayName}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th *matHeaderCellDef mat-header-cell
          mat-sort-header>{{ 'COMMON.RESERVATION.LIST.COLUMN.START' | translate }}</th>
      <td *matCellDef="let reservation" mat-cell>
        <div *ngIf="reservation.id; else skeleton">
          {{reservation.timestamp | timeDetail | date:'short':reservation.room.timeZone:dateFormat}}
          <button (click)="openDialog(reservation)" *ngIf="showTimeZone(reservation)" mat-icon-button type="button">
            <mat-icon>info_outline</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="treatment">
      <th *matHeaderCellDef class="hide-xs"
          mat-header-cell>{{ 'COMMON.RESERVATION.LIST.COLUMN.TREATMENT' | translate }}</th>
      <td *matCellDef="let reservation" class="hide-xs" mat-cell>
        <div *ngIf="reservation.id; else skeleton">{{reservation.treatment.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th *matHeaderCellDef mat-header-cell
          mat-sort-header>{{ 'COMMON.RESERVATION.LIST.COLUMN.STATE' | translate }}</th>
      <td *matCellDef="let reservation" mat-cell>
        <div *ngIf="reservation.id; else skeleton">
          <mat-icon matPrefix>{{reservation.state | reservationIcon}}</mat-icon>&nbsp;
          {{ 'COMMON.STATUS.RESERVATION.' + reservation.state | translate}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let reservation" mat-cell>
        <div *ngIf="reservation.id; else skeleton">
          <button [routerLink]="['/', language, 'reservation', reservation.id]" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.VIEW' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
          <button (click)="onRatingChanged(reservation)" *ngIf="reservation.state === 'COMPLETED'"
                  mat-icon-button matTooltip="{{ 'COMMON.BUTTON.REVIEW' | translate }}" matTooltipPosition="right">
            <mat-icon color="accent">reviews</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'COMMON.RESERVATION.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" [class.row-is-canceled]="row.state === 'CANCELLED'"
        mat-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
</div>
<ng-template #errorBox>
  <app-error [error]="error" [isCard]="true"></app-error>
</ng-template>
