<div *ngIf="!error; else errorBox">
  <div class="flex-container" fxLayout="column">
    <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
      <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
        <mat-card *ngIf="!noContent; else noUpcoming">
          <span *ngIf="isPaid" [@stampAnimation]="{value: ':enter', params: {deg: -20}}"
                class="stamp paid">{{ 'RESERVATION.UPCOMING.PAID' | translate }}</span>
          <span *ngIf="upcoming?.state === 'APPROVED'" [@stampAnimation]="{value: ':enter', params: {deg: 20}}"
                class="stamp approved">{{ 'RESERVATION.UPCOMING.APPROVED' | translate }}</span>
          <mat-card-header *ngIf="upcoming.id; else headSkeleton">
            <mat-card-title>{{ 'RESERVATION.UPCOMING.TITLE' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ upcoming.id }}</mat-card-subtitle>
          </mat-card-header>
          <ng-template #headSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
          <mat-divider *ngIf="upcoming.id"></mat-divider>
          <mat-card-content>
            <div class="container">
              <table>
                <tr *ngIf="upcoming.id; else skeleton">
                  <td class="right">{{ 'RESERVATION.UPCOMING.START' | translate }}</td>
                  <td class="left">{{upcoming.start | date:'short':undefined:language}}</td>
                </tr>
                <tr *ngIf="end; else skeleton">
                  <td class="right">{{ 'RESERVATION.UPCOMING.END' | translate }}</td>
                  <td class="left">{{end | date:'short':undefined:language}}</td>
                </tr>
                <tr *ngIf="upcoming.id; else skeleton">
                  <td class="right">{{ 'ROOM.FIELD' | translate }}</td>
                  <td class="left">{{upcoming.room.name}}</td>
                </tr>
                <tr *ngIf="upcoming.id; else skeleton">
                  <td class="right">{{ 'COMMON.ADDRESS.FIELD' | translate }}</td>
                  <td class="left">
                    <a [href]="'https://www.google.com/maps/dir/?api=1&z=15&destination=' + upcoming.room.address.name"
                       target="_blank" rel="noreferrer">
                      {{upcoming.room.address.name}}
                    </a>
                  </td>
                </tr>
                <tr *ngIf="upcoming.id; else skeleton">
                  <td class="right">{{ 'RESERVATION.UPCOMING.PRODUCT' | translate }}</td>
                  <td class="left">{{upcoming.product.name}}</td>
                </tr>
                <tr *ngIf="upcoming.id; else skeleton">
                  <td class="right">{{ 'RESERVATION.UPCOMING.PRICE' | translate }}</td>
                  <td *ngIf="priceDiscount; else noDiscount" class="left">
                    <span [class.strikethrough]="priceDiscount">$ {{price | number:'1.2-2'}}</span>
                    <span [@discountAnimation] class="raised-button bold">$ {{priceDiscount | number:'1.2-2'}}</span>
                  </td>
                  <ng-template #noDiscount>
                    <td class="left">$ {{price | number:'1.2-2'}}</td>
                  </ng-template>
                </tr>
                <tr *ngIf="paid">
                  <td class="right">{{ 'RESERVATION.UPCOMING.PAID' | translate }}</td>
                  <td class="left">$ {{paid | number:'1.2-2'}}</td>
                </tr>
              </table>
              <div *ngIf="upcoming && upcoming.state === 'CREATED'" [style.color]="'#ff0000'">
                {{ 'RESERVATION.UPCOMING.CREATED' | translate }} <span class="bold">
                {{professionalName}}
              </span>
              </div>
              <div *ngIf="upcoming && upcoming.state === 'APPROVED'" [style.color]="'#ff0000'">
                {{ 'RESERVATION.UPCOMING.PAY_NOW' | translate }}
              </div>
            </div>
            <ng-template #skeleton>
              <div class="ssc-line"></div>
            </ng-template>
          </mat-card-content>
          <mat-divider *ngIf="upcoming"></mat-divider>
          <mat-card-actions *ngIf="upcoming.id; else buttonSkeleton">
            <div fxFlex></div>
            <button (click)="edit(upcoming)" color="primary" mat-raised-button>
              <mat-icon>edit_calendar</mat-icon>
              {{ 'COMMON.BUTTON.EDIT' | translate }}
            </button>
            <button (click)="view(upcoming)" color="primary" mat-raised-button>
              <mat-icon>visibility</mat-icon>
              {{ 'COMMON.BUTTON.VIEW' | translate }}
            </button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </mat-card>
        <ng-template #noUpcoming>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ 'RESERVATION.UPCOMING.NO_UPCOMING.TITLE' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <div fxFlex></div>
              <button color="primary" mat-raised-button routerLink="/me/reservation">
                <mat-icon>book_online</mat-icon>
                {{ 'COMMON.BUTTON.CREATE' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <table [dataSource]="dataSource" mat-table matSort matSortActive="start"
         matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>#</th>
      <td *matCellDef="let reservation; let i = index;" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="reservation.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="professional">
      <th *matHeaderCellDef fxHide.lt-sm fxShow
          mat-header-cell>{{ 'RESERVATION.LIST.COLUMN.PROFESSIONAL' | translate }}</th>
      <td *matCellDef="let reservation" fxHide.lt-sm fxShow mat-cell>
        <div
          *ngIf="reservation.id; else skeleton">{{getProfessionalName(reservation)}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="start">
      <th *matHeaderCellDef mat-header-cell
          mat-sort-header>{{ 'RESERVATION.LIST.COLUMN.START' | translate }}</th>
      <td *matCellDef="let reservation" mat-cell>
        <div *ngIf="reservation.id; else skeleton">{{reservation.start | date:'short':undefined:language}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th *matHeaderCellDef mat-header-cell
          mat-sort-header>{{ 'RESERVATION.LIST.COLUMN.STATE' | translate }}</th>
      <td *matCellDef="let reservation" mat-cell>
        <div *ngIf="reservation.id; else skeleton">
          <mat-icon matPrefix>{{getIcon(reservation.state)}}</mat-icon>&nbsp;
          {{ 'RESERVATION.STATE.' + reservation.state | translate}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let reservation" mat-cell>
        <div *ngIf="reservation.id; else skeleton">
          <button (click)="view(reservation)" *ngIf="!reservation.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.VIEW' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'RESERVATION.LIST.COLUMN.PRODUCT' | translate }}</th>
      <td *matCellDef="let reservation" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="reservation.id; else skeleton">{{reservation.product.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'RESERVATION.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" [class.row-is-canceled]="row.state === 'CANCELLED'"
        mat-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
</div>
<ng-template #errorBox>
  <app-error [error]="error" [isCard]="true"></app-error>
</ng-template>
