@let error = errorSignal();
@if (!error) {
  <div class="flex-container">
    <div class="card-container">
      <div class="card-content">
        @let upcoming = upcomingSignal();
        @if (upcoming && !noContent()) {
          <mat-card-title>
            <div class="title-container">
              <span>{{ 'ME.RESERVATION.UPCOMING.TITLE' | translate }}</span>
              <button [routerLink]="['/', language, 'me', 'reservation']" color="primary" mat-fab
                      matTooltip="{{ 'COMMON.BUTTON.CREATE' | translate }}">
                <mat-icon>calendar_add_on</mat-icon>
              </button>
            </div>
          </mat-card-title>
          <mat-tab-group class="mat-elevation-z4">
            @for (up of upcoming; track up) {
              <mat-tab label="{{up?.timestamp | timeDetail | date:'short':up?.room?.timeZone:dateFormat}}">
                <app-upcoming [upcoming]="up" [small]="small()"></app-upcoming>
              </mat-tab>
            }
          </mat-tab-group>
        } @else {
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ 'ME.RESERVATION.UPCOMING.NO_UPCOMING.TITLE' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-actions class="card-actions">
              <div class="spacer"></div>
              <button [routerLink]="['/', language, 'me', 'reservation']" color="primary" mat-fab extended>
                <mat-icon>calendar_add_on</mat-icon>
                {{ 'COMMON.BUTTON.CREATE' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        }
      </div>
    </div>
  </div>
  <div class="divider"></div>
  @let resultsLength = resultsLengthSignal();
  @let pageSize = pageSizeSignal();
  @if (dataSourceSignal(); as dataSource) {
    <table [dataSource]="dataSource" mat-table matSort matSortActive="timestamp"
           matSortDirection="desc" matSortDisableClear>
      <ng-container matColumnDef="position">
        <th *matHeaderCellDef class="hide-xs" mat-header-cell>#</th>
        <td *matCellDef="let reservation; let i = index;" class="hide-xs" mat-cell>
          @if (reservation.id) {
            {{ (paginatorPageIndex() * pageSize) + i + 1 }}
          } @else {
            <div class="ssc-line"></div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="professional">
        <th *matHeaderCellDef class="hide-xs"
            mat-header-cell>{{ 'COMMON.RESERVATION.LIST.COLUMN.PROFESSIONAL' | translate }}
        </th>
        <td *matCellDef="let reservation" class="hide-xs" mat-cell>
          @if (reservation.id) {
            {{ reservation.professional.displayName }}
          } @else {
            <div class="ssc-line"></div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header>{{ 'COMMON.RESERVATION.LIST.COLUMN.START' | translate }}
        </th>
        <td *matCellDef="let reservation" mat-cell>
          @if (reservation.id) {
            {{ reservation.timestamp | timeDetail | date:'short':reservation.room.timeZone:dateFormat }}
            @if (showTimeZone(reservation)) {
              <button (click)="openDialog(reservation)" mat-icon-button type="button">
                <mat-icon>info_outline</mat-icon>
              </button>
            }
          } @else {
            <div class="ssc-line"></div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="treatment">
        <th *matHeaderCellDef class="hide-xs"
            mat-header-cell>{{ 'COMMON.RESERVATION.LIST.COLUMN.TREATMENT' | translate }}
        </th>
        <td *matCellDef="let reservation" class="hide-xs" mat-cell>
          @if (reservation.id) {
            {{ reservation.treatment.name }}
          } @else {
            <div class="ssc-line"></div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th *matHeaderCellDef mat-header-cell
            mat-sort-header>{{ 'COMMON.RESERVATION.LIST.COLUMN.STATE' | translate }}
        </th>
        <td *matCellDef="let reservation" mat-cell>
          @if (reservation.id) {
            <mat-icon matPrefix>{{ reservation.state | reservationIcon }}</mat-icon>&nbsp;
            {{ 'COMMON.STATUS.RESERVATION.' + reservation.state | translate }}
          } @else {
            <div class="ssc-line"></div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
        <td *matCellDef="let reservation" mat-cell>
          @if (reservation.id) {
            <button [routerLink]="['/', language, 'reservation', reservation.id]" mat-icon-button
                    matTooltip="{{ 'COMMON.BUTTON.VIEW' | translate }}" matTooltipPosition="left">
              <mat-icon>visibility</mat-icon>
            </button>
            @if (reservation.state === 'COMPLETED') {
              <button (click)="onRatingChanged(reservation)" mat-icon-button matTooltipPosition="right"
                      matTooltip="{{ 'COMMON.BUTTON.REVIEW' | translate }}">
                <mat-icon color="primary">reviews</mat-icon>
              </button>
            }
          } @else {
            <div class="ssc-line"></div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="noContent">
        <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
          {{ 'COMMON.RESERVATION.LIST.ERROR.NO_CONTENT' | translate }}
        </td>
      </ng-container>

      <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" [class.row-is-canceled]="row.state === 'CANCELLED'"
          mat-row></tr>
    </table>
    @if (resultsLength) {
      <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
    }
  }
} @else {
  <app-error [error]="error" [isCard]="true"></app-error>
}
