.mat-column-professional,
.mat-column-state,
.mat-column-treatment,
.mat-column-start {
  text-align: center;
}

.mat-mdc-card-header {
  justify-content: center;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
}

.title-container span {
  flex-grow: 1;
}
