<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="order" matSortDirection="asc" matSortDisableClear
         multiTemplateDataRows>
    <ng-container matColumnDef="order">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
      <td *matCellDef="let treatment;" mat-cell>
        <div *ngIf="treatment.id; else skeleton">{{treatment.order}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'COMMON.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let treatment" mat-cell>
        <div *ngIf="treatment.id; else skeleton">{{treatment.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="priceFrom">
      <th *matHeaderCellDef class="hide-xs" mat-header-cell
          mat-sort-header>{{ 'TREATMENT.LIST.COLUMN.PRICE_FROM' | translate }}</th>
      <td *matCellDef="let treatment" class="hide-xs" mat-cell>
        <div *ngIf="treatment.id; else skeleton">
          <div *ngIf="treatment.priceFrom; else noPriceFrom">{{('EUR' | currencySymbol) + ' ' + treatment.priceFrom}}</div>
          <ng-template #noPriceFrom>
            <div>-</div>
          </ng-template>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="hide-xs" mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let treatment" class="hide-xs" mat-cell>
        <div *ngIf="treatment.id; else skeleton">
          <button *ngIf="!treatment.deleted" [routerLink]="['/', language, 'treatments', treatment.id, 'edit']" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="below">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button *ngIf="!treatment.deleted" [routerLink]="['/', language, 'treatments', treatment.id, 'view']" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.VIEW' | translate }}" matTooltipPosition="below">
            <mat-icon color="accent">visibility</mat-icon>
          </button>
          <button *ngIf="!treatment.deleted" [routerLink]="['/', language, 'treatments', treatment.id, 'sorting']" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.SORT' | translate }}" matTooltipPosition="below">
            <mat-icon color="accent">sort</mat-icon>
          </button>
          <button (click)="delete(treatment)" *ngIf="!treatment.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}" matTooltipPosition="below">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let treatment" [attr.colspan]="displayedColumns.length">
        <div [@detailExpand]="treatment === expanded ? 'expanded' : 'collapsed'" class="detail">
          <mat-list>
            <div mat-subheader>{{ 'COMMON.COLUMN.LAST_UPDATE' | translate }}</div>
            <mat-list-item role="list">
              <div matListItemLine>{{treatment.modifiedAt | date:'short':undefined:dateFormat}}</div>
            </mat-list-item>
            <div class="hide-gt-xs" mat-subheader>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</div>
            <mat-list-item class="hide-gt-xs" role="list">
              <button *ngIf="!treatment.deleted" [routerLink]="['/', language, 'treatments', treatment.id, 'edit']" color="primary"
                      mat-icon-button>
                <mat-icon matListItemIcon>edit</mat-icon>
              </button>
              <button [routerLink]="['/', language, 'treatments', treatment.id, 'view']" color="accent" mat-icon-button>
                <mat-icon matListItemIcon>visibility</mat-icon>
              </button>
              <button [routerLink]="['/', language, 'treatments', treatment.id, 'sorting']" color="accent" mat-icon-button>
                <mat-icon matListItemIcon>sort</mat-icon>
              </button>
              <button (click)="delete(treatment)" *ngIf="!treatment.deleted" color="warn" mat-icon-button>
                <mat-icon matListItemIcon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'TREATMENT.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="expanded = expanded === treatment ? null : treatment"
        *matRowDef="let treatment; columns: displayedColumns;" class="row" mat-row></tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'TREATMENT.TITLE' | translate }}"
          [routerLink]="['/', language, 'treatments', 'add']">
    <mat-icon>add</mat-icon>
  </button>
</div>
