[class*='mat-column-'] {
  text-align: center;
}

.mat-column-name {
  flex: 0 0 55%;
  width: 55%;
}

.mat-column-price {
  flex: 0 0 20%;
  width: 20%;
}

.mat-column-add {
  width: 1% !important;
}
