<mat-card appearance="outlined">
  <mat-card-content>
    <div fxLayout="row grap">
      <div class="bottom" [fxFlex.gt-xs]="fxFlex" fxFlex="100%">
        <mat-list-item>
          <div matListItemTitle class="header">
            {{'SUMMARY.INCOME' | translate}}
          </div>
        </mat-list-item>
        <mat-list-item>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{'SUMMARY.MONTHLY.TABLE.GROSS' | translate}}</div>
            <div matListItemLine class="currency">
              {{summaryTotals.income.gross | currency: currency.code: 'symbol': '1.2-2'}}
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="result">
            <div>{{'SUMMARY.MONTHLY.TABLE.BTW' | translate}}</div>
            <div matListItemLine class="currency">
              {{summaryTotals.income.btw | currency: currency.code: 'symbol': '1.2-2'}}
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{'SUMMARY.MONTHLY.TABLE.NET' | translate}}</div>
            <div matListItemLine class="currency">
              {{summaryTotals.income.net | currency: currency.code: 'symbol': '1.2-2'}}
            </div>
          </div>
        </mat-list-item>
      </div>
      <div class="bottom" [fxFlex.gt-xs]="fxFlex" fxFlex="100%">
        <mat-list-item>
          <div matListItemTitle class="header">
            {{'SUMMARY.EXPENSE' | translate}}
          </div>
        </mat-list-item>
        <mat-list-item>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{'SUMMARY.MONTHLY.TABLE.GROSS' | translate}}</div>
            <div matListItemLine class="currency">
              {{summaryTotals.expense.gross | currency: currency.code: 'symbol': '1.2-2'}}
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="result">
            <div>{{'SUMMARY.MONTHLY.TABLE.BTW' | translate}}</div>
            <div matListItemLine class="currency">
              {{summaryTotals.expense.btw | currency: currency.code: 'symbol': '1.2-2'}}
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{'SUMMARY.MONTHLY.TABLE.NET' | translate}}</div>
            <div matListItemLine class="currency">
              {{summaryTotals.expense.net | currency: currency.code: 'symbol': '1.2-2'}}
            </div>
          </div>
        </mat-list-item>
      </div>
      <ng-template [ngIf]="showCash">
        <div class="bottom" [fxFlex.gt-xs]="fxFlex" fxFlex="100%" style="margin: auto;">
          <mat-list-item>
            <div matListItemTitle class="header">
              {{'SUMMARY.CASH' | translate}}
            </div>
          </mat-list-item>
          <mat-list-item>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>{{'SUMMARY.MONTHLY.TABLE.GROSS' | translate}}</div>
              <div matListItemLine class="currency">
                {{summaryTotals.cash.gross | currency: currency.code: 'symbol': '1.2-2'}}
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="result">
              <div>{{'SUMMARY.MONTHLY.TABLE.BTW' | translate}}</div>
              <div matListItemLine class="currency">
                {{summaryTotals.cash.btw | currency: currency.code: 'symbol': '1.2-2'}}
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>{{'SUMMARY.MONTHLY.TABLE.NET' | translate}}</div>
              <div matListItemLine class="currency">
                {{summaryTotals.cash.net | currency: currency.code: 'symbol': '1.2-2'}}
              </div>
            </div>
          </mat-list-item>
        </div>
      </ng-template>
    </div>
    <ng-template [ngIf]="showCash">
      <mat-divider style="margin-top: 2%"></mat-divider>
      <mat-card-footer>
        <mat-list-item>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{'SUMMARY.MONTHLY.TABLE.GROSS' | translate}}</div>
            <div matListItemLine class="currency">
              {{summaryTotals.totals.gross | currency: currency.code: 'symbol': '1.2-2'}}
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="result">
            <div>{{'SUMMARY.MONTHLY.TABLE.BTW' | translate}}</div>
            <div matListItemLine class="currency">
              {{summaryTotals.totals.btw | currency: currency.code: 'symbol': '1.2-2'}}
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{'SUMMARY.MONTHLY.TABLE.NET' | translate}}</div>
            <div matListItemLine class="currency">
              {{summaryTotals.totals.net | currency: currency.code: 'symbol': '1.2-2'}}
            </div>
          </div>
        </mat-list-item>
      </mat-card-footer>
    </ng-template>
  </mat-card-content>
</mat-card>
