<mat-card appearance="outlined">
  <mat-card-content>
    <div class="flex-row-wrap">
      <div class="bottom" [ngClass]="{ 'year-cash-content': showCash, 'year-content': !showCash }">
        <app-result-summary [summaryType]="'income'" [summaryTotals]="summaryTotals" [currency]="currency"
                            [title]="'INCOME'"></app-result-summary>
      </div>
      <div class="bottom" [ngClass]="{ 'year-cash-content': showCash, 'year-content': !showCash }">
        <app-result-summary [summaryType]="'expense'" [summaryTotals]="summaryTotals" [currency]="currency"
                            [title]="'EXPENSE'"></app-result-summary>
      </div>
      <div class="year-cash-content" style="margin: auto;">
        <app-result-summary [summaryTotals]="summaryTotals" [currency]="currency"
                            [title]="'TOTAL'"></app-result-summary>
      </div>
    </div>
    @if (showCash) {
      <mat-card-footer>
        <mat-divider class="top"></mat-divider>
        <div class="flex-row-wrap">
          <div class="bottom year-cash-content" style="margin: auto;">
            <app-result-summary [summaryType]="'cash'" [summaryTotals]="summaryTotals" [currency]="currency"
                                [title]="'CASH'"></app-result-summary>
          </div>
          <div class="bottom year-cash-content" style="margin: auto;">
            <app-result-summary [summaryType]="'totals'" [summaryTotals]="summaryTotals" [currency]="currency"
                                [title]="'TOTAL_CASH'"></app-result-summary>
          </div>
        </div>
      </mat-card-footer>
    }
  </mat-card-content>
</mat-card>
