<ng-template #stepOne>
  <form [formGroup]="roomForm">
    <mat-form-field *ngIf="rooms; else skeleton" appearance="fill">
      <mat-label>{{ 'RESERVATION.CUSTOMER.ADD.ROOM.FIELD' | translate }}</mat-label>
      <label>
        <input (keydown)="keyDownHandler($event, room)" [formControl]="room" [matAutocomplete]="autoRoom" matInput
               required type="text">
      </label>
      <mat-autocomplete #autoRoom="matAutocomplete" [displayWith]="displayFnRoom">
        <mat-option *ngFor="let room of filteredRoom | async" [value]="room">
          {{room.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="room.hasError('required')"
                 [innerHTML]="'RESERVATION.CUSTOMER.ADD.ROOM.REQUIRED' | translate">
      </mat-error>
      <mat-error *ngIf="room.hasError('requireMatch')"
                 [innerHTML]="'RESERVATION.CUSTOMER.ADD.ROOM.INVALID' | translate">
      </mat-error>
      <mat-error *ngIf="errors['room']">
        {{errors['room']}}
      </mat-error>
    </mat-form-field>
    <ng-template #skeleton>
      <div class="ssc-line"></div>
    </ng-template>
  </form>
</ng-template>

<ng-template #stepTwo>
  <form [formGroup]="productForm">
    <div *ngIf="!products?.length; else data" class="no-content bold">
      {{'PRODUCT.LIST.ERROR.NO_CONTENT' | translate}}
    </div>
    <ng-template #data>
      <div fxLayout="column" fxLayoutAlign="space-evenly start">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'RESERVATION.CUSTOMER.ADD.DATE.FIELD' | translate }}</mat-label>
          <label>
            <input (focus)="picker.open()" [formControl]="date" [matDatepickerFilter]="myFilter"
                   [matDatepicker]="picker" [max]="maxDate" [min]="minDate"
                   matInput required>
          </label>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi></mat-datepicker>
          <mat-error *ngIf="product.hasError('required')"
                     [innerHTML]="'RESERVATION.CUSTOMER.ADD.DATE.REQUIRED' | translate">
          </mat-error>
        </mat-form-field>
        <div>
          <mat-form-field *ngIf="products; else skeleton" appearance="fill">
            <mat-label>{{ 'RESERVATION.CUSTOMER.ADD.PRODUCT.FIELD' | translate }}</mat-label>
            <label>
              <input (keydown)="keyDownHandler($event, product)" [formControl]="product" [matAutocomplete]="autoProduct"
                     matInput required type="text">
            </label>
            <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayFnProduct">
              <mat-option *ngFor="let product of filteredProduct | async" [value]="product">
                {{product.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>home_repair_service</mat-icon>

            <mat-error *ngIf="product.hasError('required')"
                       [innerHTML]="'RESERVATION.CUSTOMER.ADD.PRODUCT.REQUIRED' | translate">
            </mat-error>
            <mat-error *ngIf="product.hasError('requireMatch')"
                       [innerHTML]="'RESERVATION.CUSTOMER.ADD.PRODUCT.INVALID' | translate">
            </mat-error>
            <mat-error *ngIf="errors['product']">
              {{errors['product']}}
            </mat-error>
          </mat-form-field>
          <button (click)="showDiscount = !showDiscount" *ngIf="product.value && !isEditing && discounts?.length"
                  class="raised-button" mat-raised-button type="button">
            {{ 'COMMON.BUTTON.DISCOUNT.' + (showDiscount ? 'HIDE' : 'SHOW') | translate }}
            <mat-icon>redeem</mat-icon>
          </button>
        </div>
        <mat-form-field *ngIf="showDiscount && !isEditing" appearance="fill">
          <mat-label>{{ 'RESERVATION.CUSTOMER.ADD.PRODUCT.DISCOUNT.FIELD' | translate }}</mat-label>
          <mat-select *ngFor="let cd of discounts" [formControl]="discount">
            <mat-option>--</mat-option>
            <mat-option [value]="cd.id">{{cd.title}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-list-item *ngIf="product.value">
          <mat-icon mat-list-icon>home_repair_service</mat-icon>
          <div class="bold" mat-subheader>{{ 'RESERVATION.CUSTOMER.ADD.PRODUCT.DETAIL' | translate}}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="product.value">
          <div *ngIf="product.value.description" [innerHTML]="'RESERVATION.CUSTOMER.ADD.PRODUCT.DESCRIPTION' |
                  translate: {description: product.value.description}"
               mat-line>
          </div>
          <div *ngIf="!isEditing; else editing" mat-line>
            <span [innerHTML]="'RESERVATION.CUSTOMER.ADD.PRODUCT.PRICE' | translate"></span>
            <span [class.strikethrough]="discount.value"
                  class="raised-button">$ {{product.value.price | number:'1.2-2'}}</span>
            <span *ngIf="priceDiscount" [@discountAnimation]
                  class="raised-button bold">$ {{priceDiscount | number:'1.2-2'}}</span>
          </div>
          <ng-template #editing>
            <span [innerHTML]="'RESERVATION.CUSTOMER.ADD.PRODUCT.PRICE' | translate"></span>
            <span
              class="raised-button">$ {{(priceDiscount ? priceDiscount : product.value.price) | number:'1.2-2'}}</span>
            <span *ngIf="priceDiscount"
                  class="raised-button bold">{{'RESERVATION.CUSTOMER.ADD.PRODUCT.DISCOUNT.ADD' | translate}}</span>
          </ng-template>
          <div [innerHTML]="'RESERVATION.CUSTOMER.ADD.PRODUCT.DURATION' |
                  translate: {duration: durationTime}" mat-line>
          </div>
          <div *ngIf="product.value.durability" [innerHTML]="'RESERVATION.CUSTOMER.ADD.PRODUCT.DURABILITY' |
                  translate: {durability: product.value.durability}" mat-line>
          </div>
        </mat-list-item>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </div>
    </ng-template>
  </form>
</ng-template>

<ng-template #stepThree>
  <mat-tab-group *ngIf="availableList.size; else empty" [selectedIndex]="selectedIndex" backgroundColor="accent"
                 color="primary" mat-align-tabs="center">
    <mat-tab *ngFor="let available of availableList | keyvalue: sortDate" [label]="available.key">
      <section>
        <div class="button-row">
          <button (click)="selectDate(datetime)" *ngFor="let datetime of sortTime(available.value)"
                  [color]="eventSelected === datetime.date && time === datetime.time ? 'primary' : undefined"
                  class="large"
                  mat-raised-button>
            {{datetime.time}}
          </button>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
  <ng-template #empty>
    <div class="no-content divider">
      <p [innerHTML]="'RESERVATION.CUSTOMER.ADD.NO_CONTENT' | translate:{date: getDateNoContent()}"></p>
    </div>
  </ng-template>
  <mat-error *ngIf="this.errors['schedule']" [innerHTML]="'RESERVATION.CUSTOMER.ADD.SCHEDULE.REQUIRED' | translate"
             class="divider"></mat-error>
</ng-template>

<ng-template #stepFour>
  <mat-card *ngIf="isPreview">
    <mat-card-header>
      <mat-card-title>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-divider></mat-divider>
        <div mat-subheader>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.ROOM.TITLE' | translate}}</div>
        <mat-list-item>
          <mat-icon mat-list-icon>store</mat-icon>
          <div mat-line>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.ROOM.NAME' | translate}}</div>
          <div mat-line>{{room.value.name}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>person_pin</mat-icon>
          <div mat-line>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.ROOM.PROFESSIONAL' | translate}}</div>
          <div mat-line>{{professionalName}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>room</mat-icon>
          <div mat-line>{{ 'RESERVATION.CUSTOMER.DETAIL.ROOM.ADDRESS' | translate}}</div>
          <div mat-line>
            <a [href]="'https://www.google.com/maps/dir/?api=1&z=15&destination=' + room.value.address.name"
               target="_blank">
              {{room.value.address.name}}
            </a>
          </div>
          <div mat-line>{{room.value.address.description}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.PRODUCT.TITLE' | translate}}</div>
        <mat-list-item>
          <mat-icon mat-list-icon>home_repair_service</mat-icon>
          <div mat-line>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.PRODUCT.NAME' | translate}}</div>
          <div mat-line>{{product.value.name}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>timer</mat-icon>
          <div mat-line>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.PRODUCT.DURATION' | translate}}</div>
          <div mat-line>{{durationTime}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <div mat-line>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.PRODUCT.PRICE' | translate}}</div>
          <div *ngIf="!isEditing; else editing" mat-line>
            <span [class.strikethrough]="discount.value">{{product.value.price | number:'1.2-2'}}</span>
            <span *ngIf="priceDiscount" [@discountAnimation]
                  class="raised-button bold">{{priceDiscount | number:'1.2-2'}}</span>
          </div>
          <ng-template #editing>
            <div mat-line>
              <span>{{(priceDiscount ? priceDiscount : product.value.price) | number:'1.2-2'}}</span>
              <span *ngIf="priceDiscount" class="raised-button bold">
                {{'RESERVATION.CUSTOMER.ADD.PRODUCT.DISCOUNT.ADD' | translate}}
              </span>
            </div>
          </ng-template>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.APPOINTMENT' | translate}}</div>
        <mat-list-item>
          <mat-icon mat-list-icon>event</mat-icon>
          <div mat-line>
            <div>{{startDate?.toLocaleString(locale)}}</div>
            <div>{{endDate?.toLocaleString(locale)}}</div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template [ngIfElse]="bigScreen" [ngIf]="smallScreen">
  <div *ngIf="canCreate; else cannotCreate">
    <mat-vertical-stepper #stepper [linear]="true">
      <mat-step [editable]="!isEditing" [stepControl]="roomForm" state="room">
        <ng-template matStepLabel>{{ 'RESERVATION.CUSTOMER.ADD.ROOM.FIELD' | translate }}</ng-template>
        <div *ngIf="!isEditing; else editing">
          <div class="flex-container full" fxLayout="column">
            <div class="full" fxLayout="column" fxLayoutAlign="space-between start">
              <ng-container *ngTemplateOutlet="stepOne"></ng-container>
              <mat-list-item *ngIf="room.value && room.value.address">
                <mat-icon mat-list-icon>room</mat-icon>
                <div class="bold" mat-subheader>{{ 'RESERVATION.CUSTOMER.ADD.ROOM.DETAIL' | translate}}</div>
                <mat-divider></mat-divider>
              </mat-list-item>
              <mat-list-item *ngIf="room.value && room.value.address && room.value.professional">
                <div [innerHTML]="'RESERVATION.CUSTOMER.ADD.ROOM.PROFESSIONAL.NAME' |
                  translate: {name: professionalName}" mat-line>
                </div>
                <div [innerHTML]="'RESERVATION.CUSTOMER.ADD.ROOM.ADDRESS.NAME' |
                  translate: {name: room.value.address.name}" mat-line>
                </div>
                <div *ngIf="room.value.address.description" [innerHTML]="'RESERVATION.CUSTOMER.ADD.ROOM.ADDRESS.DESCRIPTION' |
                  translate: {description: room.value.address.description}"
                     mat-line>
                </div>
                <div *ngIf="distance" [innerHTML]="distance" mat-line></div>
              </mat-list-item>
            </div>
            <div class="vertical-divider"></div>
            <div *ngIf="room.value && room.value.address && room.value.address.location" class="full">
              <app-google-map (distanceEmitter)="setDistance($event)" [latitudeMarker]="room.value.address.location.y"
                              [longitudeMarker]="room.value.address.location.x"
                              [showDistance]="true"></app-google-map>
            </div>
          </div>
          <div>
            <button [disabled]="isEditing" [form]="roomForm" appBackButton color="accent" mat-icon-button
                    type="button">
              <mat-icon>keyboard_return</mat-icon>
            </button>
            <button (click)="getProducts()" [disabled]="roomForm.invalid" color="primary" mat-icon-button type="button">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
        </div>
        <ng-template #editing>
          <div class="spinner-parent-center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
        </ng-template>
      </mat-step>
      <mat-step [stepControl]="productForm" state="home_repair_service">
        <ng-template matStepLabel>{{ 'RESERVATION.CUSTOMER.ADD.PRODUCT.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
        <div>
          <button *ngIf="isEditing; else noEdit" [form]="productForm" appBackButton color="accent" mat-icon-button
                  type="button">
            <mat-icon>keyboard_return</mat-icon>
          </button>
          <ng-template #noEdit>
            <button (click)="goBack()" [disabled]="isEditing" color="accent" mat-icon-button type="button">
              <mat-icon>arrow_upward</mat-icon>
            </button>
          </ng-template>
          <button (click)="searchAvailability()" [disabled]="productForm.invalid" color="primary" mat-icon-button
                  type="button">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step state="book_online">
        <ng-template matStepLabel>{{ 'RESERVATION.CUSTOMER.ADD.SCHEDULE.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepThree"></ng-container>
        <div>
          <button (click)="goBack()" color="accent" mat-icon-button>
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button (click)="preview()" [disabled]="!eventSelected" color="primary" mat-icon-button type="button">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step state="preview">
        <ng-template matStepLabel>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.TITLE' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepFour"></ng-container>
        <div>
          <button (click)="goBack()" color="accent" mat-button>
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button (click)="create()" color="primary" mat-button type="button">
            <mat-icon>add_task</mat-icon>
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <ng-template #cannotCreate>
    <div class="ssc-square mb"></div>
  </ng-template>
</ng-template>

<ng-template #bigScreen>
  <div *ngIf="canCreate; else cannotCreate">
    <mat-horizontal-stepper #stepper [linear]="true">
      <mat-step [editable]="!isEditing" [stepControl]="roomForm" state="room">
        <ng-template matStepLabel>{{ 'RESERVATION.CUSTOMER.ADD.ROOM.FIELD' | translate }}</ng-template>
        <div *ngIf="!isEditing; else editing">
          <div class="flex-container" fxLayout="row">
            <div class="full" fxLayout="row" fxLayoutAlign="space-between start">
              <div class="middle" fxLayout="column">
                <ng-container *ngTemplateOutlet="stepOne"></ng-container>
                <mat-list-item *ngIf="room.value && room.value.address">
                  <mat-icon mat-list-icon>room</mat-icon>
                  <div class="bold" mat-subheader>{{ 'RESERVATION.CUSTOMER.ADD.ROOM.DETAIL' | translate}}</div>
                  <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item *ngIf="room.value && room.value.address && room.value.professional">
                  <div [innerHTML]="'RESERVATION.CUSTOMER.ADD.ROOM.PROFESSIONAL.NAME' |
                  translate: {name: professionalName}" mat-line>
                  </div>
                  <div [innerHTML]="'RESERVATION.CUSTOMER.ADD.ROOM.ADDRESS.NAME' |
                  translate: {name: room.value.address.name}" mat-line>
                  </div>
                  <div *ngIf="room.value.address.description" [innerHTML]="'RESERVATION.CUSTOMER.ADD.ROOM.ADDRESS.DESCRIPTION' |
                  translate: {description: room.value.address.description}"
                       mat-line>
                  </div>
                  <div *ngIf="distance" [innerHTML]="distance" mat-line></div>
                </mat-list-item>
              </div>
              <div class="vertical-divider"></div>
              <div *ngIf="room.value && room.value.address && room.value.address.location" class="middle">
                <app-google-map (distanceEmitter)="setDistance($event)" [latitudeMarker]="room.value.address.location.y"
                                [longitudeMarker]="room.value.address.location.x"
                                [showDistance]="true"></app-google-map>
              </div>
            </div>
          </div>
          <div class="divider">
            <button [disabled]="isEditing" [form]="roomForm" appBackButton color="accent" mat-raised-button
                    type="button">
              <mat-icon>keyboard_return</mat-icon>
              {{ 'COMMON.BUTTON.BACK' | translate }}</button>
            <button (click)="getProducts()" [disabled]="roomForm.invalid" class="raised-button" color="primary"
                    mat-raised-button
                    type="button">
              {{ 'COMMON.BUTTON.NEXT' | translate }}
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
        <ng-template #editing>
          <div class="spinner-parent-center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
        </ng-template>
      </mat-step>
      <mat-step [stepControl]="productForm" state="home_repair_service">
        <ng-template matStepLabel>{{ 'RESERVATION.CUSTOMER.ADD.PRODUCT.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
        <div class="divider">
          <button *ngIf="isEditing; else noEdit" [form]="productForm" appBackButton color="accent" mat-raised-button
                  type="button">
            <mat-icon>keyboard_return</mat-icon>
            {{ 'COMMON.BUTTON.BACK' | translate }}</button>
          <ng-template #noEdit>
            <button (click)="goBack()" [disabled]="isEditing" color="accent" mat-raised-button type="button">
              <mat-icon>arrow_back</mat-icon>
              {{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </ng-template>
          <button (click)="searchAvailability()" [disabled]="productForm.invalid" class="raised-button" color="primary"
                  mat-raised-button type="button">
            {{ 'COMMON.BUTTON.NEXT' | translate }}
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step state="book_online">
        <ng-template matStepLabel>{{ 'RESERVATION.CUSTOMER.ADD.SCHEDULE.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepThree"></ng-container>
        <div class="divider">
          <button (click)="goBack()" color="accent" mat-raised-button type="button">
            <mat-icon>arrow_back</mat-icon>
            {{ 'COMMON.BUTTON.BACK' | translate }}</button>
          <button (click)="preview()" [disabled]="!eventSelected" class="raised-button" color="primary"
                  mat-raised-button type="button">
            {{ 'COMMON.BUTTON.NEXT' | translate }}
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step state="preview">
        <ng-template matStepLabel>{{ 'RESERVATION.CUSTOMER.ADD.PREVIEW.TITLE' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepFour"></ng-container>
        <div class="divider">
          <button (click)="goBack()" color="accent" mat-raised-button>
            <mat-icon>arrow_back</mat-icon>
            {{ 'COMMON.BUTTON.BACK' | translate }}</button>
          <button (click)="create()" class="raised-button" color="primary" mat-raised-button type="button">
            {{ 'COMMON.BUTTON.BOOK' | translate }}
            <mat-icon>add_task</mat-icon>
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <ng-template #cannotCreate>
    <div class="ssc-square mb"></div>
  </ng-template>
</ng-template>
