.mat-column-name {
  flex: 0 0 20%;
  width: 20%;
}

.mat-column-provider {
  flex: 0 0 10%;
  width: 10%;
}

.mat-column-status {
  flex: 0 0 5%;
  width: 5%;
}

.mat-cell-status {
  text-align: center;
  justify-content:center;
}

