[class*='mat-column-'] {
  text-align: center !important;
}

.mat-column-actions {
  width: 20% !important;
}

.mat-column-position {
  width: 5% !important;
}

.mat-column-name {
  width: 35% !important;
}

.mat-column-description {
  width: 40% !important;
}

td, th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}

tr.detail-row {
  height: 0 !important;
}
