<form (ngSubmit)="doAction" [formGroup]="noteForm" novalidate (keydown.enter)="$event.preventDefault()">
  <h1 mat-dialog-title>{{ 'RESERVATION.NOTE.ADD' | translate }}</h1>
  <div mat-dialog-content>
    <p>{{ 'RESERVATION.NOTE.MESSAGE' | translate }}</p>
    <mat-form-field appearance="outline" class="full">
      <mat-label>{{ 'RESERVATION.NOTE.FIELD' | translate }}</mat-label>
      <label>
        <textarea #message [formControl]="note" matInput [maxlength]="256"></textarea>
      </label>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      <mat-error *ngIf="note.hasError('required')" [innerHTML]="'RESERVATION.NOTE.REQUIRED' | translate">
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button (click)="onNoClick" color="accent" mat-fab extended class="icon-button"
            type="button">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button [disabled]="noteForm.invalid || noteForm.pristine" cdkFocusInitial color="primary" mat-fab extended
            class="icon-button" type="submit">Ok
    </button>
  </div>
</form>
