<form (ngSubmit)="doAction" [formGroup]="discountForm" novalidate (keydown.enter)="$event.preventDefault()">
  <h1 mat-dialog-title>{{ 'RESERVATION.DISCOUNT.ADD' | translate }}</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'RESERVATION.DISCOUNT.FIELD' | translate }}</mat-label>
      <mat-select [formControl]="discount">
        <mat-option *ngFor="let cd of discounts" [value]="cd.id">{{cd.discountCustomer.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="discount.hasError('required')" [innerHTML]="'RESERVATION.DISCOUNT.REQUIRED' | translate">
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button (click)="onNoClick" color="accent" mat-fab extended class="icon-button"
            type="button">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button [disabled]="discountForm.invalid || discountForm.pristine" cdkFocusInitial color="primary" mat-fab extended
            class="icon-button" type="submit">Ok
    </button>
  </div>
</form>
