<h1 mat-dialog-title>{{'RESERVATION.CUSTOMER.CHANGE' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="customerForm">
    <mat-form-field *ngIf="customers; else skeleton" appearance="outline">
      <mat-label>{{ 'RESERVATION.CUSTOMER.FIELD' | translate }}</mat-label>
      <label>
        <input (keydown)="keyDownHandler($event)" [formControl]="customer" [matAutocomplete]="autoCustomer"
               autocomplete="off" matInput required
               type="text">
      </label>
      <mat-autocomplete #autoCustomer="matAutocomplete" [displayWith]="displayFnUser">
        <mat-option *ngFor="let customer of filteredCustomer | async" [value]="customer">
          {{customer | userName}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="customer.hasError('required')"
                 [innerHTML]="'RESERVATION.CUSTOMER.REQUIRED' | translate">
      </mat-error>
      <mat-error *ngIf="customer.hasError('requireMatch')"
                 [innerHTML]="'RESERVATION.CUSTOMER.INVALID' | translate">
      </mat-error>
    </mat-form-field>
    <ng-template #skeleton>
      <div class="ssc-line"></div>
    </ng-template>
  </form>
</div>
<div mat-dialog-actions>
  <div fxFlex></div>
  <div *ngIf="data.small; else largeButton">
    <button (click)="doAction" cdkFocusInitial color="primary" [disabled]="customerForm.invalid"
            mat-icon-button>
      <mat-icon>published_with_changes</mat-icon>
    </button>
    <button (click)="onNoClick" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <ng-template #largeButton>
    <button (click)="doAction" cdkFocusInitial color="primary" [disabled]="customerForm.invalid" mat-fab extended
            class="icon-button">{{ 'RESERVATION.CUSTOMER.UPDATE' | translate }}</button>
    <button (click)="onNoClick" mat-fab extended class="icon-button">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
  </ng-template>
</div>
