<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'RESERVATION.DETAIL' | translate }}</mat-card-title>
    <mat-card-subtitle
      *ngIf="reservation; else skeleton">{{customerName}}</mat-card-subtitle>
    <ng-template #skeleton>
      <div class="ssc-line"></div>
    </ng-template>
  </mat-card-header>
  <mat-card-content *ngIf="reservation; else boxSkeleton">
    <div *ngIf="showFireworks" class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
    <mat-divider></mat-divider>
    <mat-list>
      <div mat-subheader>{{ 'ROOM.FIELD' | translate}}</div>
      <mat-list-item>
        <mat-icon mat-list-icon>store</mat-icon>
        <div mat-line>{{ 'ROOM.NAME.FIELD' | translate}}</div>
        <div mat-line>{{reservation.room.name}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person_pin</mat-icon>
        <div mat-line>{{ 'ROOM.PROFESSIONAL.FIELD' | translate}}</div>
        <div mat-line>{{professionalName}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>room</mat-icon>
        <div mat-line>{{ 'COMMON.ADDRESS.FIELD' | translate}}</div>
        <div mat-line>
          <a [href]="'https://www.google.com/maps/dir/?api=1&z=15&destination=' + reservation.room.address.name"
             rel="noreferrer" target="_blank">
            {{reservation.room.address.name}}
          </a>
        </div>
        <div mat-line>{{reservation.room.address?.description}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>{{ 'RESERVATION.APPOINTMENT' | translate}}</div>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line>{{getDateTime(start)}}</div>
        <div mat-line>{{getDateTime(end)}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>{{state}}</mat-icon>
        <div mat-line>{{ 'RESERVATION.STATE.' + reservation.state | translate}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>{{ 'PRODUCT.FIELD' | translate}}</div>
      <mat-list-item>
        <mat-icon mat-list-icon>home_repair_service</mat-icon>
        <div mat-line>{{ 'PRODUCT.NAME.FIELD' | translate}}</div>
        <div mat-line>{{reservation.product.name}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>timer</mat-icon>
        <div mat-line>{{ 'PRODUCT.DURATION.FIELD' | translate}}</div>
        <div mat-line>{{duration.hour | number:'2.0-0'}}:{{duration.minute | number:'2.0-0'}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <div mat-line>{{ 'PRODUCT.PRICE.FIELD' | translate}}</div>
        <div *ngIf="price.discount; else noDiscount" mat-line>
          <span [class.strikethrough]="price.discount">{{price.amount | number:'1.2-2'}}</span>
          <span [@discountAnimation] class="raised-button bold">{{price.priceWithDiscount | number:'1.2-2'}}</span>
        </div>
        <ng-template #noDiscount>
          <div mat-line>{{price.amount | number:'1.2-2'}}</div>
        </ng-template>
      </mat-list-item>
      <div *ngIf="reservation.product.extras">
        <mat-divider></mat-divider>
        <div mat-subheader>{{ 'RESERVATION.PRODUCT.EXTRAS.TITLE' | translate}}</div>
        <mat-list-item *ngIf="reservation.product.extras.description">
          <mat-icon mat-list-icon>description</mat-icon>
          <div mat-line>{{ 'RESERVATION.PRODUCT.EXTRAS.DESCRIPTION' | translate}}</div>
          <div mat-line>{{reservation.product.extras.description}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="price.extra">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <div mat-line>{{ 'RESERVATION.PRODUCT.EXTRAS.PRICE' | translate}}</div>
          <div mat-line>{{price.extra}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
      <div *ngIf="reservation.additional && reservation.additional.length">
        <mat-divider></mat-divider>
        <div mat-subheader>{{ 'ADDITIONAL.FIELD' | translate}}</div>
        <mat-list-item>
          <mat-icon mat-list-icon>add_post</mat-icon>
          <div mat-line>
            <div *ngFor="let it of reservation.additional">
              {{it.name}} - ${{it.price | number:'1.2-2'}}
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <div mat-line>{{ 'COMMON.LABEL.PRICE' | translate}}</div>
          <div mat-line>{{price.additional}}</div>
        </mat-list-item>
      </div>
      <div *ngIf="reservation.product.extras || (reservation.additional && reservation.additional.length)">
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="price.total">
          <mat-icon mat-list-icon>paid</mat-icon>
          <div mat-line><span class="bold">{{ 'COMMON.LABEL.TOTAL' | translate}}</span></div>
          <div mat-line><span class="bold">{{price.total}}</span></div>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-list *ngIf="paymentPaid && paymentPaid.length">
      <div class="divider">
        <h1>{{ 'RESERVATION.PAYMENT.TITLE' | translate}}</h1>
      </div>
      <table [dataSource]="paymentPaid" mat-table>
        <ng-container matColumnDef="position">
          <th *matHeaderCellDef mat-header-cell>#</th>
          <td *matCellDef="let payment; let i = index;" mat-cell>
            <div *ngIf="payment.id; else skeleton">{{i + 1}} </div>
            <ng-template #skeleton>
              <div class="ssc-line"></div>
            </ng-template>
          </td>
          <td *matFooterCellDef class="bold" mat-footer-cell>{{ 'RESERVATION.PAYMENT.PAID' | translate}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}</th>
          <td *matCellDef="let payment" class="column-large-text" mat-cell>
            <div *ngIf="payment.id; else skeleton">{{payment.description}}</div>
            <ng-template #skeleton>
              <div class="ssc-line"></div>
            </ng-template>
          </td>
          <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'PAYMENT.LIST.COLUMN.STATUS' | translate }}</th>
          <td *matCellDef="let payment" fxHide.lt-sm fxShow mat-cell>
            <div *ngIf="payment.id; else skeleton">
              {{'COMMON.STATUS.ML.' + (payment.status ? payment.status.toUpperCase() : 'NONE') | translate}}
            </div>
            <ng-template #skeleton>
              <div class="ssc-line"></div>
            </ng-template>
          </td>
          <td *matFooterCellDef fxHide.lt-sm fxShow mat-footer-cell></td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'PAYMENT.LIST.COLUMN.TYPE' | translate }}</th>
          <td *matCellDef="let payment" fxHide.lt-sm fxShow mat-cell>
            <div *ngIf="payment.id; else skeleton">
              {{'COMMON.PAYMENT.' + payment.type | translate}}
            </div>
            <ng-template #skeleton>
              <div class="ssc-line"></div>
            </ng-template>
          </td>
          <td *matFooterCellDef fxHide.lt-sm fxShow mat-footer-cell></td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th *matHeaderCellDef mat-header-cell>{{ 'PAYMENT.LIST.COLUMN.AMOUNT' | translate }}</th>
          <td *matCellDef="let payment" mat-cell>
            <div *ngIf="payment.id; else skeleton">
              <mat-icon matPrefix>attach_money</mat-icon>&nbsp;{{payment.amount | number:'1.2-2'}}
            </div>
            <ng-template #skeleton>
              <div class="ssc-line"></div>
            </ng-template>
          </td>
          <td *matFooterCellDef class="bold" mat-footer-cell>
            <mat-icon matPrefix>attach_money</mat-icon>&nbsp;{{getTotal() | number:'1.2-2'}}
          </td>
        </ng-container>

        <tr *matHeaderRowDef="paymentDisplayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: paymentDisplayedColumns;" class="{{row.type.toLowerCase()}}" mat-row></tr>
        <tr *matFooterRowDef="paymentDisplayedColumns" mat-footer-row></tr>
      </table>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-list *ngIf="reservation.history">
      <div class="divider">
        <h1>{{ 'RESERVATION.LIST.HISTORY.TITLE' | translate}}</h1>
      </div>
      <table [dataSource]="dataSource" mat-table>
        <ng-container matColumnDef="position">
          <th *matHeaderCellDef mat-header-cell>#</th>
          <td *matCellDef="let history; let i = index;"
              mat-cell> {{((paginator?.pageIndex || 0) * pageSize) + i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="professional">
          <th *matHeaderCellDef fxHide.lt-sm fxShow
              mat-header-cell> {{ 'RESERVATION.LIST.COLUMN.PROFESSIONAL' | translate }} </th>
          <td *matCellDef="let history" fxHide.lt-sm fxShow
              mat-cell> {{getProfessionalName(history)}} </td>
        </ng-container>

        <ng-container matColumnDef="start">
          <th *matHeaderCellDef mat-header-cell> {{ 'RESERVATION.LIST.COLUMN.START' | translate }} </th>
          <td *matCellDef="let history" mat-cell> {{history.start | date:'short':undefined:language}} </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th *matHeaderCellDef mat-header-cell> {{ 'RESERVATION.LIST.COLUMN.PRODUCT' | translate }} </th>
          <td *matCellDef="let history" mat-cell> {{history.product.name}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th *matHeaderCellDef fxHide.lt-sm fxShow
              mat-header-cell> {{ 'RESERVATION.LIST.COLUMN.STATE' | translate }} </th>
          <td *matCellDef="let history" fxHide.lt-sm fxShow mat-cell>
            <mat-icon matPrefix>{{getIcon(history.state)}}</mat-icon>&nbsp;
            {{ 'RESERVATION.STATE.' + history.state | translate}}</td>
        </ng-container>

        <ng-container matColumnDef="noContent">
          <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
            {{ 'RESERVATION.LIST.HISTORY.ERROR.NO_CONTENT' | translate }}</td>
        </ng-container>

        <tr *matFooterRowDef="['noContent']" [hidden]="reservation.history.length > 0" mat-footer-row></tr>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator *ngIf="reservation.history.length" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
  <ng-template #boxSkeleton>
    <div class="ssc-hr"></div>
    <div class="ssc-square mb"></div>
    <div class="ssc-hr"></div>
  </ng-template>
  <mat-card-actions *ngIf="reservation; else buttonSkeleton">
    <div fxFlex></div>
    <button appBackButton color="accent" mat-raised-button type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
  </mat-card-actions>
  <ng-template #buttonSkeleton>
    <div class="ssc-head-line"></div>
  </ng-template>
</mat-card>
<div *ngIf="changeState && changeState.length" id="action-button">
  <mat-fab-menu (onFabMenuItemSelected)="onChangeState($event)" [direction]="direction" [fabButtons]="changeState"
                color="primary" icon="all_out">
  </mat-fab-menu>
</div>
