<h1 mat-dialog-title>{{ 'RESERVATION.CLONE' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <mat-form-field appearance="outline" class="full">
      <mat-label>{{ 'RESERVATION.DATE.FIELD' | translate }}</mat-label>
      <input (focus)="picker.open()" [formControl]="getForm.date" [matDatepickerFilter]="myFilter"
             [matDatepicker]="picker" [max]="maxCalendarDate" matInput required>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi></mat-datepicker>
      @if (getForm.date.hasError('required')) {
        <mat-error [innerHTML]="'RESERVATION.DATE.REQUIRED' | translate"></mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full">
      <mat-label>{{ 'RESERVATION.START.FIELD' | translate }}</mat-label>
      <input [formControl]="getForm.time" [format]="24" [max]="maxDate()" [min]="minDate()" [ngxTimepicker]="t"
             matInput name="time" readonly/>
      <span matPrefix> &nbsp;<mat-icon (click)="t.open()" matPrefix>schedule</mat-icon> &nbsp;</span>
      <ngx-material-timepicker #t [minutesGap]="15"></ngx-material-timepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="card-actions">
  <div class="spacer"></div>
  @if (data.small) {
    <button (click)="onNoClick()" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
    <button (click)="doAction()" color="primary" [disabled]="form.invalid" mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
  } @else {
    <button (click)="onNoClick()" mat-fab extended class="icon-button">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button (click)="doAction()" color="primary" [disabled]="form.invalid" mat-fab extended class="icon-button">
      {{ 'RESERVATION.ACTION.CLONE' | translate }}
    </button>
  }
</div>
