<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'RESERVATION.DETAIL.TITLE' | translate }}</mat-card-title>
    <mat-card-subtitle
      *ngIf="reservation; else skeleton">{{customerName}}</mat-card-subtitle>
    <ng-template #skeleton>
      <div class="ssc-line"></div>
    </ng-template>
  </mat-card-header>
  <mat-card-content *ngIf="reservation; else boxSkeleton">
    <mat-divider></mat-divider>
    <mat-list>
      <div mat-subheader>{{ 'RESERVATION.DETAIL.ROOM.TITLE' | translate}}</div>
      <mat-list-item>
        <mat-icon mat-list-icon>store</mat-icon>
        <div mat-line>{{ 'RESERVATION.DETAIL.ROOM.NAME' | translate}}</div>
        <div mat-line>{{reservation.room.name}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person_pin</mat-icon>
        <div mat-line>{{ 'RESERVATION.DETAIL.ROOM.PROFESSIONAL' | translate}}</div>
        <div mat-line>{{professionalName}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>room</mat-icon>
        <div mat-line>{{ 'RESERVATION.DETAIL.ROOM.ADDRESS' | translate}}</div>
        <div mat-line>
          <a [href]="'https://www.google.com/maps/dir/?api=1&z=15&destination=' + reservation.room.address.name"
             target="_blank">
            {{reservation.room.address.name}}
          </a>
        </div>
        <div mat-line>{{reservation.room.address?.description}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>{{ 'RESERVATION.DETAIL.PRODUCT.TITLE' | translate}}</div>
      <mat-list-item>
        <mat-icon mat-list-icon>home_repair_service</mat-icon>
        <div mat-line>{{ 'RESERVATION.DETAIL.PRODUCT.NAME' | translate}}</div>
        <div mat-line>{{reservation.product.name}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>timer</mat-icon>
        <div mat-line>{{ 'RESERVATION.DETAIL.PRODUCT.DURATION' | translate}}</div>
        <div mat-line>{{duration.hour | number:'2.0-0'}}:{{duration.minute | number:'2.0-0'}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <div mat-line>{{ 'RESERVATION.DETAIL.PRODUCT.PRICE' | translate}}</div>
        <div *ngIf="priceDiscount; else noDiscount" mat-line>
          <span [class.strikethrough]="priceDiscount">{{reservation.product.price | number:'1.2-2'}}</span>
          <span [@discountAnimation] class="raised-button bold">{{priceDiscount | number:'1.2-2'}}</span>
        </div>
        <ng-template #noDiscount>
          <div mat-line>{{reservation.product.price | number:'1.2-2'}}</div>
        </ng-template>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>{{ 'RESERVATION.DETAIL.APPOINTMENT' | translate}}</div>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line>{{start | date:'short':undefined:language}}</div>
        <div mat-line>{{end | date:'short':undefined:language}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>{{state}}</mat-icon>
        <div mat-line>{{ 'RESERVATION.STATE.' + reservation.state | translate}}</div>
      </mat-list-item>
      <div *ngIf="reservation.product.extras">
        <mat-divider></mat-divider>
        <div mat-subheader>{{ 'RESERVATION.DETAIL.PRODUCT.EXTRAS.TITLE' | translate}}</div>
        <mat-list-item *ngIf="reservation.product.extras.description">
          <mat-icon mat-list-icon>description</mat-icon>
          <div mat-line>{{ 'RESERVATION.DETAIL.PRODUCT.EXTRAS.DESCRIPTION' | translate}}</div>
          <div mat-line>{{reservation.product.extras.description}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="reservation.product.extras.price">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <div mat-line>{{ 'RESERVATION.DETAIL.PRODUCT.EXTRAS.PRICE' | translate}}</div>
          <div mat-line>{{reservation.product.extras.price}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="total">
          <mat-icon mat-list-icon>paid</mat-icon>
          <div mat-line><span class="bold">{{ 'RESERVATION.DETAIL.PRODUCT.EXTRAS.TOTAL' | translate}}</span></div>
          <div mat-line><span class="bold">{{total}}</span></div>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-list *ngIf="reservation.history">
      <div class="divider">
        <h1>{{ 'RESERVATION.DETAIL.HISTORY.TITLE' | translate}}</h1>
      </div>
      <table [dataSource]="dataSource" mat-table>
        <ng-container matColumnDef="position">
          <th *matHeaderCellDef mat-header-cell>#</th>
          <td *matCellDef="let history; let i = index;"
              mat-cell> {{((paginator?.pageIndex || 0) * pageSize) + i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="professional">
          <th *matHeaderCellDef fxHide.lt-sm fxShow
              mat-header-cell> {{ 'RESERVATION.DETAIL.HISTORY.COLUMN.PROFESSIONAL' | translate }} </th>
          <td *matCellDef="let history" fxHide.lt-sm fxShow
              mat-cell> {{getProfessionalName(history)}} </td>
        </ng-container>

        <ng-container matColumnDef="start">
          <th *matHeaderCellDef mat-header-cell> {{ 'RESERVATION.DETAIL.HISTORY.COLUMN.START' | translate }} </th>
          <td *matCellDef="let history" mat-cell> {{history.start | date:'short':undefined:language}} </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th *matHeaderCellDef mat-header-cell> {{ 'RESERVATION.DETAIL.HISTORY.COLUMN.PRODUCT' | translate }} </th>
          <td *matCellDef="let history" mat-cell> {{history.product.name}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th *matHeaderCellDef fxHide.lt-sm fxShow
              mat-header-cell> {{ 'RESERVATION.DETAIL.HISTORY.COLUMN.STATE' | translate }} </th>
          <td *matCellDef="let history" fxHide.lt-sm fxShow mat-cell>
            <mat-icon matPrefix>{{getIcon(history.state)}}</mat-icon>&nbsp;
            {{ 'RESERVATION.STATE.' + history.state | translate}}</td>
        </ng-container>

        <ng-container matColumnDef="noContent">
          <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
            {{ 'RESERVATION.DETAIL.HISTORY.ERROR.NO_CONTENT' | translate }}</td>
        </ng-container>

        <tr *matFooterRowDef="['noContent']" [hidden]="reservation.history.length > 0" mat-footer-row></tr>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator *ngIf="reservation.history.length" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
  <ng-template #boxSkeleton>
    <div class="ssc-hr"></div>
    <div class="ssc-square mb"></div>
    <div class="ssc-hr"></div>
  </ng-template>
  <mat-card-actions *ngIf="reservation; else buttonSkeleton">
    <div fxFlex></div>
    <button appBackButton color="accent" mat-raised-button type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
  </mat-card-actions>
  <ng-template #buttonSkeleton>
    <div class="ssc-head-line"></div>
  </ng-template>
</mat-card>
<div id="action-button" *ngIf="changeState && changeState.length">
  <mat-fab-menu (onFabMenuItemSelected)="onChangeState($event)" [fabButtons]="changeState" color="primary"
                [direction]="direction" icon="all_out">
  </mat-fab-menu>
</div>
