[class*='mat-column-'] {
  text-align: center;
}

.mat-column-description {
  flex: 0 0 45%;
  width: 45%;
}

@media all and (max-device-width: 812px) and (orientation: portrait) {
  #action-button {
    top: 90px;
    right: 33px;
    bottom: auto;
    left: auto;
    position: fixed;
  }
}

@media not all and (max-device-width: 812px) and (orientation: portrait) {
  #action-button {
    top: 95px;
    right: 50px;
    bottom: auto;
    left: auto;
    position: fixed;
  }
}
