<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <app-balance [account]="account" [showView]="true" [showUser]="hasAdminRole" [language]="language"></app-balance>
      <form (ngSubmit)="submit" [formGroup]="form" novalidate>
        <mat-card appearance="outlined" class="style-card" *ngIf="account">
          <mat-card-header>
            <mat-card-title>{{ 'ACCOUNT.TRANSACTION.TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="inner-container">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'ACCOUNT.TRANSACTION.AMOUNT.FIELD' | translate }}</mat-label>
                <mat-icon matPrefix>{{ currencyIcon }}</mat-icon>
                <label>
                  <input formControlName="amount" matInput matNativeControl required [type]="'number'" [step]="1"
                         [min]="amountMin">
                </label>
                <mat-error *ngIf="getForm.amount.hasError('required')"
                           [innerHTML]="'ACCOUNT.TRANSACTION.AMOUNT.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="getForm.amount.hasError('min')"
                           [innerHTML]="'ACCOUNT.TRANSACTION.AMOUNT.MIN' | translate:{min: amountMin, currency: currencyIcon}">
                </mat-error>
                <mat-error *ngIf="errors['amount']">
                  {{ errors['amount'] }}
                </mat-error>
              </mat-form-field>
              <ng-template [ngIf]="!hasAdminRole" [ngIfElse]="noAdmin">
                <app-bank [firstTime]="true" [formGroup]="form" [options]="options"></app-bank>
              </ng-template>
              <ng-template #noAdmin>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ACCOUNT.TRANSACTION.TYPE.FIELD' | translate }}</mat-label>
                  <mat-select formControlName="type" [required]="true">
                    <mat-option *ngFor="let t of types" [value]="t">
                      {{ 'COMMON.PAYMENT.TYPE.' + (t || 'NONE') | translate }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="getForm.type.hasError('required')"
                             [innerHTML]="'ACCOUNT.TRANSACTION.TYPE.REQUIRED' | translate">
                  </mat-error>
                  <mat-error *ngIf="errors['type']">
                    {{ errors['type'] }}
                  </mat-error>
                </mat-form-field>
                <ng-template [ngIf]="getForm.type.value === 'TRANSFER'">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'ACCOUNT.TRANSACTION.TRANSFER' | translate }}</mat-label>
                    <label>
                      <input formControlName="transfer" matInput>
                    </label>
                  </mat-form-field>
                </ng-template>
              </ng-template>
            </div>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <div class="spacer"></div>
            <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button"
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}
            </button>
            <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button" type="submit">
              {{ 'COMMON.BUTTON.ADD' | translate }}
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
