<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <app-balance [account]="account" [showView]="true" [showUser]="hasAdminRole" [language]="language"></app-balance>
      <form (ngSubmit)="submit" [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
        @if (account) {
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ 'ACCOUNT.TRANSACTION.TITLE' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="inner-container">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ACCOUNT.TRANSACTION.AMOUNT.FIELD' | translate }}</mat-label>
                  <mat-icon matPrefix>{{ currencyIcon }}</mat-icon>
                  <input formControlName="amount" matInput matNativeControl required [type]="'number'" [step]="1"
                         [min]="amountMin">
                  @if (getForm.amount.hasError('required')) {
                    <mat-error [innerHTML]="'ACCOUNT.TRANSACTION.AMOUNT.REQUIRED' | translate"></mat-error>
                  } @else if (getForm.amount.hasError('min')) {
                    <mat-error
                      [innerHTML]="'ACCOUNT.TRANSACTION.AMOUNT.MIN' | translate:{min: amountMin, currency: currencyIcon}">
                    </mat-error>
                  } @else if (errors['amount']) {
                    <mat-error>{{ errors['amount'] }}</mat-error>
                  }
                </mat-form-field>
                @if (!hasAdminRole) {
                  <app-bank [firstTime]="true" [formGroup]="form" [options]="options"></app-bank>
                } @else {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'ACCOUNT.TRANSACTION.TYPE.FIELD' | translate }}</mat-label>
                    <mat-select formControlName="type" [required]="true">
                      @for (t of types; track t) {
                        <mat-option [value]="t">{{ 'COMMON.PAYMENT.TYPE.' + (t || 'NONE') | translate }}</mat-option>
                      }
                    </mat-select>
                    @if (getForm.type.hasError('required')) {
                      <mat-error [innerHTML]="'ACCOUNT.TRANSACTION.TYPE.REQUIRED' | translate"></mat-error>
                    } @else if (errors['type']) {
                      <mat-error>{{ errors['type'] }}</mat-error>
                    }
                  </mat-form-field>
                  @if (getForm.type.value === 'TRANSFER') {
                    <mat-form-field appearance="outline">
                      <mat-label>{{ 'ACCOUNT.TRANSACTION.TRANSFER' | translate }}</mat-label>
                      <input formControlName="transfer" matInput>
                    </mat-form-field>
                  }
                }
              </div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <div class="spacer"></div>
              <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button" type="button">
                {{ 'COMMON.BUTTON.BACK' | translate }}
              </button>
              <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button" type="submit">
                {{ 'COMMON.BUTTON.ADD' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        }
      </form>
    </div>
  </div>
</div>
