<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <form (ngSubmit)="changePassword" [formGroup]="form" novalidate>
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ 'AUTH.CHANGE_PASSWORD.TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill" hidden>
                <mat-label>{{ 'COMMON.USER.USERNAME.FIELD' | translate }}</mat-label>
                <label>
                  <input [value]="currentUser?.username" autocomplete="username" disabled matInput>
                </label>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'AUTH.CHANGE_PASSWORD.OLD_PASSWORD.FIELD' | translate }}</mat-label>
                <mat-pass-toggle-visibility #toggleCurrent matSuffix></mat-pass-toggle-visibility>
                <label>
                  <input [formControl]="oldPassword" [tabIndex]="1" [type]="toggleCurrent.type"
                         autocomplete="current-password" matInput required>
                </label>
                <mat-error [innerHTML]="'AUTH.CHANGE_PASSWORD.OLD_PASSWORD.REQUIRED' | translate"></mat-error>
              </mat-form-field>
              <mat-form-field [color]="passwordComponent.color" appearance="fill">
                <mat-label>{{ 'AUTH.PASSWORD.FIELD' | translate }}</mat-label>
                <mat-pass-toggle-visibility #togglePass matSuffix></mat-pass-toggle-visibility>
                <label>
                  <input #passwordInput (focusout)="onStrengthChanged"
                         [formControl]="passwordComponent.passwordFormControl" [tabIndex]="2" [type]="togglePass.type"
                         autocomplete="new-password" matInput required>
                </label>
                <mat-hint align="end" aria-live="polite">
                  {{passwordInput.value.length}} / {{passwordComponent.max}}
                </mat-hint>
              </mat-form-field>
              <mat-error *ngIf="showError && passwordComponent.passwordFormControl.hasError('required')"
                         [innerHTML]="'AUTH.PASSWORD.REQUIRED' | translate">
              </mat-error>
              <mat-error *ngIf="showError && passwordComponent.passwordFormControl.hasError('pattern')">
                {{ 'AUTH.PASSWORD.INVALID' | translate }}
              </mat-error>
              <mat-error *ngIf="showError && passwordComponent.passwordFormControl.hasError('maxlength')">
                {{ 'AUTH.PASSWORD.MAX' | translate }}
              </mat-error>
              <mat-password-strength #passwordComponent [min]="6" [password]="passwordInput.value">
              </mat-password-strength>
              <mat-slide-toggle #toggle class="divider">{{ 'AUTH.PASSWORD.DETAIL' | translate }}</mat-slide-toggle>
              <mat-password-strength-info *ngIf="toggle.checked"
                                          [digitsCriteriaMsg]="'AUTH.PASSWORD.DIGIT' | translate"
                                          [lowerCaseCriteriaMsg]="'AUTH.PASSWORD.LOWER_CASE' | translate"
                                          [minCharsCriteriaMsg]="'AUTH.PASSWORD.MIN' | translate"
                                          [passwordComponent]="passwordComponent"
                                          [specialCharsCriteriaMsg]="'AUTH.PASSWORD.SPECIAL' | translate"
                                          [upperCaseCriteriaMsg]="'AUTH.PASSWORD.UPPER_CASE' | translate">
              </mat-password-strength-info>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'AUTH.CHANGE_PASSWORD.CONFIRM_PASSWORD.FIELD' | translate }}</mat-label>
                <mat-pass-toggle-visibility #toggleConfirm matSuffix></mat-pass-toggle-visibility>
                <label>
                  <input [formControl]="passwordComponent.passwordConfirmationFormControl" [tabIndex]="3"
                         [type]="toggleConfirm.type" autocomplete="new-password" matInput required>
                </label>
                <mat-error
                  *ngIf="passwordComponent.passwordConfirmationFormControl.hasError('required')"
                  [innerHTML]="'AUTH.CHANGE_PASSWORD.CONFIRM_PASSWORD.REQUIRED' | translate">
                </mat-error>
                <mat-error
                  *ngIf="passwordComponent.passwordConfirmationFormControl.hasError('notConfirmed')">
                  {{ 'AUTH.CHANGE_PASSWORD.CONFIRM_PASSWORD.MUST_MATCH' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button [disabled]="form.invalid
             || passwordComponent.passwordConfirmationFormControl.invalid
             || passwordComponent.passwordFormControl.invalid"
                    [tabIndex]="4" color="primary" mat-fab extended type="submit">
              {{ 'COMMON.BUTTON.SEND' | translate }}
            </button>
            <button [form]="form" appBackButton color="accent" mat-fab extended
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
