<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <form (ngSubmit)="changePassword" [formGroup]="form" novalidate>
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ 'AUTH.CHANGE_PASSWORD.TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="outline" hidden>
                <mat-label>{{ 'COMMON.USER.USERNAME.FIELD' | translate }}</mat-label>
                <label>
                  <input [value]="currentUser?.username" autocomplete="username" disabled matInput>
                </label>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'AUTH.CHANGE_PASSWORD.OLD_PASSWORD.FIELD' | translate }}</mat-label>
                <button type="button" mat-icon-button matSuffix (click)="hideOld = !hideOld">
                  <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <label>
                  <input [formControl]="oldPassword" [tabIndex]="1" [type]="hideOld ? 'password': 'text'"
                         autocomplete="current-password" matInput required>
                </label>
                <mat-error [innerHTML]="'AUTH.CHANGE_PASSWORD.OLD_PASSWORD.REQUIRED' | translate"></mat-error>
              </mat-form-field>

              <app-password [tabIndex]="2" [formGroup]="passwordFormGroup" [label]="'AUTH.PASSWORD.FIELD'"
                            [confirmLabel]="'AUTH.CHANGE_PASSWORD.CONFIRM_PASSWORD'"></app-password>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button"
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
            <button [disabled]="form.invalid || passwordFormGroup.invalid"
                    [tabIndex]="4" color="primary" mat-fab extended class="icon-button" type="submit">
              {{ 'COMMON.BUTTON.SEND' | translate }}
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
