<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="60%" fxFlex.lt-sm="80%">
      <mat-card appearance="outlined" class="style-card">
        <mat-card-header>
          <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div cdkDropList class="sorting-item-list" (cdkDropListDropped)="drop($event)">
            <div class="sorting-item-box" *ngFor="let item of items" cdkDrag>
              <div class="sorting-item-placeholder" *cdkDragPlaceholder></div>
              {{item.order}} - {{item.name}}
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fxFlex></div>
          <button appBackButton color="accent" mat-fab extended class="icon-button"
                  type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          <button color="primary" mat-fab extended class="icon-button"
                  (click)="sort">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
