.internalMatGrid {
  height: 100%;
  width: 100%;
}

.mat-grid-tile-header {
  justify-content: center;
}

.header {
  text-align: center;
}

.grid-list-top {
  height: 100%;
  top: 49px !important;
}

.currency {
  float: right;
}


.result {
  padding: 5px 0;
  font-weight: bold;
  position: relative;
  margin-bottom: 8px;
}

.result:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0;
}
