<mat-card class="mini-dashboard-card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title class="card-text-color">
      {{card.name}}
    </mat-card-title>
    <mat-card-subtitle class="card-text-color">{{card.price | currency:'$':'symbol':'0.0' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content card-text-color">
    <div>{{card.description}}</div>
    <div class="divider"></div>
    <div *ngIf="card.duration" [innerHTML]="'CARD.PRODUCT.DURATION' | translate: {duration: time}"></div>
    <div *ngIf="card.durability"
         [innerHTML]="'CARD.PRODUCT.DURABILITY' | translate: {durability: card.durability}"></div>
  </mat-card-content>
</mat-card>
