<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ 'AUTH.SIGN_IN.TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="inner-container">
            <div id="firebaseui-auth-container"></div>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'AUTH.SIGN_IN.CODE.FIELD' | translate }}</mat-label>
              <label>
                <input [formControl]="codeForm" matInput autocomplete="one-time-code">
              </label>
            </mat-form-field>
          </div>
          <div class="link-container">
            <a type="button" [routerLink]="['/', language, 'auth', 'forgot-password']">{{ 'AUTH.SIGN_IN.FORGOT_PASSWORD' | translate }}</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
