<div *ngIf="!isLoading; else box" class="chartContainer">
  <div *ngIf="!error; else errorBox">
    <canvas [chartType]="lineChartType"
            [colors]="lineChartColors"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [legend]="lineChartLegend"
            [options]="lineChartOptions"
            [plugins]="lineChartPlugins"
            baseChart>
    </canvas>
  </div>
  <ng-template #errorBox>
    <app-error [error]="error" [isCard]="true"></app-error>
  </ng-template>
</div>
<ng-template #box>
  <div class="ssc-square mb"></div>
</ng-template>
