<form [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
  <mat-form-field class="margin-right-eight" appearance="outline">
    <mat-label>{{ 'ROOM.START.FIELD' | translate }}</mat-label>
    <input matInput name="start_time" [format]="24" [formControl]="getForm.start" [timepicker]="tStart" [max]="getForm.end.value"
           required readonly/>
    <span matPrefix><mat-icon (click)="tStart.open()" matPrefix>timer</mat-icon> &nbsp;</span>
    <app-timepicker [minutesGap]="15" #tStart></app-timepicker>
    @if (getForm.start.hasError('required')) {
      <mat-error [innerHTML]="'ROOM.START.REQUIRED' | translate"></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="margin-right-eight" appearance="outline">
    <mat-label>{{ 'ROOM.END.FIELD' | translate }}</mat-label>
    <input matInput name="end_time" [format]="24" [formControl]="getForm.end" [timepicker]="tEnd" [min]="getForm.start.value"
           readonly/>
    <span matPrefix><mat-icon (click)="tEnd.open()" matPrefix>timer</mat-icon> &nbsp;</span>
    <app-timepicker [minutesGap]="15" #tEnd></app-timepicker>
    @if (getForm.end.hasError('required')) {
      <mat-error [innerHTML]="'ROOM.END.REQUIRED' | translate"></mat-error>
    }
  </mat-form-field>
  <mat-checkbox (change)="checked = !checked" color="primary" [checked]="checked">
    {{ 'ROOM.LUNCH.CHECK' | translate }}
  </mat-checkbox>
  @if (checked) {
    <div>
      <div class="divider">
        <mat-label>{{ 'ROOM.LUNCH.FIELD' | translate }}</mat-label>
      </div>
      <mat-form-field class="margin-right-eight" appearance="outline">
        <mat-label>{{ 'ROOM.START.FIELD' | translate }}</mat-label>
        <input matInput name="lunch_start_time" [format]="24" [formControl]="getForm.startLunch" [timepicker]="tLunchStart"
               [min]="getForm.start.value" [max]="getForm.endLunch.value || ''" readonly/>
        <span matPrefix><mat-icon (click)="tLunchStart.open()" matPrefix>timer</mat-icon> &nbsp;</span>
        <app-timepicker [minutesGap]="15" #tLunchStart></app-timepicker>
      </mat-form-field>
      <mat-form-field class="margin-right-eight" appearance="outline">
        <mat-label>{{ 'ROOM.END.FIELD' | translate }}</mat-label>
        <input matInput name="lunch_end_time" [format]="24" [formControl]="getForm.endLunch" [timepicker]="tLunchEnd"
               [min]="getForm.startLunch.value || ''" [max]="getForm.end.value" readonly/>
        <span matPrefix><mat-icon (click)="tLunchEnd.open()" matPrefix>timer</mat-icon> &nbsp;</span>
        <app-timepicker [minutesGap]="15" #tLunchEnd></app-timepicker>
      </mat-form-field>
    </div>
  }
  <div class="card-actions">
    <div class="spacer"></div>
    <button (click)="ignore.emit()" color="accent" mat-button type="button">
      {{ 'COMMON.BUTTON.IGNORE' | translate }}
    </button>
    <button (click)="create()" [disabled]="form.invalid" color="primary" mat-button type="button">
      {{ 'COMMON.BUTTON.ADD' | translate }}
    </button>
  </div>
</form>
