<form
  [formGroup]="form"
  class="app-crud-view-grid"
  novalidate
  (keydown.enter)="$event.preventDefault()"
>
  <div class="availability-grid">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'ROOM.START.FIELD' | translate }}</mat-label>
      <input
        matInput
        name="start_time"
        [format]="24"
        [formControl]="getForm.start"
        [timepicker]="tStart"
        [max]="getForm.end.value"
        required
        readonly
      />
      <span matPrefix
        ><mat-icon (click)="tStart.open()" matPrefix>timer</mat-icon>
        &nbsp;</span
      >
      <app-timepicker [minutesGap]="15" #tStart></app-timepicker>
      @if (getForm.start.hasError('required')) {
        <mat-error [innerHTML]="'ROOM.START.REQUIRED' | translate"></mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'ROOM.END.FIELD' | translate }}</mat-label>
      <input
        matInput
        name="end_time"
        [format]="24"
        [formControl]="getForm.end"
        [timepicker]="tEnd"
        [min]="getForm.start.value"
        readonly
      />
      <span matPrefix
        ><mat-icon (click)="tEnd.open()" matPrefix>timer</mat-icon> &nbsp;</span
      >
      <app-timepicker [minutesGap]="15" #tEnd></app-timepicker>
      @if (getForm.end.hasError('required')) {
        <mat-error [innerHTML]="'ROOM.END.REQUIRED' | translate"></mat-error>
      }
    </mat-form-field>

    <mat-checkbox
      (change)="checked = !checked"
      class="availability-lunch-toggle"
      color="primary"
      [checked]="checked"
    >
      {{ 'ROOM.LUNCH.CHECK' | translate }}
    </mat-checkbox>
  </div>

  @if (checked) {
    <div class="availability-lunch app-surface-item">
      <div>
        <span class="app-surface-item__label">{{
          'ROOM.LUNCH.FIELD' | translate
        }}</span>
      </div>

      <div class="availability-grid availability-grid--lunch">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'ROOM.START.FIELD' | translate }}</mat-label>
          <input
            matInput
            name="lunch_start_time"
            [format]="24"
            [formControl]="getForm.startLunch"
            [timepicker]="tLunchStart"
            [min]="getForm.start.value"
            [max]="getForm.endLunch.value || ''"
            readonly
          />
          <span matPrefix
            ><mat-icon (click)="tLunchStart.open()" matPrefix>timer</mat-icon>
            &nbsp;</span
          >
          <app-timepicker [minutesGap]="15" #tLunchStart></app-timepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'ROOM.END.FIELD' | translate }}</mat-label>
          <input
            matInput
            name="lunch_end_time"
            [format]="24"
            [formControl]="getForm.endLunch"
            [timepicker]="tLunchEnd"
            [min]="getForm.startLunch.value || ''"
            [max]="getForm.end.value"
            readonly
          />
          <span matPrefix
            ><mat-icon (click)="tLunchEnd.open()" matPrefix>timer</mat-icon>
            &nbsp;</span
          >
          <app-timepicker [minutesGap]="15" #tLunchEnd></app-timepicker>
        </mat-form-field>
      </div>
    </div>
  }

  <div class="app-detail-actions availability-actions">
    <button (click)="ignore.emit()" mat-stroked-button type="button">
      <mat-icon>event_busy</mat-icon>
      <span>{{ 'COMMON.BUTTON.IGNORE' | translate }}</span>
    </button>
    <button
      (click)="create()"
      [disabled]="form.invalid"
      mat-stroked-button
      type="button"
    >
      <mat-icon>event_available</mat-icon>
      <span>{{ 'COMMON.BUTTON.ADD' | translate }}</span>
    </button>
  </div>
</form>
