<mat-card *ngIf="!error; else errorBox">
  <mat-card-content>
    <mat-grid-list [cols]="(isHandset$ | async) ? 1 : 3"  rowHeight="2:1">
      <mat-grid-tile *ngFor="let catalogue of catalogues; let i = index;">
        <cdk-drop-list [cdkDropListConnectedTo]="drops" [cdkDropListData]="i">
          <mat-icon (click)="edit(catalogue)" class="edit">edit</mat-icon>
          <mat-card (cdkDragEntered)="entered($event)" [cdkDragData]="i" cdkDrag
                    class="catalogue-card mat-elevation-z6">
            <img *ngIf="catalogue.id; else box" [alt]="catalogue.name" [matTooltip]="catalogue.name" [src]="'data:image/jpg;base64,'+catalogue.blob"
                 mat-card-sm-image
                 matTooltipPosition="above"/>
            <ng-template #box>
              <div class="ssc-square mb"></div>
            </ng-template>
          </mat-card>
        </cdk-drop-list>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            (click)="finish()">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
  </mat-card-actions>
</mat-card>

<button color="accent" id="add-button" mat-fab matTooltip="{{ 'CATALOGUE.ADD.TITLE' | translate }}"
        routerLink="/catalogue">
  <mat-icon>add</mat-icon>
</button>
<ng-template #errorBox>
  <app-error [error]="error"></app-error>
</ng-template>
