:host {
  display: block;
  height: auto;
  overflow: hidden;
  margin: 10px;

  mat-card {
    margin: 1em;
  }

  .catalogue-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  [cdkDragHandle] {
    float: left;
    font-size: 2em;
  }

  .cdk-drop-list {
    height: 100%;
    width: 100%;

    .wrapper {
      margin-left:auto;
      margin-right:auto;
      height:auto;
      width:auto;
    }

    .edit {
      float: left;
      cursor: pointer;
    }

    .delete {
      float: left;
      clear: left;
      cursor: pointer;
    }
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-placeholder {
    opacity: 0.5;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    opacity: 0.5;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}
