<p>color-detail works!</p>
<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ 'COLOR.DETAIL' | translate }}</mat-card-title>
          <mat-card-subtitle *ngIf="color; else skeleton">{{color.name}}</mat-card-subtitle>
          <ng-template #skeleton>
            <div class="ssc-line"></div>
          </ng-template>
        </mat-card-header>
        <form (ngSubmit)="update" [formGroup]="form" novalidate>
          <mat-card-content *ngIf="color; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'COLOR.NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="name" autocomplete="name" matInput required>
                </label>
                <mat-error *ngIf="name.hasError('required')" [innerHTML]="'COLOR.NAME.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['name']">
                  {{errors['name']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'COLOR.DESCRIPTION.FIELD' | translate }}</mat-label>
                <label>
                  <textarea #message formControlName="description" matInput maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="color; else buttonSkeleton">
            <div fxFlex></div>
            <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button"
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
            <button [disabled]="form.invalid || form.pristine" color="primary" mat-fab extended class="icon-button"
                    type="submit">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </form>
      </mat-card>
    </div>
  </div>
</div>
