<div class="fab-menu" [class.open]="menuOpen">
  <button mat-stroked-button (click)="toggleMenu()" class="fab-trigger" type="button">
    <mat-icon>all_out</mat-icon>
    <span>Actions</span>
  </button>
  @if (menuOpen) {
    @let menus = fabMenus();
    <div class="menu-items">
      @for (item of menus; track item.icon; let i = $index) {
        <button mat-stroked-button class="menu-item-enter menu-item" [style.--fab-item-delay]="(i * 100) + 'ms'"
                (click)="handleMenuItemClick(item)" [color]="item.color" type="button">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.name }}</span>
        </button>
      }
    </div>
  }
</div>
