<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="code" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let currency; let i = index;" mat-cell>
        <div *ngIf="currency.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'CURRENCY.LIST.COLUMN.CODE' | translate }}</th>
      <td *matCellDef="let currency" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="currency.id; else skeleton">{{currency.code}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'COMMON.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let currency" mat-cell>
        <div *ngIf="currency.id; else skeleton">{{currency.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let currency" mat-cell>
        <div *ngIf="currency.id; else skeleton">
          <button (click)="edit(currency)" *ngIf="!currency.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button (click)="delete(currency)" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}" matTooltipPosition="right">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'CURRENCY.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'CURRENCY.TITLE' | translate }}"
          routerLink="/currency/add">
    <mat-icon>add</mat-icon>
  </button>
</div>
