<div class="app-surface-canvas app-surface-shell app-surface-stack">
  <section class="app-surface-section">
    <div class="app-detail-section-header">
      <div>
        <span class="app-surface-eyebrow">{{ 'COMMON.SEARCH.TITLE' | translate }}</span>
      </div>
    </div>

    <div class="app-surface-filter-grid">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'COMMON.LABEL.FILTER' | translate }}</mat-label>
        <label>
          <input [formControl]="getForm.filter" autocomplete="off" matInput type="text">
        </label>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'COMMON.LABEL.MONTHLY.DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="getForm.date" (keydown)="keyDownHandler($event)"
               readonly (click)="dp.open()">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="year" (monthSelected)="setMonthAndYear($event, dp)" touchUi>
        </mat-datepicker>
      </mat-form-field>
    </div>
  </section>

  <section class="app-surface-section">
    <div class="mat-elevation-z8 app-table-shell">
      @let resultsLength = resultsLengthSignal();
      @let pageSize = pageSizeSignal();
      @if (dataSourceSignal(); as dataSource) {
        <table [dataSource]="dataSource" mat-table matSort matSortActive="timestamp" matSortDirection="desc"
               matSortDisableClear multiTemplateDataRows>
          <ng-container matColumnDef="position">
            <th *matHeaderCellDef mat-header-cell>#</th>
            <td *matCellDef="let expense; let i = dataIndex;" mat-cell>
              @if (expense.id) {
                <div>{{ (paginatorPageIndex() * pageSize) + i + 1 }}</div>
              } @else {
                <div class="ssc-line"></div>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="timestamp">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'EXPENSE.LIST.COLUMN.DATE' | translate }}</th>
            <td *matCellDef="let expense" mat-cell>
              @if (expense.id) {
                <div>{{ expense.timestamp | timeDetail | date:'mediumDate':expense.room.timeZone:dateFormat }}</div>
                @if (showTimeZone(expense)) {
                  <button (click)="openDialog(expense)" mat-icon-button type="button">
                    <mat-icon>info_outline</mat-icon>
                  </button>
                }
              } @else {
                <div class="ssc-line"></div>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="invoice">
            <th *matHeaderCellDef mat-header-cell class="app-surface-hide-mobile"
                mat-sort-header>{{ 'EXPENSE.LIST.COLUMN.INVOICE' | translate }}
            </th>
            <td *matCellDef="let expense" class="app-surface-hide-mobile" mat-cell>
              @if (expense.id) {
                <div>{{ expense.invoice }}</div>
              } @else {
                <div class="ssc-line"></div>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="supplyStore.name">
            <th *matHeaderCellDef mat-header-cell class="app-surface-hide-mobile"
                mat-sort-header>{{ 'EXPENSE.LIST.COLUMN.SUPPLY_STORE' | translate }}
            </th>
            <td *matCellDef="let expense" class="app-surface-hide-mobile" mat-cell>
              @if (expense.id) {
                <div>{{ expense.supplyStore.name }}</div>
              } @else {
                <div class="ssc-line"></div>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="totalGross">
            <th *matHeaderCellDef class="app-surface-hide-mobile" mat-header-cell
                mat-sort-header>{{ 'EXPENSE.LIST.COLUMN.GROSS' | translate }}
            </th>
            <td *matCellDef="let expense" class="app-surface-hide-mobile" mat-cell>
              @if (expense.id) {
                <mat-list-item>
                  <mat-icon matListItemIcon>{{ expense.room.currency.icon }}</mat-icon>
                  <div matListItemTitle>{{ expense.totalGross | number:'1.2-2' }}</div>
                </mat-list-item>
              } @else {
                <div class="ssc-line"></div>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="totalBtw">
            <th *matHeaderCellDef class="app-surface-hide-mobile" mat-header-cell
                mat-sort-header>{{ 'EXPENSE.LIST.COLUMN.BTW' | translate }}
            </th>
            <td *matCellDef="let expense" class="app-surface-hide-mobile" mat-cell>
              @if (expense.id) {
                <mat-list-item>
                  <mat-icon matListItemIcon>{{ expense.room.currency.icon }}</mat-icon>
                  <div matListItemTitle>{{ (expense.totalGross - expense.totalNet) | number:'1.2-2' }}</div>
                </mat-list-item>
              } @else {
                <div class="ssc-line"></div>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="totalNet">
            <th *matHeaderCellDef mat-header-cell>{{ 'EXPENSE.LIST.COLUMN.NET' | translate }}</th>
            <td *matCellDef="let expense" mat-cell>
              @if (expense.id) {
                <mat-list-item>
                  <mat-icon matListItemIcon>{{ expense.room.currency.icon }}</mat-icon>
                  <div matListItemTitle>{{ expense.totalNet | number:'1.2-2' }}</div>
                </mat-list-item>
              } @else {
                <div class="ssc-line"></div>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell>
              <span class="app-surface-hide-mobile">{{ 'COMMON.COLUMN.ACTIONS' | translate }}</span>
              <button [routerLink]="['/', language, 'rooms', roomIdSignal(), 'expenses', 'add']" mat-icon-button
                      id="add-button"
                      matTooltip="{{ 'EXPENSE.TITLE' | translate }}" matTooltipPosition="right" type="button">
                <mat-icon color="primary">add_shopping_cart</mat-icon>
              </button>
            </th>
            <td *matCellDef="let expense" class="app-surface-hide-mobile" mat-cell>
              @if (expense.id) {
                @if (!expense.deleted) {
                  <button [routerLink]="['/', language, 'rooms', roomIdSignal(), 'expenses', expense.id]"
                          mat-icon-button
                          matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
                    <mat-icon color="primary">edit</mat-icon>
                  </button>
                  @if (expense.document && googleDriveUploadFile) {
                    <button (click)="download(expense.document)" mat-icon-button
                            matTooltip="{{ 'COMMON.BUTTON.DOWNLOAD' | translate }}" matTooltipPosition="left">
                      <mat-icon color="accent">file_download</mat-icon>
                    </button>
                  }
                  <button (click)="delete(expense)" mat-icon-button
                          matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}"
                          matTooltipPosition="right">
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                }
              } @else {
                <div class="ssc-line"></div>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td *matCellDef="let expense" [attr.colspan]="displayedColumns.length">
              <div [class.detail-expanded]="expense === expanded" class="detail">
                <mat-list class="app-surface-hide-desktop">
                  <mat-list-item role="list">
                    <div matListItemTitle>{{ 'EXPENSE.LIST.COLUMN.INVOICE' | translate }}</div>
                    <div matListItemLine>{{ expense.invoice }}</div>
                  </mat-list-item>
                  <mat-list-item role="list">
                    <div matListItemTitle>{{ 'EXPENSE.LIST.COLUMN.SUPPLY_STORE' | translate }}</div>
                    <div matListItemLine>{{ expense.supplyStore?.name }}</div>
                  </mat-list-item>
                </mat-list>
                @if (expense.id) {
                  <mat-list>
                    <mat-list-item role="list">
                      <div matListItemTitle>{{ 'EXPENSE.LIST.COLUMN.GROSS' | translate }}</div>
                      <div matListItemLine>{{ expense.totalGross | number:'1.2-2' }}</div>
                      <div matListItemLine>
                        {{ expense.room.currency | currencySymbol }}
                        {{ expense.totalGross | number:'1.2-2' }}
                      </div>
                    </mat-list-item>
                    <mat-list-item role="list">
                      <div matListItemTitle>{{ 'EXPENSE.LIST.COLUMN.BTW' | translate }}</div>
                      <div matListItemLine>
                        {{ expense.room.currency | currencySymbol }}
                        {{ (expense.totalGross - expense.totalNet) | number:'1.2-2' }}
                      </div>
                    </mat-list-item>
                    <mat-list-item role="list">
                      <div matListItemTitle>{{ 'EXPENSE.LIST.COLUMN.NET' | translate }}</div>
                      <div matListItemLine>
                        {{ expense.room.currency | currencySymbol }}
                        {{ expense.totalNet | number:'1.2-2' }}
                      </div>
                    </mat-list-item>
                  </mat-list>
                }
                <mat-list class="app-surface-hide-desktop">
                  <div mat-subheader>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</div>
                  <mat-list-item role="list">
                    @if (!expense.deleted) {
                      <button (click)="edit(expense)" mat-icon-button color="primary"
                              matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
                        <mat-icon matListItemIcon>edit</mat-icon>
                      </button>
                      <button (click)="delete(expense)" color="warn" mat-icon-button>
                        <mat-icon matListItemIcon>delete</mat-icon>
                      </button>
                    }
                  </mat-list-item>
                </mat-list>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="noContent">
            <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
              {{ 'EXPENSE.LIST.ERROR.NO_CONTENT' | translate }}
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr (click)="expanded = expanded === expense ? null : expense"
              *matRowDef="let expense; columns: displayedColumns;" class="app-table-master-row" mat-row></tr>
          <tr *matRowDef="let row; columns: ['expandedDetail']"
              [class.app-table-detail-row--expanded]="row === expanded"
              class="app-table-detail-row"
              mat-row></tr>

          <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>
        </table>
        @if (resultsLength) {
          <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
        }
      }
    </div>
  </section>
</div>
