<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <form (ngSubmit)="create" [formGroup]="form" novalidate>
        <mat-card class="style-card">
          <mat-card-header>
            <mat-card-title>{{ 'ROOM.TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <div *ngIf="currencies; else skeleton" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="fill">
                  <mat-label>{{ 'COMMON.CURRENCY.FIELD' | translate }}</mat-label>
                  <label>
                    <input (keydown)="keyDownHandler($event, currency)" [formControl]="currency"
                           [matAutocomplete]="auto" matInput required type="text">
                  </label>
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCurrencyFn">
                    <mat-option *ngFor="let currency of filteredCurrencyOptions | async" [value]="currency">
                      {{currency.code}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="currency.hasError('required')"
                             [innerHTML]="'COMMON.CURRENCY.REQUIRED' | translate">
                  </mat-error>
                  <mat-error *ngIf="currency.hasError('requireMatch')"
                             [innerHTML]="'COMMON.CURRENCY.INVALID' | translate">
                  </mat-error>
                  <mat-error *ngIf="errors['currency']">
                    {{errors['currency']}}
                  </mat-error>
                </mat-form-field>
                <button (click)="addCurrency()" color="accent" mat-raised-button>
                  <mat-icon matPrefix>add_card</mat-icon>
                  <span fxHide.lt-sm fxShow>{{ 'COMMON.CURRENCY.ADD_BUTTON' | translate }}</span>
                </button>
              </div>
              <div *ngIf="offices; else skeleton" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="fill">
                  <mat-label>{{ 'ROOM.OFFICE.FIELD' | translate }}</mat-label>
                  <label>
                    <input (keydown)="keyDownHandler($event, office)" [formControl]="office" [matAutocomplete]="auto"
                           matInput required type="text">
                  </label>
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOfficeFn">
                    <mat-option *ngFor="let office of filteredOfficeOptions | async" [value]="office">
                      {{office.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="office.hasError('required')"
                             [innerHTML]="'ROOM.OFFICE.REQUIRED' | translate">
                  </mat-error>
                  <mat-error *ngIf="office.hasError('requireMatch')"
                             [innerHTML]="'ROOM.OFFICE.INVALID' | translate">
                  </mat-error>
                  <mat-error *ngIf="errors['office']">
                    {{errors['office']}}
                  </mat-error>
                </mat-form-field>
                <button (click)="addOffice()" color="accent" mat-raised-button>
                  <mat-icon matPrefix>add_business</mat-icon>
                  <span fxHide.lt-sm fxShow>{{ 'ROOM.OFFICE.ADD_BUTTON' | translate }}</span>
                </button>
              </div>
              <div *ngIf="professionals; else skeleton" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="fill">
                  <mat-label>{{ 'ROOM.PROFESSIONAL.FIELD' | translate }}</mat-label>
                  <label>
                    <input (keydown)="keyDownHandler($event, professional)" [formControl]="professional"
                           [matAutocomplete]="auto" matInput required type="text">
                  </label>
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let professional of filteredOptions | async" [value]="professional">
                      {{getProfessional(professional)}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="professional.hasError('required')"
                             [innerHTML]="'ROOM.PROFESSIONAL.REQUIRED' | translate">
                  </mat-error>
                  <mat-error *ngIf="professional.hasError('requireMatch')"
                             [innerHTML]="'ROOM.PROFESSIONAL.INVALID' | translate">
                  </mat-error>
                  <mat-error *ngIf="errors['professional']">
                    {{errors['professional']}}
                  </mat-error>
                </mat-form-field>
                <button (click)="addProfessional()" color="accent" mat-raised-button>
                  <mat-icon matPrefix>person_add_alt_1</mat-icon>
                  <span fxHide.lt-sm fxShow>{{ 'ROOM.PROFESSIONAL.ADD_BUTTON' | translate }}</span>
                </button>
              </div>
              <ng-template #skeleton>
                <div class="ssc-line"></div>
              </ng-template>
              <mat-list>
                <mat-list-item>
                  <div mat-subheader>{{ 'ROOM.PAYMENT_OPTION' | translate }}</div>
                  <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item>
                  <mat-selection-list #paymentType (selectionChange)="onChange(paymentType.selectedOptions.selected)">
                    <mat-list-option *ngFor="let option of paymentOptions" [disabled]="option.disabled"
                                     [selected]="isSelected(option)" [value]="option.name" color="primary" mat-line>
                      <div mat-line>{{option.name}}</div>
                    </mat-list-option>
                  </mat-selection-list>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
              <mat-accordion class="divider headers-align" multi>
                <mat-expansion-panel (opened)="setStep(0)" [expanded]="step === 0" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ 'ROOM.WEEK_TIME.FIELD' | translate }}
                    </mat-panel-title>
                    <mat-panel-description fxHide.lt-sm fxShow>
                      {{ 'ROOM.WEEK_TIME.DESCRIPTION' | translate }}
                      <mat-icon>{{icons.week}}</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-availability (availability)="addAvailability($event, 1)" (ignore)="ignore('WEEK', 1)"
                                    [day]="'WEEK'"></app-availability>
                  <mat-error *ngIf="errors['day0']">
                    {{ 'ROOM.WEEK_TIME.REQUIRED' | translate }}
                  </mat-error>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(1)" [expanded]="step === 1" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ 'ROOM.SATURDAY_TIME.FIELD' | translate }}
                    </mat-panel-title>
                    <mat-panel-description fxHide.lt-sm fxShow>
                      {{ 'ROOM.SATURDAY_TIME.DESCRIPTION' | translate }}
                      <mat-icon>{{icons.saturday}}</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-availability (availability)="addAvailability($event, 2)" (ignore)="ignore('SATURDAY', 2)"
                                    [day]="'SATURDAY'"></app-availability>
                  <mat-error *ngIf="errors['day1']">
                    {{ 'ROOM.SATURDAY_TIME.REQUIRED' | translate }}
                  </mat-error>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="setStep(2)" [expanded]="step === 2" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ 'ROOM.SUNDAY_TIME.FIELD' | translate }}
                    </mat-panel-title>
                    <mat-panel-description fxHide.lt-sm fxShow>
                      {{ 'ROOM.SUNDAY_TIME.DESCRIPTION' | translate }}
                      <mat-icon>{{icons.sunday}}</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-availability (availability)="addAvailability($event, 3)" (ignore)="ignore('SUNDAY', 3)"
                                    [day]="'SUNDAY'"></app-availability>
                  <mat-error *ngIf="errors['day2']">
                    {{ 'ROOM.SUNDAY_TIME.REQUIRED' | translate }}
                  </mat-error>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-error *ngIf="errors['availability']" [innerHTML]="'ROOM.AVAILABILITY.REQUIRED' | translate"
                         class="divider"></mat-error>
              <app-google-map [addressFormGroup]="form"></app-google-map>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button [disabled]="form.invalid" color="primary" mat-raised-button
                    type="submit">{{ 'COMMON.BUTTON.CREATE' | translate }}</button>
            <button [form]="form" appBackButton color="accent" mat-raised-button
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
