@if (!file() && !(isImage() && file()?.image)) {
  <div (fileDropped)="onFileDropped($event)" appDragDrop
       class="container hide-xs">
    <input #fileDropRef (change)="fileBrowseHandler($event.target)" [multiple]="false" id="fileDropRef"
           type="file" [accept]="accept()"/>
    @if (isImage()) {
      <canvas #canvas></canvas>
    }
    <img class="file-drop-icon" src="assets/file-drop.svg" alt="Upload">

    <h3 class="file-text">{{ 'COMMON.FILE.DRAG_DROP' | translate }}</h3>
    <h3 class="file-text">{{ 'COMMON.FILE.OR' | translate }}</h3>
    <button (click)="fileDropRef.click()" color="accent" mat-fab extended class="icon-button"
            type="button">{{ 'COMMON.FILE.CHOOSE' | translate }}
    </button>
  </div>
}

<div class="hide-gt-xs">
  <button (click)="fileInput.click()" color="accent" mat-fab extended class="icon-button"
          type="button">{{ 'COMMON.FILE.CHOOSE' | translate }}
  </button>
  <input #fileInput (change)="fileBrowseHandler($event.target)" [multiple]="false" hidden id="file" type="file"
         [accept]="accept()">
  @if (isImage()) {
    <canvas #canvasXs></canvas>
  }
</div>

@if (file(); as currentFile) {
  <mat-card appearance="outlined" class="divider">
    <mat-card-header>
      @if (isImage()) {
        <mat-icon class="icon-display" mat-card-avatar>image</mat-icon>
      }
      <mat-card-title-group>
        <mat-card-title style="margin-left: 20px;">{{ fileName() || currentFile.name }}</mat-card-title>
        @if (currentFile.size) {
          <mat-card-subtitle> {{ formatBytes(currentFile.size, 0) }}</mat-card-subtitle>
        }
      </mat-card-title-group>
      <div class="spacer"></div>
      <button (click)="delete()" color="warn" mat-icon-button type="button">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar [value]="currentFile.progress" [mode]="'determinate'"></mat-progress-bar>
      @if (animate()) {
        <div>
          <div class="spacer"></div>
          {{ currentFile.progress / 100 | percent }}
        </div>
      }
    </mat-card-content>
  </mat-card>
}
@if (file()?.image) {
  <div class="divider">
    <div class="container">
      <img [alt]="file()?.name" [src]="file()?.image" mat-card-image>
    </div>
  </div>
}
