<button [mat-dialog-close]="true" class="close-button" mat-icon-button>
  <mat-icon class="close-icon">close</mat-icon>
</button>
<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <div *ngIf="data.chart.dataSet">
    <canvas [chartType]="data.chart.type" [colors]="data.chart.colors"
            [datasets]="data.chart.dataSet"
            [labels]="data.chart.labels"
            [legend]="true"
            [options]="data.chart.options"
            baseChart class="block">
    </canvas>
  </div>
  <div *ngIf="data.chart.data">
    <canvas [chartType]="data.chart.type" [colors]="data.chart.colors"
            [data]="data.chart.data"
            [labels]="data.chart.labels"
            [legend]="true"
            [options]="data.chart.options"
            baseChart class="display: block">
    </canvas>
  </div>
</div>
