<mat-card appearance="outlined" class="dashboard-card">
  @if (title) {
    <mat-card-header>
      <mat-card-title>
        {{ title }}
        @if (title && expand) {
          <button mat-icon-button class="more-button" (click)="onClick()">
            <mat-icon>zoom_out_map</mat-icon>
          </button>
        }
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <ng-content></ng-content>
    </mat-card-content>
  } @else {
    <div class="card-margin ssc-head-line"></div>
    <div style="margin: auto; width: 90%" class="ssc-square mb"></div>
  }
</mat-card>
