<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="name" matSortDirection="asc" matSortDisableClear
         multiTemplateDataRows>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let discount; let i = dataIndex;" mat-cell>
        <div *ngIf="discount.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'COMMON.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let discount" mat-cell>
        <div *ngIf="discount.id; else skeleton">{{discount.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}</th>
      <td *matCellDef="let discount" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="discount.id; else skeleton">{{discount.description}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'COMMON.COLUMN.TYPE' | translate }}</th>
      <td *matCellDef="let discount" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="discount.id; else skeleton">{{ 'COMMON.DISCOUNT.' + discount.type | translate}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'DISCOUNT.LIST.COLUMN.AMOUNT' | translate }}</th>
      <td *matCellDef="let discount" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="discount.id; else skeleton">
          <mat-icon *ngIf="discount.currency" matPrefix>{{discount.currency.icon}}</mat-icon>&nbsp;
          {{discount.amount}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let discount" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="discount.id; else skeleton">
          <button (click)="edit(discount)" *ngIf="!discount.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button (click)="sentToUsers(discount)" *ngIf="!discount.referral" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DISCOUNT.SEND' | translate }}" matTooltipPosition="right">
            <mat-icon color="primary">switch_access_shortcut_add</mat-icon>
          </button>
          <button (click)="delete(discount)" *ngIf="!discount.referral" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}" matTooltipPosition="right">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let discount" [attr.colspan]="displayedColumns.length" fxHide fxShow.lt-sm>
        <div [@detailExpand]="discount === expanded ? 'expanded' : 'collapsed'" class="detail" fxHide fxShow.lt-sm>
          <mat-list>
            <div mat-subheader>{{ 'COMMON.COLUMN.TYPE' | translate }}</div>
            <mat-list-item role="list">
              <div mat-line>{{ 'COMMON.DISCOUNT.' + discount.type | translate}}</div>
            </mat-list-item>
            <div mat-subheader>{{ 'COMMON.COLUMN.AMOUNT' | translate }}</div>
            <mat-list-item role="list">
              <mat-icon *ngIf="discount.currency" matListItemIcon>{{discount.currency.icon}}</mat-icon>
              <div mat-line>{{discount.amount}}</div>
            </mat-list-item>
            <div mat-subheader>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</div>
            <mat-list-item role="list">
              <button (click)="edit(discount)" *ngIf="!discount.deleted" color="primary" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="sentToUsers(discount)" *ngIf="!discount.referral" color="primary" mat-icon-button>
                <mat-icon>switch_access_shortcut_add</mat-icon>
              </button>
              <button (click)="delete(discount)" *ngIf="!discount.referral" color="warn" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'DISCOUNT.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="expanded = expanded === discount ? null : discount"
        *matRowDef="let discount; columns: displayedColumns;" class="row" mat-row></tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'DISCOUNT.TITLE' | translate }}"
          routerLink="/discounts/add">
    <mat-icon>add</mat-icon>
  </button>
</div>
