<script src="../../polyfills.ts"></script>
<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="card-container">
    <div fxFlex.lt-sm="80%" fxFlex="50%" fxFlex.gt-lg="40%">
      <mat-card>
        <mat-tab-group>
          <mat-tab label="{{ 'AUTH.SIGN_IN.TITLE' | translate }}">
            <mat-card-content>
              <form (ngSubmit)="signIn()" [formGroup]="form" novalidate>
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                  <mat-form-field>
                    <mat-label>{{ 'AUTH.SIGN_IN.USERNAME.FIELD' | translate }}</mat-label>
                    <input matInput required formControlName="username" autocomplete="username">
                    <mat-error>
                      {{ 'AUTH.SIGN_IN.USERNAME.ERROR' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>{{ 'AUTH.SIGN_IN.PASSWORD.FIELD' | translate }}</mat-label>
                    <input matInput required type="password" autocomplete="current-password" formControlName="password">
                    <mat-error>
                      {{ 'AUTH.SIGN_IN.USERNAME.ERROR' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <button mat-raised-button color="accent" [disabled]="form.invalid"
                          type="submit">{{ 'AUTH.SIGN_IN.TITLE' | translate }}</button>
                </div>
              </form>
              <div fxLayout="column" fxLayoutAlign="space-evenly center">
                <br>
                <b>{{ 'AUTH.SIGN_IN.OR' | translate }}</b>
                <br>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                <button mat-button (click)="socialSignIn('google')">
                  <img width="15px" style="margin-bottom:3px; margin-right:5px" alt="Google login"
                       src="https://developers.google.com/identity/images/g-logo.png"/>
                  Google
                </button>
                <button mat-button color="success" (click)="socialSignIn('facebook')">Facebook</button>
              </div>
            </mat-card-content>
          </mat-tab>
          <mat-tab label="{{ 'AUTH.SIGN_UP.TITLE' | translate }}">
            <mat-card-content>
              <app-sign-up></app-sign-up>
              <div fxLayout="column" fxLayoutAlign="space-evenly center">
                <br>
                <b>{{ 'AUTH.SIGN_UP.OR' | translate }}</b>
                <br>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                <button mat-button (click)="socialSignIn('google')">
                  <img width="15px" style="margin-bottom:3px; margin-right:5px" alt="Google login"
                       src="https://developers.google.com/identity/images/g-logo.png"/>
                  Google
                </button>
                <button mat-button color="success" (click)="socialSignIn('facebook')">Facebook</button>
              </div>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
