<ng-template #stepOne>
  <form [formGroup]="roomForm">
    <div *ngIf="!offices?.length; else data" class="no-content bold">
      {{'ME.RESERVATION.ROOM.NO_CONTENT' | translate}}
    </div>
    <ng-template #data>
      <div fxLayout="column" fxLayoutAlign="space-evenly start">
        <mat-form-field *ngIf="offices; else skeleton" appearance="outline">
          <mat-label>{{ 'COMMON.ROOM.OFFICE.FIELD' | translate }}</mat-label>
          <label>
            <input (keydown)="keyDownOffice($event)" [formControl]="office" [matAutocomplete]="autoOffice"
                   matInput required type="text">
          </label>
          <mat-autocomplete #autoOffice="matAutocomplete" [displayWith]="displayFnOffice">
            <mat-option *ngFor="let office of filteredOffice | async " [value]="office">
              {{office.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="office.hasError('required')"
                     [innerHTML]="'COMMON.ROOM.OFFICE.REQUIRED' | translate">
          </mat-error>
          <mat-error *ngIf="office.hasError('requireMatch')"
                     [innerHTML]="'COMMON.ROOM.OFFICE.INVALID' | translate">
          </mat-error>
          <mat-error *ngIf="errors['office']">
            {{errors['office']}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="roomList" appearance="outline">
          <mat-label>{{ 'COMMON.ROOM.FIELD' | translate }}</mat-label>
          <label>
            <input (keydown)="keyDownHandler($event, room)" [formControl]="room" [matAutocomplete]="autoRoom" matInput
                   required type="text">
          </label>
          <mat-autocomplete #autoRoom="matAutocomplete" [displayWith]="displayFnRoom">
            <mat-option *ngFor="let room of filteredRoom | async" [value]="room">
              {{room | roomName}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="room.hasError('required')"
                     [innerHTML]="'COMMON.ROOM.REQUIRED' | translate">
          </mat-error>
          <mat-error *ngIf="room.hasError('requireMatch')"
                     [innerHTML]="'COMMON.ROOM.INVALID' | translate">
          </mat-error>
          <mat-error *ngIf="errors['room']">
            {{errors['room']}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="professionalList" appearance="outline">
          <mat-label>{{ 'COMMON.PROFESSIONAL.FIELD' | translate }}</mat-label>
          <label>
            <input (keydown)="keyDownHandler($event, professional)" [formControl]="professional"
                   [matAutocomplete]="autoProfessional" matInput required type="text">
          </label>
          <mat-autocomplete #autoProfessional="matAutocomplete" [displayWith]="displayFnProfessional">
            <mat-option *ngFor="let professional of filteredProfessional | async" [value]="professional">
              {{professional | userName}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="professional.hasError('required')"
                     [innerHTML]="'COMMON.PROFESSIONAL.REQUIRED' | translate">
          </mat-error>
          <mat-error *ngIf="professional.hasError('requireMatch')"
                     [innerHTML]="'COMMON.PROFESSIONAL.INVALID' | translate">
          </mat-error>
          <mat-error *ngIf="errors['professional']">
            {{errors['professional']}}
          </mat-error>
        </mat-form-field>
      </div>
    </ng-template>
    <ng-template #skeleton>
      <div class="ssc-line"></div>
    </ng-template>
  </form>
</ng-template>

<ng-template #stepTwo>
  <form [formGroup]="productForm">
    <div *ngIf="!groups?.length; else data" class="no-content bold">
      {{'ME.RESERVATION.PRODUCT.NO_CONTENT' | translate}}
    </div>
    <ng-template #data>
      <div fxLayout="column" fxLayoutAlign="space-evenly start">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'ME.RESERVATION.DATE.FIELD' | translate }}</mat-label>
          <label>
            <input (focus)="picker.open()" [formControl]="startDate" [matDatepickerFilter]="myFilter"
                   [matDatepicker]="picker" [max]="maxDate" [min]="minDate"
                   matInput required>
          </label>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi></mat-datepicker>
          <mat-error *ngIf="startDate.hasError('required')"
                     [innerHTML]="'ME.RESERVATION.DATE.REQUIRED' | translate">
          </mat-error>
          <mat-error *ngIf="startDate.hasError('matDatepickerMin')"
                     [innerHTML]="'ME.RESERVATION.DATE.GREATER' | translate">
          </mat-error>
          <mat-error *ngIf="startDate.hasError('matDatepickerMax')"
                     [innerHTML]="'ME.RESERVATION.DATE.LESS' | translate: {maxDate: maxDateFormat}">
          </mat-error>
          <mat-error *ngIf="errors['startDate']">
            {{errors['startDate']}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="groups; else skeleton" appearance="outline">
          <mat-label>{{ 'COMMON.PRODUCT.GROUP.FIELD' | translate }}</mat-label>
          <label>
            <input (keydown)="keyDownGroup($event)" [formControl]="group" [matAutocomplete]="autoGroup"
                   matInput required type="text">
          </label>
          <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFnGroup">
            <mat-option *ngFor="let group of filteredGroup | async | sortBy: 'asc':'name'" [value]="group">
              {{group.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="group.hasError('required')"
                     [innerHTML]="'COMMON.PRODUCT.GROUP.REQUIRED' | translate">
          </mat-error>
          <mat-error *ngIf="group.hasError('requireMatch')"
                     [innerHTML]="'COMMON.PRODUCT.GROUP.INVALID' | translate">
          </mat-error>
          <mat-error *ngIf="errors['group']">
            {{errors['group']}}
          </mat-error>
        </mat-form-field>
        <div>
          <mat-form-field *ngIf="productList" appearance="outline">
            <mat-label>{{ 'COMMON.PRODUCT.FIELD' | translate }}</mat-label>
            <label>
              <input (keydown)="keyDownHandler($event, product)" [formControl]="product" [matAutocomplete]="autoProduct"
                     matInput required type="text">
            </label>
            <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayFnProduct">
              <mat-option *ngFor="let product of filteredProduct | async | sortBy:'asc':'name'" [value]="product">
                {{product.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>home_repair_service</mat-icon>

            <mat-error *ngIf="product.hasError('required')"
                       [innerHTML]="'COMMON.PRODUCT.REQUIRED' | translate">
            </mat-error>
            <mat-error *ngIf="product.hasError('requireMatch')"
                       [innerHTML]="'COMMON.PRODUCT.INVALID' | translate">
            </mat-error>
            <mat-error *ngIf="errors['product']">
              {{errors['product']}}
            </mat-error>
          </mat-form-field>
          <button (click)="showDiscount = !showDiscount" *ngIf="product.value && !isEditing && discounts?.length"
                  class="raised-button" mat-fab extended type="button">
            {{ 'COMMON.BUTTON.DISCOUNT.' + (showDiscount ? 'HIDE' : 'SHOW') | translate }}
            <mat-icon>redeem</mat-icon>
          </button>
        </div>
        <mat-form-field *ngIf="product.value && showDiscount && !isEditing" appearance="outline">
          <mat-label>{{ 'ME.RESERVATION.PRODUCT.DISCOUNT.FIELD' | translate }}</mat-label>
          <mat-select [formControl]="discount">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let cd of discounts" [value]="cd.id">{{cd.title}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-list-item *ngIf="product.value">
          <mat-icon matListItemIcon>home_repair_service</mat-icon>
          <div class="bold" mat-subheader>{{ 'ME.RESERVATION.PRODUCT.DETAIL' | translate}}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="product.value">
          <div *ngIf="product.value.description" [innerHTML]="'ME.RESERVATION.PRODUCT.COMPLETE.DESCRIPTION' |
                  translate: {description: product.value.description}"
               mat-line>
          </div>
          <div *ngIf="!isEditing; else editing" mat-line>
            <span [innerHTML]="'ME.RESERVATION.PRODUCT.COMPLETE.PRICE' | translate"></span>
            <span [class.strikethrough]="discount.value"
                  class="raised-button">{{room.value.currency | currencySymbol}} {{product.value.price | number:'1.2-2'}}</span>
            <span *ngIf="price.priceWithDiscount" [@discountAnimation]
                  class="raised-button bold">{{room.value.currency | currencySymbol}} {{price.priceWithDiscount | number:'1.2-2'}}</span>
          </div>
          <ng-template #editing>
            <span [innerHTML]="'ME.RESERVATION.PRODUCT.COMPLETE.PRICE' | translate"></span>
            <span
              class="raised-button">{{room.value.currency | currencySymbol}} {{(price.priceWithDiscount ? price.priceWithDiscount : product.value.price) | number:'1.2-2'}}</span>
            <span *ngIf="price.priceWithDiscount"
                  class="raised-button bold">{{'ME.RESERVATION.PRODUCT.DISCOUNT.ADD' | translate}}</span>
          </ng-template>
          <div [innerHTML]="'ME.RESERVATION.PRODUCT.COMPLETE.DURATION' |
                  translate: {duration: product.value.duration | durationTime}" mat-line>
          </div>
          <div *ngIf="durability" [innerHTML]="durability" mat-line></div>
        </mat-list-item>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </div>
    </ng-template>
  </form>
</ng-template>

<ng-template #stepThree>
  <div *ngIf="additionalList; else skeleton">
    <mat-selection-list #additional (selectionChange)="onChange(additional.selectedOptions.selected)" class="app-class">
      <mat-divider></mat-divider>
      <mat-list-option *ngFor="let it of additionalList" [selected]="isSelected(it)" [value]="it"
                       checkboxPosition="before">
        <div mat-subheader>{{it.name}}</div>
        <div mat-line>{{room.value.currency | currencySymbol}} {{it.price | number:'1.2-2'}}</div>
        <div *ngIf="it.description" mat-line>{{it.description}}</div>
        <div class="additional-line" mat-line>{{'ME.RESERVATION.ADDITIONAL.DURATION.FIELD' | translate}}
          : {{it.duration | durationTime}}</div>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <ng-template #skeleton>
    <div class="ssc-line"></div>
  </ng-template>
</ng-template>

<ng-template #stepFour>
  <mat-tab-group *ngIf="availableList.size; else empty" [selectedIndex]="selectedIndex" backgroundColor="accent"
                 color="primary" mat-align-tabs="center">
    <mat-tab *ngFor="let available of availableList | keyvalue: sortDate" [label]="formatKey(available.key)">
      <section class="button-container">
        <ng-container [ngTemplateOutletContext]="{available:available}"
                      [ngTemplateOutlet]="available.value.length ? noEmpty : empty"></ng-container>
      </section>
    </mat-tab>
  </mat-tab-group>
  <ng-template #noEmpty let-available='available'>
    <div class="button-row">
      <button (click)="selectDate(datetime)" *ngFor="let datetime of sortTime(available.value)"
              [color]="areEquals(datetime) ? 'primary' : undefined" class="large" mat-raised-button>
        {{datetime.time}}
      </button>
    </div>
  </ng-template>
  <ng-template #empty let-available='available'>
    <div class="no-content divider">
      <p
        [innerHTML]="'ME.RESERVATION.UPCOMING.CUSTOMER.NO_CONTENT' | translate:{date: dateNoContent(available?.key)}"></p>
    </div>
  </ng-template>
  <mat-error *ngIf="this.errors['schedule']" [innerHTML]="'ME.RESERVATION.SCHEDULE.REQUIRED' | translate"
             class="divider"></mat-error>
</ng-template>

<ng-template #stepFive>
  <form [formGroup]="typeForm">
    <div *ngIf="!types?.length; else data" class="no-content bold">
      {{'ME.PAYMENT.TYPE.NO_CONTENT' | translate}}
    </div>
    <ng-template #data>
      <div fxLayout="column" fxLayoutAlign="space-evenly start">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'ME.PAYMENT.TYPE.FIELD' | translate }}</mat-label>
          <mat-select [formControl]="type" [required]="firstTime">
            <mat-option *ngIf="!firstTime">--</mat-option>
            <mat-option *ngFor="let t of types" [value]="t">
              {{ 'COMMON.PAYMENT.' + t | translate }}
            </mat-option>
          </mat-select>
          <mat-error [innerHTML]="'ME.PAYMENT.TYPE.REQUIRED' | translate">
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="bankList?.length && type.value === 'IDEAL'" appearance="outline">
          <img *ngIf="bank.value" matPrefix [src]="bank.value.logos[0].url" style="width: 28px"
               [alt]="bank.value.id">
          <mat-label>{{ 'ME.PAYMENT.BANK.FIELD' | translate }}</mat-label>
          <label>
            <input (keydown)="keyDownHandler($event, bank)" [formControl]="bank" [matAutocomplete]="autoBank" matInput
                   required type="text">
          </label>
          <mat-autocomplete #autoBank="matAutocomplete" [displayWith]="displayFnBank">
            <mat-option *ngFor="let bank of filteredBank | async" [value]="bank">
              <img [src]="bank.logos[0].url" style="width: 28px" [alt]="bank.id">
              {{bank.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="bank.hasError('required')"
                     [innerHTML]="'ME.PAYMENT.BANK.REQUIRED' | translate">
          </mat-error>
          <mat-error *ngIf="bank.hasError('requireMatch')"
                     [innerHTML]="'ME.PAYMENT.BANK.INVALID' | translate">
          </mat-error>
          <mat-error *ngIf="errors['bank']">
            {{errors['bank']}}
          </mat-error>
        </mat-form-field>
      </div>
    </ng-template>
  </form>
</ng-template>

<ng-template #stepSix>
  <mat-card appearance="outlined" *ngIf="isPreview">
    <mat-card-header>
      <mat-card-title>{{ 'ME.RESERVATION.PREVIEW' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-divider></mat-divider>
        <div mat-subheader>{{ 'COMMON.ROOM.FIELD' | translate}}</div>
        <mat-list-item>
          <mat-icon matListItemIcon>store</mat-icon>
          <div mat-line>{{ 'ME.RESERVATION.ROOM.NAME.FIELD' | translate}}</div>
          <div mat-line>{{room.value | roomName:true:true}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>person_pin</mat-icon>
          <div mat-line>{{ 'COMMON.PROFESSIONAL.FIELD' | translate}}</div>
          <div mat-line>{{professional.value | userName}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>room</mat-icon>
          <div mat-line>{{ 'COMMON.ADDRESS.FIELD' | translate}}</div>
          <div mat-line>
            <a [href]="'https://www.google.com/maps/dir/?api=1&z=15&destination=' + room.value.address.name"
               rel="noreferrer" target="_blank">
              {{room.value.address.name}}
            </a>
          </div>
          <div mat-line>{{room.value.address.description}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>{{ 'COMMON.PRODUCT.FIELD' | translate}}</div>
        <mat-list-item>
          <mat-icon matListItemIcon>home_repair_service</mat-icon>
          <div mat-line>{{ 'ME.RESERVATION.PRODUCT.NAME.FIELD' | translate}}</div>
          <div mat-line>{{product.value.name}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>timer</mat-icon>
          <div mat-line>{{ 'ME.RESERVATION.PRODUCT.DURATION.FIELD' | translate}}</div>
          <div mat-line>{{product.value.duration | durationTime}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>{{room.value.currency.icon}}</mat-icon>
          <div mat-line>{{ 'ME.RESERVATION.PRODUCT.PRICE.FIELD' | translate}}</div>
          <div *ngIf="!isEditing; else editing" mat-line>
            <span [class.strikethrough]="discount.value">{{product.value.price | number:'1.2-2'}}</span>
            <span *ngIf="price.priceWithDiscount" [@discountAnimation]
                  class="raised-button bold">{{price.priceWithDiscount | number:'1.2-2'}}</span>
          </div>
          <ng-template #editing>
            <div mat-line>
              <span>{{(price.priceWithDiscount ? price.priceWithDiscount : product.value.price) | number:'1.2-2'}}</span>
              <span *ngIf="price.priceWithDiscount" class="raised-button bold">
                {{'ME.RESERVATION.PRODUCT.DISCOUNT.ADD' | translate}}
              </span>
            </div>
          </ng-template>
        </mat-list-item>
        <div *ngIf="additionalSelected.length">
          <mat-divider></mat-divider>
          <div mat-subheader>{{ 'COMMON.ADDITIONAL.FIELD' | translate}}</div>
          <mat-list-item>
            <mat-icon matListItemIcon>add_post</mat-icon>
            <div mat-line>
              <div *ngFor="let it of additionalSelected">
                {{it.name}} - {{room.value.currency | currencySymbol}} {{it.price | number:'1.2-2'}}
              </div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>timer</mat-icon>
            <div mat-line>{{ 'ME.RESERVATION.PRODUCT.DURATION.FIELD' | translate}}</div>
            <div mat-line>{{additionalDuration}}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>{{room.value.currency.icon}}</mat-icon>
            <div mat-line>{{ 'COMMON.LABEL.PRICE' | translate}}</div>
            <div mat-line>{{price.additional}}</div>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <div mat-subheader>{{ 'ME.RESERVATION.APPOINTMENT' | translate}}</div>
        <mat-list-item>
          <mat-icon matListItemIcon>event</mat-icon>
          <div mat-line>
            {{date | date:'short':room.value.timeZone:locale}}
            <button (click)="openDialog(date)" *ngIf="showTimeZone" mat-icon-button type="button">
              <mat-icon>info_outline</mat-icon>
            </button>
          </div>
          <div mat-line>
            {{endDate | date:'short':room.value.timeZone:locale}}
            <button (click)="openDialog(endDate)" *ngIf="showTimeZone" mat-icon-button type="button">
              <mat-icon>info_outline</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>timer</mat-icon>
          <div mat-line>{{ 'ME.RESERVATION.PRODUCT.DURATION.FIELD' | translate}}</div>
          <div mat-line>{{totalDuration}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="price.total">
          <mat-icon class="bold" matListItemIcon>{{room.value.currency.icon}}</mat-icon>
          <div mat-line><span class="bold">{{ 'COMMON.LABEL.TOTAL' | translate}}</span></div>
          <div mat-line><span class="bold">{{price.total}}</span></div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template [ngIfElse]="bigScreen" [ngIf]="smallScreen">
  <div *ngIf="canCreate; else cannotCreate">
    <mat-vertical-stepper #stepper [linear]="true">
      <mat-step [completed]="getStepCompleted(0)" [editable]="getStepEnabled(0)" [state]="getStepName(0)"
                [stepControl]="roomForm">
        <ng-template matStepLabel>{{ 'COMMON.ROOM.FIELD' | translate }}</ng-template>
        <div *ngIf="!isEditing; else editing">
          <div class="flex-container full" fxLayout="column">
            <div class="full" fxLayout="column" fxLayoutAlign="space-between start">
              <ng-container *ngTemplateOutlet="stepOne"></ng-container>
              <mat-list-item *ngIf="room.value && room.value.address && professional.value">
                <mat-icon matListItemIcon>room</mat-icon>
                <div class="bold" mat-subheader>{{ 'ME.RESERVATION.ROOM.DETAIL' | translate}}</div>
                <mat-divider></mat-divider>
              </mat-list-item>
              <mat-list-item *ngIf="room.value && room.value.address && professional.value">
                <div [innerHTML]="'ME.RESERVATION.ROOM.PROFESSIONAL.NAME' |
                  translate: {name: professionalName}" mat-line>
                </div>
                <div [innerHTML]="'ME.RESERVATION.ROOM.NAME.NAME' | translate: {name: roomDetail}" mat-line></div>
                <div [innerHTML]="'ME.RESERVATION.ROOM.ADDRESS.NAME' |
                  translate: {name: room.value.address.name}" mat-line>
                </div>
                <div *ngIf="room.value.address.description" [innerHTML]="'ME.RESERVATION.ROOM.ADDRESS.DESCRIPTION' |
                  translate: {description: room.value.address.description}"
                     mat-line>
                </div>
                <div *ngIf="distance" [innerHTML]="distance" mat-line></div>
              </mat-list-item>
            </div>
            <div class="vertical-divider"></div>
            <div *ngIf="room.value && room.value.address && room.value.address.location" class="full">
              <app-google-map (distanceEmitter)="setDistance($event)" [latitudeMarker]="room.value.address.location.y"
                              [longitudeMarker]="room.value.address.location.x"
                              [showDistance]="true"></app-google-map>
            </div>
          </div>
          <div>
            <button [disabled]="isEditing" [form]="roomForm" appBackButton class="icon-button" color="accent"
                    mat-mini-fab type="button">
              <mat-icon>keyboard_return</mat-icon>
            </button>
            <button (click)="callStepTwo" [disabled]="roomForm.invalid" class="icon-button"
                    color="primary" mat-mini-fab type="button">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
        </div>
        <ng-template #editing>
          <div class="spinner-parent-center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
        </ng-template>
      </mat-step>
      <mat-step [completed]="getStepCompleted(1)" [editable]="getStepEnabled(1)" [state]="getStepName(1)"
                [stepControl]="productForm">
        <ng-template matStepLabel>{{ 'COMMON.PRODUCT.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
        <div>
          <button *ngIf="isEditing; else noEdit" [form]="productForm" appBackButton color="accent" mat-mini-fab
                  type="button">
            <mat-icon>keyboard_return</mat-icon>
          </button>
          <ng-template #noEdit>
            <button (click)="back" [disabled]="isEditing" class="icon-button" color="accent" mat-mini-fab
                    type="button">
              <mat-icon>arrow_upward</mat-icon>
            </button>
          </ng-template>
          <button (click)="callStepThree" [disabled]="productForm.invalid" class="icon-button" color="primary"
                  mat-mini-fab type="button">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="getStepCompleted(2)" [editable]="getStepEnabled(2)" [state]="getStepName(2)"
                [optional]="true">
        <ng-template matStepLabel>{{ 'COMMON.ADDITIONAL.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepThree"></ng-container>
        <div class="divider">
          <button (click)="back" color="accent" class="icon-button" mat-mini-fab>
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button (click)="callStepFour" class="icon-button" color="primary" mat-mini-fab type="button">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="getStepCompleted(3)" [editable]="getStepEnabled(3)" [state]="getStepName(3)"
                [stepControl]="eventGroup">
        <ng-template matStepLabel>{{ 'ME.RESERVATION.SCHEDULE.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepFour"></ng-container>
        <div>
          <button (click)="back" class="icon-button" color="accent" mat-mini-fab>
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button (click)="callStepFive" [disabled]="eventGroup.invalid" class="icon-button" color="primary"
                  mat-mini-fab
                  type="button">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="getStepCompleted(4)" [editable]="getStepEnabled(4)" [state]="getStepName(4)"
                [optional]="!firstTime" [stepControl]="typeForm">
        <ng-template matStepLabel>{{ 'ME.PAYMENT.DETAIL' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepFive"></ng-container>
        <div>
          <button (click)="back" class="icon-button" color="accent" mat-mini-fab>
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button (click)="callStepSix" [disabled]="typeForm.invalid" class="icon-button" color="primary" mat-mini-fab
                  type="button">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="getStepCompleted(5)" [editable]="getStepEnabled(5)" [state]="getStepName(5)">
        <ng-template matStepLabel>{{ 'ME.RESERVATION.PREVIEW' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepSix"></ng-container>
        <div>
          <button (click)="back" class="icon-button" color="accent" mat-mini-fab>
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button (click)="create" class="icon-button" color="primary" mat-mini-fab type="button">
            <mat-icon>add_task</mat-icon>
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <ng-template #cannotCreate>
    <div class="ssc-square mb"></div>
  </ng-template>
</ng-template>

<ng-template #bigScreen>
  <div *ngIf="canCreate; else cannotCreate">
    <mat-horizontal-stepper #stepper [linear]="true">
      <mat-step [completed]="getStepCompleted(0)" [editable]="getStepEnabled(0)" [state]="getStepName(0)"
                [stepControl]="roomForm">
        <ng-template matStepLabel>{{ 'COMMON.ROOM.FIELD' | translate }}</ng-template>
        <div *ngIf="!isEditing; else editing">
          <div class="flex-container" fxLayout="row">
            <div class="full" fxLayout="row" fxLayoutAlign="space-between start">
              <div class="middle" fxLayout="column">
                <ng-container *ngTemplateOutlet="stepOne"></ng-container>
                <mat-list-item *ngIf="room.value && room.value.address && professional.value">
                  <mat-icon matListItemIcon>room</mat-icon>
                  <div class="bold" mat-subheader>{{ 'ME.RESERVATION.ROOM.DETAIL' | translate}}</div>
                  <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item *ngIf="room.value && room.value.address && professional.value">
                  <div [innerHTML]="'ME.RESERVATION.ROOM.PROFESSIONAL.NAME' |
                  translate: {name: professionalName}" mat-line>
                  </div>
                  <div [innerHTML]="'ME.RESERVATION.ROOM.NAME.NAME' | translate: {name: roomDetail}" mat-line></div>
                  <div [innerHTML]="'ME.RESERVATION.ROOM.ADDRESS.NAME' |
                  translate: {name: room.value.address.name}" mat-line>
                  </div>
                  <div *ngIf="room.value.address.description" [innerHTML]="'ME.RESERVATION.ROOM.ADDRESS.DESCRIPTION' |
                  translate: {description: room.value.address.description}"
                       mat-line>
                  </div>
                  <div *ngIf="distance" [innerHTML]="distance" mat-line></div>
                </mat-list-item>
              </div>
              <div class="vertical-divider"></div>
              <div *ngIf="room.value && room.value.address && room.value.address.location" class="middle">
                <app-google-map (distanceEmitter)="setDistance($event)" [latitudeMarker]="room.value.address.location.y"
                                [longitudeMarker]="room.value.address.location.x"
                                [showDistance]="true"></app-google-map>
              </div>
            </div>
          </div>
          <div class="divider">
            <button [disabled]="isEditing" [form]="roomForm" appBackButton color="accent" mat-fab extended
                    type="button">
              <mat-icon>keyboard_return</mat-icon>
              {{ 'COMMON.BUTTON.BACK' | translate }}</button>
            <button (click)="callStepTwo" [disabled]="roomForm.invalid" class="raised-button"
                    color="primary" mat-fab extended type="button">
              {{ 'COMMON.BUTTON.NEXT' | translate }}
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
        <ng-template #editing>
          <div class="spinner-parent-center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
        </ng-template>
      </mat-step>
      <mat-step [completed]="getStepCompleted(1)" [editable]="getStepEnabled(1)" [state]="getStepName(1)"
                [stepControl]="productForm">
        <ng-template matStepLabel>{{ 'COMMON.PRODUCT.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
        <div class="divider">
          <button *ngIf="isEditing; else noEdit" [form]="productForm" appBackButton color="accent" mat-fab extended
                  type="button">
            <mat-icon>keyboard_return</mat-icon>
            {{ 'COMMON.BUTTON.BACK' | translate }}</button>
          <ng-template #noEdit>
            <button (click)="back" [disabled]="isEditing" color="accent" mat-fab extended type="button">
              <mat-icon>arrow_back</mat-icon>
              {{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </ng-template>
          <button (click)="callStepThree" [disabled]="productForm.invalid" class="raised-button" color="primary"
                  mat-fab extended type="button">
            {{ 'COMMON.BUTTON.NEXT' | translate }}
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="getStepCompleted(2)" [editable]="getStepEnabled(2)" [state]="getStepName(2)"
                [optional]="true">
        <ng-template matStepLabel>{{ 'COMMON.ADDITIONAL.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepThree"></ng-container>
        <div>
          <button (click)="back" color="accent" mat-fab extended>
            <mat-icon>arrow_back</mat-icon>
            {{ 'COMMON.BUTTON.BACK' | translate }}
          </button>
          <button (click)="callStepFour" class="raised-button" color="primary" mat-fab extended type="button">
            <mat-icon>arrow_forward</mat-icon>
            {{ 'COMMON.BUTTON.NEXT' | translate }}
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="getStepCompleted(3)" [editable]="getStepEnabled(3)" [state]="getStepName(3)"
                [stepControl]="eventGroup">
        <ng-template matStepLabel>{{ 'ME.RESERVATION.SCHEDULE.FIELD' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepFour"></ng-container>
        <div class="divider">
          <button (click)="back" color="accent" mat-fab extended type="button">
            <mat-icon>arrow_back</mat-icon>
            {{ 'COMMON.BUTTON.BACK' | translate }}</button>
          <button (click)="callStepFive" [disabled]="eventGroup.invalid" class="raised-button" color="primary"
                  mat-fab extended type="button">
            {{ 'COMMON.BUTTON.NEXT' | translate }}
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="getStepCompleted(4)" [editable]="getStepEnabled(4)" [state]="getStepName(4)"
                [optional]="!firstTime" [stepControl]="typeForm">
        <ng-template matStepLabel>{{ 'ME.PAYMENT.DETAIL' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepFive"></ng-container>
        <div class="divider">
          <button (click)="back" color="accent" mat-fab extended>
            <mat-icon>arrow_back</mat-icon>
            {{ 'COMMON.BUTTON.BACK' | translate }}</button>
          <button (click)="callStepSix" [disabled]="typeForm.invalid" class="raised-button" color="primary" mat-fab
                  extended type="button">
            {{ 'COMMON.BUTTON.NEXT' | translate }}
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </mat-step>
      <mat-step [completed]="getStepCompleted(5)" [editable]="getStepEnabled(5)" [state]="getStepName(5)">
        <ng-template matStepLabel>{{ 'ME.RESERVATION.PREVIEW' | translate }}</ng-template>
        <ng-container *ngTemplateOutlet="stepSix"></ng-container>
        <div class="divider">
          <button (click)="back" color="accent" mat-fab extended>
            <mat-icon>arrow_back</mat-icon>
            {{ 'COMMON.BUTTON.BACK' | translate }}</button>
          <button (click)="create" class="raised-button" color="primary" mat-fab extended type="button">
            {{ 'COMMON.BUTTON.BOOK' | translate }}
            <mat-icon>add_task</mat-icon>
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <ng-template #cannotCreate>
    <div class="ssc-square mb"></div>
  </ng-template>
</ng-template>
