.mat-tab-labels {
  justify-content: center;
}

section {
  display: table;
}

.button-row {
  padding: 10px;
  display: table-cell;
  width: 390px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-raised-button.large {
  width: fit-content;
  line-height: 60px;
}

.button-container {
  margin: auto;
  padding: 10px;
}

::ng-deep .mat-form-field .mat-form-field-subscript-wrapper {
  overflow: visible;
}

::ng-deep mat-tab-body {
  text-align: center;
}

.raised-button {
  margin-left: 10px
}

.icon-button {
  margin: 5px 0 5px 10px
}

.app-class .mat-list-item {
  height: auto;
}

.additional-line {
  padding-bottom: 20px !important;
}
