.mat-mdc-card-actions {
  text-align: center;
}

.mat-mdc-card-header {
  justify-content: center;
}

.mat-mdc-card-content {
  .container {
    margin: auto;
    text-align: center;

    table {
      margin: auto;

      td {
        width: 50%;
      }

      .left {
        text-align: left;
      }

      .right {
        padding: 0 5% 0;
        font-weight: bold;
        text-align: right;
      }
    }
  }
}

.close-button {
  float: right;
  z-index: 9999;
}

.mat-mdc-dialog-content {
  text-align: center;
}
