<button (click)="onNoClick" class="close-button" mat-icon-button>
  <mat-icon class="close-icon">close</mat-icon>
</button>
<h1 mat-dialog-title>{{ 'ME.REVIEW.TITLE' | translate }}</h1>
<mat-divider class="divider-padding"></mat-divider>
<div mat-dialog-content>
  <div class="upcoming">
    <table>
      <tr *ngIf="reservation">
        <td class="right">{{ 'ME.RESERVATION.UPCOMING.START' | translate }}</td>
        <td class="left">{{reservation.start | date:'short':undefined:language}}</td>
      </tr>
      <tr *ngIf="end">
        <td class="right">{{ 'ME.RESERVATION.UPCOMING.END' | translate }}</td>
        <td class="left">{{end | date:'short':undefined:language}}</td>
      </tr>
      <tr *ngIf="reservation && reservation">
        <td class="right">{{ 'COMMON.ROOM.FIELD' | translate }}</td>
        <td class="left">{{reservation.room | roomName}}</td>
      </tr>
      <tr *ngIf="reservation">
        <td class="right">{{ 'COMMON.ADDRESS.FIELD' | translate }}</td>
        <td class="left">
          <a
            [href]="'https://www.google.com/maps/dir/?api=1&z=15&destination=' + reservation.room.address.name"
            rel="noreferrer" target="_blank">
            {{reservation.room.address.name}}
          </a>
        </td>
      </tr>
      <tr *ngIf="reservation">
        <td class="right">{{ 'COMMON.PRODUCT.FIELD' | translate }}</td>
        <td class="left">{{reservation.product.name}}</td>
      </tr>
      <tr *ngIf="reservation">
        <td class="right">{{ 'ME.RESERVATION.PRODUCT.PRICE.FIELD' | translate }}</td>
        <td class="left">$ {{price.total | number:'1.2-2'}}</td>
      </tr>
    </table>
  </div>
  <mat-divider class="divider-padding"></mat-divider>
  <app-rating *ngIf="review; else noReview" [detail]="review.detail" [rating]="review.rating" [starCount]="starCount"
              color="primary"></app-rating>
  <ng-template #noReview>
    <app-rating (ratingHover)="onRatingHover($event)" (ratingUpdated)="onRatingChanged($event)" [hover]="hover"
                [rating]="rating" [starCount]="starCount" color="accent"></app-rating>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'ME.REVIEW.DETAIL' | translate }}</mat-label>
      <label>
        <textarea #message [formControl]="detail" matInput maxlength="256"></textarea>
      </label>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  </ng-template>
</div>
<mat-divider class="divider-padding"></mat-divider>
<div mat-dialog-actions>
  <div fxFlex></div>
  <button (click)="doAction" *ngIf="!review" [disabled]="rating < 1" cdkFocusInitial color="primary"
          mat-raised-button>{{ 'COMMON.BUTTON.ADD' | translate }}</button>
  <button (click)="onNoClick" color="accent" mat-raised-button>{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
</div>
