.review-dialog-content {
  text-align: center;
}

.dialog-title {
  width: calc(100% - 48px);
  word-wrap: break-word;
  white-space: normal;
  max-width: 250px;
  margin: 0;
}

.upcoming {
  margin: auto;
  text-align: center;
}

.upcoming table {
  margin: auto;
}

.upcoming td {
  width: 50%;
}

.upcoming .left {
  text-align: left;
}

.upcoming .right {
  padding: 0 5% 0;
  font-weight: bold;
  text-align: right;
}
