@let currentPrice = summaryPrice;
@let currentCurrency = currency();
@let currentShowBank = showBank();
@let currentFirstTime = firstTime();
@let form = typeForm();
@let currentOptions = options();
@let currentProfessionalName = professionalName();
@if (currentPrice) {
  <app-price-preview [price]="currentPrice" [currencyIcon]="currentCurrency?.icon" [summaryOnly]="true"
                     [updatedTotal]="paymentPrice()?.total" [paidTotal]="currentPrice.totalPaid"
                     [penalty]="showPenalty() ? currentPrice.penalty : undefined"
                     [accountBalanceUsedInput]="appliedBalance"
                     [toPaid]="adjustedAmountToPay" [accountCredit]="adjustedCredit"></app-price-preview>

  @if (shouldShowBankForm) {
    <app-bank [firstTime]="currentFirstTime" [form]="form" [options]="currentOptions"
              [showPaymentMessage]="!currentPrice?.isPaid"
              [professionalName]="currentProfessionalName" (percentageEmitter)="emitter($event)"></app-bank>
  }

  @if (shouldShowBankForm) {
    <mat-divider></mat-divider>
  }
} @else if (currentShowBank) {
  <app-bank [firstTime]="currentFirstTime" [form]="form" [options]="currentOptions"
            [professionalName]="currentProfessionalName" (percentageEmitter)="emitter($event)"></app-bank>
}
