@if (price) {
  <div [innerHTML]="'COMMON.PAYMENT.OPTIONS.PAID' | translate: {amount: price.totalPaid | number:'1.2-2',
                   symbol: currency | currencySymbol}"></div>

  <div [innerHTML]="'COMMON.PAYMENT.OPTIONS.PENALTY' | translate: {amount: price.penalty | number:'1.2-2',
                   symbol: currency | currencySymbol}"></div>

  @if (showPenalty) {
    @if (price.totalPaid - price.penalty > 0) {
      <div [innerHTML]="'COMMON.PAYMENT.OPTIONS.D_OR_R' | translate: {
          amount: (price.totalPaid - price.penalty )| number:'1.2-2', symbol: currency | currencySymbol}"></div>
    }

    @if (price.penalty - price.totalPaid > 0) {
      <div [innerHTML]="'COMMON.PAYMENT.OPTIONS.TO_PAY' | translate: {
          amount: (price.penalty - price.totalPaid) | number:'1.2-2', symbol: currency | currencySymbol}"></div>
    }

    @if (showBank && price.penalty > price.totalPaid) {
      <app-bank [firstTime]="firstTime" [formGroup]="typeForm" [options]="options" [professionalName]="professionalName"
                (percentageEmitter)="emitter($event)"></app-bank>
    }
  }

  @if (showBank) {
    <mat-divider></mat-divider>
  }
} @else if (showBank) {
  <app-bank [firstTime]="firstTime" [formGroup]="typeForm" [options]="options" [professionalName]="professionalName"
            (percentageEmitter)="emitter($event)"></app-bank>
}
