mat-drawer-container {
  height: 100%;

  .sidenav {
    width: auto;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    padding: 16px 0 0 0;
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card-header {
      padding: 0 16px 0 16px;
    }
  }

  .header {
    .align-right {
      flex: 1 1 auto;
    }

    img {
      margin-right: 5% !important;
    }

    .badge-padding {
      padding-right: 15%;
    }
  }

  .footer {
    z-index: 1000;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      span {
        display: block;
        font-size: 16px;
      }
    }
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999;
}

.grid-container {
  margin: 20px;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list-item.mat-list-item-word-wrap {
  height: initial !important;

  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
::ng-deep .mat-list-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  margin-right: 5%;
}

.pointer:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .initials {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2625px;
  }
}

img {
  border-radius: 50%;
  margin-right: 5% !important;
}

@media all and (max-device-width: 812px) and (orientation: portrait) {
  img {
    max-width: 52px !important;
  }
}

@media not all and (max-device-width: 812px) and (orientation: portrait) {
  img {
    max-width: 60px !important;
  }
}

::ng-deep .mat-mdc-list .mat-mdc-list-item .mat-line {
  word-wrap: break-word;
  white-space: pre-wrap;
}


.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
  height: 0;
}

main {
  display: flex;
  flex-direction: column;

  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}

