mat-sidenav-container {
  height: 100%;

  mat-sidenav-content {
    mat-toolbar {
      img {
        margin-right: 1%;
      }

      .badge-padding {
        padding-right: 15%;
      }
    }
  }

  mat-toolbar {
    .align-right {
      flex: 1 1 auto;
    }
  }
}

.sidenav {
  width: auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 99;
}

.grid-container {
  margin: 20px;
}

.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;

  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}

::ng-deep .mat-list-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  margin-right: 5%;
}

.mat-list-item.active {
  color: #a06c3f;
}

.circle {
  background-color: #a06c3f;
}
