<mat-drawer-container [hasBackdrop]="(isHandset$ | async)" autosize>
  <mat-drawer #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
              [mode]="(isHandset$ | async) ? 'over' : 'side'"
              [opened]="(isHandset$ | async) === false"
              class="sidenav">
    <ng-template [ngIf]="showInformation">
      <mat-card appearance="outlined" class="mat-elevation-z0">
        <ng-template [ngIf]="currentUser" [ngIfElse]="noLogged">
          <mat-card-header>
            <div class="circle" mat-card-avatar>
              <img *ngIf="image; else showInitialsBlock" alt="profile" src="{{image}}">
              <ng-template #showInitialsBlock>
                <div class="initials">{{ initials | uppercase }}</div>
              </ng-template>
            </div>
            <mat-card-title>{{ currentUser.displayName | uppercase }}</mat-card-title>
            <mat-card-subtitle>{{ currentUser.email }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-nav-list>
              <div *ngFor="let menu of menuItems; let i = index">
                <div *ngIf="menu.subMenus && menu.subMenus.length; else items">
                  <mat-expansion-panel #rla="routerLinkActive" (opened)="setStep(i)" [class.mat-elevation-z0]="true"
                                       [expanded]="step === i" [ngClass]="{ 'active': rla.isActive}"
                                       [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="menu.name">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="active-header-title">
                        <mat-icon>{{ menu.icon }}</mat-icon>&nbsp;{{ menu.name }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-menu-item [drawer]="drawer" [items]="menu.subMenus"></app-menu-item>
                  </mat-expansion-panel>
                </div>
                <ng-template #items>
                  <a (click)="navigate(menu, drawer)" *ngIf="isHandset$ | async; else showMenu"
                     [routerLinkActive]="['active']" [routerLink]="'/'+language+'/'+menu.path" mat-list-item>
                    <mat-icon matListItemIcon>{{ menu.icon }}</mat-icon>
                    <div mat-line>{{ menu.name }}</div>
                  </a>
                  <ng-template #showMenu>
                    <a (click)="navigate(menu)" [routerLinkActive]="['active']"
                       [routerLink]="'/'+language+'/'+menu.path" mat-list-item>
                      <mat-icon matListItemIcon>{{ menu.icon }}</mat-icon>
                      <div mat-line>{{ menu.name }}</div>
                    </a>
                  </ng-template>
                </ng-template>
              </div>
            </mat-nav-list>
          </mat-card-content>
        </ng-template>
        <ng-template #noLogged>
          <mat-card-header>
            <div class="circle" mat-card-avatar>
              <img alt="profile" src="../../assets/icons/icon-512x512.png">
            </div>
            <mat-card-title>Nails Cleos</mat-card-title>
            <mat-card-subtitle>&#64;nails.cleos</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-nav-list>
              <mat-divider></mat-divider>
              <a (click)="drawer.toggle()" *ngIf="isHandset$ | async; else showMenu" [routerLink]="['/', language]"
                 mat-list-item>
                <mat-icon matListItemIcon>main</mat-icon>
                <div mat-line>{{ 'COMMON.DASHBOARD.HOME' | translate }}</div>
              </a>
              <ng-template #showMenu>
                <a [routerLinkActive]="['active']" [routerLink]="['/', language]" mat-list-item>
                  <mat-icon matListItemIcon>home</mat-icon>
                  <div mat-line>{{ 'COMMON.DASHBOARD.HOME' | translate }}</div>
                </a>
              </ng-template>
              <mat-divider></mat-divider>
            </mat-nav-list>
          </mat-card-content>
        </ng-template>
      </mat-card>
    </ng-template>
  </mat-drawer>
  <mat-drawer-content class="page-wrap">
    <mat-toolbar class="header" color="primary">
      <button (click)="drawer.toggle()" *ngIf="(isHandset$ | async) && showInformation"
              aria-label="Toggle sidenav" mat-icon-button type="button">
        <mat-icon *ngIf="showInformation" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img alt="logo" src="../../assets/icons/icon-512x512.png">
      <span>{{ title }}</span>
      <span class="align-right"></span>
      <div *ngIf="currentUser?.email; else login">
        <ng-template [ngIf]="isProfessional && workDay.length" [ngIfElse]="workDayIcon">
          <button [matMenuTriggerFor]="menuWorkDay" class="badge-padding" mat-icon-button>
            <mat-icon [matBadgeHidden]="!workDay.length" [matBadgeOverlap]="true" [matBadge]="workDay.length"
                      matBadgeColor="warn">
              work
            </mat-icon>
          </button>
        </ng-template>
        <ng-template [ngIf]="notifications.length && showInformation" [ngIfElse]="notificationIcon">
          <button [matMenuTriggerFor]="menuNotification" class="badge-padding" mat-icon-button>
            <mat-icon [matBadgeHidden]="!countNotifications" [matBadgeOverlap]="true"
                      [matBadge]="plusNotification ? plusNotification : countNotifications"
                      matBadgeColor="warn">
              notifications
            </mat-icon>
          </button>
        </ng-template>
        <mat-menu #menuNotification="matMenu" xPosition="before">
          <mat-list>
            <mat-list-item (click)="notification(not)" *ngFor="let not of notifications" class="pointer" matRipple>
              <div [matTooltip]="not.message" [ngClass]="{ 'gray-text': not.read}" matListItemTitle>
                <span *ngIf="!not.read" class="dot"></span>{{ not.message }}
              </div>
              <div [ngClass]="{ 'gray-text': not.read}"
                   matListItemLine>{{ not.notDate | date:'short':undefined:dateFormat }}
              </div>
              <mat-divider class="divider"></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <button color="primary" mat-button [routerLink]="['/', language, 'notifications']">
                {{ 'COMMON.NOTIFICATION.LOAD_MORE' | translate }}
              </button>
            </mat-list-item>
          </mat-list>
        </mat-menu>
        <ng-template #notificationIcon>
          <ng-template [ngIf]="showInformation">
            <button [matMenuTriggerFor]="menuNoNotification" class="badge-padding" mat-icon-button>
              <mat-icon>notifications</mat-icon>
            </button>
          </ng-template>
          <mat-menu #menuNoNotification="matMenu" xPosition="before">
            <mat-list>
              <mat-list-item class="pointer" matRipple>
                <div mat-line>{{ 'COMMON.NOTIFICATION.NO' | translate }}</div>
              </mat-list-item>
            </mat-list>
          </mat-menu>
        </ng-template>
        <mat-menu #menuWorkDay="matMenu" xPosition="before">
          <mat-list>
            <mat-list-item (click)="notification(not)" *ngFor="let not of workDay; last as isLast" class="pointer"
                           matRipple>
              <div [matTooltip]="not.message" matListItemLine>{{ not.message }}</div>
              <ng-template [ngIf]="!isLast">
                <mat-divider class="divider"></mat-divider>
              </ng-template>
            </mat-list-item>
          </mat-list>
        </mat-menu>
        <ng-template #workDayIcon>
          <ng-template [ngIf]="isProfessional">
            <button class="badge-padding" mat-icon-button>
              <mat-icon>work_off</mat-icon>
            </button>
          </ng-template>
        </ng-template>

        <button [matMenuTriggerFor]="menuLogged" [ngClass]="{'badge-padding': incomplete}" mat-icon-button>
          <mat-icon [matBadgeHidden]="!incomplete" [matBadgeOverlap]="true" [matBadge]="'*'" matBadgeColor="warn"
                    aria-hidden="false">
            settings
          </mat-icon>
        </button>
        <mat-menu #menuLogged="matMenu">
          <mat-nav-list>
            <a [routerLinkActive]="['active']" [routerLink]="['/', language]" mat-list-item>
              <mat-icon matListItemIcon>home</mat-icon>
              <div mat-line>{{ 'COMMON.DASHBOARD.HOME' | translate }}</div>
            </a>
            <mat-divider></mat-divider>
            <a [routerLink]="['/', language, 'auth', 'profile']" mat-list-item>
              <mat-icon *ngIf="incomplete; else complete" matListItemIcon matBadgeColor="warn" [matBadge]="'*'"
                        [matBadgeOverlap]="true" aria-hidden="false">
                badge
              </mat-icon>
              <ng-template #complete>
                <mat-icon matListItemIcon>badge</mat-icon>
              </ng-template>
              <div mat-line>{{ 'COMMON.DASHBOARD.PROFILE' | translate }}</div>
            </a>
            <mat-divider></mat-divider>
            <a (click)="changeTheme" mat-list-item>
              <mat-icon matListItemIcon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
              <div mat-line>{{ 'COMMON.DASHBOARD.' + (isDarkMode ? 'LIGHT_MODE' : 'DARK_MODE') | translate }}</div>
            </a>
            <mat-divider></mat-divider>
            <a (click)="logout" mat-list-item>
              <mat-icon matListItemIcon>exit_to_app</mat-icon>
              <div mat-line>{{ 'COMMON.DASHBOARD.SIGN_OUT' | translate }}</div>
            </a>
          </mat-nav-list>
        </mat-menu>
      </div>
      <ng-template #login>
        <ng-template [ngIf]="(isHandset$ | async) === false" [ngIfElse]="mini">
          <button color="accent" mat-fab extended [routerLink]="['/', language]">
            <mat-icon>home</mat-icon>
            <span>{{ 'COMMON.DASHBOARD.HOME' | translate }}</span>
          </button>
        </ng-template>
        <ng-template #mini>
          <button color="accent" mat-fab [routerLink]="['/', language]">
            <mat-icon>home</mat-icon>
          </button>
        </ng-template>
      </ng-template>
    </mat-toolbar>
    <main [ngClass]="{'loading': isLoading}" class="content">
      <div *ngIf="isLoading" class="spinner-vertical" style="z-index: 999">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div class="grid-container">
        <router-outlet *ngIf="!error; else errorBox"></router-outlet>
      </div>
      <ng-template #errorBox>
        <app-error [error]="error"></app-error>
      </ng-template>
    </main>
    <footer>
      <mat-toolbar *ngIf="(isHandset$ | async) && (isProfessional || isManager || isAdmin)" class="footer">
        <a [routerLinkActive]="['active-link']" [routerLink]="['/', language, 'reservation', 'calendar']">
          <mat-icon>event</mat-icon>
        </a>
        <a [routerLinkActive]="['active-link']" [routerLink]="['/', language, 'dashboard']">
          <mat-icon>dashboard</mat-icon>
        </a>
        <a *ngIf="isAdmin" [routerLinkActive]="['active-link']" [routerLink]="['/', language, 'reservation', 'search']">
          <mat-icon>find_in_page</mat-icon>
        </a>
        <a [routerLinkActive]="['active-link']" [routerLink]="['/', language, 'unavailable', 'add']">
          <mat-icon>event_busy</mat-icon>
        </a>
      </mat-toolbar>
    </footer>
  </mat-drawer-content>
</mat-drawer-container>
