<mat-sidenav-container>
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false" class="sidenav" fixedInViewport>
    <mat-card *ngIf="currentUser">
      <mat-card-header>
        <div [ngStyle]="{'background-color':  '#673AB7' }" class="circle" mat-card-avatar>
          <img *ngIf="!showInitials; else showInitialsBlock" alt="profile" src="{{currentUser?.imageUrl}}">
          <ng-template #showInitialsBlock>
            <div class="initials">{{ initials | uppercase }}</div>
          </ng-template>
        </div>
        <mat-card-title>{{username | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{currentUser.email}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let menu of menuItems">
        <a [routerLink]="'/'+menu.path" mat-list-item>
          <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
          <div mat-line>{{menu.name}}</div>
        </a>
        <mat-divider></mat-divider>
      </div>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" *ngIf="isHandset$ | async"
              aria-label="Toggle sidenav" mat-icon-button type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="align-right"></span>
      <button *ngIf="username; else login" [matMenuTriggerFor]="menuNotLogged" color="accent" mat-raised-button>
        <mat-icon>person_pin</mat-icon>
        {{username | titlecase}}
      </button>
      <ng-template #login>
        <button color="accent" mat-raised-button routerLink="/auth">
          <mat-icon>login</mat-icon>
          {{'DASHBOARD.SIGN_IN' | translate }}
        </button>
      </ng-template>
      <mat-menu #menuNotLogged="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>settings</mat-icon>
          <span>{{'DASHBOARD.PROFILE' | translate }}</span>
        </button>
        <button *ngIf="canChangePassword" mat-menu-item routerLink="/change-password">
          <mat-icon>mode_edit</mat-icon>
          <span>{{'DASHBOARD.CHANGE_PASSWORD' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>{{'DASHBOARD.SIGN_OUT' | translate }}</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="grid-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
