<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="card-container">
    <div fxFlex.lt-sm="80%" fxFlex="50%" fxFlex.gt-lg="40%">
      <form (ngSubmit)="changePassword()" [formGroup]="form" novalidate>
        <mat-card>
          <mat-card-title>{{ 'USER.CHANGE_PASSWORD.TITLE' | translate }}</mat-card-title>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field hidden>
                <mat-label>{{ 'USER.CHANGE_PASSWORD.USERNAME.FIELD' | translate }}</mat-label>
                <input matInput autocomplete="username" [value]="currentUser?.username" disabled>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'USER.CHANGE_PASSWORD.OLD_PASSWORD.FIELD' | translate }}</mat-label>
                <input matInput required [type]="hide ? 'password' : 'text'" autocomplete="current-password"
                       formControlName="oldPassword">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error [innerHTML]="'USER.CHANGE_PASSWORD.OLD_PASSWORD.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'USER.CHANGE_PASSWORD.PASSWORD.FIELD' | translate }}</mat-label>
                <input matInput required [type]="hide ? 'password' : 'text'" autocomplete="new-password"
                       formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error [innerHTML]="'USER.CHANGE_PASSWORD.PASSWORD.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'USER.CHANGE_PASSWORD.CONFIRM_PASSWORD.FIELD' | translate }}</mat-label>
                <input matInput required [type]="hideConfirm ? 'password' : 'text'" autocomplete="new-password"
                       formControlName="confirmPassword">
                <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm">
                  <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="confirmPassword.hasError('required')"
                           [innerHTML]="'USER.CHANGE_PASSWORD.CONFIRM_PASSWORD.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="confirmPassword.hasError('mustMatch')">
                  {{ 'USER.CHANGE_PASSWORD.CONFIRM_PASSWORD.MUST_MATCH' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button fxFlex mat-raised-button color="primary" [disabled]="form.invalid"
                    type="submit">{{ 'COMMON.BUTTON.SEND' | translate }}</button>
            <button mat-raised-button type="button" color="accent"
                    (click)="back()">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
