<form (ngSubmit)="register" [formGroup]="form" novalidate>
  <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'COMMON.USER.USERNAME.FIELD' | translate }}</mat-label>
      <label>
        <input [formControl]="username" [tabIndex]="1" autocomplete="username" matInput required>
      </label>
      <mat-error *ngIf="username.hasError('required')" [innerHTML]="'COMMON.USER.USERNAME.REQUIRED' | translate">
      </mat-error>
      <mat-error *ngIf="errors['username']">
        {{errors['username']}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'COMMON.USER.EMAIL.FIELD' | translate }}</mat-label>
      <label>
        <input [formControl]="email" [tabIndex]="2" autocomplete="email" matInput required>
      </label>
      <mat-error *ngIf="email.hasError('email')">
        {{ 'COMMON.USER.EMAIL.VALID' | translate }}
      </mat-error>
      <mat-error *ngIf="email.hasError('required')" [innerHTML]="'COMMON.USER.EMAIL.REQUIRED' | translate">
      </mat-error>
      <mat-error *ngIf="errors['email']">
        {{errors['email']}}
      </mat-error>
    </mat-form-field>
    <app-password [formGroup]="passwordFormGroup" [label]="'AUTH.PASSWORD.FIELD'"
                  [confirmLabel]="'AUTH.SIGN_UP.CONFIRM_PASSWORD'"></app-password>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'COMMON.USER.LANG.FIELD' | translate }}</mat-label>
      <span *ngIf="select.value" [class]="'flag-icon  flag-icon-squared flag-icon-' + select.value.icon"
            class="margin-right-eight" matPrefix></span>
      <mat-select #select [formControl]="lang" [tabIndex]="5" required>
        <mat-option *ngFor="let lang of flagList" [value]="lang">
          <span [class]="'flag-icon  flag-icon-squared flag-icon-' + lang.icon"></span>
          {{ 'COMMON.LANG.' + lang.text | translate }}
        </mat-option>
      </mat-select>
      <mat-error [innerHTML]="'COMMON.USER.LANG.REQUIRED' | translate">
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'COMMON.USER.FIRST_NAME.FIELD' | translate }}</mat-label>
      <label>
        <input [formControl]="firstName" [tabIndex]="6" autocomplete="given-name" matInput>
      </label>
      <mat-error *ngIf="errors['firstName']">
        {{errors['firstName']}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'COMMON.USER.LAST_NAME.FIELD' | translate }}</mat-label>
      <label>
        <input [formControl]="lastName" [tabIndex]="7" autocomplete="family-name" matInput>
      </label>
      <mat-error *ngIf="errors['lastName']">{{errors['lastName']}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'COMMON.USER.PHONE.FIELD' | translate }}</mat-label>
      <ngx-mat-intl-tel-input [enablePlaceholder]="true" [enableSearch]="true" [formControl]="phone"
                              [preferredCountries]="['nl']" name="phone"></ngx-mat-intl-tel-input>
      <mat-error *ngIf="phone.hasError('validatePhoneNumber')">
        {{ 'COMMON.USER.PHONE.INVALID' | translate }}
      </mat-error>
      <mat-error *ngIf="errors['phone']">{{errors['phone']}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'AUTH.SIGN_UP.CODE.FIELD' | translate }}</mat-label>
      <label>
        <input [formControl]="codeForm" [tabIndex]="9" matInput autocomplete="one-time-code">
      </label>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <div fxFlex></div>
    <button [disabled]="form.invalid || passwordFormGroup.invalid" [tabIndex]="10" color="accent" fxFlex mat-fab
            extended type="submit">{{ 'AUTH.SIGN_UP.TITLE' | translate }}</button>
  </div>
</form>
