<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="card-container">
    <div fxFlex.lt-sm="80%" fxFlex="50%" fxFlex.gt-lg="40%">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ 'AUTH.ACTIVATE_ACCOUNT.TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ 'AUTH.ACTIVATE_ACCOUNT.CONTENT' | translate }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div fxFlex></div>
          <button mat-fab extended class="icon-button" color="primary" (click)="activate">
            {{ 'AUTH.ACTIVATE_ACCOUNT.BUTTON' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
