<mat-nav-list>
  <div *ngFor="let menu of items; let i = index">
    <div *ngIf="menu.subMenus && menu.subMenus.length; else showItems">
      <mat-expansion-panel #rla="routerLinkActive" (opened)="setStep(i)" [class.mat-elevation-z0]="true"
                           [expanded]="step === i" [ngClass]="{ 'active': rla.isActive}"
                           [routerLinkActiveOptions]="{ exact: true }" routerLinkActive>
        <mat-expansion-panel-header matTooltip="{{menu.tooltip ? menu.tooltip : menu.name}}">
          <mat-panel-title class="active-header-title">
            <mat-icon>{{menu.icon}}</mat-icon>&nbsp;{{menu.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-menu-item [drawer]="drawer" [items]="menu.subMenus"></app-menu-item>
      </mat-expansion-panel>
    </div>
    <ng-template #showItems>
      <a (click)="navigate(menu, drawer)" *ngIf="isHandset$ | async; else showMenu"
         [routerLinkActive]="['active']" [routerLink]="'/'+menu.path" mat-list-item>
        <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
        <div mat-line>{{menu.name}}</div>
      </a>
      <ng-template #showMenu>
        <a (click)="navigate(menu)" [routerLinkActive]="['active']"
           [routerLink]="'/'+menu.path" mat-list-item>
          <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
          <div mat-line>{{menu.name}}</div>
        </a>
      </ng-template>
    </ng-template>
  </div>
</mat-nav-list>
