mat-toolbar {
  img {
    margin-right: 1%;
  }
}

img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.position-fixed {
  position: fixed;
  z-index: 9999 !important;
}

.mat-spacer {
  flex: 1 1 auto;
}
