<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="position-fixed" color="primary">
      <img alt="logo" src="../../assets/icons/icon-512x512.png">
      <span>{{title}}</span>
      <span class="mat-spacer"></span>
      <span *ngIf="(isHandset$ | async) === false; else menuButton">
    <button (click)="onNavigation('story')" mat-button type="button">
      <span>{{'MAIN.SECTION.STORY' | translate }}</span>
    </button>
    <button (click)="onNavigation('treatment')" mat-button type="button">
      <span>{{'MAIN.SECTION.TREATMENT' | translate }}</span>
    </button>
    <button (click)="onNavigation('book')" mat-button type="button">
      <span>{{'MAIN.SECTION.BOOK' | translate }}</span>
    </button>
    <button (click)="onNavigation('contact')" mat-button type="button">
      <span>{{'MAIN.SECTION.CONTACT' | translate }}</span>
    </button>
    <button [routerLinkActive]="['active']" [routerLink]="'/main/catalogs'" mat-button type="button">
      <span>{{'MAIN.SECTION.CATALOG' | translate }}</span>
    </button>
    <button (click)="redirect" *ngIf="isAuthenticated; else login" [routerLinkActive]="['active']"
            mat-button type="button">
      <span>{{'MAIN.SECTION.ACCOUNT' | translate }}</span>
    </button>
    <ng-template #login>
      <button [routerLinkActive]="['active']" [routerLink]="'/auth'" mat-button type="button">
        <span>{{'MAIN.SECTION.AUTH' | translate }}</span>
      </button>
    </ng-template>
    <button mat-icon-button (click)="changeTheme">
      <mat-icon>{{isDarkMode ? 'light_mode' : 'dark_mode'}}</mat-icon>
    </button>
  </span>
      <ng-template #menuButton>
        <button mat-icon-button (click)="changeTheme">
          <mat-icon>{{isDarkMode ? 'light_mode' : 'dark_mode'}}</mat-icon>
        </button>
        <button [matMenuTriggerFor]="menuLogged" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menuLogged="matMenu">
          <mat-nav-list>
            <a (click)="onNavigation('story')" mat-list-item>
              <mat-icon matListItemIcon>auto_stories</mat-icon>
              <div mat-line>{{'MAIN.SECTION.STORY' | translate }}</div>
            </a>
            <mat-divider></mat-divider>
            <a (click)="onNavigation('treatment')" mat-list-item>
              <mat-icon matListItemIcon>home_repair_service</mat-icon>
              <div mat-line>{{'MAIN.SECTION.TREATMENT' | translate }}</div>
            </a>
            <mat-divider></mat-divider>
            <a (click)="onNavigation('book')" mat-list-item>
              <mat-icon matListItemIcon>book_online</mat-icon>
              <div mat-line>{{'MAIN.SECTION.BOOK' | translate }}</div>
            </a>
            <mat-divider></mat-divider>
            <a (click)="onNavigation('contact')" mat-list-item>
              <mat-icon matListItemIcon>contact_page</mat-icon>
              <div mat-line>{{'MAIN.SECTION.CONTACT' | translate }}</div>
            </a>
            <mat-divider></mat-divider>
            <a [routerLink]="'/main/catalogs'" mat-list-item>
              <mat-icon matListItemIcon>collections</mat-icon>
              <div mat-line>{{'MAIN.SECTION.CATALOG' | translate }}</div>
            </a>
            <mat-divider></mat-divider>
            <a (click)="redirect" *ngIf="isAuthenticated; else login" [routerLinkActive]="['active']"
               mat-list-item>
              <mat-icon matListItemIcon>person_pin</mat-icon>
              <div mat-line>{{'MAIN.SECTION.ACCOUNT' | translate }}</div>
            </a>
            <ng-template #login>
              <a [routerLink]="'/auth'" mat-list-item>
                <mat-icon matListItemIcon>login</mat-icon>
                <div mat-line>{{'MAIN.SECTION.AUTH' | translate }}</div>
              </a>
            </ng-template>
          </mat-nav-list>
        </mat-menu>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span style="margin: auto;">
          <button [routerLinkActive]="['active']" [routerLink]="'/main/privacy'" mat-button>
            <span>{{'MAIN.SECTION.PRIVACY' | translate }}</span>
          </button>
          <button [routerLinkActive]="['active']" [routerLink]="'/main/term-and-conditions'" mat-button>
            <span>{{'MAIN.SECTION.TERM_AND_CONDITIONS' | translate }}</span>
          </button>
          <button (click)="onNavigation('contact')" mat-button>
            <span>{{'MAIN.SECTION.CONTACT' | translate }}</span>
          </button>
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span style="margin: auto; font-size: small">{{'MAIN.LEGALS' | translate}} - v{{appVersion}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
