@if (price(); as price) {
  @if (price.total || price.total === 0) {
    <mat-list-item>
      <mat-icon style="margin-top: 32px" matListItemIcon>{{ currencyIcon() }}</mat-icon>
      <div matListItemTitle [innerHTML]="label() | translate"></div>
      @if (price.total !== price.totalWithoutDiscount) {
        @if (!isEditing()) {
          <div matListItemLine>
            <span [class.strikethrough]="price.discount">{{ price.totalWithoutDiscount | number:'1.2-2' }}</span>
            <span @discountAnimation class="raised-button bold">{{ price.total | number:'1.2-2' }}</span>
          </div>
        } @else {
          <div matListItemLine>
            <span>{{ price.total | number:'1.2-2' }}</span>
            @if (discountKey(); as discountKey) {
              <span class="raised-button bold">{{ discountKey | translate }}</span>
            }
          </div>
        }
      } @else {
        <div matListItemLine>{{ price.total | number:'1.2-2' }}</div>
      }
    </mat-list-item>
  }
  @if (!price.isPaid && (price.balance || price.totalPaid)) {
    @let currentCurrencyIcon = currencyIcon();
    @if (price.totalPaid) {
      <mat-list-item>
        <div matListItemTitle [innerHTML]="'COMMON.PAYMENT.OPTIONS.PAID' | translate: {
                         amount: price.totalPaid | number:'1.2-2',
                         symbol: currentCurrencyIcon | currencySymbol
                         }">
        </div>
      </mat-list-item>
    }
    @if (price.balance) {
      <mat-list-item>
        <div matListItemTitle [innerHTML]="'COMMON.PAYMENT.OPTIONS.ACCOUNT' | translate: {
                         amount: price.balance | number:'1.2-2',
                         symbol: currentCurrencyIcon | currencySymbol
                         }">
        </div>
      </mat-list-item>
    }
    <mat-list-item>
      <div matListItemTitle [innerHTML]="'COMMON.PAYMENT.OPTIONS.TO_PAY' | translate: {
                         amount: price.toPaid | number:'1.2-2',
                         symbol: currentCurrencyIcon | currencySymbol
                         }">
      </div>
    </mat-list-item>
  }
}
