<ng-template [ngIf]="price">
  <mat-list-item *ngIf="price.total || price.total === 0">
    <mat-icon style="margin-top: 32px" matListItemIcon>{{currencyIcon}}</mat-icon>
    <div matListItemTitle [innerHTML]="label | translate"></div>
    <ng-container *ngIf="price.total !== price.totalWithoutDiscount; else noDiscount">
      <ng-container *ngIf="!isEditing; else editing">
        <div matListItemLine>
          <span [class.strikethrough]="price.discount">
            {{price.totalWithoutDiscount | number:'1.2-2'}}
          </span>
          <span @discountAnimation class="raised-button bold">{{price.total | number:'1.2-2'}}</span>
        </div>
      </ng-container>
      <ng-template #editing>
        <div matListItemLine>
          <span>{{price.total | number:'1.2-2'}}</span>
          <span class="raised-button bold" *ngIf="discountKey">
          {{discountKey | translate}}
        </span>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #noDiscount>
      <div matListItemLine>{{price.total | number:'1.2-2'}}</div>
    </ng-template>
  </mat-list-item>
  <ng-template [ngIf]="!price.isPaid && (price.balance || price.totalPaid)">
    <ng-template [ngIf]="price.totalPaid">
      <mat-list-item>
        <div matListItemLine [innerHTML]="'COMMON.PAYMENT.OPTIONS.PAID' | translate: {
                         amount: price.totalPaid | number:'1.2-2',
                         symbol: currencyIcon | currencySymbol
                         }">
        </div>
      </mat-list-item>
    </ng-template>
    <ng-template [ngIf]="price.balance">
      <mat-list-item>
        <div matListItemLine [innerHTML]="'COMMON.PAYMENT.OPTIONS.ACCOUNT' | translate: {
                         amount: price.balance | number:'1.2-2',
                         symbol: currencyIcon | currencySymbol
                         }">
        </div>
      </mat-list-item>
    </ng-template>
    <mat-list-item>
      <div matListItemLine [innerHTML]="'COMMON.PAYMENT.OPTIONS.TO_PAY' | translate: {
                         amount: price.toPaid - price.totalPaid - price.balance | number:'1.2-2',
                         symbol: currencyIcon | currencySymbol
                         }">
      </div>
    </mat-list-item>
  </ng-template>
</ng-template>
