<div class="content">
  <section class="section-style">
    @for (section of sections; track section) {
      @switch (section.type) {
        @case ('title') {
          <h1 [ngClass]="section.class" [innerHTML]="section.value"></h1>
        }
        @case ('subtitle') {
          <h2 [ngClass]="section.class" [innerHTML]="section.value"></h2>
        }
        @case ('detail') {
          <div [ngClass]="section.class">
            <p [innerHTML]="section.value"></p>
          </div>
        }
        @case ('image') {
          <div class="image-container">
            <img class="responsive-image" [ngSrc]="section.value" [width]="section.width" [height]="section.height"
                 alt="{{section.alt}}" priority>
          </div>
        }
        @case ('image-text') {
          <div class="image-container">
            @for (detail of section.details; track detail) {
              <div class="image-margin">
                <p [ngClass]="detail.class" [innerHTML]="detail.description"></p>
                <img [ngSrc]="detail.value" [width]="detail.width" [height]="detail.height"
                     alt="{{detail.alt}}" priority>
              </div>
            }
          </div>
        }
        @case ('image-detail') {
          <div class="image-detail-container">
            @if (section.class === 'left') {
              <div class="image-detail">
                <img [ngSrc]="section.value" [width]="section.width" [height]="section.height" alt="{{section.alt}}"
                     priority>
              </div>
              <div class="text">
                @if (section.details) {
                  @for (detail of section.details; track detail) {
                    @switch (detail.type) {
                      @case ('subtitle') {
                        <h3 class="title" [innerHTML]="detail.value"></h3>
                      }
                      @case ('detail') {
                        <div>
                          <p [innerHTML]="detail.value"></p>
                        </div>
                      }
                    }
                  }
                }
              </div>
            } @else {
              <div class="text">
                @if (section.details) {
                  @for (detail of section.details; track detail) {
                    @switch (detail.type) {
                      @case ('subtitle') {
                        <h3 class="title" [innerHTML]="detail.value"></h3>
                      }
                      @case ('detail') {
                        <div>
                          <p [innerHTML]="detail.value"></p>
                        </div>
                      }
                    }
                  }
                }
              </div>
              <div class="image-detail">
                <img [ngSrc]="section.value" [width]="section.width" [height]="section.height" alt="{{section.alt}}"
                     priority>
              </div>
            }
          </div>
        }
        @case ('list') {
          <ul>
            @for (detail of section.details; track detail) {
              <li class="bold">{{ detail.value }}</li>
            }
          </ul>
        }
        @case ('enum') {
          <ol class="text-center">
            @for (detail of section.details; track detail) {
              <li class="bold">{{ detail.value }}</li>
            }
          </ol>
        }
        @case ('subsubtitle') {
          <h3 class="sub-sub-title" [innerHTML]="section.value"></h3>
        }
        @case ('divider') {
          <mat-list>
            <mat-divider class="divider margin-bottom"></mat-divider>
          </mat-list>
        }
        @case ('table') {
          <div class="table-wrapper">
            <table [ngClass]="section.class" class="responsive-table">
              @for (detail of section.details; track detail) {
                <tr>
                  @switch (detail.type) {
                    @case ('subtitle') {
                      @for (subtitle of detail.details; track subtitle) {
                        <th [ngClass]="subtitle.class" [innerHTML]="subtitle.value"></th>
                      }
                    }
                    @case ('image') {
                      @for (image of detail.details; track image) {
                        <td [ngClass]="image.class">
                          <div class="image-container">
                            <img class="image" [ngSrc]="image.value" [width]="image.width" [height]="image.height"
                                 alt="{{image.alt}}" priority>
                          </div>
                        </td>
                      }
                    }
                    @case ('detail') {
                      @for (detailDetail of detail.details; track detailDetail) {
                        <td [ngClass]="detailDetail.class">
                          <p [innerHTML]="detailDetail.value"></p>
                        </td>
                      }
                    }
                  }
                </tr>
              }
            </table>
          </div>
        }
      }
    }
  </section>
</div>
