<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <form (ngSubmit)="complete()" [formGroup]="form" novalidate>
        <mat-card class="style-card">
          <mat-card-header>
            <mat-card-title>{{ 'RESERVATION.CUSTOMER.DETAIL' | translate }}</mat-card-title>
            <mat-card-subtitle
              *ngIf="reservation; else skeleton">{{customerName}}</mat-card-subtitle>
            <ng-template #skeleton>
              <div class="ssc-line"></div>
            </ng-template>
          </mat-card-header>
          <mat-card-content *ngIf="reservation; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field *ngIf="groups; else skeleton" appearance="fill">
                <mat-label>{{ 'COMMON.PRODUCT.GROUP.FIELD' | translate }}</mat-label>
                <label>
                  <input (keydown)="keyDownHandler($event, group)" [formControl]="group" [matAutocomplete]="autoGroup"
                         matInput required type="text">
                </label>
                <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFnGroup">
                  <mat-option *ngFor="let group of filteredGroup | async" [value]="group">
                    {{group.name}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="group.hasError('required')"
                           [innerHTML]="'COMMON.PRODUCT.GROUP.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="group.hasError('requireMatch')"
                           [innerHTML]="'COMMON.PRODUCT.GROUP.INVALID' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="products" appearance="fill">
                <mat-label>{{ 'COMMON.PRODUCT.FIELD' | translate }}</mat-label>
                <label>
                  <input (keydown)="keyDownHandler($event, product)" [formControl]="product"
                         [matAutocomplete]="autoProduct"
                         matInput required type="text">
                </label>
                <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayFnProduct">
                  <mat-option *ngFor="let product of filteredProduct | async" [value]="product">
                    {{product.name}}
                  </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix>home_repair_service</mat-icon>
                <mat-error *ngIf="product.hasError('required')"
                           [innerHTML]="'COMMON.PRODUCT.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="product.hasError('requireMatch')"
                           [innerHTML]="'COMMON.PRODUCT.INVALID' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'RESERVATION.PRODUCT.EXTRAS.DESCRIPTION' | translate }}</mat-label>
                <label>
                  <textarea #message [formControl]="description" matInput maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'RESERVATION.PRODUCT.EXTRAS.PRICE' | translate }}</mat-label>
                <span matPrefix><mat-icon matPrefix>attach_money</mat-icon> &nbsp;</span>
                <label>
                  <input [formControl]="extraPrice" [min]="1" matInput step="1" type="number">
                </label>
              </mat-form-field>
              <ng-template #skeleton>
                <div class="ssc-line"></div>
              </ng-template>
              <mat-list>
                <mat-list-item *ngIf="product.value">
                  <mat-icon mat-list-icon>home_repair_service</mat-icon>
                  <div class="bold" mat-subheader>{{ 'COMMON.PRODUCT.FIELD' | translate}}</div>
                </mat-list-item>
                <mat-list-item *ngIf="product.value" style="text-align: center">
                  <div [innerHTML]="'RESERVATION.PRODUCT.COMPLETE.GROUP' |
                  translate: {name: group.value.name}" mat-line>
                  </div>
                  <div [innerHTML]="'RESERVATION.PRODUCT.COMPLETE.NAME' |
                  translate: {name: product.value.name}" mat-line>
                  </div>
                  <div *ngIf="product.value.description" [innerHTML]="'RESERVATION.PRODUCT.COMPLETE.DESCRIPTION' |
                  translate: {description: product.value.description}" mat-line>
                  </div>
                  <div mat-line>
                    <span [innerHTML]="'RESERVATION.PRODUCT.COMPLETE.PRICE' | translate"></span>
                    <span [class.strikethrough]="price.discount"
                          class="vertical-divider">$ {{price.priceWithExtras | number:'1.2-2'}}</span>
                    <span *ngIf="price.priceWithDiscount" [@discountAnimation]
                          class="vertical-divider bold">$ {{price.priceWithDiscount | number:'1.2-2'}}</span>
                  </div>
                  <div *ngIf="durability" [innerHTML]="durability" mat-line></div>
                </mat-list-item>
                <mat-list-item *ngIf="additionalList && additionalList.length">
                  <mat-icon mat-list-icon>add_post</mat-icon>
                  <div class="bold" mat-subheader>{{ 'COMMON.ADDITIONAL.FIELD' | translate}}</div>
                </mat-list-item>
                <mat-list-item *ngIf="additionalList && additionalList.length">
                  <mat-selection-list #additional (selectionChange)="onChange(additional.selectedOptions.selected)">
                    <mat-list-option *ngFor="let it of additionalList" [selected]="isSelected(it)"
                                     [value]="it" checkboxPosition="before" mat-line>
                      <div mat-line> {{it.name}} - ${{it.price | number:'1.2-2'}}</div>
                    </mat-list-option>
                  </mat-selection-list>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <div mat-line>
                    <span [innerHTML]="'RESERVATION.PRODUCT.COMPLETE.TOTAL' | translate"></span>
                    <span class="vertical-divider bold">$ {{price.total | number:'1.2-2'}}</span>
                  </div>
                </mat-list-item>
                <mat-list-item *ngIf="!price.isPaid" class="divider">
                  <mat-form-field mat-line appearance="fill">
                    <mat-label>{{ 'RESERVATION.PAYMENT.TYPE' | translate }}</mat-label>
                    <mat-select [formControl]="type">
                      <mat-option *ngFor="let t of types | keyvalue" [value]="t.value">
                        {{ 'COMMON.PAYMENT.' + t.value | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-list-item>
              </mat-list>
              <ng-template #skeleton>
                <div class="ssc-line"></div>
              </ng-template>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="reservation; else buttonSkeleton">
            <div fxFlex></div>
            <button [disabled]="group.invalid || product.invalid" cdkFocusInitial color="primary"
                    mat-raised-button>{{ 'COMMON.BUTTON.COMPLETE' | translate }}</button>
            <button appBackButton color="accent" mat-raised-button
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </mat-card>
      </form>
    </div>
  </div>
</div>
