<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <form (ngSubmit)="complete" [formGroup]="form" novalidate>
        <mat-card appearance="outlined" class="style-card">
          <mat-card-header>
            <mat-card-title>{{ 'RESERVATION.CUSTOMER.DETAIL' | translate }}</mat-card-title>
            <mat-card-subtitle
              *ngIf="reservation; else skeleton">{{reservation.customer.displayName}}</mat-card-subtitle>
            <ng-template #skeleton>
              <div class="ssc-line"></div>
            </ng-template>
          </mat-card-header>
          <mat-card-content *ngIf="reservation; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field *ngIf="groups; else skeleton" appearance="outline">
                <mat-label>{{ 'COMMON.TREATMENT.GROUP.FIELD' | translate }}</mat-label>
                <label>
                  <input (keydown)="keyDownHandler($event, group)" [formControl]="group" [matAutocomplete]="autoGroup"
                         matInput required type="text">
                </label>
                <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFnGroup">
                  <mat-option *ngFor="let group of filteredGroup | async" [value]="group">
                    {{group.name}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="group.hasError('required')"
                           [innerHTML]="'COMMON.TREATMENT.GROUP.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="group.hasError('requireMatch')"
                           [innerHTML]="'COMMON.TREATMENT.GROUP.INVALID' | translate">
                </mat-error>
              </mat-form-field>
              <ng-template [ngIf]="treatments">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'COMMON.TREATMENT.FIELD' | translate }}</mat-label>
                  <label>
                    <input (keydown)="keyDownHandler($event, treatment)" [formControl]="treatment"
                           [matAutocomplete]="autoTreatment"
                           matInput required type="text">
                  </label>
                  <mat-autocomplete #autoTreatment="matAutocomplete" [displayWith]="displayFnTreatment">
                    <mat-option *ngFor="let treatment of filteredTreatment | async" [value]="treatment">
                      {{treatment.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-icon matSuffix>spa</mat-icon>
                  <mat-error *ngIf="treatment.hasError('required')"
                             [innerHTML]="'COMMON.TREATMENT.REQUIRED' | translate">
                  </mat-error>
                  <mat-error *ngIf="treatment.hasError('requireMatch')"
                             [innerHTML]="'COMMON.TREATMENT.INVALID' | translate">
                  </mat-error>
                </mat-form-field>
              </ng-template>
              <ng-template [ngIf]="colors">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'COMMON.TREATMENT.COLOR.FIELD' | translate }}</mat-label>
                  <label>
                    <input (keydown)="keyDownHandler($event, color)" [formControl]="color"
                           [matAutocomplete]="autoColor" matInput type="text">
                  </label>
                  <mat-autocomplete #autoColor="matAutocomplete" [displayWith]="displayFnColor">
                    <mat-option *ngFor="let color of filteredColor | async" [value]="color">
                      {{color.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-icon matSuffix>palette</mat-icon>
                  <mat-error *ngIf="color.hasError('requireMatch')"
                             [innerHTML]="'COMMON.TREATMENT.COLOR.INVALID' | translate">
                  </mat-error>
                </mat-form-field>
              </ng-template>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'RESERVATION.TREATMENT.EXTRAS.DESCRIPTION' | translate }}</mat-label>
                <label>
                  <textarea #message [formControl]="description" matInput maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'RESERVATION.TREATMENT.EXTRAS.PRICE' | translate }}</mat-label>
                <span matPrefix><mat-icon matPrefix>{{reservation.room.currency.icon}}</mat-icon> &nbsp;</span>
                <label>
                  <input [formControl]="extraPrice" matInput type="number">
                </label>
              </mat-form-field>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'RESERVATION.TIME.START.FIELD' | translate }}</mat-label>
                  <label>
                    <input [formControl]="startTime" [format]="24" [ngxTimepicker]="tStart" matInput name="start"
                           readonly required style="text-align: center;"/>
                  </label>
                  <span matPrefix class="bold" style="margin: 0 5px 0 10px;">
                  {{startDate | timeDetail | date:'shortDate':reservation.room.timeZone:dateFormat}}
                </span>
                  <mat-icon (click)="tStart.open()" matSuffix>schedule</mat-icon>
                  <ngx-material-timepicker #tStart (timeSet)="timeChange($event, startDate)"></ngx-material-timepicker>
                  <mat-error *ngIf="startTime.hasError('required')"
                             [innerHTML]="'RESERVATION.TIME.START.REQUIRED' | translate">
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'RESERVATION.TIME.END.FIELD' | translate }}</mat-label>
                  <label>
                    <input [formControl]="endTime" [format]="24" [ngxTimepicker]="tEnd" matInput name="end" readonly
                           required style="text-align: center;"/>
                  </label>
                  <span matPrefix class="bold" style="margin: 0 5px 0 10px;">
                  {{endDate | timeDetail | date:'shortDate':reservation.room.timeZone:dateFormat}}
                </span>
                  <mat-icon (click)="tEnd.open()" matSuffix>schedule</mat-icon>
                  <ngx-material-timepicker #tEnd (timeSet)="timeChange($event, endDate)"></ngx-material-timepicker>
                  <mat-error *ngIf="endTime.hasError('required')"
                             [innerHTML]="'RESERVATION.TIME.END.REQUIRED' | translate">
                  </mat-error>
                </mat-form-field>
              </div>
              <ng-template #skeleton>
                <div class="ssc-line"></div>
              </ng-template>
              <mat-list>
                <ng-template [ngIf]="group.value && treatment.value">
                  <mat-list-item>
                    <mat-icon matListItemIcon>spa</mat-icon>
                    <div class="bold" matListItemTitle>{{ 'COMMON.TREATMENT.FIELD' | translate}}</div>
                  </mat-list-item>
                  <mat-list-item style="text-align: center">
                    <div [innerHTML]="'RESERVATION.TREATMENT.COMPLETE.GROUP' | translate: {name: group.value.name}"
                         matListItemLine>
                    </div>
                    <div [innerHTML]="'RESERVATION.TREATMENT.COMPLETE.NAME' | translate: {name: treatment.value.name}"
                         matListItemLine>
                    </div>
                    <ng-template [ngIf]="treatment.value.description">
                      <div
                        [innerHTML]="'RESERVATION.TREATMENT.COMPLETE.DESCRIPTION' | translate: {description: treatment.value.description}"
                        matListItemLine>
                      </div>
                    </ng-template>
                    <div matListItemTitle>
                      <span [innerHTML]="'RESERVATION.TREATMENT.COMPLETE.PRICE' | translate"></span>
                      <span
                        class="vertical-divider bold"> {{reservation.room.currency | currencySymbol}} {{price.amount | number:'1.2-2'}}</span>
                    </div>
                    <ng-template [ngIf]="durability">
                      <div [innerHTML]="durability" matListItemLine></div>
                    </ng-template>
                  </mat-list-item>
                </ng-template>
                <ng-template [ngIf]="additionalList && additionalList.length">
                  <mat-list-item>
                    <mat-icon matListItemIcon>add_post</mat-icon>
                    <div class="bold" matListItemTitle>{{ 'COMMON.ADDITIONAL.FIELD' | translate}}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-selection-list #additional (selectionChange)="onChange(additional.selectedOptions.selected)">
                      <mat-list-option *ngFor="let it of additionalList" [selected]="isSelected(it)" [value]="it"
                                       checkboxPosition="before">
                        <div matListItemLine>{{it.name}}</div>
                        <div matListItemLine>
                          <span>
                            {{reservation.room.currency | currencySymbol}} {{it.price | number:'1.2-2'}}
                          </span>
                          &nbsp;&#9202;
                          <span>{{it.duration | durationTime}}</span>
                        </div>
                      </mat-list-option>
                    </mat-selection-list>
                  </mat-list-item>
                </ng-template>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <div mat-line>
                    <span [innerHTML]="'RESERVATION.TREATMENT.COMPLETE.TOTAL' | translate"></span>
                    <ng-template [ngIf]="price.priceWithDiscount" [ngIfElse]="noDiscount">
                      <span [class.strikethrough]="price.discount" class="vertical-divider">
                        {{reservation.room.currency | currencySymbol}} {{price.totalWithoutDiscount | number:'1.2-2'}}
                      </span>
                      <span [@discountAnimation] class="vertical-divider bold">
                        {{reservation.room.currency | currencySymbol}} {{price.total | number:'1.2-2'}}
                      </span>
                    </ng-template>
                    <ng-template #noDiscount>
                      <span class="raised-button">
                        {{reservation.room.currency | currencySymbol}} {{price.total | number:'1.2-2'}}
                      </span>
                    </ng-template>
                  </div>
                </mat-list-item>
                <ng-template [ngIf]="!price.isPaid && (price.balance || price.totalPaid)">
                  <ng-template [ngIf]="price.totalPaid">
                    <mat-list-item>
                      <div matListItemLine [innerHTML]="'COMMON.PAYMENT.OPTIONS.PAID' | translate: {
                         amount: price.totalPaid | number:'1.2-2',
                         symbol: reservation.room.currency | currencySymbol
                         }">
                      </div>
                    </mat-list-item>
                  </ng-template>
                  <ng-template [ngIf]="price.balance">
                    <mat-list-item>
                      <div matListItemLine [innerHTML]="'COMMON.PAYMENT.OPTIONS.ACCOUNT' | translate: {
                         amount: price.balance | number:'1.2-2',
                         symbol: reservation.room.currency | currencySymbol
                         }">
                      </div>
                    </mat-list-item>
                  </ng-template>
                  <mat-list-item>
                    <div matListItemLine [innerHTML]="'COMMON.PAYMENT.OPTIONS.TO_PAY' | translate: {
                         amount: price.toPaid - price.totalPaid - price.balance | number:'1.2-2',
                         symbol: reservation.room.currency | currencySymbol
                         }">
                    </div>
                  </mat-list-item>
                </ng-template>
              </mat-list>
              <ng-template [ngIf]="!price.isPaid">
                <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'RESERVATION.PAYMENT.TYPE' | translate }}</mat-label>
                    <mat-select [formControl]="type">
                      <mat-option *ngFor="let t of types" [value]="t">
                        {{ 'COMMON.PAYMENT.TYPE.' + (t || 'NONE') | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <ng-template [ngIf]="type.value === 'TRANSFER'">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ 'RESERVATION.PAYMENT.TRANSFER.FIELD' | translate }}</mat-label>
                      <label>
                        <input [formControl]="transfer" matInput>
                      </label>
                    </mat-form-field>
                  </ng-template>
                </div>
              </ng-template>
              <ng-template #skeleton>
                <div class="ssc-line"></div>
              </ng-template>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="reservation; else buttonSkeleton">
            <div fxFlex></div>
            <button appBackButton color="accent" mat-fab extended class="icon-button"
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
            <button [disabled]="group.invalid || treatment.invalid" cdkFocusInitial color="primary"
                    mat-fab extended class="icon-button">{{ 'COMMON.BUTTON.COMPLETE' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </mat-card>
      </form>
    </div>
  </div>
</div>
