<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div *ngIf="!error; else errorBox" fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'UNAVAILABLE.DETAIL.TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <form (ngSubmit)="update()" [formGroup]="form" novalidate>
          <mat-card-content *ngIf="unavailable; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'ROOM.DETAIL.PROFESSIONAL.FIELD' | translate }}</mat-label>
                <label>
                  <input [value]="professionalName" disabled matInput type="text">
                </label>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'UNAVAILABLE.DETAIL.DESCRIPTION.FIELD' | translate }}</mat-label>
                <label>
                  <textarea #message formControlName="description" matInput maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>

              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                <button (click)="picker.open()" mat-icon-button>
                  <mat-icon>today</mat-icon>
                </button>
                <mat-form-field appearance="fill" color="primary" style="margin-right: 12px;">
                  <mat-label>{{ 'UNAVAILABLE.DETAIL.DATE.FIELD' | translate }}</mat-label>
                  <label>
                    <input (dateChange)="setDate($event)" (focus)="picker.open()" [formControl]="startDate" [matDatepickerFilter]="myFilter"
                           [matDatepicker]="picker" matInput
                           required>
                  </label>
                  <mat-datepicker #picker touchUi></mat-datepicker>
                  <mat-error *ngIf="startDate.hasError('required')"
                             [innerHTML]="'UNAVAILABLE.DETAIL.DATE.REQUIRED' | translate">
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" style="margin-right: 12px;">
                  <mat-label>{{ 'UNAVAILABLE.DETAIL.TIME.FIELD' | translate }}</mat-label>
                  <label>
                    <input (focusin)="focusin()" [formControl]="startTime" [format]="24" [max]="maxTime" [min]="minTime"
                           [ngxTimepicker]="time" matInput name="start_time" readonly required/>
                  </label>
                  <span matPrefix><mat-icon (click)="time.open()" matPrefix>schedule</mat-icon> &nbsp;</span>
                  <ngx-material-timepicker #time (timeSet)="setTime($event)" [minutesGap]="15"
                                           [theme]="theme"></ngx-material-timepicker>
                  <mat-error *ngIf="startTime.hasError('required')"
                             [innerHTML]="'UNAVAILABLE.DETAIL.TIME.REQUIRED' | translate">
                  </mat-error>
                </mat-form-field>
              </div>

              <mat-form-field appearance="fill">
                <mat-label>{{ 'UNAVAILABLE.DETAIL.DURATION.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="duration" [format]="24" [max]="durationMax" [ngxTimepicker]="t" matInput
                         name="duration" readonly required/>
                </label>
                <span matPrefix><mat-icon (click)="t.open()" matPrefix>timer</mat-icon> &nbsp;</span>
                <ngx-material-timepicker #t [minutesGap]="15" [theme]="theme"></ngx-material-timepicker>
                <mat-error *ngIf="duration.hasError('required')"
                           [innerHTML]="'UNAVAILABLE.DETAIL.DURATION.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['duration']">
                  {{errors['duration']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'UNAVAILABLE.DETAIL.REPEAT.FIELD' | translate }}</mat-label>
                <mat-select [formControl]="repeat" required>
                  <mat-option *ngFor="let t of repeats | keyvalue" [value]="t.value">
                    {{ 'COMMON.REPEAT.' + t.value | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="unavailable; else buttonSkeleton">
            <div fxFlex></div>
            <button [disabled]="form.invalid || form.pristine" color="primary" mat-raised-button
                    type="submit">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
            <button appBackButton type="button" color="accent" mat-raised-button>{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </form>
      </mat-card>
    </div>
    <ng-template #errorBox>
      <app-error [error]="error"></app-error>
    </ng-template>
  </div>
</div>
