<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ 'UNAVAILABLE.DETAIL' | translate }}</mat-card-title>
        </mat-card-header>
        <form (ngSubmit)="update" [formGroup]="form" novalidate>
          <mat-card-content *ngIf="unavailable; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'UNAVAILABLE.PROFESSIONAL.FIELD' | translate }}</mat-label>
                <label>
                  <input [value]="professionalName" disabled matInput type="text">
                </label>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'UNAVAILABLE.DESCRIPTION.FIELD' | translate }}</mat-label>
                <label>
                  <textarea #message formControlName="description" matInput maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>

              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                <mat-form-field appearance="outline" color="primary" style="margin-right: 12px;">
                  <mat-label>{{ 'UNAVAILABLE.DATE.FIELD' | translate }}</mat-label>
                  <button (click)="picker.open()" mat-icon-button matPrefix>
                    <mat-icon>today</mat-icon>
                  </button>
                  <label>
                    <input (dateChange)="setDate($event)" (focus)="picker.open()" [formControl]="startDate"
                           [matDatepickerFilter]="myFilter" [matDatepicker]="picker" matInput required>
                  </label>
                  <mat-datepicker #picker touchUi></mat-datepicker>
                  <mat-error *ngIf="startDate.hasError('required')"
                             [innerHTML]="'UNAVAILABLE.DATE.REQUIRED' | translate">
                  </mat-error>
                  <mat-error *ngIf="errors['startDate']">
                    {{errors['startDate']}}
                  </mat-error>
                </mat-form-field>
                <mat-checkbox [formControl]="allDay"
                              color="primary">{{ 'COMMON.ALL_DAY.CHECK' | translate }}</mat-checkbox>
                <mat-form-field *ngIf="!allDay.value" appearance="outline" style="margin-right: 12px;">
                  <mat-label>{{ 'UNAVAILABLE.TIME.FIELD' | translate }}</mat-label>
                  <label>
                    <input (focusin)="focusin" [formControl]="startTime" [format]="24" [max]="maxTime" [min]="minTime"
                           [ngxTimepicker]="time" matInput name="start_time" readonly required/>
                  </label>
                  <span matPrefix><mat-icon (click)="time.open()" matPrefix>schedule</mat-icon> &nbsp;</span>
                  <ngx-material-timepicker #time (timeSet)="setTime($event)"
                                           [minutesGap]="15"></ngx-material-timepicker>
                  <mat-error *ngIf="startTime.hasError('required')"
                             [innerHTML]="'UNAVAILABLE.TIME.REQUIRED' | translate">
                  </mat-error>
                </mat-form-field>
              </div>

              <mat-form-field *ngIf="!allDay.value" appearance="outline">
                <mat-label>{{ 'UNAVAILABLE.DURATION.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="duration" [format]="24" [max]="durationMax" [ngxTimepicker]="t" matInput
                         name="duration" readonly required/>
                </label>
                <span matPrefix><mat-icon (click)="t.open()" matPrefix>timer</mat-icon> &nbsp;</span>
                <ngx-material-timepicker #t [minutesGap]="15"></ngx-material-timepicker>
                <mat-error *ngIf="duration.hasError('required')"
                           [innerHTML]="'UNAVAILABLE.DURATION.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['duration']">
                  {{errors['duration']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'UNAVAILABLE.REPEAT.FIELD' | translate }}</mat-label>
                <mat-select [formControl]="repeat" required>
                  <mat-option *ngFor="let t of repeats | keyvalue" [value]="t.value">
                    {{ 'COMMON.REPEAT.' + t.value | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="showEnd" appearance="outline" color="primary" style="margin-right: 12px;">
                <mat-label>{{ 'UNAVAILABLE.END.FIELD' | translate }}</mat-label>
                <button (click)="picker.open()" mat-icon-button matPrefix>
                  <mat-icon>today</mat-icon>
                </button>
                <label>
                  <input (focus)="picker.open()" [formControl]="endDate" [matDatepickerFilter]="myFilter"
                         [matDatepicker]="picker" [min]="startDate.value" matInput required>
                </label>
                <mat-datepicker #picker touchUi></mat-datepicker>
                <mat-error *ngIf="endDate.hasError('required')"
                           [innerHTML]="'UNAVAILABLE.END.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="endDate.hasError('matDatepickerMin')"
                           [innerHTML]="'UNAVAILABLE.END.GREATER' | translate">
                </mat-error>
                <mat-error *ngIf="errors['endDate']">
                  {{errors['endDate']}}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="unavailable; else buttonSkeleton">
            <div fxFlex></div>
            <button (click)="delete" color="warn" mat-fab extended class="icon-button"
                    type="button">{{ 'COMMON.BUTTON.DELETE' | translate }}</button>
            <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button"
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
            <button [disabled]="form.invalid || form.pristine" color="primary" mat-fab extended class="icon-button"
                    type="submit">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </form>
      </mat-card>
    </div>
  </div>
</div>
