<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <form (ngSubmit)="submit()" [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
        @let isAddMode = isAddModeSignal();
        @let additional = additionalSignal();
        <mat-card appearance="outlined">
          @if (isAddMode) {
            <mat-card-header>
              <mat-card-title>{{ 'ADDITIONAL.TITLE' | translate }}</mat-card-title>
            </mat-card-header>
          } @else {
            <mat-card-header>
              <mat-card-title>{{ 'ADDITIONAL.DETAIL' | translate }}</mat-card-title>
              @if (additional) {
                <mat-card-subtitle>{{ additional.name }}</mat-card-subtitle>
              } @else {
                <div class="ssc-line"></div>
              }
            </mat-card-header>
          }
          @if (isAddMode || additional) {
            <mat-card-content>
              <div class="inner-container">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADDITIONAL.NAME.FIELD' | translate }}</mat-label>
                  <label>
                    <input [formControl]="getForm.name" autocomplete="name" matInput required data-cy="name-input">
                  </label>
                  @if (getForm.name.hasError('required')) {
                    <mat-error [innerHTML]="'ADDITIONAL.NAME.REQUIRED' | translate"></mat-error>
                  } @else if (errors()['name']) {
                    <mat-error>
                      {{ errors()['name'] }}
                    </mat-error>
                  }
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADDITIONAL.DESCRIPTION.FIELD' | translate }}</mat-label>
                  <label>
                    <textarea #message [formControl]="getForm.description" matInput maxlength="256"
                              data-cy="description-textarea"></textarea>
                  </label>
                  <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADDITIONAL.DURATION.FIELD' | translate }}</mat-label>
                  <label>
                    <input [formControl]="getForm.duration" [format]="24" [ngxTimepicker]="t" matInput
                           name="duration" required readonly data-cy="duration-input"/>
                  </label>
                  <span matPrefix><mat-icon (click)="t.open()" matPrefix>timer</mat-icon> &nbsp;</span>
                  <ngx-material-timepicker #t [minutesGap]="15"></ngx-material-timepicker>
                  @if (getForm.duration.hasError('required')) {
                    <mat-error [innerHTML]="'ADDITIONAL.DURATION.REQUIRED' | translate"></mat-error>
                  } @else if (errors()['duration']) {
                    <mat-error>
                      {{ errors()['duration'] }}
                    </mat-error>
                  }
                </mat-form-field>
                @if (allGroupsWritableSignal(); as allGroups) {
                  <div class="fields-container" id="groups">
                    @if (allGroups!.length || groupsSignal().length) {
                      <mat-form-field class="chip-list">
                        <mat-label>{{ 'COMMON.TREATMENT.GROUP.FIELD' | translate }}</mat-label>
                        <mat-chip-grid #chipList aria-label="Group selection">
                          @for (group of groupsSignal(); track group.id) {
                            <mat-chip-row (removed)="remove(group)" [removable]="true">
                              {{ group.name }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-row>
                          }
                          <input #groupInput [formControl]="getForm.group" [matAutocomplete]="auto"
                                 [matChipInputFor]="chipList">
                        </mat-chip-grid>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedGroup($event)">
                          @for (group of sortGroups(filteredGroupSignal()); track group.id) {
                            <mat-option [value]="group">
                              {{ group.name }}
                            </mat-option>
                          }
                        </mat-autocomplete>
                      </mat-form-field>
                      <button class="hide-gt-xs" [routerLink]="['/', language, 'treatments', 'add']" color="accent"
                              mat-fab type="button">
                        <mat-icon matPrefix>add</mat-icon>
                      </button>
                      <button class="hide-xs" [routerLink]="['/', language, 'treatments', 'add']" color="accent" mat-fab
                              extended type="button">
                        <mat-icon matPrefix>add</mat-icon>
                        <span>{{ 'COMMON.TREATMENT.GROUP.ADD_BUTTON' | translate }}</span>
                      </button>
                    }
                  </div>
                } @else {
                  <div class="ssc-line"></div>
                }
              </div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <div class="spacer"></div>
              <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button" type="button">
                {{ 'COMMON.BUTTON.BACK' | translate }}
              </button>
              @if (isAddMode) {
                <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button" type="submit">
                  {{ 'COMMON.BUTTON.CREATE' | translate }}
                </button>
              } @else {
                <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button" type="submit">
                  {{ 'COMMON.BUTTON.UPDATE' | translate }}
                </button>
              }
            </mat-card-actions>
          } @else {
            <mat-card-content>
              <div class="ssc-hr"></div>
              <div class="ssc-square mb"></div>
              <div class="ssc-hr"></div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <div class="ssc-head-line"></div>
            </mat-card-actions>
          }
        </mat-card>
      </form>
    </div>
  </div>
</div>
