<mat-card>
  <mat-card-content>
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-list>
          <div mat-subheader (click)="goToMonth(month.month, 'INCOME')"
               class="header pointer">{{ 'SUMMARY.INCOME' | translate }}
          </div>
          <mat-list-item>
            <div class="fields-container" matListItemTitle>
              <div>{{ 'SUMMARY.MONTHLY.TABLE.GROSS' | translate }}</div>
              <div class="currency">
                {{ income?.gross | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
              </div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="fields-container result" matListItemTitle>
              <div>{{ 'SUMMARY.MONTHLY.TABLE.BTW' | translate }}</div>
              <div class="currency">
                {{ income?.btw | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
              </div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="fields-container" matListItemTitle>
              <div>{{ 'SUMMARY.MONTHLY.TABLE.NET' | translate }}</div>
              <div class="currency">
                {{ income?.net | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
              </div>
            </div>
          </mat-list-item>
          <div mat-subheader (click)="goToMonth(month.month, 'EXPENSE')"
               class="header pointer">{{ 'SUMMARY.EXPENSE' | translate }}
          </div>
          <mat-list-item [ngClass]="{'bottom':!showCash}">
            <div class="fields-container" matListItemTitle>
              <div>{{ 'SUMMARY.MONTHLY.TABLE.GROSS' | translate }}</div>
              <div class="currency">
                {{ expense?.gross | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
              </div>
            </div>
          </mat-list-item>
          <mat-list-item [ngClass]="{'bottom':!showCash}">
            <div class="fields-container result" matListItemTitle>
              <div>{{ 'SUMMARY.MONTHLY.TABLE.BTW' | translate }}</div>
              <div class="currency">
                {{ expense?.btw | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
              </div>
            </div>
          </mat-list-item>
          <mat-list-item [ngClass]="{'bottom':!showCash}">
            <div class="fields-container" matListItemTitle>
              <div>{{ 'SUMMARY.MONTHLY.TABLE.NET' | translate }}</div>
              <div class="currency">
                {{ expense?.net | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer>
        <mat-list>
          <mat-list-item class="bottom" matListItemTitle>
            <div class="fields-container">
              <div>{{ 'SUMMARY.MONTHLY.TABLE.GROSS' | translate }}</div>
              <div class="currency">
                {{ month.totalWithoutGross | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
              </div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="fields-container result" matListItemTitle>
              <div>{{ 'SUMMARY.MONTHLY.TABLE.BTW' | translate }}</div>
              <div class="currency">
                {{ month.totalWithoutBTW | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
              </div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="fields-container" matListItemTitle>
              <div>{{ 'SUMMARY.MONTHLY.TABLE.NET' | translate }}</div>
              <div class="currency">
                {{ month.totalWithoutNet | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-footer>
    </mat-card>

    @if (showCash) {
      <mat-card appearance="outlined" class="bottom">
        <mat-card-content>
          <mat-list>
            <div mat-subheader (click)="goToMonth(month.month, 'CASH')"
                 class="header pointer">{{ 'SUMMARY.CASH' | translate }}
            </div>
            <mat-list-item class="bottom">
              <div class="fields-container" matListItemTitle>
                <div>{{ 'SUMMARY.MONTHLY.TABLE.GROSS' | translate }}</div>
                <div class="currency">
                  {{ cash?.gross | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="fields-container result" matListItemTitle>
                <div>{{ 'SUMMARY.MONTHLY.TABLE.BTW' | translate }}</div>
                <div class="currency">
                  {{ cash?.btw | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="fields-container" matListItemTitle>
                <div>{{ 'SUMMARY.MONTHLY.TABLE.NET' | translate }}</div>
                <div class="currency">
                  {{ cash?.net | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
          <mat-list>
            <div mat-subheader class="header">{{ 'SUMMARY.TOTAL_CASH' | translate }}</div>
            <mat-list-item class="bottom">
              <div class="fields-container" matListItemTitle>
                <div>{{ 'SUMMARY.MONTHLY.TABLE.GROSS' | translate }}</div>
                <div class="currency">
                  {{ month.totalGross | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
                </div>
              </div>
            </mat-list-item>
            <mat-list-item class="bottom" matListItemTitle>
              <div class="fields-container result">
                <div>{{ 'SUMMARY.MONTHLY.TABLE.BTW' | translate }}</div>
                <div class="currency">
                  {{ month.totalBTW | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
                </div>
              </div>
            </mat-list-item>
            <mat-list-item class="bottom" matListItemTitle>
              <div class="fields-container">
                <div>{{ 'SUMMARY.MONTHLY.TABLE.NET' | translate }}</div>
                <div class="currency">
                  {{ month.totalNet | currency: (currency?.code || 'EUR'): 'symbol': '1.2-2' }}
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-footer>
      </mat-card>
    }
  </mat-card-content>
</mat-card>
