@let currentUpcoming = upcomingComputed();
@if (currentUpcoming) {
  <mat-card appearance="outlined">
    @if (currentUpcoming.price.isPaid) {
      <span [@stampAnimation]="{value: ':enter', params: {deg: -20}}" class="stamp stamp-paid">
        {{ 'ME.RESERVATION.UPCOMING.PAID' | translate }}
      </span>
    }
    @if (currentUpcoming.state === 'APPROVED') {
      <span [@stampAnimation]="{value: ':enter', params: {deg: 20}}" class="stamp stamp-approved">
        {{ 'ME.RESERVATION.UPCOMING.APPROVED' | translate }}
      </span>
    }
    @if (currentUpcoming.id) {
      <mat-card-header>
        <mat-card-subtitle>{{ currentUpcoming.id }}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
    } @else {
      <div class="divider-padding-bottom">
        <div class="ssc-head-line"></div>
      </div>
    }
    <mat-card-content>
      <div class="container">
        <table>
          <tbody>
            @if (currentUpcoming.id) {
              <tr>
                <td class="right">{{ 'ME.RESERVATION.UPCOMING.START' | translate }}</td>
                <td class="left">{{ currentUpcoming.start | date:'short':currentUpcoming.room.timeZone:dateFormat }}
                  @if (showTimeZone()) {
                    <button (click)="openDialog(currentUpcoming.start)" mat-icon-button type="button">
                      <mat-icon>info_outline</mat-icon>
                    </button>
                  }
                </td>
              </tr>
              @if (currentUpcoming.end) {
                <tr>
                  <td class="right">{{ 'ME.RESERVATION.UPCOMING.END' | translate }}</td>
                  <td class="left">{{ currentUpcoming.end | date:'short':currentUpcoming.room.timeZone:dateFormat }}
                    @if (showTimeZone()) {
                      <button (click)="openDialog(currentUpcoming.end)" mat-icon-button type="button">
                        <mat-icon>info_outline</mat-icon>
                      </button>
                    }
                  </td>
                </tr>
              }
              <tr>
                <td class="right">{{ 'COMMON.ROOM.FIELD' | translate }}</td>
                <td class="left">{{ currentUpcoming.room | roomName }}</td>
              </tr>
              <tr>
                <td class="right">{{ 'COMMON.ADDRESS.FIELD' | translate }}</td>
                <td class="left">
                  <a
                    [href]="'https://www.google.com/maps/dir/?api=1&z=15&destination=' + currentUpcoming.room.address.name"
                    rel="noreferrer" target="_blank">
                    {{ currentUpcoming.room.address.name }}
                  </a>
                </td>
              </tr>
              <tr>
                <td class="right">{{ 'COMMON.TREATMENT.FIELD' | translate }}</td>
                <td class="left">{{ currentUpcoming.treatment.name }}</td>
              </tr>
              @if (currentUpcoming.price) {
                <tr>
                  <td class="right">{{ 'ME.RESERVATION.TREATMENT.PRICE.FIELD' | translate }}</td>
                  <td
                    class="left">{{ currentUpcoming.room.currency | currencySymbol }} {{ currentUpcoming.price.amount | number:'1.2-2' }}
                  </td>
                </tr>
              }
              @if (currentUpcoming.rowSpan) {
                <tr>
                  <td [rowSpan]="currentUpcoming.rowSpan" class="right">{{ 'COMMON.ADDITIONAL.FIELD' | translate }}</td>
                  <td class="left">
                    @for (additional of currentUpcoming.additional; track additional) {
                      <div>{{ additional.name }}
                        - {{ currentUpcoming.room.currency | currencySymbol }} {{ additional.price | number:'1.2-2' }}
                      </div>
                    }
                  </td>
                </tr>
              }
            } @else {
              <tr>
                <div class="ssc-line"></div>
              </tr>
              <tr>
                <div class="ssc-line"></div>
              </tr>
              <tr>
                <div class="ssc-line"></div>
              </tr>
              <tr>
                <div class="ssc-line"></div>
              </tr>
              <tr>
                <div class="ssc-line"></div>
              </tr>
              <tr>
                <div class="ssc-line"></div>
              </tr>
              <tr>
                <div class="ssc-line"></div>
              </tr>
            }
          </tbody>
          @if (currentUpcoming.price) {
            <tfoot class="foot">
            <tr>
              <th class="right">{{ 'COMMON.LABEL.TOTAL' | translate }}</th>
              @if (currentUpcoming.price.discount) {
                <td class="left">
                <span
                  [class.strikethrough]="currentUpcoming.price.total !== currentUpcoming.price.totalWithoutDiscount">
                  {{ currentUpcoming.room.currency | currencySymbol }} {{ currentUpcoming.price.totalWithoutDiscount | number:'1.2-2' }}
                </span>
                  <span [@discountAnimation] class="raised-button bold">
                  {{ currentUpcoming.room.currency | currencySymbol }} {{ currentUpcoming.price.total | number:'1.2-2' }}
                </span>
                </td>
              } @else {
                <td
                  class="left">{{ currentUpcoming.room.currency | currencySymbol }} {{ currentUpcoming.price.total | number:'1.2-2' }}
                </td>
              }
            </tr>
              @if (currentUpcoming.price && currentUpcoming.price.totalPaid) {
                <tr>
                  <th class="right">{{ 'ME.RESERVATION.UPCOMING.PAID' | translate }}</th>
                  <td
                    class="left minus">{{ currentUpcoming.room.currency | currencySymbol }}
                    ({{ currentUpcoming.price.totalPaid | number:'1.2-2' }})
                  </td>
                </tr>
                <tr>
                  <th class="right">{{ 'ME.RESERVATION.UPCOMING.TO_PAY' | translate }}</th>
                  <td
                    class="left bold">{{ currentUpcoming.room.currency | currencySymbol }} {{ (currentUpcoming.price.total - currentUpcoming.price.totalPaid) | number:'1.2-2' }}
                  </td>
                </tr>
              }
            </tfoot>
          } @else {
            <div class="ssc-line"></div>
          }
        </table>
        @if (currentUpcoming.state === 'CREATED') {
          <div class="red-text">{{ 'ME.RESERVATION.UPCOMING.CREATED' | translate }}
            <span class="bold">
          {{ currentUpcoming.professional.displayName }}
        </span>
          </div>
        }
        <!--        @if (upcoming.state === 'APPROVED') {-->
        <!--          <div class="red-text">-->
        <!--            {{ 'ME.RESERVATION.UPCOMING.PAY_NOW' | translate }}-->
        <!--          </div>-->
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    @if (currentUpcoming.id) {
      <mat-card-actions class="card-actions">
        <div class="spacer"></div>
        @if (!['CANCELLED_PAYMENT_REQUIRED', 'PAID'].includes(currentUpcoming.state) && currentUpcoming.room.paymentTypes.length > 1) {
          <button class="hide-gt-xs icon-button"
                  [routerLink]="['/', language, 'me', 'reservation', currentUpcoming.id, 'payment', 'option']"
                  mat-fab>
            <mat-icon class="payment-button" color="primary">payment</mat-icon>
          </button>
          <button class="hide-xs icon-button"
                  [routerLink]="['/', language, 'me', 'reservation', currentUpcoming.id, 'payment', 'option']"
                  mat-fab extended>
            <mat-icon class="payment-button" color="primary">payment</mat-icon>
            <span>{{ 'COMMON.BUTTON.PAYMENT' | translate }}</span>
          </button>
        }
        @if (currentUpcoming.state === 'CANCELLED_PAYMENT_REQUIRED' && currentUpcoming.room.paymentTypes.length > 1) {
          <button class="hide-gt-xs icon-button"
                  [routerLink]="['/', language, 'me', 'reservation', currentUpcoming.id, 'payment']" mat-fab>
            <mat-icon class="payment-button" color="primary">payment</mat-icon>
          </button>
          <button class="hide-xs icon-button"
                  [routerLink]="['/', language, 'me', 'reservation', currentUpcoming.id, 'payment']"
                  mat-fab extended>
            <mat-icon class="payment-button" color="primary">payment</mat-icon>
            <span>{{ 'COMMON.BUTTON.PAYMENT' | translate }}</span>
          </button>
        }
        <button class="hide-gt-xs icon-button" (click)="edit()" color="primary"
                mat-fab>
          <mat-icon>edit_calendar</mat-icon>
        </button>
        <button class="hide-xs icon-button" (click)="edit()" color="primary"
                mat-fab extended>
          <mat-icon>edit_calendar</mat-icon>
          <span>{{ 'COMMON.BUTTON.EDIT' | translate }}</span>
        </button>
        <button class="hide-gt-xs icon-button" [routerLink]="['/', language, 'reservation', currentUpcoming.id]"
                color="primary"
                mat-fab>
          <mat-icon>visibility</mat-icon>
        </button>
        <button class="hide-xs icon-button" [routerLink]="['/', language, 'reservation', currentUpcoming.id]"
                color="primary"
                mat-fab
                extended>
          <mat-icon>visibility</mat-icon>
          <span>{{ 'COMMON.BUTTON.VIEW' | translate }}</span>
        </button>
      </mat-card-actions>
    } @else {
      <div class="divider-padding">
        <div class="ssc-head-line"></div>
      </div>
    }
  </mat-card>
}
