<div *ngIf="!error; else errorBox" class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <mat-card class="style-card">
        <mat-card-header>
          <mat-card-title>{{ 'CATALOGUE.DETAIL.TITLE' | translate }}</mat-card-title>
          <mat-card-subtitle *ngIf="catalogue; else skeleton">{{catalogue.name}}</mat-card-subtitle>
          <ng-template #skeleton>
            <div class="ssc-line"></div>
          </ng-template>
        </mat-card-header>
        <form (ngSubmit)="update()" [formGroup]="form" novalidate>
          <mat-card-content *ngIf="catalogue; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'CATALOGUE.DETAIL.NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="name" autocomplete="name" matInput required>
                </label>
                <mat-error *ngIf="name.hasError('required')" [innerHTML]="'CATALOGUE.DETAIL.NAME.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['name']">
                  {{errors['name']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'CATALOGUE.DETAIL.DESCRIPTION.FIELD' | translate }}</mat-label>
                <label>
                  <textarea #message formControlName="description" matInput maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
              <div>
                <mat-checkbox [formControl]="home"
                              color="primary">{{ 'CATALOGUE.ADD.SHOW.HOME' | translate }}</mat-checkbox>
                <mat-checkbox [formControl]="catalog"
                              color="primary">{{ 'CATALOGUE.ADD.SHOW.CATALOG' | translate }}</mat-checkbox>
              </div>
              <div (fileDropped)="onFileDropped($event)" *ngIf="!file && !showImg" appDragDrop class="container"
                   fxHide.lt-sm
                   fxShow>
                <input #fileDropRef (change)="fileBrowseHandler($event)" [multiple]="false" id="fileDropRef"
                       type="file"/>
                <svg height="64" viewBox="0 0 63 64" width="63" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#3B454F" fill-rule="nonzero">
                    <path
                      d="M42.656 15.135a1.953 1.953 0 0 1-1.391-.578L31.5 4.795l-9.765 9.762a1.97 1.97 0 1 1-2.785-2.785L30.106.616a1.97 1.97 0 0 1 2.785 0l11.157 11.156a1.97 1.97 0 0 1-1.392 3.363z"/>
                    <path
                      d="M31.5 36.791a1.97 1.97 0 0 1-1.969-1.969V2.01a1.97 1.97 0 0 1 3.938 0v32.812a1.97 1.97 0 0 1-1.969 1.969z"/>
                    <path
                      d="M55.781 63.041H7.22A7.225 7.225 0 0 1 0 55.822V41.385a4.599 4.599 0 0 1 4.594-4.594h7.234a4.567 4.567 0 0 1 4.402 3.276l2.814 9.382a.658.658 0 0 0 .628.467h23.656a.658.658 0 0 0 .628-.467l2.814-9.385a4.572 4.572 0 0 1 4.402-3.273h7.234A4.599 4.599 0 0 1 63 41.385v14.437a7.225 7.225 0 0 1-7.219 7.219zM4.594 40.729a.656.656 0 0 0-.657.656v14.437a3.286 3.286 0 0 0 3.282 3.282H55.78a3.286 3.286 0 0 0 3.282-3.282V41.385a.656.656 0 0 0-.657-.656h-7.234a.65.65 0 0 0-.628.467L47.73 50.58a4.628 4.628 0 0 1-4.402 3.274H19.672a4.567 4.567 0 0 1-4.402-3.276l-2.814-9.382a.65.65 0 0 0-.628-.467H4.594z"/>
                  </g>
                </svg>

                <h3>{{ 'CATALOGUE.DETAIL.FILE.DRAG_DROP' | translate }}</h3>
                <h3>{{ 'CATALOGUE.DETAIL.FILE.OR' | translate }}</h3>
                <button (click)="fileDropRef.click()" color="accent" mat-raised-button
                        type="button">{{ 'CATALOGUE.DETAIL.FILE.CHOOSE' | translate }}</button>
              </div>
              <div fxHide fxShow.lt-sm>
                <button (click)="fileInput.click()" color="accent" mat-raised-button
                        type="button">{{ 'CATALOGUE.DETAIL.FILE.CHOOSE' | translate }}</button>
                <input #fileInput (change)="fileBrowseHandler($event)" [multiple]="false" hidden id="file" type="file">
              </div>

              <mat-card *ngIf="file && !showImg" class="divider">
                <mat-card-header>
                  <mat-icon class="icon-display" mat-card-avatar>image</mat-icon>
                  <mat-card-title-group>
                    <mat-card-title>{{ file.name }}</mat-card-title>
                    <mat-card-subtitle> {{ formatBytes(file.size, 0) }}</mat-card-subtitle>
                  </mat-card-title-group>
                  <div fxFlex></div>
                  <button (click)="deleteFile()" color="warn" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-header>
                <mat-card-content>
                  <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                  <div>
                    <div fxFlex></div>
                    {{file.progress / 100 | percent}}
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div *ngIf="showImg" class="divider">
              <div class="container">
                <mat-icon (click)="deleteImg()"
                          [matTooltip]="'CATALOGUE.DETAIL.DELETE.BUTTON' | translate: {name: catalogue.name}"
                          class="delete-img" color="warn">delete
                </mat-icon>
                <img [alt]="catalogue.name" [src]="'data:image/jpg;base64,'+img" mat-card-image>
              </div>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="catalogue; else buttonSkeleton">
            <div fxFlex></div>
            <button [disabled]="form.invalid || (!showImg && file?.progress !== 100)" color="primary" mat-raised-button
                    type="submit">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
            <button appBackButton color="accent" mat-raised-button>{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </form>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #errorBox>
  <app-error [error]="error"></app-error>
</ng-template>
