<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <form (ngSubmit)="create" [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
        <mat-card appearance="outlined" class="style-card">
          <mat-card-header>
            <mat-card-title>{{ 'CURRENCY.TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="inner-container">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'CURRENCY.CODE.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="code" matInput required>
                </label>
                <mat-error *ngIf="code.hasError('required')" [innerHTML]="'CURRENCY.CODE.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['code']">
                  {{errors['code']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'CURRENCY.NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="name" matInput>
                </label>
                <mat-error *ngIf="errors['name']">
                  {{errors['name']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'CURRENCY.ICON.FIELD' | translate }}</mat-label>
                <mat-select [formControl]="icon">
                  <mat-select-trigger>
                    <mat-icon>{{icon.value}}</mat-icon>
                  </mat-select-trigger>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let ic of icons" [value]="ic">
                    <mat-icon>{{ic}}</mat-icon>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <div class="spacer"></div>
            <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button"
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
            <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button"
                    type="submit">{{ 'COMMON.BUTTON.CREATE' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
