<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'ADDITIONAL.DETAIL' | translate }}</mat-card-title>
          <mat-card-subtitle *ngIf="additional; else skeleton">{{additional.name}}</mat-card-subtitle>
          <ng-template #skeleton>
            <div class="ssc-line"></div>
          </ng-template>
        </mat-card-header>
        <form (ngSubmit)="update()" [formGroup]="form" novalidate>
          <mat-card-content *ngIf="additional; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'ADDITIONAL.NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="name" autocomplete="name" matInput required>
                </label>
                <mat-error *ngIf="name.hasError('required')" [innerHTML]="'ADDITIONAL.NAME.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['name']">
                  {{errors['name']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'ADDITIONAL.DESCRIPTION.FIELD' | translate }}</mat-label>
                <label>
                  <textarea #message formControlName="description" matInput maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="fill" class="tab-field">
                <mat-label>{{ 'ADDITIONAL.PRICE.FIELD' | translate }}</mat-label>
                <span matPrefix><mat-icon matPrefix>attach_money</mat-icon> &nbsp;</span>
                <label>
                  <input [formControl]="price" type="number" step="1" matInput required>
                </label>
                <mat-error *ngIf="price.hasError('required')" [innerHTML]="'ADDITIONAL.PRICE.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="price.hasError('min')">
                  {{ 'ADDITIONAL.PRICE.GREATER' | translate }}
                </mat-error>
                <mat-error *ngIf="errors['price']">
                  {{errors['price']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'ADDITIONAL.DURATION.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="duration" [format]="24" [ngxTimepicker]="t" matInput
                         name="duration" readonly required/>
                </label>
                <span matPrefix><mat-icon (click)="t.open()" matPrefix>timer</mat-icon> &nbsp;</span>
                <ngx-material-timepicker #t [minutesGap]="15"></ngx-material-timepicker>
                <mat-error *ngIf="duration.hasError('required')"
                           [innerHTML]="'ADDITIONAL.DURATION.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['duration']">
                  {{errors['duration']}}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="additional; else buttonSkeleton">
            <div fxFlex></div>
            <button [disabled]="form.invalid || form.pristine" color="primary" mat-raised-button
                    type="submit">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
            <button [form]="form" appBackButton color="accent" mat-raised-button
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </form>
      </mat-card>
    </div>
  </div>
</div>
