@if (imageSrc) {
  <div>
    <div class="flex-container">
      <div class="card-container">
        @if (isCard()) {
          <div>
            <img alt="error" class="error" src="{{imageSrc}}">
          </div>
        } @else {
          <mat-card appearance="outlined">
            <mat-card-header>
            </mat-card-header>
            <img alt="error" class="error" mat-card-image src="{{imageSrc}}">
          </mat-card>
        }
      </div>
    </div>
    <div class="card-actions">
      <div class="spacer"></div>
      <div class="only-button">
        <button appBackButton color="accent" mat-fab extended class="icon-button" type="button">
          {{ 'COMMON.BUTTON.BACK' | translate }}
        </button>
        @if (retry) {
          <button (click)="reload()" color="primary" mat-fab extended class="icon-button" type="button">
            {{ 'COMMON.BUTTON.RELOAD' | translate }}
          </button>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="flex-container">
    <div class="card-container">
      @if (isCard()) {
        <div class="card-content">
          <div class="no-content bold">
            {{ 'COMMON.ERROR.NO_CONTENT' | translate }}
          </div>
        </div>
      } @else {
        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="no-content bold">
              {{ 'COMMON.ERROR.NO_CONTENT' | translate }}
            </div>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
}
