@if (imageSrc) {
  <div class="app-surface-canvas app-surface-shell app-surface-stack">
    <div class="card-container">
      @if (isCard()) {
        <div>
          <img alt="error" class="error" src="{{imageSrc}}">
        </div>
      } @else {
        <mat-card appearance="outlined">
          <mat-card-header>
          </mat-card-header>
          <img alt="error" class="error" mat-card-image src="{{imageSrc}}">
        </mat-card>
      }
    </div>

    <div class="app-detail-actions">
      <button appBackButton mat-stroked-button type="button">
        <mat-icon>keyboard_return</mat-icon>
        <span>{{ 'COMMON.BUTTON.BACK' | translate }}</span>
      </button>
      @if (retry) {
        <button (click)="reload()" mat-stroked-button type="button">
          {{ 'COMMON.BUTTON.RELOAD' | translate }}
        </button>
      }
    </div>
  </div>
} @else {
  <div class="app-surface-canvas app-surface-shell app-surface-stack">
    <div class="card-container">
      @if (isCard()) {
        <div class="card-content">
          <div class="no-content bold">
            {{ 'COMMON.ERROR.NO_CONTENT' | translate }}
          </div>
        </div>
      } @else {
        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="no-content bold">
              {{ 'COMMON.ERROR.NO_CONTENT' | translate }}
            </div>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
}
