.flex-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.card-content {
  flex: 0 0 60%;

  @media (max-width: 599px) {
    flex: 0 0 80%;
  }
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
