[class*='mat-column-'] {
  text-align: center !important;
}

tr.additional-detail-row {
  height: 0;
}

.additional-row td {
  border-bottom-width: 0;
}

.additional-detail {
  overflow: hidden;
  display: flex;
}
