<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="order" matSortDirection="asc" matSortDisableClear
         multiTemplateDataRows>
    <ng-container matColumnDef="order">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
      <td *matCellDef="let additional;" mat-cell>
        <div *ngIf="additional.id; else skeleton">{{additional.order}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'COMMON.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let additional" mat-cell>
        <div *ngIf="additional.id; else skeleton">{{additional.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}</th>
      <td *matCellDef="let additional" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="additional.id; else skeleton">{{additional.description}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'ADDITIONAL.LIST.COLUMN.DURATION' | translate }}</th>
      <td *matCellDef="let additional" class="column-large-text" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="additional.id; else skeleton">
          <mat-icon matPrefix>timer</mat-icon>&nbsp;
          {{additional.hour | number:'2.0-0'}}:{{additional.minute | number:'2.0-0'}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let additional" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="additional.id; else skeleton">
          <ng-template [ngIf]="!additional.deleted">
            <button (click)="edit(additional)" mat-icon-button
                    matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button (click)="delete(additional)" mat-icon-button
                    matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}" matTooltipPosition="right">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </ng-template>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let additional" [attr.colspan]="displayedColumns.length" fxHide fxShow.lt-sm mat-cell>
        <div [@detailExpand]="additional === expandedAdditional ? 'expanded' : 'collapsed'"
             class="detail" fxHide fxShow.lt-sm>
          <mat-list>
            <div *ngIf="additional.description" matListItemTitle>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}</div>
            <mat-list-item *ngIf="additional.description" role="list">
              <div matListItemLine>{{additional.description}}</div>
            </mat-list-item>
            <div matListItemTitle>{{ 'ADDITIONAL.LIST.COLUMN.DURATION' | translate }}</div>
            <mat-list-item role="list">
              <div matListItemLine>
                <mat-icon matPrefix>timer</mat-icon>&nbsp;
                {{additional.hour | number:'2.0-0'}}:{{additional.minute | number:'2.0-0'}}
              </div>
            </mat-list-item>
            <ng-template [ngIf]="!additional.deleted">
              <div matListItemTitle>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</div>
              <mat-list-item role="list">
                <button (click)="edit(additional)" color="primary" mat-icon-button>
                  <mat-icon matListItemIcon>edit</mat-icon>
                </button>
                <button (click)="delete(additional)" color="warn" mat-icon-button>
                  <mat-icon matListItemIcon>delete</mat-icon>
                </button>
              </mat-list-item>
            </ng-template>
          </mat-list>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'ADDITIONAL.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="expandedAdditional = expandedAdditional === additional ? null : additional"
        *matRowDef="let additional; columns: displayedColumns;" class="row" mat-row></tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'ADDITIONAL.TITLE' | translate }}"
          [routerLink]="['/', language, 'additional', 'add']">
    <mat-icon>add</mat-icon>
  </button>
</div>
