<div>
  <fieldset>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field>
        <mat-label>{{'SUMMARY.YEAR.SELECT.DATE' | translate}}</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="setYear($event, dp)">
        </mat-datepicker>
      </mat-form-field>
      <button color="accent" mat-fab matTooltip="{{ 'SUMMARY.QUARTER.RESULT' | translate }}"
              routerLink="/dashboard/quarter/summary" [state]="{year: date.value?.getFullYear()}">
        <mat-icon>calendar_view_week</mat-icon>
      </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
      <ng-template [ngIf]="yearSummaryMap?.size">
        <mat-form-field appearance="outline" class="full-select">
          <mat-label>{{'COMMON.ROOM.FIELD' | translate}}</mat-label>
          <mat-select [formControl]="selectedRoom">
            <mat-option *ngFor="let yearSummary of yearSummaryMap | keyvalue" [value]="yearSummary.key">
              {{yearSummary.key.roomName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </div>
  </fieldset>
</div>

<ng-template [ngIf]="!isLoading" [ngIfElse]="loading">
  <ng-template [ngIf]="date.value">
    <ng-template [ngIf]="yearSummaryMap?.size" [ngIfElse]="noData">
      <ng-template [ngIf]="isHandset$ | async" [ngIfElse]="bigScreen">
        <app-year [quarterSummaries]="quarterSummaries" [year]="date.value.getFullYear()"
                  [measure]="'short'" [currency]="selectedRoom.value.currency" [start]="1"></app-year>
      </ng-template>

      <ng-template #bigScreen>
        <app-year [quarterSummaries]="quarterSummaries" [year]="date.value.getFullYear()"
                  [measure]="'long'" [currency]="selectedRoom.value.currency" [start]="2"></app-year>
      </ng-template>
      <div style="margin-top: 2%">
        <mat-toolbar color="primary">
          {{'SUMMARY.YEAR.RESULT' | translate}}
        </mat-toolbar>
        <app-total-summary [income]="income" [expense]="expense" [cash]="cash" [totals]="totals"
                           [currency]="selectedRoom.value.currency"></app-total-summary>
      </div>
    </ng-template>
    <ng-template #noData>
      <mat-toolbar color="warn" style="text-align: center"
                   [innerHTML]="'SUMMARY.YEAR.ERROR.NO_CONTENT' | translate:{year: date.value.getFullYear()}"></mat-toolbar>
    </ng-template>
  </ng-template>
</ng-template>

<ng-template #loading>
  <div class="spinner-parent-center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
