<div *ngIf="showError" id="error-box">
  <mat-icon (click)="close()" id="close">close</mat-icon>
  <div id="error-label">{{'PAYMENT.ADD.ERROR_TEXT' | translate }}</div>
  <div id="error-text">{{errorMessage}}</div>
</div>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let payment; let i = index;" mat-cell>
        <div *ngIf="payment.id; else skeleton">{{i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell>{{ 'PAYMENT.LIST.COLUMN.DESCRIPTION' | translate }}</th>
      <td *matCellDef="let payment" class="column-large-text" mat-cell>
        <div *ngIf="payment.id; else skeleton">{{payment.description}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef mat-header-cell>{{ 'PAYMENT.LIST.COLUMN.AMOUNT' | translate }}</th>
      <td *matCellDef="let payment" mat-cell>
        <div *ngIf="payment.id; else skeleton">
          <mat-icon matPrefix>attach_money</mat-icon>&nbsp;{{payment.amount | number:'1.2-2'}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'PAYMENT.LIST.COLUMN.STATUS' | translate }}</th>
      <td *matCellDef="let payment" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="payment.id; else skeleton">
          {{'COMMON.STATUS.ML.' + (payment.status ? payment.status.toUpperCase() : 'NONE') | translate}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let payment" mat-cell>
        <div *ngIf="payment.id; else skeleton">
          <button (click)="pay(payment)" *ngIf="payment.status !== 'approved'" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.ML' | translate }}" matTooltipPosition="above">
            <mat-icon class="ml-button" color="primary">payment</mat-icon>
          </button>
          <button (click)="notify(payment)" *ngIf="payment.status !== 'approved'" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.NOTIFY' | translate }}" matTooltipPosition="above">
            <mat-icon color="primary">update</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'PAYMENT.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matFooterRowDef="['noContent']" [hidden]="dataSource?.length > 0" mat-footer-row></tr>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" class="{{row.status}}" mat-row></tr>
  </table>
</div>
<div class="top">
  <div fxFlex></div>
  <button appBackButton color="accent" mat-raised-button type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
</div>

