<h1 mat-dialog-title>{{'COMMON.RESERVATION.EDIT.TITLE' | translate }}</h1>
<div mat-dialog-content>
  <p>{{'COMMON.RESERVATION.EDIT.TEXT' | translate }}</p>
  <app-price [price]="price" [currency]="currency" [showPenalty]="true" [showBank]="false"></app-price>
</div>
<div mat-dialog-actions>
  <div fxFlex></div>
  <ng-template [ngIf]="data.small" [ngIfElse]="largeButton">
    <button (click)="onNoClick" mat-fab>
      <mat-icon>clear</mat-icon>
    </button>
    <button (click)="doAction" cdkFocusInitial color="primary" mat-fab>
      <mat-icon>forward</mat-icon>
    </button>
  </ng-template>
  <ng-template #largeButton>
    <button (click)="onNoClick" mat-fab extended class="icon-button">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button (click)="doAction" cdkFocusInitial color="primary" mat-fab extended class="icon-button">Ok
    </button>
  </ng-template>
</div>
