<div class="divider">
  <h1>{{ 'RESERVATION.TRACKING.TITLE' | translate}}</h1>
</div>
<div *ngIf="tracking; else box">
  <div class="stepper-wrapper">
    <div [ngClass]="{'active': tracking.reservation.state === 'CREATED', 'completed': tracking.approvedTime}"
         class="stepper-item">
      <div class="step-counter">{{tracking.createdTime | date:'short':undefined:language}}</div>
      <div class="step-name">{{'COMMON.STATUS.RESERVATION.CREATED' | translate}}</div>
    </div>
    <div [ngClass]="{
    'active': ['APPROVED', 'PAID', 'PARTIALLY_PAID'].indexOf(tracking.reservation.state) >= 0,
    'completed': tracking.startedTime
    }" class="stepper-item">
      <div class="step-counter">{{tracking.approvedTime | date:'short':undefined:language}}</div>
      <div class="step-name">{{'COMMON.STATUS.RESERVATION.APPROVED' | translate}}</div>
    </div>
    <div [ngClass]="{'active': tracking.reservation.state === 'STARTED', 'completed': tracking.completedTime}"
         class="stepper-item">
      <div class="step-counter">{{tracking.startedTime | date:'short':undefined:language}}</div>
      <div class="step-name">{{'COMMON.STATUS.RESERVATION.STARTED' | translate}}</div>
    </div>
    <div [ngClass]="{
      'finish': ['COMPLETED', 'PARTIALLY_COMPLETED'].indexOf(tracking.reservation.state) >= 0,
      'completed': tracking.completedTime
      }" class="stepper-item">
      <div class="step-counter">{{tracking.completedTime | date:'short':undefined:language}}</div>
      <div class="step-name">{{'COMMON.STATUS.RESERVATION.COMPLETED' | translate}}</div>
    </div>
  </div>
  <h4 *ngIf="totalTime">
    <span class="bold">{{'RESERVATION.TRACKING.DURATION' | translate}}:</span> {{totalTime}}
  </h4>
</div>

<mat-divider></mat-divider>

<div class="divider">
  <h1>{{ 'RESERVATION.REVIEW.TITLE' | translate}}</h1>
</div>
<div *ngIf="reservation; else box">
  <app-rating *ngIf="reservation.review; else noRating" [detail]="reservation.review.detail"
              [rating]="reservation.review.rating" color="primary"></app-rating>
  <ng-template #noRating>
    <app-rating [rating]="0" color="primary"></app-rating>
  </ng-template>
</div>

<ng-template #box>
  <div class="ssc-square mb"></div>
</ng-template>

<mat-divider></mat-divider>

<div class="divider">
  <h1>{{ 'RESERVATION.PAYMENT.TITLE' | translate}}</h1>
</div>
<div *ngIf="payments" class="mat-elevation-z8">
  <table [dataSource]="payments" mat-table>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let payment; let i = index;" mat-cell>
        <div *ngIf="payment.id; else skeleton">{{i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}</th>
      <td *matCellDef="let payment" mat-cell>
        <div *ngIf="payment.id; else skeleton">{{payment.description}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef mat-header-cell>{{ 'PAYMENT.LIST.COLUMN.AMOUNT' | translate }}</th>
      <td *matCellDef="let payment" mat-cell>
        <div *ngIf="payment.id; else skeleton">
          <mat-icon matPrefix>attach_money</mat-icon>&nbsp;{{payment.amount | number:'1.2-2'}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'PAYMENT.LIST.COLUMN.STATUS' | translate }}</th>
      <td *matCellDef="let payment" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="payment.id; else skeleton">
          {{'COMMON.STATUS.ML.' + (payment.status ? payment.status.toUpperCase() : 'NONE') | translate}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let payment" mat-cell>
        <div *ngIf="payment.id; else skeleton">
          <button (click)="resend(payment)" *ngIf="payment.status !== 'approved'" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.RESEND' | translate }}" matTooltipPosition="above">
            <mat-icon color="primary">autorenew</mat-icon>
          </button>
          <button (click)="copy(payment)" *ngIf="payment.status !== 'approved'" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.COPY' | translate }}" matTooltipPosition="above">
            <mat-icon color="primary">content_copy</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'PAYMENT.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matFooterRowDef="['noContent']" [hidden]="payments.length > 0" mat-footer-row></tr>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" class="{{row.type?.toLowerCase()}}" mat-row></tr>
  </table>
</div>
<div class="top">
  <div fxFlex></div>
  <button appBackButton color="accent" mat-raised-button type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
</div>
