<form (ngSubmit)="doAction()" [formGroup]="trackingForm" novalidate (keydown.enter)="$event.preventDefault()">
  <h1 mat-dialog-title>{{ 'RESERVATION.TRACKING.UPDATE' | translate }}</h1>
  <div mat-dialog-content>
    <fieldset class="date-time-fields">
      <legend>{{ 'RESERVATION.TRACKING.STARTED' | translate }}</legend>
      <mat-form-field appearance="outline" class="date-field">
        <mat-label>{{ 'RESERVATION.DATE.FIELD' | translate }}</mat-label>
        <input (focus)="startedPicker.open()" [formControl]="startedDate" [matDatepicker]="startedPicker" matInput>
        <mat-datepicker-toggle [for]="startedPicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startedPicker touchUi></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="time-field">
        <mat-label>{{ 'RESERVATION.START.FIELD' | translate }}</mat-label>
        <input [formControl]="startedTime" [format]="24" [ngxTimepicker]="sTime" matInput name="startedTime" readonly/>
        <span matPrefix><mat-icon (click)="sTime.open()" matPrefix>schedule</mat-icon> &nbsp;</span>
        <ngx-material-timepicker #sTime (timeSet)="timeChange($event, startedDate)"></ngx-material-timepicker>
      </mat-form-field>
    </fieldset>
    <fieldset class="date-time-fields">
      <legend>{{ 'RESERVATION.TRACKING.COMPLETED' | translate }}</legend>
      <mat-form-field appearance="outline" class="date-field">
        <mat-label>{{ 'RESERVATION.DATE.FIELD' | translate }}</mat-label>
        <input (focus)="completedPicker.open()" [formControl]="completedDate" [matDatepicker]="completedPicker" matInput>
        <mat-datepicker-toggle [for]="completedPicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #completedPicker touchUi></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="time-field">
        <mat-label>{{ 'RESERVATION.START.FIELD' | translate }}</mat-label>
        <input [formControl]="completedTime" [format]="24" [ngxTimepicker]="cTime" matInput name="completedTime" readonly/>
        <span matPrefix><mat-icon (click)="cTime.open()" matPrefix>schedule</mat-icon> &nbsp;</span>
        <ngx-material-timepicker #cTime (timeSet)="timeChange($event, completedDate)"></ngx-material-timepicker>
      </mat-form-field>
    </fieldset>
  </div>
  <div mat-dialog-actions>
    <button (click)="onNoClick()" color="accent" mat-fab extended class="icon-button"
            type="button">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button [disabled]="trackingForm.invalid" cdkFocusInitial color="primary" mat-fab extended
            class="icon-button" type="submit">Ok
    </button>
  </div>
</form>
