[class*='mat-column-'] {
  text-align: center;
}

#error-box {
  border: 2px solid;
  border-radius: 25px;
  position: relative;
  width: 50%;
  margin: 10px auto 10px auto;
}

#error-label {
  font-weight: bold;
  position: absolute;
  top: -13px;
  left: 30px;
  text-align: center;
}

#error-text {
  text-align: center;
  margin: auto;
  padding: 10px;
  font-weight: bold;
  white-space: pre-wrap;
}

#close {
  float: right;
  margin-top: -29px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}
