<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <form (ngSubmit)="recoveryPassword()" novalidate>
        <mat-card>
          <mat-card-title>{{ 'AUTH.RECOVERY_PASSWORD.TITLE' | translate }}</mat-card-title>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field [color]="passwordComponent.color" appearance="fill">
                <mat-label>{{ 'AUTH.RECOVERY_PASSWORD.PASSWORD.FIELD' | translate }}</mat-label>
                <mat-pass-toggle-visibility #togglePass matSuffix></mat-pass-toggle-visibility>
                <label>
                  <input #passwordInput (focusout)="onStrengthChanged()"
                         [formControl]="passwordComponent.passwordFormControl"
                         [tabIndex]="1" [type]="togglePass.type"
                         autocomplete="new-password" matInput required>
                </label>
                <mat-hint align="end" aria-live="polite">
                  {{passwordInput.value.length}} / {{passwordComponent.max}}
                </mat-hint>
              </mat-form-field>
              <mat-error *ngIf="showError && passwordComponent.passwordFormControl.hasError('required')"
                         [innerHTML]="'AUTH.RECOVERY_PASSWORD.PASSWORD.REQUIRED' | translate">
              </mat-error>
              <mat-error *ngIf="showError && passwordComponent.passwordFormControl.hasError('pattern')">
                {{ 'AUTH.RECOVERY_PASSWORD.PASSWORD.INVALID' | translate }}
              </mat-error>
              <mat-error *ngIf="showError && passwordComponent.passwordFormControl.hasError('maxlength')">
                {{ 'AUTH.RECOVERY_PASSWORD.PASSWORD.MAX' | translate }}
              </mat-error>
              <mat-password-strength #passwordComponent [min]="6" [password]="passwordInput.value">
              </mat-password-strength>
              <mat-slide-toggle #toggle
                                class="divider">{{ 'AUTH.RECOVERY_PASSWORD.PASSWORD.DETAIL' | translate }}</mat-slide-toggle>
              <mat-password-strength-info *ngIf="toggle.checked"
                                          [digitsCriteriaMsg]="'AUTH.RECOVERY_PASSWORD.PASSWORD.DIGIT' | translate"
                                          [lowerCaseCriteriaMsg]="'AUTH.RECOVERY_PASSWORD.PASSWORD.LOWER_CASE' | translate"
                                          [minCharsCriteriaMsg]="'AUTH.RECOVERY_PASSWORD.PASSWORD.MIN' | translate"
                                          [passwordComponent]="passwordComponent"
                                          [specialCharsCriteriaMsg]="'AUTH.RECOVERY_PASSWORD.PASSWORD.SPECIAL' | translate"
                                          [upperCaseCriteriaMsg]="'AUTH.RECOVERY_PASSWORD.PASSWORD.UPPER_CASE' | translate">
              </mat-password-strength-info>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'AUTH.RECOVERY_PASSWORD.CONFIRM_PASSWORD.FIELD' | translate }}</mat-label>
                <mat-pass-toggle-visibility #toggleConfirm matSuffix></mat-pass-toggle-visibility>
                <label>
                  <input [formControl]="passwordComponent.passwordConfirmationFormControl" [tabIndex]="2"
                         [type]="toggleConfirm.type" autocomplete="new-password" matInput required>
                </label>
                <mat-error *ngIf="passwordComponent.passwordConfirmationFormControl.hasError('required')"
                           [innerHTML]="'AUTH.RECOVERY_PASSWORD.CONFIRM_PASSWORD.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="passwordComponent.passwordConfirmationFormControl.hasError('notConfirmed')">
                  {{ 'AUTH.RECOVERY_PASSWORD.CONFIRM_PASSWORD.MUST_MATCH' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button [disabled]="passwordComponent.passwordConfirmationFormControl.invalid ||
     passwordComponent.passwordFormControl.invalid" [tabIndex]="3" color="primary" fxFlex
                    mat-raised-button type="submit">{{ 'COMMON.BUTTON.SEND' | translate }}</button>
            <button [tabIndex]="4" appBackButton color="accent" mat-raised-button
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
