<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <form (ngSubmit)="submit" [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
        <mat-card appearance="outlined">
          @if (isAddMode) {
            <mat-card-header>
              <mat-card-title>{{ 'OFFICE.TITLE' | translate }}</mat-card-title>
            </mat-card-header>
          } @else {
            <mat-card-header>
              <mat-card-title>{{ 'OFFICE.DETAIL' | translate }}</mat-card-title>
              @if (office) {
                <mat-card-subtitle>{{ office.name }}</mat-card-subtitle>
              } @else {
                <div class="ssc-line"></div>
              }
            </mat-card-header>
          }
          @if (isAddMode || office) {
            <mat-card-content>
              <div class="inner-container">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'OFFICE.NAME.FIELD' | translate }}</mat-label>
                  <input formControlName="name" autocomplete="name" matInput required>
                  @if (getForm.name.hasError('required')) {
                    <mat-error [innerHTML]="'OFFICE.NAME.REQUIRED' | translate"></mat-error>
                  } @else if (errors['name']) {
                    <mat-error>{{ errors['name'] }}</mat-error>
                  }
                </mat-form-field>
                @if (isAddMode) {
                  @if (managers) {
                    <div class="fields-container">
                      <mat-form-field appearance="outline">
                        <mat-label>{{ 'OFFICE.MANAGER.FIELD' | translate }}</mat-label>
                        <input formControlName="manager" [matAutocomplete]="auto" matInput required type="text">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                          @for (manager of filteredOptions | async; track manager.id) {
                            <mat-option [value]="manager">{{ manager.displayName }}</mat-option>
                          }
                        </mat-autocomplete>
                        @if (getForm.manager.hasError('required')) {
                          <mat-error [innerHTML]="'OFFICE.MANAGER.REQUIRED' | translate"></mat-error>
                        } @else if (getForm.manager.hasError('requireMatch')) {
                          <mat-error [innerHTML]="'OFFICE.MANAGER.INVALID' | translate"></mat-error>
                        } @else if (errors['manager']) {
                          <mat-error>{{ errors['manager'] }}</mat-error>
                        }
                      </mat-form-field>
                      <button class="hide-gt-xs" (click)="addManager" color="accent" mat-fab type="button">
                        <mat-icon matPrefix>person_add</mat-icon>
                      </button>
                      <button class="hide-xs" (click)="addManager" color="accent" mat-fab extended type="button">
                        <mat-icon matPrefix>person_add</mat-icon>
                        <span>{{ 'OFFICE.MANAGER.ADD_BUTTON' | translate }}</span>
                      </button>
                    </div>
                  } @else {
                    <div class="ssc-line"></div>
                  }
                } @else {
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'OFFICE.MANAGER.FIELD' | translate }}</mat-label>
                    <input [value]="managerName" disabled matInput type="text">
                  </mat-form-field>
                }
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'OFFICE.SUBJECT.FIELD' | translate }}</mat-label>
                  <input formControlName="subject" matInput>
                  @let subjectError = errors['subject'];
                  @if (subjectError) {
                    <mat-error>{{ subjectError }}</mat-error>
                  }
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'OFFICE.KVK.FIELD' | translate }}</mat-label>
                  <input formControlName="kvk" matInput>
                  @let kvkError = errors['kvk'];
                  @if (kvkError) {
                    <mat-error>{{ kvkError }}</mat-error>
                  }
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'OFFICE.ACCOUNT.FIELD' | translate }}</mat-label>
                  <input formControlName="account" matInput>
                  @let accountError = errors['account'];
                  @if (accountError) {
                    <mat-error>{{ accountError }}</mat-error>
                  }
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'OFFICE.BTW.FIELD' | translate }}</mat-label>
                  <input formControlName="btw" matInput>
                  @let btwError = errors['btw'];
                  @if (btwError) {
                    <mat-error>{{ btwError }}</mat-error>
                  }
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'OFFICE.ADDRESS.FIELD' | translate }}</mat-label>
                  <input formControlName="billingAddress" matInput>
                  @let billingAddressError = errors['billingAddress'];
                  @if (billingAddressError) {
                    <mat-error>{{ billingAddressError }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <div class="spacer"></div>
              <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button" type="button">
                {{ 'COMMON.BUTTON.BACK' | translate }}
              </button>
              @if (isAddMode) {
                <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button" type="submit">
                  {{ 'COMMON.BUTTON.CREATE' | translate }}
                </button>
              } @else {
                <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button" type="submit">
                  {{ 'COMMON.BUTTON.UPDATE' | translate }}
                </button>
              }
            </mat-card-actions>
          } @else {
            <mat-card-content>
              <div class="ssc-hr"></div>
              <div class="ssc-square mb"></div>
              <div class="ssc-hr"></div>
            </mat-card-content>
            <mat-card-actions class="card-actions">
              <div class="ssc-head-line"></div>
            </mat-card-actions>
          }
        </mat-card>
      </form>
    </div>
  </div>
</div>
