<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="card-container">
    <div fxFlex.lt-sm="80%" fxFlex="50%" fxFlex.gt-lg="40%">
      <form [formGroup]="form" novalidate (ngSubmit)="create()">
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>{{ 'PRODUCT.ADD.TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field>
                <mat-label>{{ 'PRODUCT.ADD.NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input matInput required formControlName="name" autocomplete="name">
                </label>
                <mat-error *ngIf="name.hasError('required')" [innerHTML]="'PRODUCT.ADD.NAME.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['name']">
                  {{errors['name']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'PRODUCT.ADD.DESCRIPTION.FIELD' | translate }}</mat-label>
                <label>
                  <textarea matInput formControlName="description" #message maxlength="256"></textarea>
                </label>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'PRODUCT.ADD.PRICE.FIELD' | translate }}</mat-label>
                <span matPrefix>
                  <mat-icon matPrefix>attach_money</mat-icon> &nbsp;
                </span>
                <label>
                  <input type="number" matInput step="1" required formControlName="price">
                </label>
                <mat-error *ngIf="price.hasError('required')" [innerHTML]="'PRODUCT.ADD.PRICE.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="price.hasError('min')">
                  {{ 'PRODUCT.ADD.PRICE.GREATER' | translate }}
                </mat-error>
                <mat-error *ngIf="errors['price']">
                  {{errors['price']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'PRODUCT.ADD.DURATION.FIELD' | translate }}</mat-label>
                <label>
                  <input matTimepicker #t="matTimepicker" mode="24h" formControlName="duration" #t="matTimepicker"
                         cancelLabel="{{ 'COMMON.BUTTON.CANCEL' | translate }}">
                </label>
                <span matPrefix>
                  <mat-icon matPrefix (click)="t.showDialog()">timer</mat-icon> &nbsp;
                </span>
                <mat-error *ngIf="duration.hasError('required')" [innerHTML]="'PRODUCT.ADD.DURATION.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['duration']">
                  {{errors['duration']}}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button mat-raised-button color="primary" [disabled]="form.invalid"
                    type="submit">{{ 'COMMON.BUTTON.CREATE' | translate }}</button>
            <button mat-raised-button color="accent"
                    routerLink="/products">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
