<div>
  <fieldset>
    <legend>{{ 'COMMON.SEARCH.TITLE' | translate }}</legend>
    @let selection = selectionSignal();
    <form [formGroup]="form" (keydown.enter)="$event.preventDefault()" (ngSubmit)="print()">
      <div class="row-column-space-around-center">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'INVOICE.OFFICE.SEARCH' | translate }}</mat-label>
          <input (keydown)="keyDownHandler($event)" [formControl]="getForm.office" [matAutocomplete]="autoOffice"
                 autocomplete="off" matInput placeholder="{{ 'INVOICE.OFFICE.FIELD' | translate }}"
                 type="text" required>
          <mat-autocomplete #autoOffice="matAutocomplete" [displayWith]="displayFnOffice">
            @for (office of filteredOfficeSignal(); track office.id) {
              <mat-option [value]="office">
                {{ office.name }}
              </mat-option>
            }
          </mat-autocomplete>
          @if (getForm.office.hasError('required')) {
            <mat-error [innerHTML]="'INVOICE.OFFICE.REQUIRED' | translate"></mat-error>
          } @else if (getForm.office.hasError('requireMatch')) {
            <mat-error [innerHTML]="'INVOICE.OFFICE.INVALID' | translate"></mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'INVOICE.PAYMENT.SEARCH' | translate }}</mat-label>
          <mat-chip-grid #chipList aria-label="Payment type selection">
            @for (type of selectedPaymentTypesSignal(); track type) {
              <mat-chip-row (removed)="remove(type)" [removable]="true" color="primary">
                {{ 'COMMON.PAYMENT.TYPE.' + type?.toUpperCase() | translate }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip-row>
            }
            <input #typeInput [formControl]="getForm.type" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                   placeholder="{{ 'INVOICE.PAYMENT.FIELD' | translate }}">
          </mat-chip-grid>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            @for (type of filteredTypesSignal(); track type) {
              <mat-option [value]="type">
                {{ 'COMMON.PAYMENT.TYPE.' + type?.toUpperCase() | translate }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'INVOICE.SEARCH.RANGE.FIELD' | translate }}</mat-label>
          <mat-date-range-input [rangePicker]="drp" [formGroup]="getForm.dateRange">
            <input matStartDate [formControl]="getDateRangeForm.startDate"
                   placeholder="{{'INVOICE.SEARCH.RANGE.START' | translate }}">
            <input matEndDate [formControl]="getDateRangeForm.endDate"
                   placeholder="{{'INVOICE.SEARCH.RANGE.END' | translate }}">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="drp"></mat-datepicker-toggle>
          <mat-date-range-picker #drp touchUi></mat-date-range-picker>
          <mat-error [innerHTML]="'INVOICE.SEARCH.RANGE.REQUIRED' | translate">
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" ngStyle.gt-sm="margin-left: -15px">
          <mat-label>{{ 'INVOICE.SEARCH.START.FIELD' | translate }}</mat-label>
          <input [formControl]="getForm.startNumber" matInput matNativeControl required [type]="'number'" [step]="1"
                 [min]="1">
          @if (getForm.startNumber.hasError('required')) {
            <mat-error [innerHTML]="'INVOICE.SEARCH.START.REQUIRED' | translate"></mat-error>
          } @else if (getForm.startNumber.hasError('min')) {
            <mat-error [innerHTML]="'INVOICE.SEARCH.START.MIN' | translate"></mat-error>
          }
        </mat-form-field>
        <button color="accent" id="print" mat-fab type="submit" [disabled]="!selection.selected.length">
          <mat-icon>print</mat-icon>
        </button>
      </div>
    </form>
  </fieldset>

  @if (dataSourceSignal(); as dataSource) {
    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table multiTemplateDataRows>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="toggleAllRows()"
                          [checked]="isAllSelected()"
                          [indeterminate]="isIndeterminate()"
                          [aria-label]="checkboxLabel()" [disabled]="!resultsLengthSignal()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="toggleRow(row)"
                          [checked]="selectionSignal().isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th *matHeaderCellDef mat-header-cell class="hide-xs">#</th>
          <td *matCellDef="let invoice; let i = dataIndex;" mat-cell class="hide-xs">
            @if (invoice.id) {
              {{ i + 1 }}
            } @else {
              <div class="ssc-line"></div>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="customer">
          <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.RESERVATION.LIST.COLUMN.CUSTOMER' | translate }}</th>
          <td *matCellDef="let invoice" mat-cell>
            @if (invoice.id) {
              {{ invoice.customer.displayName }}
            } @else {
              <div class="ssc-line"></div>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
          <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.RESERVATION.LIST.COLUMN.START' | translate }}</th>
          <td *matCellDef="let invoice" mat-cell>
            @if (invoice.id) {
              {{ invoice.timestamp | timeDetail | date:'short':invoice.room.timeZone:dateFormat }}
              <!--              @if (showTimeZone(invoice)) {-->
                <!--                <button (click)="openDialog(invoice)" mat-icon-button type="button">-->
                <!--                  <mat-icon>info_outline</mat-icon>-->
                <!--                </button>-->
                <!--              }-->
            } @else {
              <div class="ssc-line"></div>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th *matHeaderCellDef class="hide-xs"
              mat-header-cell>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}
          </th>
          <td *matCellDef="let invoice" class="hide-xs" mat-cell>
            @if (invoice.id) {
              {{ invoice.items?.[0].name }}
            } @else {
              <div class="ssc-line"></div>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef class="hide-xs" mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
          <td *matCellDef="let invoice" class="hide-xs" mat-cell>
            @if (invoice.id) {
              <button (click)="goToPath(invoice)" type="button" mat-icon-button
                      matTooltip="{{ 'COMMON.BUTTON.VIEW' | translate }}" matTooltipPosition="left">
                <mat-icon color="primary">visibility</mat-icon>
              </button>
            } @else {
              <div class="ssc-line"></div>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td *matCellDef="let invoice" [attr.colspan]="displayedColumns.length" class="hide-gt-xs">
            <div [@detailExpand]="invoice === expandedInvoice ? 'expanded' : 'collapsed'" class="detail hide-gt-xs">
              <mat-list>
                <div mat-subheader>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</div>
                <mat-list-item role="list">
                  <button (click)="goToPath(invoice)" color="primary" mat-icon-button>
                    <mat-icon matListItemIcon>visibility</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="noContent">
          <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
            {{ 'COMMON.RESERVATION.LIST.ERROR.NO_CONTENT' | translate }}
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="expandedInvoice = expandedInvoice === invoice ? null : invoice"
            *matRowDef="let invoice; columns: displayedColumns;" class="row" mat-row [ngClass]="invoice.order"></tr>
        <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row hide-gt-xs" mat-row></tr>

        <tr *matFooterRowDef="['noContent']" [hidden]="resultsLengthSignal() > 0" mat-footer-row></tr>
      </table>
    </div>
  }
</div>
