<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <form (ngSubmit)="forgotPassword" [formGroup]="form" novalidate>
        <mat-card>
          <mat-card-title>{{ 'AUTH.FORGOT_PASSWORD.TITLE' | translate }}</mat-card-title>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'AUTH.FORGOT_PASSWORD.USERNAME.FIELD' | translate }}</mat-label>
                <input autocomplete="username" formControlName="username" matInput required>
                <mat-error>
                  {{ 'AUTH.FORGOT_PASSWORD.USERNAME.ERROR' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button [disabled]="form.invalid" color="primary" fxFlex mat-raised-button
                    type="submit">{{ 'COMMON.BUTTON.SEND' | translate }}</button>
            <button [form]="form" appBackButton color="accent"
                    mat-raised-button type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
