<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <form (ngSubmit)="forgotPassword()" [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ 'AUTH.FORGOT_PASSWORD.TITLE' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="inner-container">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'AUTH.FORGOT_PASSWORD.EMAIL.FIELD' | translate }}</mat-label>
                <input autocomplete="email" formControlName="email" matInput required>
                <mat-error>
                  {{ 'AUTH.FORGOT_PASSWORD.EMAIL.ERROR' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="spacer"></div>
            <button [form]="form" appBackButton color="accent" mat-fab extended class="icon-button" type="button">
              {{ 'COMMON.BUTTON.BACK' | translate }}
            </button>
            <button [disabled]="form.invalid" color="primary" mat-fab extended class="icon-button" type="submit">
              {{ 'COMMON.BUTTON.SEND' | translate }}
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
