<h1 mat-dialog-title>{{'RESERVATION.PROFESSIONAL.SELECT' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="professionalForm">
    <mat-form-field *ngIf="professionals; else skeleton" appearance="outline">
      <mat-label>{{ 'COMMON.PROFESSIONAL.FIELD' | translate }}</mat-label>
      <label>
        <input (keydown)="keyDownHandler($event)" [formControl]="professional" [matAutocomplete]="autoProfessional"
               autocomplete="off" matInput required
               type="text">
      </label>
      <mat-autocomplete #autoProfessional="matAutocomplete" [displayWith]="displayFnUser">
        <mat-option *ngFor="let professional of filteredProfessional | async" [value]="professional">
          {{professional.displayName}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="professional.hasError('required')"
                 [innerHTML]="'COMMON.PROFESSIONAL.REQUIRED' | translate">
      </mat-error>
      <mat-error *ngIf="professional.hasError('requireMatch')"
                 [innerHTML]="'COMMON.PROFESSIONAL.INVALID' | translate">
      </mat-error>
    </mat-form-field>
    <ng-template #skeleton>
      <div class="ssc-line"></div>
    </ng-template>
  </form>
</div>
<div mat-dialog-actions>
  <div fxFlex></div>
  <div *ngIf="data.small; else largeButton">
    <button (click)="onNoClick" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
    <button (click)="doAction" [disabled]="professionalForm.invalid" cdkFocusInitial color="primary"
            mat-icon-button>
      <mat-icon>published_with_changes</mat-icon>
    </button>
  </div>
  <ng-template #largeButton>
    <button (click)="onNoClick" mat-fab extended class="icon-button">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button (click)="doAction" [disabled]="professionalForm.invalid" cdkFocusInitial color="primary"
            mat-fab extended class="icon-button">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
  </ng-template>
</div>
