<form (ngSubmit)="signIn" [formGroup]="form" novalidate>
  <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'AUTH.SIGN_IN.USERNAME.FIELD' | translate }}</mat-label>
      <label>
        <input matInput required formControlName="username" autocomplete="username" [tabIndex]="1">
      </label>
      <mat-error>
        {{ 'AUTH.SIGN_IN.USERNAME.ERROR' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'AUTH.PASSWORD.FIELD' | translate }}</mat-label>
      <label>
        <input matInput required [type]="hide ? 'password' : 'text'" autocomplete="current-password"
               formControlName="password" [tabIndex]="2">
      </label>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>
        {{ 'AUTH.PASSWORD.ERROR' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="space-evenly start">
      <a type="button" routerLink="/auth/forgot-password">{{ 'AUTH.SIGN_IN.FORGOT_PASSWORD' | translate }}</a>
    </div>
    <div fxFlex></div>
    <button fxFlex mat-fab extended color="accent" [disabled]="form.invalid" [tabIndex]="3"
            type="submit">{{ 'AUTH.SIGN_IN.TITLE' | translate }}</button>
  </div>
</form>
