<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div *ngIf="!error; else errorBox" fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'USER.DETAIL.TITLE' | translate }}</mat-card-title>
          <mat-card-subtitle *ngIf="user; else skeleton">{{userName}}</mat-card-subtitle>
          <ng-template #skeleton>
            <div class="ssc-line"></div>
          </ng-template>
        </mat-card-header>
        <form (ngSubmit)="update()" [formGroup]="form" novalidate>
          <mat-card-content *ngIf="user; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill">
                <mat-label>Id</mat-label>
                <label>
                  <input disabled matInput value="{{user.id}}">
                </label>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'USER.DETAIL.USERNAME.FIELD' | translate }}</mat-label>
                <label>
                  <input autocomplete="username" [formControl]="username" matInput required>
                </label>
                <mat-error [innerHTML]="'USER.DETAIL.USERNAME.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'USER.DETAIL.EMAIL.FIELD' | translate }}</mat-label>
                <label>
                  <input autocomplete="username" [formControl]="email" matInput required>
                </label>
                <mat-error *ngIf="email.hasError('email')">
                  {{ 'USER.DETAIL.EMAIL.VALID' | translate }}
                </mat-error>
                <mat-error *ngIf="email.hasError('required')" [innerHTML]="'USER.DETAIL.EMAIL.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'USER.DETAIL.LANG.FIELD' | translate }}</mat-label>
                <span *ngIf="select.value" [class]="'flag-icon  flag-icon-squared flag-icon-' + select.value.icon"
                      matPrefix
                      class="margin-right-eight"></span>
                <mat-select #select [formControl]="langValue" required>

                  <mat-option *ngFor="let lang of flagList" [value]="lang">
                    <span [class]="'flag-icon  flag-icon-squared flag-icon-' + lang.icon"></span>
                    {{ 'COMMON.LANG.' + lang.text | translate }}
                  </mat-option>
                </mat-select>
                <mat-error [innerHTML]="'USER.DETAIL.LANG.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'USER.DETAIL.FIRST_NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input autocomplete="firstName" [formControl]="firstName" matInput>
                </label>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'USER.DETAIL.LAST_NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input autocomplete="lastName" [formControl]="lastName" matInput>
                </label>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'USER.DETAIL.PHONE.FIELD' | translate }}</mat-label>
                <ngx-mat-intl-tel-input [enablePlaceholder]="true" [enableSearch]="true"
                                        [formControl]="phone" [preferredCountries]="['ar']" name="phone"></ngx-mat-intl-tel-input>
                <mat-error *ngIf="phone.hasError('validatePhoneNumber')">
                  {{ 'USER.DETAIL.PHONE.INVALID' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="user; else buttonSkeleton">
            <div fxFlex></div>
            <button [disabled]="form.invalid || form.pristine" color="primary" mat-raised-button
                    type="submit">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
            <button color="accent" mat-raised-button appBackButton type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </form>
      </mat-card>
    </div>
    <ng-template #errorBox>
      <app-error [error]="error"></app-error>
    </ng-template>
  </div>
</div>
