<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="name" matSortDirection="asc" matSortDisableClear
         multiTemplateDataRows>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let office; let i = dataIndex;" mat-cell>
        <div *ngIf="office.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'COMMON.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let office" mat-cell>
        <div *ngIf="office.id; else skeleton">{{office.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="manager">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'OFFICE.LIST.COLUMN.MANAGER' | translate }}</th>
      <td *matCellDef="let office" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="office.id; else skeleton">{{office?.manager.displayName}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="subject">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'OFFICE.SUBJECT.FIELD' | translate }}</th>
      <td *matCellDef="let office" mat-cell>
        <div *ngIf="office.id; else skeleton">{{office.subject}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let office" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="office.id; else skeleton">
          <button (click)="edit(office)" *ngIf="!office.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button (click)="delete(office)" *ngIf="!office.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}" matTooltipPosition="right">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let office" [attr.colspan]="displayedColumns.length" fxHide fxShow.lt-sm>
        <div [@detailExpand]="office === expanded ? 'expanded' : 'collapsed'" class="detail" fxHide fxShow.lt-sm>
          <mat-list>
            <div mat-subheader>{{ 'OFFICE.LIST.COLUMN.MANAGER' | translate }}</div>
            <mat-list-item role="list">
              <div matListItemLine>{{office.manager.displayName}}</div>
            </mat-list-item>
            <div mat-subheader>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</div>
            <mat-list-item role="list">
              <button (click)="edit(office)" *ngIf="!office.deleted" color="primary" mat-icon-button>
                <mat-icon matListItemIcon>edit</mat-icon>
              </button>
              <button (click)="delete(office)" *ngIf="!office.deleted" color="warn" mat-icon-button>
                <mat-icon matListItemIcon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'OFFICE.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="expanded = expanded === office ? null : office"
        *matRowDef="let office; columns: displayedColumns;" class="row" mat-row></tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'OFFICE.TITLE' | translate }}"
          routerLink="/offices/add">
    <mat-icon>add_business</mat-icon>
  </button>
</div>
