<div *ngIf="showMap">
  <div *ngIf="addressFormGroup" [formGroup]="addressFormGroup" class="divider" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <mat-google-maps-autocomplete [addressLabelText]="'COMMON.ADDRESS.FIELD' | translate"
                                  [appearance]="appearance.FILL"
                                  [invalidErrorText]="'COMMON.ADDRESS.INVALID' | translate"
                                  formControlName="address"
                                  placeholderText=""
                                  type="address">
    </mat-google-maps-autocomplete>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'COMMON.ADDRESS.DESCRIPTION' | translate }}</mat-label>
      <label>
        <textarea #message formControlName="addressDescription" matInput maxlength="256"></textarea>
      </label>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  </div>
  <agm-map *ngIf="!isMapLoading; else box" [latitude]="latitudeMarker || latitude" [longitude]="longitudeMarker || longitude"
           [zoom]="zoom"
           class="divider">
    <agm-marker (dragEnd)="markerDragEnd($event)" *ngIf="latitudeMarker && longitudeMarker" [latitude]="latitudeMarker"
                [longitude]="longitudeMarker" [markerDraggable]="isDraggable">
      <agm-info-window>{{info}}</agm-info-window>
    </agm-marker>
  </agm-map>
  <ng-template #box>
    <div class="ssc-square mb"></div>
  </ng-template>
</div>
