<div *ngIf="showMap">
  <div *ngIf="addressFormGroup" [formGroup]="addressFormGroup" class="divider" fxLayout="column"
       fxLayoutAlign="space-evenly stretch">
    <!--    TODO add autocomplete -->
    <!--    <mat-google-maps-autocomplete [addressLabelText]="'COMMON.ADDRESS.FIELD' | translate"-->
    <!--                                  [appearance]="appearance.FILL"-->
    <!--                                  [invalidErrorText]="'COMMON.ADDRESS.INVALID' | translate"-->
    <!--                                  formControlName="address"-->
    <!--                                  placeholderText=""-->
    <!--                                  type="address">-->
    <!--    </mat-google-maps-autocomplete>-->
    <mat-form-field appearance="fill">
      <mat-label>{{ 'COMMON.ADDRESS.DESCRIPTION' | translate }}</mat-label>
      <label>
        <textarea #message formControlName="addressDescription" matInput maxlength="256"></textarea>
      </label>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  </div>
  <div *ngIf="isMapLoading | async; else box">
    <google-map [zoom]="zoom" [options]="options" class="divider">
      <map-marker #marker="mapMarker" [options]="markerOptions" (mapDragend)="markerDragEnd($event)"
                  (mapClick)="openInfoWindow(marker)">
      </map-marker>
      <map-info-window>{{info}}</map-info-window>
    </google-map>
  </div>
  <ng-template #box>
    <div class="ssc-square mb"></div>
  </ng-template>
</div>
