<div *ngIf="!error; else errorBox" class="mat-elevation-z8">
  <table [dataSource]="dataSource" class="full-width-table" mat-table matSort matSortActive="start"
         matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let reservation; let i = index;" mat-cell>
        <div *ngIf="reservation.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th *matHeaderCellDef mat-header-cell>{{ 'RESERVATION.PAGE.COLUMN.CUSTOMER' | translate }}</th>
      <td *matCellDef="let reservation" mat-cell>
        <div
          *ngIf="reservation.id; else skeleton">{{reservation.customer.firstName}} {{reservation.customer.lastName}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="start">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'RESERVATION.PAGE.COLUMN.START' | translate }}</th>
      <td *matCellDef="let reservation" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="reservation.id; else skeleton">{{reservation.start | date:'short':undefined:language}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'RESERVATION.PAGE.COLUMN.STATE' | translate }}</th>
      <td *matCellDef="let reservation" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="reservation.id; else skeleton">
          <mat-icon matPrefix>{{getIcon(reservation.state)}}</mat-icon>&nbsp;
          {{ 'RESERVATION.STATE.' + reservation.state | translate}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'RESERVATION.PAGE.COLUMN.PRODUCT' | translate }}</th>
      <td *matCellDef="let reservation" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="reservation.id; else skeleton">{{reservation.product.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let reservation" mat-cell>
        <div *ngIf="reservation.id; else skeleton">
          <button (click)="view(reservation)" *ngIf="!reservation.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.VIEW' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">visibility</mat-icon>
          </button>
          <button (click)="cancel(reservation.id)" *ngIf="reservation.deadLine" fxHide.lt-sm fxShow mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.CANCEL' | translate }}" matTooltipPosition="right">
            <mat-icon color="warn">close</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td class="no-content bold" mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        {{ 'RESERVATION.PAGE.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr mat-footer-row *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0"></tr>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'deadLine': row.deadLine}" mat-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
</div>
<ng-template #errorBox>
  <app-error [error]="error" [isCard]="true"></app-error>
</ng-template>
