<form [formGroup]="formGroup" novalidate>
  <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <mat-form-field appearance="outline">
      <mat-label>{{ label | translate }}</mat-label>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <label>
        <input #passwordInput formControlName="password" (input)="validate(passwordInput.value)"
               [type]="hide ? 'password' : 'text'" autocomplete="new-password" matInput required>
      </label>
      <mat-hint align="end" aria-live="polite">
        {{passwordInput.value.length}} / {{max}}
      </mat-hint>
      <mat-error *ngIf="formGroup.get('password')?.hasError('required')"
                 [innerHTML]="'AUTH.PASSWORD.REQUIRED' | translate">
      </mat-error>
      <mat-error *ngIf="formGroup.get('password')?.hasError('maxlength')">
        {{ 'AUTH.PASSWORD.MAX' | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
        {{ 'AUTH.PASSWORD.MIN' | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup.get('password')?.hasError('pattern')"
                 [innerHTML]="'AUTH.PASSWORD.INVALID' | translate">
      </mat-error>
    </mat-form-field>
    <div>
      <mat-slide-toggle #toggle>{{ 'AUTH.PASSWORD.DETAIL' | translate }}</mat-slide-toggle>
      <mat-list *ngIf="toggle.checked">
        <mat-list-item *ngFor="let option of mapCompleted | keyvalue">
          <mat-icon matListItemIcon color="accent" *ngIf="option.value">check_circle_outline</mat-icon>
          <mat-icon matListItemIcon color="warn" *ngIf="!option.value">error_outline</mat-icon>
          <div matListItemTitle>{{ option.key | translate }}</div>
        </mat-list-item>
      </mat-list>
    </div>
    <mat-form-field appearance="outline" *ngIf="formGroup.get('confirmPassword')">
      <mat-label *ngIf="confirmLabel">{{ confirmLabel + '.FIELD' | translate }}</mat-label>
      <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm">
        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <label>
        <input formControlName="confirmPassword" [type]="hideConfirm ? 'password' : 'text'"
               autocomplete="new-password" matInput required>
      </label>
      <mat-error *ngIf="formGroup.get('confirmPassword')?.hasError('required')"
                 [innerHTML]="confirmLabel + '.REQUIRED' | translate">
      </mat-error>
      <mat-error *ngIf="formGroup.get('confirmPassword')?.hasError('notConfirmed')">
        {{ confirmLabel + '.MUST_MATCH' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
