<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'OFFICE.DETAIL' | translate }}</mat-card-title>
          <mat-card-subtitle *ngIf="office; else skeleton">{{office.name}}</mat-card-subtitle>
          <ng-template #skeleton>
            <div class="ssc-line"></div>
          </ng-template>
        </mat-card-header>
        <form (ngSubmit)="update" [formGroup]="form" novalidate>
          <mat-card-content *ngIf="office; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'OFFICE.NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input [formControl]="name" autocomplete="name" matInput required>
                </label>
                <mat-error *ngIf="name.hasError('required')" [innerHTML]="'OFFICE.NAME.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['name']">
                  {{errors['name']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'OFFICE.MANAGER.FIELD' | translate }}</mat-label>
                <label>
                  <input [value]="managerName" disabled matInput type="text">
                </label>
              </mat-form-field>
              <div *ngIf="office.rooms" mat-subheader>{{ 'OFFICE.ROOMS' | translate }}</div>
              <mat-list *ngIf="office.rooms">
                <mat-list-item *ngFor="let room of office.rooms; let i = index; let last = last">
                  {{i + 1}}. {{room | roomName}}
                  <mat-divider *ngIf="!last"></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="office; else buttonSkeleton">
            <div fxFlex></div>
            <button [disabled]="form.invalid || form.pristine" color="primary" mat-raised-button
                    type="submit">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
            <button [form]="form" appBackButton color="accent" mat-raised-button
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </form>
      </mat-card>
    </div>
  </div>
</div>
