<mat-toolbar *ngIf="data.mobileType === 'android'" color="primary" class="android-prompt">
  <button mat-button (click)="installPwa()">
    {{'COMMON.INSTALL.ANDROID' | translate}}
  </button>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div *ngIf="data.mobileType === 'ios'" class="ios-prompt">
  <button class="close-ios-inv" mat-button color="primary" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div>{{'COMMON.INSTALL.IOS' | translate}}</div>
  <div><img src="./assets/ios-menu-btn.png" alt="ios-menu-btn">
    <mat-icon>navigate_next</mat-icon>
    <img src="./assets/ios-add-btn.png" alt="ios-add-btn"></div>
</div>
