<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div *ngIf="!error; else errorBox" fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'PROFILE.TITLE' | translate }}</mat-card-title>
          <mat-card-subtitle *ngIf="user; else skeleton">{{user.email}}</mat-card-subtitle>
          <ng-template #skeleton>
            <div class="ssc-line"></div>
          </ng-template>
          <div *ngIf="user; else circle" [ngStyle]="{'background-color':  '#673AB7' }" class="circle" mat-card-avatar>
            <img *ngIf="!showInitials; else showInitialsBlock" alt="profile" src="{{user?.imageUrl}}">
            <ng-template #showInitialsBlock>
              <div class="initials">{{ initials | uppercase }}</div>
            </ng-template>
          </div>
          <ng-template #circle>
            <div class="ssc-circle"></div>
          </ng-template>
        </mat-card-header>
        <form (ngSubmit)="update()" [formGroup]="form" novalidate>
          <mat-card-content *ngIf="user; else boxSkeleton">
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'PROFILE.USERNAME.FIELD' | translate }}</mat-label>
                <label>
                  <input autocomplete="username" formControlName="username" matInput required>
                </label>
                <mat-error *ngIf="username.hasError('required')" [innerHTML]="'PROFILE.PROFILE.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['username']">
                  {{errors['username']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'PROFILE.FIRST_NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input autocomplete="username" formControlName="firstName" matInput required>
                </label>
                <mat-error *ngIf="firstName.hasError('required')"
                           [innerHTML]="'PROFILE.FIRST_NAME.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['firstName']">
                  {{errors['firstName']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'PROFILE.LAST_NAME.FIELD' | translate }}</mat-label>
                <label>
                  <input autocomplete="username" formControlName="lastName" matInput required>
                </label>
                <mat-error *ngIf="lastName.hasError('required')"
                           [innerHTML]="'PROFILE.LAST_NAME.REQUIRED' | translate">
                </mat-error>
                <mat-error *ngIf="errors['lastName']">
                  {{errors['lastName']}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'PROFILE.LANG.FIELD' | translate }}</mat-label>
                <span *ngIf="select.value" [class]="'flag-icon  flag-icon-squared flag-icon-' + select.value.icon"
                      class="margin-right-eight"
                      matPrefix></span>
                <mat-select #select [formControl]="langValue" required>
                  <mat-option *ngFor="let lang of flagList" [value]="lang">
                    <span [class]="'flag-icon  flag-icon-squared flag-icon-' + lang.icon"></span>
                    {{ 'COMMON.LANG.' + lang.text | translate }}
                  </mat-option>
                </mat-select>
                <mat-error [innerHTML]="'PROFILE.LANG.REQUIRED' | translate">
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <ng-template #boxSkeleton>
            <div class="ssc-hr"></div>
            <div class="ssc-square mb"></div>
            <div class="ssc-hr"></div>
          </ng-template>
          <mat-card-actions *ngIf="user; else buttonSkeleton">
            <div fxFlex></div>
            <button [disabled]="form.invalid || !canChange" color="primary" mat-raised-button
                    type="submit">{{ 'COMMON.BUTTON.UPDATE' | translate }}</button>
            <button color="accent" mat-raised-button type="button"
                    appBackButton>{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
          <ng-template #buttonSkeleton>
            <div class="ssc-head-line"></div>
          </ng-template>
        </form>
      </mat-card>
    </div>
    <ng-template #errorBox>
      <app-error [error]="error"></app-error>
    </ng-template>
  </div>
</div>

