mat-sidenav-container {
  mat-toolbar {
    .align-right {
      flex: 1 1 auto;
    }
  }

  .my-content {
    margin-left: 10%;
    width: 80%;
    margin-top: 85px;
    position: relative;
  }

  .header {
    position: fixed;
    top: 0;
  }

  .max-size {
    height: 120px;
    z-index: 1;
    align-items: start;
    padding-top: 20px;
  }
}

.position {
  right: 0;
  left: 0;
  z-index: 9;
}

.footer {
  position: absolute;
  bottom: 0;
}
