<mat-sidenav-container autosize fullscreen>
  <mat-toolbar color="primary" class="position header max-size">
    <button mat-icon-button (click)="sidenav.toggle()" *ngIf="currentUser">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/">{{title}}</button>
    <span class="align-right"></span>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="menuNotLogged" *ngIf="username; else login">
      <mat-icon>person_pin</mat-icon>
      {{username | titlecase}}
    </button>
    <ng-template #login>
      <button mat-raised-button color="accent" routerLink="/dashboard/auth">
        <mat-icon>login</mat-icon>
        {{'DASHBOARD.SIGN_IN' | translate }}
      </button>
    </ng-template>
    <mat-menu #menuNotLogged="matMenu">
      <button mat-menu-item routerLink="/dashboard/profile">
        <mat-icon>settings</mat-icon>
        <span>{{'DASHBOARD.PROFILE' | translate }}</span>
      </button>
      <button mat-menu-item routerLink="/dashboard/change-password" *ngIf="canChangePassword">
        <mat-icon>mode_edit</mat-icon>
        <span>{{'DASHBOARD.CHANGE_PASSWORD' | translate }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{'DASHBOARD.SIGN_OUT' | translate }}</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav #sidenav mode="over">
    <div (click)="sidenav.toggle()">
      <mat-card>
        <img *ngIf="currentUser && currentUser.imageUrl" mat-card-image src="{{currentUser.imageUrl}}" alt="profile">
        <div class="card-title" *ngIf="currentUser">
          <b>{{username | uppercase}}</b>
          <br>
          <span>{{currentUser.email}} </span>
        </div>
      </mat-card>
      <mat-nav-list>
        <div *ngFor="let menu of menus">
          <a mat-list-item [routerLink]="menu.path">
            <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
            <div mat-line>{{menu.name}}</div>
          </a>
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <div class="my-content">
    <div class="card-header-content">
      <div fxLayout="column">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div style="height: 3%"></div>
</mat-sidenav-container>
<div class="position footer"></div>
