<div class="divider">
  <button fxShow.lt-sm fxHide (click)="decrement" [disabled]="prevBtnDisabled" color="accent" mat-fab>
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button fxHide.lt-sm fxShow (click)="decrement" [disabled]="prevBtnDisabled" color="accent" mat-fab extended>
    <mat-icon>navigate_before</mat-icon>
    <span>{{'COMMON.BUTTON.PREVIOUS' | translate}}</span>
  </button>
  <input (dateChange)="selectDate($event)" [matDatepicker]="picker" [max]="maxDate" [min]="today" [value]="viewDate"
         hidden matInput>
  <mat-datepicker #picker touchUi></mat-datepicker>
  <button fxShow.lt-sm fxHide (click)="picker.open()" color="primary" mat-fab>
    <mat-icon>today</mat-icon>
  </button>
  <button fxHide.lt-sm fxShow (click)="picker.open()" color="primary" mat-fab extended>
    <mat-icon>today</mat-icon>
    <span>{{'COMMON.BUTTON.GOTO' | translate}}</span>
  </button>
  <button fxShow.lt-sm fxHide (click)="increment" [disabled]="nextBtnDisabled" color="accent" mat-fab>
    <mat-icon>navigate_next</mat-icon>
  </button>
  <button fxHide.lt-sm fxShow (click)="increment" [disabled]="nextBtnDisabled" color="accent" mat-fab extended>
    <mat-icon>navigate_next</mat-icon>
    <span>{{'COMMON.BUTTON.NEXT' | translate}}</span>
  </button>
  <div fxFlex></div>
  <div>
    <h2 style="margin: 0">{{ viewDate | calendarDate:'dayViewTitle':locale }}</h2>
    <app-counter style="text-align: center" (refreshViewDate)="refreshViewDate($event)"></app-counter>
  </div>
</div>
<div *ngIf="dashboard?.availability; else noContent">
  <div *ngIf="professionals.length; else boxSkeleton" class="row">
    <div class="divider">
      <app-mwl-day-view-scheduler (segmentClicked)="segmentClick($event.date, $event.professionalId)"
                                  (eventTimesChanged)="eventTimesChanged($event)"
                                  (professionalChanged)="professionalChanged($event)" [day]="day" [events]="events"
                                  [professionals]="professionals"
                                  [viewDate]="viewDate">
      </app-mwl-day-view-scheduler>
    </div>
  </div>
  <ng-template #boxSkeleton>
    <div class="ssc-square mb"></div>
  </ng-template>
</div>
<ng-template #noContent>
  <h2 style="text-align: center">
    {{'DASHBOARD.ROOM.NO_OPEN' | translate:{date: viewDate | calendarDate:'dayViewTitle':locale} }}
  </h2>
</ng-template>

