<div class="flex-container" fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="card-container">
    <div fxFlex.lt-sm="80%" fxFlex="50%" fxFlex.gt-lg="40%">
      <form (ngSubmit)="forgotPassword()" [formGroup]="form" novalidate>
        <mat-card>
          <mat-card-title>{{ 'AUTH.FORGOT_PASSWORD.TITLE' | translate }}</mat-card-title>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'AUTH.FORGOT_PASSWORD.USERNAME.FIELD' | translate }}</mat-label>
                <input matInput required formControlName="username" autocomplete="username">
                <mat-error>
                  {{ 'AUTH.FORGOT_PASSWORD.USERNAME.ERROR' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button fxFlex mat-raised-button color="primary" [disabled]="form.invalid"
                    type="submit">{{ 'COMMON.BUTTON.SEND' | translate }}</button>
            <button mat-raised-button color="accent"
                    appBackButton>{{ 'COMMON.BUTTON.BACK' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
