<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <form (ngSubmit)="recoveryPassword" novalidate>
        <mat-card appearance="outlined">
          <mat-card-title>{{ 'AUTH.RECOVERY_PASSWORD.TITLE' | translate }}</mat-card-title>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
              <app-password [formGroup]="passwordFormGroup" [label]="'AUTH.PASSWORD.FIELD'"
                            [confirmLabel]="'AUTH.RECOVERY_PASSWORD.CONFIRM_PASSWORD'"></app-password>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button [tabIndex]="3" appBackButton color="accent" mat-fab extended class="icon-button"
                    type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
            <button [disabled]="passwordFormGroup.invalid" color="primary" fxFlex
                    mat-fab extended class="icon-button" type="submit">{{ 'COMMON.BUTTON.SEND' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
