<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <mat-card appearance="outlined">
        <mat-card-content>
          <h2>{{ 'ROOM.ME.SERVICES.ADDITIONAL.TITLE' | translate }}</h2>
          @if ((selectedAdditional.length && !additional.length) || (!selectedAdditional.length && additional.length) || (selectedAdditional.length && additional.length)) {
            <div class="inner-row-container">
              <div class="drag-container">
                <div class="section-heading">{{ 'ROOM.ME.SERVICES.ALL' | translate }}</div>
                <div #additionalList="cdkDropList" (cdkDropListDropped)="drop($event, false)"
                     [cdkDropListConnectedTo]="[selectedAdditionalList]" [cdkDropListData]="additional" cdkDropList
                     class="item-list">
                  @for (item of additional; track item.id) {
                    <div cdkDrag class="item-box">{{ item.name }}</div>
                  }
                </div>
              </div>

              <div class="drag-container">
                <div class="section-heading">{{ 'ROOM.ME.SERVICES.SELECTED' | translate }}</div>
                <div #selectedAdditionalList="cdkDropList" (cdkDropListDropped)="drop($event,true)"
                     [cdkDropListConnectedTo]="[additionalList]" [cdkDropListData]="selectedAdditional" cdkDropList
                     class="item-list">
                  @for (item of selectedAdditional; track item.id) {
                    <div (click)="changePrice(item)" cdkDrag class="item-box">
                      <div>
                        <div>{{ item.name }}</div>
                        <div>{{ item.currency | currencySymbol }} {{ item.price }}</div>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          } @else {
            <div class="ssc-square mb"></div>
          }
          <h2>{{ 'ROOM.ME.SERVICES.TREATMENT.TITLE' | translate }}</h2>
          @if (groups.size) {
            @for (group of groups | keyvalue; track group) {
              <div class="inner-row-container">
                <div class="drag-container">
                  <div class="section-heading">{{ group.value.name }}</div>
                  <div #treatmentList="cdkDropList" (cdkDropListDropped)="drop($event, false)"
                       [cdkDropListConnectedTo]="[selectedTreatmentList]" [cdkDropListData]="group.value.treatments"
                       cdkDropList class="item-list">
                    @for (item of group.value.treatments; track item.id) {
                      <div cdkDrag class="item-box">{{ item.name }}</div>
                    }
                  </div>
                </div>
                <div class="drag-container">
                  <div class="section-heading">{{ group.value.name }}</div>
                  <div #selectedTreatmentList="cdkDropList" (cdkDropListDropped)="drop($event,true)"
                       [cdkDropListConnectedTo]="[treatmentList]" [cdkDropListData]="group.value.selectedTreatments"
                       cdkDropList class="item-list">
                    @for (item of group.value.selectedTreatments; track item.id) {
                      <div (click)="changePrice(item)" cdkDrag class="item-box">
                        <div>
                          <div>{{ item.name }}</div>
                          <div>{{ item.currency | currencySymbol }} {{ item.price }}</div>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
          } @else {
            <div class="ssc-square mb"></div>
          }
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <div class="spacer"></div>
          <button appBackButton class="margin-right-eight icon-button" color="accent" mat-fab extended type="button">
            {{ 'COMMON.BUTTON.BACK' | translate }}
          </button>
          <button (click)="save" class="margin-right-eight icon-button" color="primary" mat-fab extended>
            {{ 'COMMON.BUTTON.UPDATE' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

