.mat-column-actions {
  width: 30% !important;
}

.mat-column-position {
  width: 5% !important;
}

.mat-column-name {
  width: 30% !important;
}

.mat-column-email {
  width: 30% !important;
}

.mat-column-status {
  width: 5% !important;
}

.mat-column-add {
  width: 1% !important;
}

.mainDiv {
  position: relative;
}

.flex-container {
  display: flex;

  .flex-child {
    flex: 1;
  }
}
