.mat-column-actions {
  width: 30% !important;
}

.mat-column-position {
  width: 5% !important;
}

.mat-column-name {
  width: 30% !important;
}

.mat-column-email {
  width: 30% !important;
}

.mat-column-status {
  width: 5% !important;
}

tr.user-detail-row {
  height: 0 !important;
}

.user-row td {
  border-bottom-width: 0;
}

.user-detail {
  overflow: hidden;
  display: flex;
}

.mainDiv {
  position: relative;
}

.flex-container {
  display: flex;

  .flex-child {
    flex: 1;
  }

  .flex-child:first-child {
    margin-right: 100%;
  }
}
