<div class="mat-elevation-z8 small-table">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="username" matSortDirection="desc"
         matSortDisableClear multiTemplateDataRows>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell> No.</th>
      <td *matCellDef="let user; let i = dataIndex;" mat-cell>
        <div *ngIf="user.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'USER.LIST.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let user" mat-cell>
        <div *ngIf="user.id; else skeleton">{{user.firstName}} {{user.lastName}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'USER.LIST.COLUMN.USERNAME' | translate }}</th>
      <td *matCellDef="let user" class="column-large-text" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="user.id; else skeleton">{{user.username}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'USER.LIST.COLUMN.EMAIL' | translate }}</th>
      <td *matCellDef="let user" class="column-large-text" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="user.id; else skeleton">{{user.email}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="provider">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'USER.LIST.COLUMN.PROVIDER' | translate }}</th>
      <td *matCellDef="let user" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="user.id; else skeleton">{{user.provider}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'USER.LIST.COLUMN.STATUS' | translate }}</th>
      <td *matCellDef="let user" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="user.id; else skeleton">
          <div *ngIf="!user.deleted; else deleteBlock">
            <mat-icon *ngIf="user.enabled || user.provider !== 'LOCAL'; else elseBlock"
                      matTooltip="{{ 'USER.LIST.STATUS.ENABLED' | translate }}"
                      matTooltipPosition="left">
              check_circle_outline
            </mat-icon>
            <ng-template #elseBlock>
              <mat-icon color="warn" matTooltip="{{ 'USER.LIST.STATUS.DISABLED' | translate }}"
                        matTooltipPosition="left">
                pause_circle_outline
              </mat-icon>
            </ng-template>
          </div>
          <ng-template #deleteBlock>
            <mat-icon color="accent" matTooltip="{{ 'USER.LIST.STATUS.DELETED' | translate }}"
                      matTooltipPosition="left">delete_outline
            </mat-icon>
          </ng-template>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let user" mat-cell>
        <div *ngIf="user.id; else skeleton">
          <button (click)="edit(user)" *ngIf="!user.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button (click)="delete(user)" *ngIf="!user.deleted"
                  [matTooltipPosition]="!user.enabled && user.provider === 'LOCAL' ? 'above' : 'right'"
                  mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}">
            <mat-icon color="warn">delete</mat-icon>
          </button>
          <button (click)="sendInvite(user)" *ngIf="!user.deleted && !user.enabled && user.provider === 'LOCAL'"
                  mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.INVITE' | translate }}"
                  matTooltipPosition="right">
            <mat-icon color="accent">forward_to_inbox</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let user" [attr.colspan]="displayedColumns.length" mat-cell>
        <div [@detailExpand]="user == expandedUser ? 'expanded' : 'collapsed'"
             class="user-detail">
          <mat-list>
            <div fxHide fxShow.lt-sm mat-subheader>{{ 'USER.LIST.COLUMN.USERNAME' | translate }}</div>
            <mat-list-item fxHide fxShow.lt-sm role="list">
              <div mat-line>{{user.username}}</div>
            </mat-list-item>
            <div fxHide fxShow.lt-sm mat-subheader>{{ 'USER.LIST.COLUMN.EMAIL' | translate }}</div>
            <mat-list-item fxHide fxShow.lt-sm role="list">
              <div mat-line>{{user.email}}</div>
            </mat-list-item>
            <div fxHide fxShow.lt-sm mat-subheader>{{ 'USER.LIST.COLUMN.PROVIDER' | translate }}</div>
            <mat-list-item fxHide fxShow.lt-sm role="list">
              <div mat-line>{{user.provider}}</div>
            </mat-list-item>
            <div fxHide fxShow.lt-sm mat-subheader>{{ 'USER.LIST.COLUMN.STATUS' | translate }}</div>
            <mat-list-item fxHide fxShow.lt-sm role="list">
              <div *ngIf="!user.deleted; else deleteBlock" mat-line>
                <mat-icon
                  *ngIf="user.enabled || user.provider !== 'LOCAL'; else elseBlock">
                  check_circle_outline
                </mat-icon>
                <ng-template #elseBlock>
                  <mat-icon color="warn">pause_circle_outline</mat-icon>
                </ng-template>
              </div>
              <ng-template #deleteBlock>
                <mat-icon color="accent">delete_outline</mat-icon>
              </ng-template>
            </mat-list-item>
            <div mat-subheader>{{ 'USER.LIST.COLUMN.DETAIL.TITLE' | translate }}</div>
            <mat-list-item *ngFor="let it of user.authorities" role="list">
              <mat-icon mat-list-icon>accessibility_new</mat-icon>
              <div mat-line>{{ 'COMMON.ROLES.' + it.authority | translate}}</div>
            </mat-list-item>
          </mat-list>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="expandedUser = expandedUser === user ? null : user" *matRowDef="let user; columns: displayedColumns;"
        class="user-row" mat-row></tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="user-detail-row" mat-row></tr>
  </table>
  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'USER.ADD.TITLE' | translate }}" routerLink="/user">
    <mat-icon>person_add</mat-icon>
  </button>
</div>
