@use 'sass:map';
@use '@angular/material' as mat;
@import "angular-calendar/scss/angular-calendar.scss";

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $warn-palette: map.get($color-config, 'warn');
  $background: map.get($color-config, 'background');
  $foreground: map.get($color-config, 'foreground');
  $isDark: map.get($color-config, 'is-dark');

  .text-bg-partially_completed {
    background-color: #f7e6d8;
    color: black;
  }

  .sorting-item-list {
    background: mat.get-color-from-palette($background, card);
    border: solid 1px mat.get-color-from-palette($background, tooltip);
  }

  .sorting-item-box {
    background: mat.get-color-from-palette($background, card);
    border-bottom: solid 1px mat.get-color-from-palette($background, tooltip);
  }

  .cdk-drag-preview {
    box-shadow: 0 5px 5px -3px mat.get-color-from-palette($background, shadow),
    0 8px 10px 1px mat.get-color-from-palette($background, shadow),
    0 3px 14px 2px mat.get-color-from-palette($background, shadow);
  }

  .sorting-item-placeholder {
    background: mat.get-color-from-palette($background, hover);
    border: dotted 3px mat.get-color-from-palette($background, hoverable);
  }

  .note {
    border: solid 1px mat.get-color-from-palette($warn-palette) !important;
  }

  @if $isDark {
    .text-bg-created {
      background-color: #fafafa;
      color: black;
    }
    .text-bg-completed {
      background-color: #90ee90;
      color: black;
    }
    .text-bg-paid {
      background-color: #009ee3;
      color: black;
    }
    .text-bg-partially_paid {
      background-color: #009ee3;
      color: black;
    }
    .text-bg-started {
      background-color: #e6b9ff;
      color: black;
    }
    .text-bg-approved {
      background-color: #e3d3c5;
      color: black;
    }
    .text-bg-undefined {
      background-color: #f08080;
      color: black;
    }
  } @else {
    .text-bg-created {
      background-color: #ababab;
    }
    .text-bg-completed {
      background-color: #44a244;
    }
    .text-bg-paid {
      background-color: #04589a;
    }
    .text-bg-partially_paid {
      background-color: #04589a;
    }
    .text-bg-started {
      background-color: #673ab7;
    }
    .text-bg-approved {
      background-color: #a06c3f;
    }
    .text-bg-undefined {
      background-color: #ffb3b3;
    }
  }

  .loading {
    &::before {
      background: mat.get-color-from-palette($background, loading)
    }
  }

  .active {
    .active-header-title {
      color: mat.get-color-from-palette($primary-palette);
    }
  }

  .mat-mdc-list-item.active {
    color: mat.get-color-from-palette($primary-palette);
  }

  .mat-mdc-row:hover {
    background-color: mat.get-color-from-palette($background, hover);
  }

  mat-header-cell, mat-cell {
    border-bottom-color: mat.get-color-from-palette($background, hover);
  }

  @if $isDark {
    .first {
      border-bottom: 3px groove mat.get-color-from-palette($primary-palette, A700);
    }

    .second {
      border-bottom: 3px groove mat.get-color-from-palette($primary-palette, A700);
    }

    .third {
      border-bottom: 3px groove mat.get-color-from-palette($primary-palette, A700);
    }
  } @else {
    .first {
      border-bottom: 3px groove mat.get-color-from-palette($primary-palette, 700);
    }

    .second {
      border-bottom: 3px groove mat.get-color-from-palette($primary-palette, 700);
    }

    .third {
      border-bottom: 3px groove mat.get-color-from-palette($primary-palette, 700);
    }
  }

  // Time picker
  .timepicker {
    .timepicker__header {
      background-color: mat.get-color-from-palette($primary-palette) !important;
    }

    .timepicker__body,
    .timepicker__actions {
      @if $isDark {
        background-color: mat.get-color-from-palette($background, background) !important;
      } @else {
        background-color: mat.get-color-from-palette($background, card) !important;
      }
    }

    .clock-face {
      @if $isDark {
        background-color: mat.get-color-from-palette($background, card) !important;
      } @else {
        background-color: mat.get-color-from-palette($background, background) !important;
      }
    }

    .clock-face__clock-hand {
      background-color: mat.get-color-from-palette($primary-palette) !important;

      &::after {
        background-color: mat.get-color-from-palette($primary-palette) !important;
      }

      &::before {
        border-color: mat.get-color-from-palette($primary-palette) !important;
      }
    }

    .clock-face__number {
      > span.active {
        background-color: mat.get-color-from-palette($primary-palette) !important;
      }

      > span.disabled {
        color: mat.get-color-from-palette($background, disabled-button) !important;
      }

      > span {
        color: mat.get-color-from-palette($foreground, base) !important;
      }
    }

    button:not(.timepicker-dial__item) {
      color: mat.get-color-from-palette($primary-palette) !important;
    }
  }

  .cal-month-view {
    .cal-header {
      .cal-cell:hover {
        background-color: mat.get-color-from-palette($background, loading) !important;
      }

      background-color: mat.get-color-from-palette($background, background);
    }

    .cal-cell-top:hover {
      background-color: mat.get-color-from-palette($background, loading) !important;
    }

    .cal-day-cell:hover {
      background-color: mat.get-color-from-palette($background, loading) !important;
    }

    .cal-day-cell:not(:last-child) {
      border-right: 1px solid mat.get-color-from-palette($foreground, divider) !important;
    }

    .cal-cell {
      border: 1px solid mat.get-color-from-palette($foreground, divider);
      background-color: mat.get-color-from-palette($background, background);
    }

    .cal-open-day-events {
      box-shadow: none;
      background-color: mat.get-color-from-palette($background, background);
      border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
      border-left: 1px solid mat.get-color-from-palette($foreground, divider);
      border-right: 1px solid mat.get-color-from-palette($foreground, divider);
      color: mat.get-color-from-palette($foreground, base);
    }

    .cal-day-cell.cal-weekend .cal-day-number {
      color: mat.get-color-from-palette($warn-palette) !important;
    }

    .cal-day-number {
      color: mat.get-color-from-palette($foreground, base);
    }

    .cal-open {
      .cal-day-number {
        color: mat.get-color-from-palette($primary-palette) !important;
        font-size: 2.6em !important;
        opacity: 1 !important;
      }
    }

    .cal-out-month .cal-day-number {
      color: mat.get-color-from-palette($foreground, base);
      opacity: 1;
    }

    .cal-day-cell.cal-today .cal-day-number {
      color: mat.get-color-from-palette($foreground, base);
      opacity: 1;
    }

    .cal-cell.cal-has-events.cal-open {
      background-color: mat.get-color-from-palette($background, loading);
      color: mat.get-color-from-palette($primary-palette, A100);
    }

    .cal-day-cell.cal-in-month.cal-has-events:hover {
      background-color: mat.get-color-from-palette($background, loading) !important;
    }

    .cal-day-cell.cal-in-month.cal-has-events {
      background-color: mat.get-color-from-palette($background, background) !important;
    }

    // The cal-event-highlight class was added to angular-calendar in version 0.26.0-alpha.26
    // For earlier versions, you will need to specify the event secondary color in code (eg #8E24AA)
    .cal-cell.cal-event-highlight {
      background-color: mat.get-color-from-palette($primary-palette, 600) !important;
    }

    .cal-day-cell.cal-today.cal-open,
    .cal-day-cell.cal-today {
      background-color: mat.get-color-from-palette($primary-palette, 200);
      color: mat.get-color-from-palette($primary-palette, A100);
    }

    .cal-day-badge {
      background-color: mat.get-color-from-palette($accent-palette);
      color: mat.get-color-from-palette($accent-palette, default-contrast);
    }

    .cal-event {
      background-color: mat.get-color-from-palette($primary-palette, 600);
      color: mat.get-color-from-palette($background, background);
      border: 1px solid mat.get-color-from-palette($foreground, divider);
    }

    .cal-days {
      border: 0 solid mat.get-color-from-palette($foreground, divider) !important;

      .cal-cell-row {
        border-bottom: 0 solid mat.get-color-from-palette($foreground, divider) !important;
      }
    }
  }

  .cal-week-view {
    .cal-day-headers {
      .cal-header:hover {
        background-color: mat.get-color-from-palette($background, hover);
      }

      background-color: mat.get-color-from-palette($background, background);
    }

    .cal-header.cal-weekend b,
    .cal-header.cal-weekend span {
      color: mat.get-color-from-palette($warn-palette);
    }

    .cal-header.cal-today {
      background-color: mat.get-color-from-palette($primary-palette, 200);

      span {
        color: mat.get-color-from-palette($primary-palette, default-contrast);
        opacity: 1;
      }
    }

    .cal-event {
      background-color: mat.get-color-from-palette($primary-palette, 600);
      color: mat.get-color-from-palette($background, background);
      border: 1px solid #000000;
    }

    .cal-starts-within-week .cal-event {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .cal-ends-within-week .cal-event {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .cal-hour:nth-child(odd) {
      background-color: mat.get-color-from-palette($background, background) !important;
    }

    .cal-hour:nth-child(even) {
      background-color: mat.get-color-from-palette($background, card) !important;
    }

    .cal-drag-over .cal-hour-segment {
      background-color: mat.get-color-from-palette($background, background);
    }

    .cal-hour-segment:hover {
      background-color: mat.get-color-from-palette($background, hover) !important;
    }

    .cal-hour-segment.cal-after-hour-start .cal-time {
      display: block;
    }

    .cal-hour:not(:last-child) .cal-hour-segment,
    .cal-hour:last-child :not(:last-child) .cal-hour-segment {
      border-bottom: thin dashed mat.get-color-from-palette($primary-palette, lighter);
    }
  }

  .cal-disabled {
    background-color: mat.get-color-from-palette($background, disabled-button-toggle);
  }

  .cal-custom-event:hover {
    box-shadow: -10px 15px 25px 1px mat.get-color-from-palette($background, hoverable) !important;
  }

  .cal-custom-event:after {
    background: mat.get-color-from-palette($background, hoverable);
  }

  pre, .rejected, .dot {
    background-color: mat.get-color-from-palette($warn-palette) !important;
  }

  .circle, .profile-background {
    background-color: mat.get-color-from-palette($primary-palette);
  }

  .hoverable .profile-background {
    background-color: mat.get-color-from-palette($background, loading);
  }

  .hoverable:hover .hover-text {
    color: mat.get-color-from-palette($foreground, base);
  }

  .strikethrough:before, .red-text, .incomplete, .minus {
    color: mat.get-color-from-palette($warn-palette);
  }

  .red-text {
    color: mat.get-color-from-palette($warn-palette);
  }

  .contrast-text {
    color: mat.get-color-from-palette($foreground, contrast) !important;
  }

  .mini-dashboard-card {
    background-color: mat.get-color-from-palette($accent-palette);
  }

  .card-text-color {
    color: mat.get-color-from-palette($accent-palette, darker-contrast);
  }

  fieldset {
    border-color: mat.get-color-from-palette($foreground, divider);
  }

  .stamp-approved {
    box-shadow: 0 0 0 3px mat.get-color-from-palette($primary-palette), 0 0 0 2px mat.get-color-from-palette($primary-palette) inset;
    color: mat.get-color-from-palette($primary-palette);
  }

  @if ($isDark) {
    .success,
    .green-text {
      color: #44A244;
    }

    .stamp-paid {
      box-shadow: 0 0 0 3px #44A244, 0 0 0 2px #44A244 inset;
      color: #44A244;
    }

    .cash {
      background-color: #44A244 !important;

      td {
        color: mat.get-color-from-palette($foreground, contrast) !important;
      }
    }

    ::ng-deep .mat-green {
      color: mat.get-color-from-palette($background, background);
      background-color: #44A244 !important;
    }

    .in_process {
      background-color: rgba(#844f29, 0.4) !important;
    }

    .ml, .paypal, .approved {
      background-color: rgba(0, 158, 227, 0.4) !important;
    }
  } @else {
    .success,
    .green-text {
      color: #90EE90;
    }

    .stamp-paid {
      box-shadow: 0 0 0 3px #90EE90, 0 0 0 2px #90EE90 inset;
      color: #90EE90;
    }

    .cash {
      background-color: #90EE90 !important;

      td {
        color: mat.get-color-from-palette($foreground, contrast) !important;
      }
    }

    ::ng-deep .mat-green {
      color: mat.get-color-from-palette($background, background);
      background-color: #90EE90 !important;
    }

    .in_process {
      background-color: rgba(#a06c3f, 0.4) !important;
    }

    .ml, .paypal, .approved {
      background-color: rgb(0, 158, 227) !important;
    }
  }

  .stepper-item .step-counter {
    border: 4px solid mat.get-color-from-palette($background, unselected-chip);
  }

  .stepper-item.completed::after {
    border-bottom: 4px solid mat.get-color-from-palette($primary-palette);
  }

  .stepper-item.completed .step-counter {
    background-color: mat.get-color-from-palette($primary-palette) !important;
    color: mat.get-color-from-palette($foreground, base)
  }

  .stepper-item.completed,
  .stepper-item.active {
    .step-counter {
      border: 4px solid mat.get-color-from-palette($primary-palette);
    }
  }

  .active-link {
    color: mat.get-color-from-palette($primary-palette) !important;
  }

  mat-drawer-container {
    .footer {
      border-top: 2px solid mat.get-color-from-palette($background, disabled-button);

      a {
        color: mat.get-color-from-palette($foreground, base);
      }
    }
  }

  .stepper-item .step-counter {
    background: mat.get-color-from-palette($background, unselected-chip) !important;
  }

  .stepper-item::before,
  .stepper-item::after {
    border-bottom: 4px solid mat.get-color-from-palette($background, unselected-chip) !important;
  }

  .row-is-canceled {
    background-color: mat.get-color-from-palette($warn-palette, lighter);
  }

  .deadLine {
    background-color: mat.get-color-from-palette($warn-palette, lighter);
  }

  .cancelled {
    text-decoration-color: mat.get-color-from-palette($accent-palette);
  }

  a {
    color: mat.get-color-from-palette($primary-palette, 200);
  }

  .payment-button {
    color: #009ee3 !important;
  }

  .mat-blue {
    background-color: #009ee3 !important;
  }

  #close {
    background: linear-gradient(180deg, mat.get-color-from-palette($background, background) 55%, mat.get-color-from-palette($warn-palette) 45%);
  }

  #error-box {
    border-color: mat.get-color-from-palette($warn-palette, darker);
    background-color: mat.get-color-from-palette($warn-palette);
  }

  .drag-container {
    background-color: mat.get-color-from-palette($background, hover);
  }

  .cdk-drag-preview {
    box-shadow: 0 5px 5px -3px mat.get-color-from-palette($background, shadow),
    0 8px 10px 1px mat.get-color-from-palette($background, hover),
    0 3px 14px 2px mat.get-color-from-palette($background, hover);
  }

  .item-box {
    background: mat.get-color-from-palette($background, background);
    border: solid 1px mat.get-color-from-palette($background, background);
    color: mat.get-color-from-palette($foreground, text);
  }

  .spinner:before {
    border: 2px solid mat.get-color-from-palette($primary-palette);
    border-top-color: mat.get-color-from-palette($background, hover);
  }

  .warning {
    color: mat.get-color-from-palette($warn-palette, darker);
  }

}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
