@import '~@angular/material/theming';
@import "theme";
@import "~skeleton-screen-css";

@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@import '~ngx-sharebuttons/themes/circles/circles-dark-theme';

$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";

html, body {
  height: 100%;
}

body {
  margin: 0 0 60px 0;
  height: 100vh;
  font-family: Belleza, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

@font-face {
  font-family: Belleza, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.style-card {
  margin: 20px auto;
}

table {
  width: 100%;
}

.full {
  width: 100%;
}

.middle {
  width: 50%;
}

.vertical-divider {
  margin-left: 10px;
}

th.mat-header-cell {
  text-align: center !important;
}

.column-large-text {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-position {
  flex: 0 0 5%;
  width: 5%;
  text-align: center;
}

.mat-column-actions {
  flex: 0 0 15%;
  width: 15%;
  text-align: center;
}

.mat-cell-position {
  text-align: center;
  justify-content: center;
}

a, u {
  text-decoration: none;
}

.divider,
.mat-card-content,
.mat-form-field {
  margin: 10px 0 0 0;
}

@media all and (max-device-width: 812px) and (orientation: portrait) {
  #add-button {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
  }
}

@media not all and (max-device-width: 812px) and (orientation: portrait) {
  #add-button {
    top: 83px;
    right: 30px;
    bottom: auto;
    left: auto;
    position: fixed;
  }
}

.ssc-hr {
  margin: 5px 0 5px 0;
}

/*Charts*/

.chartContainer canvas {
  max-height: 250px;
  width: auto;
}

.chartContainer {
  height: 100%;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.gray-text {
  color: gray;
}

.mat-raised-button {
  .mat-icon {
    display: inherit !important;
    margin-right: 5px
  }
}

.margin-right-eight {
  margin-right: 8px;
}

.bold {
  font-weight: bold;
}

.no-content {
  text-align: center;
}

pre {
  background-color: red;
  padding: 15px;
}

.raised-button {
  margin-left: 10px
}

.spinner-parent-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: inherit;
  color: red;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);

  animation-name: strike;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#search-box {
  border: 1px solid lightgray;
  border-radius: 25px;
  position: relative;
  margin: 10px 0 10px 0;
}

#search-label {
  background-color: #fafafa;
  position: absolute;
  top: -10px;
  left: 30px;
  text-align: center;
  padding: 0 20px;
}

.content {
  .section-style {
    margin: 0 10% 0 10%;
    padding-top: 58px;
  }
}
