/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "skeleton-screen-css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//@media only screen and (max-width: 700px) {
//  .my-content {
//    margin-left: 0 !important;
//    width: 100% !important;
//  }
//}

//.card-header-content {
//  position: -webkit-sticky; /* Safari */
//  position: sticky;
//  top: 85px;
//  z-index: 1;
//}

table {
  width: 100%;
}

.small-table {
  overflow-x: scroll !important;
}

.mat-column-position {
  flex: 0 0 5%;
  width: 5%;
}

.mat-column-actions {
  flex: 0 0 15%;
  width: 15%;
}

.mat-cell-position {
  text-align: center;
  justify-content: center;
}

.column-large-text {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a, u {
  text-decoration: none;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .initials {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2625px;
  }
}

.divider,
.mat-card-content,
.mat-form-field {
  margin: 10px 0 0 0;
}

.divider-padding {
  padding: 10px 0 0 0;
}

@media all and (max-device-width: 812px) and (orientation: portrait) {
  #add-button {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
  }
}

@media not all and (max-device-width: 812px) and (orientation: portrait) {
  #add-button {
    top: 83px;
    right: 30px;
    bottom: auto;
    left: auto;
    position: fixed;
  }
}

.ssc-hr {
  margin: 5px 0 5px 0;
}

/*Charts*/

.chartContainer canvas {
  max-height: 250px;
  width: auto;
}

.chartContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
