@use 'theme';
@use 'styles-theme';
@use 'styles/skeleton';
@use 'styles/base';
@use 'styles/material-overrides';
@use 'styles/utilities';
@use 'styles/animations';
@use 'styles/layout';
@use 'styles/reservation-shell';
@use 'styles/surface-system';
@use 'styles/detail-view';
@use 'styles/table';
@use 'styles/mixin';

$flag-icon-css-path: '~flag-icon-css/flags' !default;

@media (min-width: 768px) {
  .side-by-side-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1%;

    .field, .full-field {
      flex: 1;
      max-width: 100%;

      &:nth-child(2n) {
        max-width: calc(50% - 1%);
      }

      &:nth-child(3n) {
        max-width: calc(33.33% - 1%);
      }

      &:nth-child(4n) {
        max-width: calc(25% - 1%);
      }
    }

    .field {
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}

@media (max-width: 768px) {
  .side-by-side-fields {
    flex-direction: column;
    align-items: stretch;
  }

  .full-field {
    width: 100%;
  }

  .field {
    width: 90%;
    margin-left: 5%;
  }
}

.add-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}

.add-button {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Underline on hover */
}
