<div class="grid-container">
  <h1 class="mat-h1">Overview</h1>
  @let layout = layoutSignal();
  <mat-grid-list [cols]="layout?.columns" rowHeight="200px">
    <mat-grid-tile [colspan]="layout?.miniCardInfo?.cols" [rowspan]="layout?.miniCardInfo?.rows">
      <mat-card appearance="outlined" class="dashboard-card">
        <mat-card-content>
          @if (customer) {
            <div class="center-circle circle profile-background">
              @if (image) {
                <img [src]="image" alt="Profile" mat-card-image>
              } @else {
                <div class="initials">{{ initials | uppercase }}</div>
              }
            </div>
          } @else {
            <div class="center-circle ssc-circle w-100 initials"></div>
          }
          <div class="dashboard-card-content">
            @if (customer) {
              <div class="top-space">
                <h2 class="bold">{{ customer.displayName }}</h2>
              </div>
              <div class="text-center">
                <mat-icon color="primary">cake</mat-icon>
                <span
                  class="super">{{ customer.dob ? customer.dob : 'N/A' }}</span>
              </div>
              <div class="text-center">
                <mat-icon color="primary">phone</mat-icon>
                <span
                  class="super">{{ customer.phone ? customer.phone : 'N/A' }}</span>
              </div>
              <div class="text-center">
                <mat-icon color="primary">mail_outline</mat-icon>
                <span
                  class="super">{{ customer.email ? customer.email : 'N/A' }}</span>
              </div>
            } @else {
              <div class="card-margin ssc-head-line"></div>
              <div class="card-margin ssc-head-line"></div>
              <div class="card-margin ssc-head-line"></div>
              <div class="card-margin ssc-head-line"></div>
            }
          </div>
          <ng-template #skeletonTitle>
            <div class="card-margin ssc-head-line"></div>
          </ng-template>
        </mat-card-content>
        <mat-card-actions class="top-space" style="margin: auto">
          @if (customer) {
            <button class="hide-gt-xs only-button" color="accent" mat-fab (click)="goToProfile()">
              <mat-icon matPrefix>edit</mat-icon>
            </button>
            <button class="hide-xs only-button" color="accent" mat-fab extended (click)="goToProfile()">
              <mat-icon matPrefix>edit</mat-icon>
              <span>{{ 'COMMON.BUTTON.EDIT' | translate }}</span>
            </button>
          } @else {
            <div class="card-margin divider ssc-line"></div>
          }
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="layout?.miniCardAccount?.cols"
                   [rowspan]="layout?.miniCardAccount?.rows">
      <mat-card appearance="outlined" class="dashboard-card">
        @if (account) {
          <mat-card-header class="card-header">
            <mat-card-title>{{ 'COMMON.ACCOUNT.BALANCE' | translate }}</mat-card-title>
          </mat-card-header>
        } @else {
          <div class="card-margin ssc-head-line"></div>
        }
        <mat-card-content>
          @if (account && customer) {
            <div>
              <div class="card-icon top-space bottom-space" mat-card-avatar>
                <mat-icon class="avatar-icon pointer-only" color="primary" [matBadgeOverlap]="true" [matBadge]="'+'"
                          [matBadgeColor]="'primary'" (click)="goTo()" aria-hidden="false">
                  account_balance
                </mat-icon>
              </div>
              <div class="text-center">
                <h2 class="no-bottom">{{ account.balance | currency: account.currency.code }}</h2>
              </div>
            </div>
          } @else {
            <div style="height: 80px" class="ssc-square mb"></div>
          }
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    @for (mc of miniCardData; let i = $index; track mc) {
      <mat-grid-tile [colspan]="layout?.miniCard?.cols" [rowspan]="layout?.miniCard?.rows">
        <mat-card appearance="outlined" class="dashboard-card">
          @if (mc.title) {
            <mat-card-header class="card-header">
              <mat-card-title>{{ mc.title | translate }}</mat-card-title>
            </mat-card-header>
          } @else {
            <div class="card-margin ssc-head-line"></div>
          }
          @if (!mc.error) {
            <mat-card-content>
              @if (mc.title) {
                <div>
                  <div class="card-icon top-space bottom-space" mat-card-avatar>
                    <mat-icon class="avatar-icon" color="primary">{{ mc.icon }}</mat-icon>
                  </div>
                  @if (mc.split) {
                    <div class="text-center">
                      @if (mc.link) {
                        <div>
                          <h3 (click)="mc.link(mc.primaryId)" [ngClass]="{'pointer': mc.primaryId}" class="no-bottom">
                            {{ mc.primaryValue }}
                          </h3>
                          @if (mc.secondaryValue) {
                            <h3 (click)="mc.link(mc.secondaryId)" [ngClass]=" {'pointer': mc.secondaryId}">
                              {{ mc.secondaryValue }}
                            </h3>
                          }
                        </div>
                      } @else {
                        <h3 class="no-bottom">{{ mc.primaryValue }}</h3>
                        @if (mc.secondaryValue) {
                          <h3>{{ mc.secondaryValue }}</h3>
                        }
                      }
                    </div>
                  } @else {
                    <h1 class="text-center">{{ mc.primaryValue }}/{{ mc.secondaryValue }}</h1>
                  }
                </div>
              } @else {
                <div style="height: 80px" class="ssc-square mb"></div>
              }
            </mat-card-content>
          } @else {
            <app-error [error]="mc.error" [isCard]="true" class="text-center"></app-error>
          }
        </mat-card>
      </mat-grid-tile>
    }
    @for (chart of charts; track chart) {
      <mat-grid-tile [colspan]="layout?.chart?.cols" [rowspan]="layout?.chart?.rows">
        <app-card [chart]="chart" [title]="chart.title">
          <app-chart [chartSummary]="chart" [error]="errorSignal()" [locale]="language"></app-chart>
        </app-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
  @if (customer) {
    <div>
      @if (customer.address) {
        <app-google-map [latitudeMarker]="customer.address.location.y"
                        [longitudeMarker]="customer.address.location.x"
                        [markInfo]="'<b>' + customer.address.name + '</b>'"></app-google-map>
      }
    </div>
  } @else {
    <div class="ssc-square mb"></div>
  }
</div>
<div class="grid-container">
  <div class="card-actions">
    <div class="spacer"></div>
    <button appBackButton color="accent" mat-fab extended type="button">{{ 'COMMON.BUTTON.BACK' | translate }}</button>
  </div>
</div>
@if (upcoming.length && customer?.phone) {
  <button color="accent" id="add-button" mat-fab (click)="notification()">
    <mat-icon>campaign</mat-icon>
  </button>
}
