.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}

.dashboard-card-content {
  text-align: center;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  justify-content: center;
}

img {
  align-items: center;
  justify-content: center;
}

.center-circle {
  width: 100px !important;
  height: 100px;
  top: 50%;
  margin: auto;
}

.ssc-circle {
  position: unset;
}

.super {
  margin-left: 5px;
  vertical-align: super;
}

.circle {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  vertical-align: middle;

  .initials {
    color: #FFFFFF;
    line-height: 100px;
    letter-spacing: 0.2625px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    vertical-align: middle;
  }
}

.avatar-icon {
  margin: 0 15px !important;
  transform: scale(2);
}

.card-icon {
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card-header {
  justify-content: center;
}

.no-bottom {
  margin-bottom: 0;
}
