<div class="flex-container" fxLayout="column">
  <div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.gt-lg="40%" fxFlex.lt-sm="80%">
      <mat-card>
        <mat-card-header fxLayout="row" fxLayoutAlign="center">
          <mat-card-title>{{ 'REFERRAL.TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="message divider" fxLayout="row" fxLayoutAlign="center">
            {{'REFERRAL.MESSAGE' | translate}}
          </div>
          <div class="divider" fxLayout="row" fxLayoutAlign="center">
            {{'REFERRAL.DETAIL' | translate}}
          </div>
          <div *ngIf="user" class="divider" fxLayout="row" fxLayoutAlign="center">
            <div class="box">
              <div class="vertical-center">
                <div class="box-text bold">
                  {{user.id}}
                </div>
                <mat-chip-list class="box-button">
                  <mat-chip (click)="copy()" [disabled]="!showShare">{{'COMMON.BUTTON.COPY' | translate }}</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fxFlex></div>
          <button (click)="openBottomSheetShare()" [disabled]="!showShare" color="primary"
                  mat-raised-button>{{'COMMON.BUTTON.SHARE' | translate }}</button>
          <button (click)="openBottomSheetReferral()" [disabled]="!showInvites" mat-flat-button>
            {{'REFERRAL.INVITE.TITLE' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

