<div>
  <fieldset>
    <legend>{{ 'COMMON.SEARCH.TITLE' | translate }}</legend>
    <form [formGroup]="form" (keydown.enter)="$event.preventDefault()" (ngSubmit)="search()">
      @let currentOffices = offices();
      @if (!currentOffices?.length) {
        <button class="only-button" color="accent" mat-fab extended [routerLink]="['/', language, 'rooms', 'add']"
                type="button">
          <mat-icon>add_business</mat-icon> &nbsp;{{ 'RESERVATION.ROOM.TITLE' | translate }}
        </button>
      } @else {
        <div class="row-column-space-evenly-center">
          @if (currentOffices) {
            <mat-form-field appearance="outline">
              <mat-label>{{ 'COMMON.ROOM.OFFICE.FIELD' | translate }}</mat-label>
              <input (keydown)="keyDownOffice($event)" [formControl]="getForm.office" [matAutocomplete]="autoOffice"
                     matInput required type="text">
              <mat-autocomplete #autoOffice="matAutocomplete" [displayWith]="displayFnOffice">
                @for (office of filteredOfficeSignal(); track office) {
                  <mat-option [value]="office">{{ office.name }}</mat-option>
                }
              </mat-autocomplete>
              @if (getForm.office.hasError('required')) {
                <mat-error [innerHTML]="'COMMON.ROOM.OFFICE.REQUIRED' | translate"></mat-error>
              } @else if (getForm.office.hasError('requireMatch')) {
                <mat-error [innerHTML]="'COMMON.ROOM.OFFICE.INVALID' | translate"></mat-error>
              }
            </mat-form-field>
          } @else {
            <div class="ssc-line"></div>
          }

          @if (roomList()) {
            <mat-form-field appearance="outline">
              <mat-label>{{ 'COMMON.ROOM.FIELD' | translate }}</mat-label>
              <input (keydown)="keyDownRoom($event)" [formControl]="getForm.room" [matAutocomplete]="autoRoom" matInput
                     required type="text">
              <mat-autocomplete #autoRoom="matAutocomplete" [displayWith]="displayFnRoom">
                @for (room of filteredRoomSignal(); track room) {
                  <mat-option [value]="room">{{ room | roomName }}</mat-option>
                }
              </mat-autocomplete>
              @if (getForm.room.hasError('required')) {
                <mat-error [innerHTML]="'COMMON.ROOM.REQUIRED' | translate"></mat-error>
              } @else if (getForm.room.hasError('requireMatch')) {
                <mat-error [innerHTML]="'COMMON.ROOM.INVALID' | translate"></mat-error>
              }
            </mat-form-field>
          } @else {
            <div class="ssc-line"></div>
          }
          @if (professionalList()) {
            <mat-form-field appearance="outline">
              <mat-label>{{ 'COMMON.PROFESSIONAL.FIELD' | translate }}</mat-label>
              <input (keydown)="keyDownHandler($event, getForm.professional)" [formControl]="getForm.professional"
                     [matAutocomplete]="autoProfessional" matInput type="text">
              <mat-autocomplete #autoProfessional="matAutocomplete" [displayWith]="displayFnProfessional">
                @for (professional of filteredProfessionalSignal(); track professional) {
                  <mat-option [value]="professional">{{ professional.displayName }}</mat-option>
                }
              </mat-autocomplete>
              @if (getForm.professional.hasError('requireMatch')) {
                <mat-error [innerHTML]="'COMMON.PROFESSIONAL.INVALID' | translate"></mat-error>
              }
            </mat-form-field>
          } @else {
            <div class="ssc-line"></div>
          }
        </div>
      }
      <button type="submit" [disabled]="form.invalid" class="hide-gt-xs only-button" color="accent" mat-fab>
        <mat-icon matPrefix>search</mat-icon>
      </button>
      <button type="submit" [disabled]="form.invalid" class="hide-xs only-button" color="accent" mat-fab extended>
        <mat-icon matPrefix>search</mat-icon>
        <span>{{ 'COMMON.SEARCH.TITLE' | translate }}</span>
      </button>
    </form>
  </fieldset>
</div>

@if (calendarSignal()) {
  <div class="divider card-actions">
    <button class="hide-gt-xs" (click)="decrement()" color="accent" mat-fab
            [class.spinner]="isLoading || isCalendarLoading" [disabled]="isLoading || isCalendarLoading">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button class="hide-xs" (click)="decrement()" color="accent" mat-fab extended
            [class.spinner]="isLoading || isCalendarLoading" [disabled]="isLoading || isCalendarLoading">
      <mat-icon>navigate_before</mat-icon>
      <span>{{ 'COMMON.BUTTON.PREVIOUS' | translate }}</span>
    </button>
    <input (dateChange)="selectDate($event)" [matDatepicker]="picker" [value]="viewDate"
           hidden matInput [max]="maxDate" [min]="minDate">
    <mat-datepicker #picker touchUi></mat-datepicker>
    <button class="hide-gt-xs" (click)="picker.open()" color="primary" mat-fab
            [class.spinner]="isLoading || isCalendarLoading" [disabled]="isLoading || isCalendarLoading">
      <mat-icon>today</mat-icon>
    </button>
    <button class="hide-xs" (click)="picker.open()" color="primary" mat-fab extended
            [class.spinner]="isLoading || isCalendarLoading" [disabled]="isLoading || isCalendarLoading">
      <mat-icon>today</mat-icon>
      <span>{{ 'COMMON.BUTTON.GOTO' | translate }}</span>
    </button>
    <button class="hide-gt-xs" (click)="increment()" color="accent" mat-fab
            [class.spinner]="isLoading || isCalendarLoading" [disabled]="isLoading || isCalendarLoading">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button class="hide-xs" (click)="increment()" color="accent" mat-fab extended
            [class.spinner]="isLoading || isCalendarLoading" [disabled]="isLoading || isCalendarLoading">
      <mat-icon>navigate_next</mat-icon>
      <span>{{ 'COMMON.BUTTON.NEXT' | translate }}</span>
    </button>
    <div class="spacer"></div>
    @if (daysInWeekSignal() >= 5) {
      <button (click)="downloadPDF()" color="accent" mat-fab extended [disabled]="isDarkMode()">
        <mat-icon>print</mat-icon>
        <span>{{ 'COMMON.BUTTON.PRINT' | translate }}</span>
      </button>
    }
    <button class="hide-gt-xs" color="primary" mat-fab [routerLink]="['/', language, 'reservation']">
      <mat-icon>book_online</mat-icon>
    </button>
    <button class="hide-xs" color="primary" mat-fab extended [routerLink]="['/', language, 'reservation']">
      <mat-icon>book_online</mat-icon>
      <span>{{ 'COMMON.BUTTON.BOOK' | translate }}</span>
    </button>
  </div>

  @if (calendarDaySignal(); as calendarDay) {
    <div id="weekViewPDF">
      <div class="divider">
        <mwl-calendar-week-view
          (beforeViewRender)="beforeMonthViewRender($event)"
          (eventClicked)="view($event.event)"
          (hourSegmentClicked)="segmentClick($event.date, calendarRoomSignal())"
          (eventTimesChanged)="eventTimesChanged($event)"
          [refresh]="refresh"
          [dayEndHour]="calendarDay.dayEndHour"
          [dayEndMinute]="calendarDay.dayEndMinute"
          [dayStartHour]="calendarDay.dayStartHour"
          [dayStartMinute]="calendarDay.dayStartMinute"
          [daysInWeek]="totalDays"
          [events]="calendarEventsSignal()"
          [hourSegments]="hourSegments"
          [locale]="locale"
          [viewDate]="viewDate()"
          [weekendDays]="[]"></mwl-calendar-week-view>
      </div>
    </div>
  }
  <!--  }-->
}
