<div class="mat-elevation-z8 small-table">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="name"
         matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell> No.</th>
      <td *matCellDef="let product; let i = index;" mat-cell>
        <div *ngIf="product.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'PRODUCT.LIST.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let product" mat-cell>
        <div *ngIf="product.id; else skeleton">{{product.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'PRODUCT.LIST.COLUMN.DESCRIPTION' | translate }}</th>
      <td *matCellDef="let product" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="product.id; else skeleton">{{product.description}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'PRODUCT.LIST.COLUMN.PRICE' | translate }}</th>
      <td *matCellDef="let product" mat-cell>
        <div *ngIf="product.id; else skeleton">
          <mat-icon matPrefix>attach_money</mat-icon>&nbsp;{{product.price | number:'1.2-2'}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'PRODUCT.LIST.COLUMN.DURATION' | translate }}</th>
      <td *matCellDef="let product" class="column-large-text" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="product.id; else skeleton">
          <mat-icon matPrefix>timer</mat-icon>&nbsp;
          {{product.hour | number:'2.0-0'}}:{{product.minute | number:'2.0-0'}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let product" mat-cell>
        <div *ngIf="product.id; else skeleton">
          <button (click)="edit(product)" *ngIf="!product.deleted" mat-icon-button>
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button (click)="delete(product)" *ngIf="!product.deleted" mat-icon-button>
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'PRODUCT.ADD.TITLE' | translate }}"
          routerLink="/product">
    <mat-icon>add</mat-icon>
  </button>
</div>
