<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="name" matSortDirection="asc" matSortDisableClear
         multiTemplateDataRows>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let product; let i = dataIndex;" mat-cell>
        <div *ngIf="product.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'COMMON.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let product" mat-cell>
        <div *ngIf="product.id; else skeleton">{{product.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="durability">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'PRODUCT.LIST.COLUMN.DURABILITY' | translate }}</th>
      <td *matCellDef="let product" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="product.id; else skeleton">
          <div *ngIf="product.durability; else noDurability">{{product.durability}}</div>
          <ng-template #noDurability>
            <div>-</div>
          </ng-template>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let product" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="product.id; else skeleton">
          <button *ngIf="!product.deleted" [routerLink]="'/products/'+ product.id + '/edit'" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button *ngIf="!product.deleted" [routerLink]="'/products/'+ product.id + '/view'" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.VIEW' | translate }}" matTooltipPosition="left">
            <mat-icon color="accent">visibility</mat-icon>
          </button>
          <button (click)="delete(product)" *ngIf="!product.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}" matTooltipPosition="right">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let product" [attr.colspan]="displayedColumns.length">
        <div [@detailExpand]="product === expanded ? 'expanded' : 'collapsed'" class="detail">
          <mat-list>
            <div mat-subheader>{{ 'COMMON.COLUMN.LAST_UPDATE' | translate }}</div>
            <mat-list-item role="list">
              <div mat-line>{{product.modifiedAt | date:'short':undefined:language}}</div>
            </mat-list-item>
            <div fxHide fxShow.lt-sm mat-subheader>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</div>
            <mat-list-item fxHide fxShow.lt-sm role="list">
              <button *ngIf="!product.deleted" [routerLink]="'/products/'+ product.id + '/edit'" color="primary"
                      mat-raised-button>
                <mat-icon>edit</mat-icon>
                {{ 'COMMON.BUTTON.EDIT' | translate }}
              </button>
              <button [routerLink]="'/products/'+ product.id + '/view'" class="detail-button" color="accent"
                      mat-raised-button>
                <mat-icon>visibility</mat-icon>
                {{ 'COMMON.BUTTON.VIEW' | translate }}
              </button>
              <button (click)="delete(product)" *ngIf="!product.deleted" class="detail-button"
                      color="warn" mat-raised-button>
                <mat-icon>delete</mat-icon>
                {{ 'COMMON.BUTTON.DELETE' | translate }}
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'PRODUCT.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="expanded = expanded === product ? null : product"
        *matRowDef="let product; columns: displayedColumns;" class="row" mat-row></tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'PRODUCT.TITLE' | translate }}"
          routerLink="/products/add">
    <mat-icon>add</mat-icon>
  </button>
</div>
