<div *ngIf="!error; else errorBox" class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="name"
         matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let room; let i = index;" mat-cell>
        <div *ngIf="room.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'ROOM.LIST.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let room" mat-cell>
        <div *ngIf="room.id; else skeleton">{{room.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="professional">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'ROOM.LIST.COLUMN.PROFESSIONAL' | translate }}</th>
      <td *matCellDef="let room" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="room.id; else skeleton">{{room.professional.firstName}} {{room.professional.lastName}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'ROOM.LIST.COLUMN.NAME' | translate }}</th>
      <td *matCellDef="let room" mat-cell>
        <div *ngIf="room.id; else skeleton">{{room.address}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'ROOM.LIST.COLUMN.AVAILABILITY.FIELD' | translate }}</th>
      <td *matCellDef="let room" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="room.id; else skeleton">
          <mat-list>
            <mat-list-item *ngFor="let availability of room.availabilities">
              <mat-icon mat-list-icon>date_range</mat-icon>
              <div mat-line>{{ 'ROOM.LIST.COLUMN.AVAILABILITY.' + availability.day | translate}}:
                {{availability.start.slice(0, 5)}} - {{availability.end.slice(0, 5)}}</div>
            </mat-list-item>
          </mat-list>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let room" mat-cell>
        <div *ngIf="room.id; else skeleton">
          <button (click)="edit(room)" *ngIf="!room.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button (click)="delete(room)" *ngIf="!room.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}" matTooltipPosition="right">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'ROOM.ADD.TITLE' | translate }}" routerLink="/room">
    <mat-icon>add</mat-icon>
  </button>
</div>
<ng-template #errorBox>
  <app-error [error]="error"></app-error>
</ng-template>
