<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="office" matSortDirection="asc" matSortDisableClear
         multiTemplateDataRows>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let room; let i = dataIndex;" mat-cell>
        <div *ngIf="room.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'ROOM.LIST.COLUMN.CURRENCY' | translate }}</th>
      <td *matCellDef="let room" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="room.id; else skeleton">
          <mat-list-item>
            <mat-icon matListItemIcon>{{room.currency.icon}}</mat-icon>
            <div matListItemLine>{{room.currency.code}}</div>
          </mat-list-item>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="office">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'ROOM.LIST.COLUMN.OFFICE' | translate }}</th>
      <td *matCellDef="let room" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="room.id; else skeleton">{{room.office.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'ROOM.LIST.COLUMN.ADDRESS' | translate }}</th>
      <td *matCellDef="let room" mat-cell>
        <div *ngIf="room.id; else skeleton">{{room.address?.name}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="timeZone">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell mat-sort-header>{{ 'ROOM.LIST.COLUMN.TIME_ZONE' | translate }}</th>
      <td *matCellDef="let room" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="room.id; else skeleton">{{getTimeZone(room.timeZone).label}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'ROOM.LIST.COLUMN.AVAILABILITY.FIELD' | translate }}</th>
      <td *matCellDef="let room" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="room.id; else skeleton">
          <mat-list>
            <mat-list-item *ngFor="let availability of room.availabilities | sortBy: 'asc':'order'">
              <mat-icon matListItemIcon>date_range</mat-icon>
              <div matListItemTitle>{{ 'ROOM.LIST.COLUMN.AVAILABILITY.' + availability.day | translate}}</div>
              <div matListItemLine>{{availability.start}} - {{availability.end}}</div>
            </mat-list-item>
          </mat-list>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let room" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="room.id; else skeleton">
          <button (click)="edit(room)" *ngIf="!room.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button (click)="delete(room)" *ngIf="!room.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}" matTooltipPosition="right">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container fxHide fxShow.lt-sm matColumnDef="expandedDetail">
      <td *matCellDef="let room" [attr.colspan]="displayedColumns.length" fxHide fxShow.lt-sm>
        <div [@detailExpand]="room === expanded ? 'expanded' : 'collapsed'" class="detail">
          <mat-list *ngIf="room.id">
            <div mat-subheader>{{ 'ROOM.LIST.COLUMN.ADDRESS' | translate }}</div>
            <mat-list-item role="list">
              <div matListItemLine>{{room.address?.name}}</div>
            </mat-list-item>
            <div mat-subheader>{{ 'ROOM.LIST.COLUMN.CURRENCY' | translate }}</div>
            <mat-list-item role="list">
              <mat-icon matListItemIcon>{{room.currency.icon}}</mat-icon>
              <div matListItemLine>{{room.currency.code}}</div>
            </mat-list-item>
            <div mat-subheader>{{ 'ROOM.LIST.COLUMN.OFFICE' | translate }}</div>
            <mat-list-item role="list">
              <div matListItemLine>{{room.office.name}}</div>
            </mat-list-item>
            <div *ngIf="getGMT(room.timeZone) as gmt">
              <div mat-subheader>{{ 'ROOM.LIST.COLUMN.TIME_ZONE' | translate }}</div>
              <mat-list-item role="list">
                <div matListItemLine>{{gmt}}</div>
              </mat-list-item>
            </div>
            <div mat-subheader>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</div>
            <mat-list-item role="list">
              <button (click)="edit(room)" *ngIf="!room.deleted" color="primary" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="delete(room)" *ngIf="!room.deleted" color="warn" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-content bold" mat-footer-cell>
        {{ 'ROOM.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="expanded = expanded === room ? null : room"
        *matRowDef="let room; columns: displayedColumns;" class="row" mat-row></tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    <tr *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0" mat-footer-row></tr>

  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'ROOM.TITLE' | translate }}"
          [routerLink]="['/', language, 'rooms', 'add']">
    <mat-icon>add</mat-icon>
  </button>
</div>
