<h2 class="title">{{'ME.REFERRAL.INVITE.TITLE' | translate}}</h2>
<section class="section">
  <p class="bold">{{'ME.REFERRAL.INVITE.SEND' | translate}}</p>
  <div class="full">
    <mat-progress-bar color="primary" mode="determinate" value="{{(referrals * 100) / referralMax}}">
    </mat-progress-bar>
  </div>
  <div class="full bold right">
    <mat-hint>{{ referrals }}/{{referralMax}}</mat-hint>
  </div>
</section>
<section class="section">
  <p class="bold">{{'ME.REFERRAL.INVITE.USED' | translate}}</p>
  <div class="full">
    <mat-progress-bar color="primary" mode="determinate" value="{{(referralsUsed * 100) / referralMax}}">
    </mat-progress-bar>
  </div>
  <div class="full bold right">
    <mat-hint>{{ referralsUsed }}/{{referralMax}}</mat-hint>
  </div>
</section>
