<div class="flex-container">
  <div class="card-container">
    <div class="card-content">
      <mat-card appearance="outlined">
        <mat-card-header class="card-container">
          <mat-card-title>{{ 'ME.REFERRAL.TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="message divider card-container">
            {{ 'ME.REFERRAL.MESSAGE' | translate }}
          </div>
          <div class="divider card-container">
            {{ 'ME.REFERRAL.DETAIL' | translate }}
          </div>
          @let currentUserId = userId();
          @if (currentUserId) {
            <div class="divider card-container">
              <div class="box">
                <div class="vertical-center">
                  <div class="box-text bold">
                    {{ currentUserId }}
                  </div>
                  <mat-chip-listbox class="box-button">
                    <mat-chip-option (click)="copy()"
                                     [disabled]="!showShare()">{{ 'COMMON.BUTTON.COPY' | translate }}
                    </mat-chip-option>
                  </mat-chip-listbox>
                </div>
              </div>
            </div>
          }
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <div class="spacer"></div>
          <button (click)="openBottomSheetShare()" [disabled]="!showShare()" color="primary"
                  mat-fab extended class="icon-button">{{ 'COMMON.BUTTON.SHARE' | translate }}
          </button>
          <button (click)="openBottomSheetReferral()" [disabled]="!showInvites()" mat-fab extended class="icon-button">
            {{ 'ME.REFERRAL.INVITE.TITLE' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

