.message {
  font-weight: bold;
  font-size: 18px;
}

.box {
  border: 1px dashed grey;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box-text {
  margin-left: 2%;
  float: left;
}

.box-button {
  margin-right: 2%;
  float: right;

  mat-chip-option {
    border-radius: 24px;
  }
}

.divider {
  margin: 5% 0 0 0;
}
