<div fxLayout="column" fxLayoutAlign="space-around center">
  <mat-form-field>
    <mat-label>{{'SUMMARY.MONTHLY.SELECT.DATE' | translate}}</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="date">
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp startView="year" (monthSelected)="setMonthAndYear($event, dp)">
    </mat-datepicker>
  </mat-form-field>
</div>
<div fxLayout="column" fxLayoutAlign="space-around stretch">
  <ng-template [ngIf]="monthlySummaryMap?.size">
    <mat-form-field appearance="outline" class="full-select">
      <mat-select [formControl]="selectedRoom">
        <mat-option *ngFor="let monthlySummary of monthlySummaryMap | keyvalue" [value]="monthlySummary.key">
          {{monthlySummary.key.roomName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
</div>

<ng-template #paymentTemplate let-payment='payment' let-currency='currency' let-index='index' let-edit=edit>
  <td>
    <ng-template [ngIf]="showInput" [ngIfElse]="noGrossInput">
      <ng-template [ngIf]="edit" [ngIfElse]="noNetEdit">
        <mat-form-field class="amount" appearance="outline">
          <input matInput [value]="(payment.gross || 0) | number:'1.2-2'" appTwoDigits #gross id="grossInput"
                 (focusin)="gross.select()" (focusout)="twoDigit(gross, index, payment.paymentId)">
          <mat-icon matPrefix>{{currency}}</mat-icon>
        </mat-form-field>
      </ng-template>
      <ng-template #noNetEdit>
        <mat-list>
          <mat-list-item>
            <div matListItemTitle>{{(payment.gross || 0) | number:'1.2-2'}}</div>
            <mat-icon matListItemIcon>{{currency}}</mat-icon>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </ng-template>
    <ng-template #noGrossInput>
      <span>{{payment.gross || 0}}</span>
    </ng-template>
  </td>
  <td>
    <ng-template [ngIf]="showInput" [ngIfElse]="noNetInput">
      <ng-template [ngIf]="edit" [ngIfElse]="noNetEdit">
        <mat-form-field class="amount" appearance="outline">
          <input matInput [value]="(payment.net || 0) | number:'1.2-2'" appTwoDigits #net id="netInput"
                 (focusin)="net.select()" (focusout)="twoDigit(net, index, payment.paymentId)">
          <mat-icon matPrefix>{{currency}}</mat-icon>
        </mat-form-field>
      </ng-template>
      <ng-template #noNetEdit>
        <mat-list>
          <mat-list-item>
            <div matListItemTitle>{{(payment.net || 0) | number:'1.2-2'}}</div>
            <mat-icon matListItemIcon>{{currency}}</mat-icon>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </ng-template>
    <ng-template #noNetInput>
      <span>{{payment.net || 0}}</span>
    </ng-template>
  </td>
  <td>
    <ng-template [ngIf]="showInput" [ngIfElse]="noBtwInput">
      <ng-template [ngIf]="edit" [ngIfElse]="noNetEdit">
        <mat-form-field class="amount" appearance="outline">
          <input matInput [value]="(payment.btw || 0) | number:'1.2-2'" appTwoDigits #btw id="btwInput"
                 (focusin)="btw.select()" (focusout)="twoDigit(btw, index, payment.paymentId)">
          <mat-icon matPrefix>{{currency}}</mat-icon>
        </mat-form-field>
      </ng-template>
      <ng-template #noNetEdit>
        <mat-list>
          <mat-list-item>
            <div matListItemTitle>{{(payment.btw || 0) | number:'1.2-2'}}</div>
            <mat-icon matListItemIcon>{{currency}}</mat-icon>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </ng-template>
    <ng-template #noBtwInput>
      <span>{{payment.btw || 0}}</span>
    </ng-template>
  </td>
  <td
    [ngClass]="(payment.type || 'PENDING').toLowerCase()">{{'COMMON.PAYMENT.TYPE.' + (payment.type || 'PENDING') | translate}}</td>
</ng-template>


<div>
  <table #tableData id="tableData">
    <colgroup>
      <col id="id">
      <col id="date">
      <col id="customer">
      <col id="treatment">
      <col id="discount">
      <col id="gross">
      <col id="net">
      <col id="btw">
      <col id="type">
      <col id="color">
    </colgroup>
    <thead>
    <tr>
      <th mat-subheader></th>
      <th mat-subheader>{{'SUMMARY.MONTHLY.TABLE.DATE' | translate}}</th>
      <th mat-subheader>{{'SUMMARY.MONTHLY.TABLE.CUSTOMER' | translate}}</th>
      <th mat-subheader>{{'SUMMARY.MONTHLY.TABLE.TREATMENT' | translate}}</th>
      <th mat-subheader>{{'SUMMARY.MONTHLY.TABLE.DISCOUNT' | translate}}</th>
      <th mat-subheader>{{'SUMMARY.MONTHLY.TABLE.GROSS' | translate}}</th>
      <th mat-subheader>{{'SUMMARY.MONTHLY.TABLE.NET' | translate}}</th>
      <th mat-subheader>{{'SUMMARY.MONTHLY.TABLE.BTW' | translate}}</th>
      <th mat-subheader>{{'SUMMARY.MONTHLY.TABLE.PAYMENT_TYPE' | translate}}</th>
      <th mat-subheader>{{'SUMMARY.MONTHLY.TABLE.COLOR' | translate}}</th>
    </tr>
    </thead>
    <tbody *ngFor="let week of weeks; let i = index">
    <tr>
      <td mat-subheader class="week text-center" [colSpan]="10"
          [innerHTML]="'SUMMARY.MONTHLY.TABLE.WEEK' | translate:{number: i + 1}"></td>
    </tr>
    <ng-template [ngIf]="summaries?.length">
      <tr *ngFor="let summary of summaries | filterByDay:week.dates" class="summary-row">
        <td [rowSpan]="summary.total.payments.length || 1">
          <button mat-icon-button [routerLink]="['/reservation', summary.id]">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
        <td [rowSpan]="summary.total.payments.length || 1">
          {{(summary.timestamp | timeDetail | date:'short':summary.timeZone:dateFormat)?.replace(',', '')}}
        </td>
        <td [rowSpan]="summary.total.payments.length || 1">{{summary.customerName}}</td>
        <td [rowSpan]="summary.total.payments.length || 1">{{summary.treatmentName}}</td>
        <td [rowSpan]="summary.total.payments.length || 1">
          {{summary.total.discountType | discount:summary.total.discountValue:summary.currency}}
        </td>
        <ng-template [ngIf]="summary.total.payments.length" [ngIfElse]="noPaid">
          <ng-container *ngFor="let payment of summary.total.payments"
                        [ngTemplateOutlet]="paymentTemplate"
                        [ngTemplateOutletContext]="{payment: payment, currency: selectedRoom.value.currency.icon,
                        index: summary.position, edit: true}">
          </ng-container>
        </ng-template>
        <ng-template #noPaid>
          <ng-container [ngTemplateOutlet]="paymentTemplate"
                        [ngTemplateOutletContext]="{payment: summary.total, currency: selectedRoom.value.currency.icon,
                        index: summary.position}">
          </ng-container>
        </ng-template>
        <td [rowSpan]="summary.total.payments.length || 1">{{summary.color}}</td>
      </tr>
    </ng-template>
    </tbody>
    <tfoot>
    <tr *ngIf="selectedRoom.value">
      <td mat-subheader [colSpan]="5">{{'SUMMARY.MONTHLY.TABLE.TOTALS' | translate}}</td>
      <td mat-subheader>{{grossMonth | currency:selectedRoom.value.currency.code:'symbol':'1.2-2' }}</td>
      <td mat-subheader>{{netMonth | currency:selectedRoom.value.currency.code:'symbol':'1.2-2'}}</td>
      <td mat-subheader>{{btwMonth | currency:selectedRoom.value.currency.code:'symbol':'1.2-2'}}</td>
      <td mat-subheader [colSpan]="2"></td>
    </tr>
    </tfoot>
  </table>
</div>

<div class="top-space">
  <div fxFlex></div>
  <button fxHide.lt-sm fxShow (click)="updateMonthlySummary" color="primary" mat-fab extended class="icon-button">
    <mat-icon>save</mat-icon>
    <span>{{'COMMON.BUTTON.SAVE' | translate}}</span>
  </button>
  <button fxHide.lt-sm fxShow (click)="exportCVS" color="accent" mat-fab extended class="icon-button">
    <mat-icon>file_download</mat-icon>
    <span>{{'COMMON.BUTTON.EXPORT' | translate}}</span>
  </button>
</div>
