.amount {
  width: 100% !important;

  input {
    flex: 0 0 auto;
    text-align: right;
    width: 100%;
  }
}

#reservationTableData, #expenseTableData, #cashTableData {
  border-collapse: collapse;
  border-spacing: 0;

  @media not all and (min-width: 640px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  @media all and (min-width: 640px) {
    table-layout: fixed;
  }
  width: 100%;

  .id, .nmb {
    width: 4%;
  }

  .customer, .date, .description, .discount, .color, .type, .store-supply {
    width: 10%;
  }

  #invoice, #description {
    width: 14%;
  }

  .gross, .net, .btw {
    width: 12%;
  }

  td, th {
    padding: 0 0.2rem 0 0.2rem;
    align-items: center;
    word-wrap: break-word;
    white-space: normal;
    column-width: auto;
  }

  td:not(.week) {
    height: 56px;
  }

  td:not(.amount) {
    text-align: center;
  }
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
