<h1 mat-dialog-title>{{ 'RESERVATION.CANCEL.TITLE' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <app-price [price]="price" [typeForm]="typeForm" [options]="paymentOptions" [currency]="currency"
               [firstTime]="true" [showPenalty]="showPenalty" [showBank]="true"
               [includeBalance]="false"></app-price>
    <div class="top-space">
      <mat-label>{{ 'RESERVATION.CANCEL.FIELD' | translate }}</mat-label>
      <mat-radio-group class="radio-group" [formControl]="getForm.paymentCancellation">
        @for (option of options; track option) {
          <mat-radio-button class="radio-button" [value]="option">
            <div [innerHTML]="'RESERVATION.CANCEL.OPTION.' + option | translate:{penalty: penalty}"></div>
          </mat-radio-button>
        }
      </mat-radio-group>
      @if (getForm.paymentCancellation.hasError('required')) {
        <mat-error [innerHTML]="'RESERVATION.CANCEL.REQUIRED' | translate"></mat-error>
      }
    </div>
  </form>
</div>
<div mat-dialog-actions class="card-actions">
  <div class="spacer"></div>
  @if (data.small) {
    <button (click)="onNoClick()" mat-fab>
      <mat-icon>clear</mat-icon>
    </button>
    <button (click)="doAction()" cdkFocusInitial color="primary" [disabled]="form.invalid || typeForm.invalid"
            mat-fab>
      <mat-icon>event_busy</mat-icon>
    </button>
  } @else {
    <button (click)="onNoClick()" mat-fab extended class="icon-button">{{ 'COMMON.BUTTON.CANCEL' | translate }}</button>
    <button (click)="doAction()" cdkFocusInitial color="primary" [disabled]="form.invalid || typeForm.invalid"
            mat-fab extended class="icon-button">Ok
    </button>
  }
</div>
