<div class="app-surface-canvas app-surface-shell app-surface-stack">
  <section class="app-surface-section">
    <div class="app-table-shell">
      @let resultsLength = resultsLengthSignal();
      @let pageSize = pageSizeSignal();
      @if (isLoading()) {
        <app-table-skeleton [columns]="tableColumns"></app-table-skeleton>
      } @else if (dataSourceSignal(); as dataSource) {
        <table
          [dataSource]="dataSource"
          mat-table
          matSort
          [matSortActive]="tableState.sortActive()"
          [matSortDirection]="tableState.sortDirection()"
          matSortDisableClear
          multiTemplateDataRows
        >
          <ng-container matColumnDef="position">
            <th *matHeaderCellDef mat-header-cell>#</th>
            <td *matCellDef="let unavailable; let i = dataIndex" mat-cell>
              <div>{{ paginatorPageIndex() * pageSize + i + 1 }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="professional">
            <th
              *matHeaderCellDef
              class="app-surface-hide-mobile"
              mat-header-cell
              mat-sort-header
            >
              {{ 'UNAVAILABLE.LIST.COLUMN.PROFESSIONAL' | translate }}
            </th>
            <td
              *matCellDef="let unavailable"
              class="app-surface-hide-mobile"
              mat-cell
            >
              <div>{{ unavailable.professional?.displayName }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th
              *matHeaderCellDef
              class="app-surface-hide-mobile"
              mat-header-cell
              mat-sort-header
            >
              {{ 'COMMON.COLUMN.DESCRIPTION' | translate }}
            </th>
            <td
              *matCellDef="let unavailable"
              class="app-surface-hide-mobile"
              mat-cell
            >
              <div>{{ unavailable.description }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="timestamp">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ 'UNAVAILABLE.LIST.COLUMN.START' | translate }}
            </th>
            <td *matCellDef="let unavailable" mat-cell>
              <div>
                {{
                  unavailable.timestamp
                    | timeDetail
                    | date: 'short' : unavailable.timeZone : language
                }}
                @if (showTimeZone(unavailable)) {
                  <button
                    (click)="openDialog(unavailable)"
                    mat-icon-button
                    type="button"
                  >
                    <mat-icon>info_outline</mat-icon>
                  </button>
                }
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th
              *matHeaderCellDef
              class="app-surface-hide-mobile"
              mat-header-cell
              mat-sort-header
            >
              {{ 'UNAVAILABLE.LIST.COLUMN.DURATION' | translate }}
            </th>
            <td
              *matCellDef="let unavailable"
              class="app-surface-cell-wrap app-surface-hide-mobile"
              mat-cell
            >
              @if (!unavailable.allDay) {
                <mat-icon matPrefix>timer</mat-icon>&nbsp;{{
                  unavailable.duration | durationTime
                }}
              } @else {
                <mat-icon matPrefix>timer</mat-icon>&nbsp;{{
                  'COMMON.ALL_DAY.CHECK' | translate
                }}
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="repeat">
            <th
              *matHeaderCellDef
              class="app-surface-hide-mobile"
              mat-header-cell
              mat-sort-header
            >
              {{ 'UNAVAILABLE.LIST.COLUMN.REPEAT' | translate }}
            </th>
            <td
              *matCellDef="let unavailable"
              class="app-surface-cell-wrap app-surface-hide-mobile"
              mat-cell
            >
              {{ 'COMMON.REPEAT.' + unavailable.repeat | translate }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell>
              <span class="app-surface-hide-mobile">{{
                'COMMON.COLUMN.ACTIONS' | translate
              }}</span>
              <button
                [routerLink]="['/', language, 'unavailable', 'add']"
                mat-icon-button
                id="add-button"
                matTooltip="{{ 'UNAVAILABLE.TITLE' | translate }}"
                matTooltipPosition="right"
                type="button"
              >
                <mat-icon color="primary">calendar_lock</mat-icon>
              </button>
            </th>
            <td
              *matCellDef="let unavailable"
              class="app-surface-hide-mobile"
              mat-cell
            >
              @if (!unavailable.deleted) {
                <button
                  (click)="edit(unavailable)"
                  mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}"
                  matTooltipPosition="left"
                >
                  <mat-icon color="primary">edit</mat-icon>
                </button>
                <button
                  (click)="delete(unavailable)"
                  mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}"
                  matTooltipPosition="right"
                >
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td
              *matCellDef="let unavailable"
              [attr.colspan]="displayedColumns.length"
              mat-cell
            >
              <div
                [class.detail-expanded]="unavailable === expandedUnavailable"
                class="detail app-table-detail-fill"
              >
                <mat-list>
                  <mat-list-item class="app-surface-hide-desktop" role="list">
                    <div class="app-surface-hide-desktop" matListItemTitle>
                      {{ 'UNAVAILABLE.LIST.COLUMN.PROFESSIONAL' | translate }}
                    </div>
                    <div matListItemLine>
                      {{ unavailable.professional?.displayName }}
                    </div>
                  </mat-list-item>
                  @if (unavailable.description) {
                    <mat-list-item class="app-surface-hide-desktop" role="list">
                      <div class="app-surface-hide-desktop" matListItemTitle>
                        {{ 'COMMON.COLUMN.DESCRIPTION' | translate }}
                      </div>
                      <div matListItemLine>{{ unavailable.description }}</div>
                    </mat-list-item>
                  }
                  <mat-list-item class="app-surface-hide-desktop" role="list">
                    <div class="app-surface-hide-desktop" matListItemTitle>
                      {{ 'UNAVAILABLE.LIST.COLUMN.DURATION' | translate }}
                    </div>
                    @if (!unavailable.allDay) {
                      <div matListItemLine>
                        <mat-icon matPrefix>timer</mat-icon>&nbsp;{{
                          unavailable.duration | durationTime
                        }}
                      </div>
                    } @else {
                      <div matListItemLine>
                        <mat-icon matPrefix>timer</mat-icon>&nbsp;{{
                          'COMMON.ALL_DAY.CHECK' | translate
                        }}
                      </div>
                    }
                  </mat-list-item>
                  <mat-list-item class="app-surface-hide-desktop" role="list">
                    <div class="app-surface-hide-desktop" matListItemTitle>
                      {{ 'UNAVAILABLE.LIST.COLUMN.REPEAT' | translate }}
                    </div>
                    <div matListItemLine>
                      {{ 'COMMON.REPEAT.' + unavailable.repeat | translate }}
                    </div>
                  </mat-list-item>
                  <div class="app-surface-hide-desktop" mat-subheader>
                    {{ 'COMMON.COLUMN.ACTIONS' | translate }}
                  </div>
                  <mat-list-item class="app-surface-hide-desktop">
                    @if (!unavailable.deleted) {
                      <button (click)="edit(unavailable)" mat-icon-button>
                        <mat-icon matListItemIcon color="primary"
                          >edit</mat-icon
                        >
                      </button>
                      <button (click)="delete(unavailable)" mat-icon-button>
                        <mat-icon matListItemIcon color="warn">delete</mat-icon>
                      </button>
                    }
                  </mat-list-item>
                </mat-list>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="noContent">
            <td
              *matFooterCellDef
              [attr.colspan]="displayedColumns.length"
              class="no-content bold"
              mat-footer-cell
            >
              {{ 'UNAVAILABLE.LIST.ERROR.NO_CONTENT' | translate }}
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr
            *matRowDef="let unavailable; columns: displayedColumns"
            class="app-surface-hide-mobile"
            mat-row
          ></tr>
          <tr
            (click)="
              expandedUnavailable =
                expandedUnavailable === unavailable ? null : unavailable
            "
            *matRowDef="let unavailable; columns: displayedColumns"
            class="app-surface-hide-desktop app-table-master-row"
            mat-row
          ></tr>
          <tr
            *matRowDef="let row; columns: ['expandedDetail']"
            [class.app-table-detail-row--expanded]="row === expandedUnavailable"
            class="app-surface-hide-desktop app-table-detail-row"
            mat-row
          ></tr>

          <tr
            *matFooterRowDef="['noContent']"
            [hidden]="resultsLength > 0"
            mat-footer-row
          ></tr>
        </table>
        @if (resultsLength) {
          <mat-paginator
            [length]="resultsLength"
            [pageSize]="pageSize"
          ></mat-paginator>
        }
      }
    </div>
  </section>
</div>
