<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort matSortActive="name"
         matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>#</th>
      <td *matCellDef="let unavailable; let i = index;" mat-cell>
        <div *ngIf="unavailable.id; else skeleton">{{(paginator.pageIndex * pageSize) + i + 1}} </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="professional">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'UNAVAILABLE.LIST.COLUMN.PROFESSIONAL' | translate }}</th>
      <td *matCellDef="let unavailable" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="unavailable.id; else skeleton">{{getProfessionalName(unavailable.professional)}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'UNAVAILABLE.LIST.COLUMN.DESCRIPTION' | translate }}</th>
      <td *matCellDef="let unavailable" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="unavailable.id; else skeleton">{{unavailable.description}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="start">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'UNAVAILABLE.LIST.COLUMN.START' | translate }}</th>
      <td *matCellDef="let unavailable" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="unavailable.id; else skeleton">{{unavailable.start | date:'short':undefined:language}}</div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'UNAVAILABLE.LIST.COLUMN.DURATION' | translate }}</th>
      <td *matCellDef="let unavailable" class="column-large-text" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="unavailable.id; else skeleton">
          <mat-icon matPrefix>timer</mat-icon>&nbsp;
          {{unavailable.hour | number:'2.0-0'}}:{{unavailable.minute | number:'2.0-0'}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="repeat">
      <th *matHeaderCellDef fxHide.lt-sm fxShow mat-header-cell
          mat-sort-header>{{ 'UNAVAILABLE.LIST.COLUMN.REPEAT' | translate }}</th>
      <td *matCellDef="let unavailable" class="column-large-text" fxHide.lt-sm fxShow mat-cell>
        <div *ngIf="unavailable.id; else skeleton">
          {{ 'COMMON.REPEAT.' + unavailable.repeat | translate}}
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>{{ 'COMMON.COLUMN.ACTIONS' | translate }}</th>
      <td *matCellDef="let unavailable" mat-cell>
        <div *ngIf="unavailable.id; else skeleton">
          <button (click)="edit(unavailable)" *ngIf="!unavailable.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate }}" matTooltipPosition="left">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button (click)="delete(unavailable)" *ngIf="!unavailable.deleted" mat-icon-button
                  matTooltip="{{ 'COMMON.BUTTON.DELETE' | translate }}" matTooltipPosition="right">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
        <ng-template #skeleton>
          <div class="ssc-line"></div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="noContent">
      <td class="no-content bold" mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        {{ 'UNAVAILABLE.LIST.ERROR.NO_CONTENT' | translate }}</td>
    </ng-container>

    <tr mat-footer-row *matFooterRowDef="['noContent']" [hidden]="resultsLength > 0"></tr>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator *ngIf="resultsLength" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  <button color="accent" id="add-button" mat-fab matTooltip="{{ 'UNAVAILABLE.ADD.TITLE' | translate }}"
          routerLink="/unavailable">
    <mat-icon>add</mat-icon>
  </button>
</div>
