<div *ngIf="!isLoading; else box" class="chartContainer">
  <div *ngIf="chart && !error; else errorBox">
    <div *ngIf="chart.dataSet && chart.dataSet.datasets.length && chart.type">
      <canvas [type]="chart.type"
              [datasets]="chart.dataSet.datasets"
              [labels]="chart.labels"
              [legend]="true"
              [options]="chart.options"
              baseChart class="block">
      </canvas>
    </div>
    <div *ngIf="chart.data && chart.type">
      <canvas [type]="chart.type"
              [data]="chart.data"
              [labels]="chart.labels"
              [legend]="true"
              [options]="chart.options"
              baseChart class="display: block">
      </canvas>
    </div>
  </div>
  <ng-template #errorBox>
    <app-error [error]="error" [isCard]="true"></app-error>
  </ng-template>
</div>
<ng-template #box>
  <div class="ssc-square"></div>
  <div class="ssc-square"></div>
</ng-template>
